<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AllViewsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AllViews" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="schema_id" property="schemaId" jdbcType="INTEGER" />
    <result column="parent_object_id" property="parentObjectId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="NVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="is_ms_shipped" property="isMsShipped" jdbcType="BIT" />
    <result column="is_published" property="isPublished" jdbcType="BIT" />
    <result column="is_schema_published" property="isSchemaPublished" jdbcType="BIT" />
    <result column="is_replicated" property="isReplicated" jdbcType="BIT" />
    <result column="has_replication_filter" property="hasReplicationFilter" jdbcType="BIT" />
    <result column="has_opaque_metadata" property="hasOpaqueMetadata" jdbcType="BIT" />
    <result column="has_unchecked_assembly_data" property="hasUncheckedAssemblyData" jdbcType="BIT" />
    <result column="with_check_option" property="withCheckOption" jdbcType="BIT" />
    <result column="is_date_correlation_view" property="isDateCorrelationView" jdbcType="BIT" />
    <result column="is_tracked_by_cdc" property="isTrackedByCdc" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AllViews" >
    insert into all_views (name, object_id, principal_id, 
      schema_id, parent_object_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_published, is_schema_published, 
      is_replicated, has_replication_filter, has_opaque_metadata, 
      has_unchecked_assembly_data, with_check_option, is_date_correlation_view, 
      is_tracked_by_cdc)
    values (#{name,jdbcType=NVARCHAR}, #{objectId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, 
      #{schemaId,jdbcType=INTEGER}, #{parentObjectId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{isMsShipped,jdbcType=BIT}, #{isPublished,jdbcType=BIT}, #{isSchemaPublished,jdbcType=BIT}, 
      #{isReplicated,jdbcType=BIT}, #{hasReplicationFilter,jdbcType=BIT}, #{hasOpaqueMetadata,jdbcType=BIT}, 
      #{hasUncheckedAssemblyData,jdbcType=BIT}, #{withCheckOption,jdbcType=BIT}, #{isDateCorrelationView,jdbcType=BIT}, 
      #{isTrackedByCdc,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AllViews" >
    insert into all_views
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="schemaId != null" >
        schema_id,
      </if>
      <if test="parentObjectId != null" >
        parent_object_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="isMsShipped != null" >
        is_ms_shipped,
      </if>
      <if test="isPublished != null" >
        is_published,
      </if>
      <if test="isSchemaPublished != null" >
        is_schema_published,
      </if>
      <if test="isReplicated != null" >
        is_replicated,
      </if>
      <if test="hasReplicationFilter != null" >
        has_replication_filter,
      </if>
      <if test="hasOpaqueMetadata != null" >
        has_opaque_metadata,
      </if>
      <if test="hasUncheckedAssemblyData != null" >
        has_unchecked_assembly_data,
      </if>
      <if test="withCheckOption != null" >
        with_check_option,
      </if>
      <if test="isDateCorrelationView != null" >
        is_date_correlation_view,
      </if>
      <if test="isTrackedByCdc != null" >
        is_tracked_by_cdc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="schemaId != null" >
        #{schemaId,jdbcType=INTEGER},
      </if>
      <if test="parentObjectId != null" >
        #{parentObjectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isMsShipped != null" >
        #{isMsShipped,jdbcType=BIT},
      </if>
      <if test="isPublished != null" >
        #{isPublished,jdbcType=BIT},
      </if>
      <if test="isSchemaPublished != null" >
        #{isSchemaPublished,jdbcType=BIT},
      </if>
      <if test="isReplicated != null" >
        #{isReplicated,jdbcType=BIT},
      </if>
      <if test="hasReplicationFilter != null" >
        #{hasReplicationFilter,jdbcType=BIT},
      </if>
      <if test="hasOpaqueMetadata != null" >
        #{hasOpaqueMetadata,jdbcType=BIT},
      </if>
      <if test="hasUncheckedAssemblyData != null" >
        #{hasUncheckedAssemblyData,jdbcType=BIT},
      </if>
      <if test="withCheckOption != null" >
        #{withCheckOption,jdbcType=BIT},
      </if>
      <if test="isDateCorrelationView != null" >
        #{isDateCorrelationView,jdbcType=BIT},
      </if>
      <if test="isTrackedByCdc != null" >
        #{isTrackedByCdc,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>