<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AssemblyTypesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyTypes" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="system_type_id" property="systemTypeId" jdbcType="TINYINT" />
    <result column="user_type_id" property="userTypeId" jdbcType="INTEGER" />
    <result column="schema_id" property="schemaId" jdbcType="INTEGER" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="max_length" property="maxLength" jdbcType="SMALLINT" />
    <result column="precision" property="precision" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collation_name" property="collationName" jdbcType="NVARCHAR" />
    <result column="is_nullable" property="isNullable" jdbcType="BIT" />
    <result column="is_user_defined" property="isUserDefined" jdbcType="BIT" />
    <result column="is_assembly_type" property="isAssemblyType" jdbcType="BIT" />
    <result column="default_object_id" property="defaultObjectId" jdbcType="INTEGER" />
    <result column="rule_object_id" property="ruleObjectId" jdbcType="INTEGER" />
    <result column="assembly_id" property="assemblyId" jdbcType="INTEGER" />
    <result column="assembly_class" property="assemblyClass" jdbcType="NVARCHAR" />
    <result column="is_binary_ordered" property="isBinaryOrdered" jdbcType="BIT" />
    <result column="is_fixed_length" property="isFixedLength" jdbcType="BIT" />
    <result column="prog_id" property="progId" jdbcType="NVARCHAR" />
    <result column="assembly_qualified_name" property="assemblyQualifiedName" jdbcType="NVARCHAR" />
    <result column="is_table_type" property="isTableType" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyTypes" >
    insert into assembly_types (name, system_type_id, user_type_id, 
      schema_id, principal_id, max_length, 
      precision, scale, collation_name, 
      is_nullable, is_user_defined, is_assembly_type, 
      default_object_id, rule_object_id, assembly_id, 
      assembly_class, is_binary_ordered, is_fixed_length, 
      prog_id, assembly_qualified_name, is_table_type
      )
    values (#{name,jdbcType=NVARCHAR}, #{systemTypeId,jdbcType=TINYINT}, #{userTypeId,jdbcType=INTEGER}, 
      #{schemaId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, #{maxLength,jdbcType=SMALLINT}, 
      #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, #{collationName,jdbcType=NVARCHAR}, 
      #{isNullable,jdbcType=BIT}, #{isUserDefined,jdbcType=BIT}, #{isAssemblyType,jdbcType=BIT}, 
      #{defaultObjectId,jdbcType=INTEGER}, #{ruleObjectId,jdbcType=INTEGER}, #{assemblyId,jdbcType=INTEGER}, 
      #{assemblyClass,jdbcType=NVARCHAR}, #{isBinaryOrdered,jdbcType=BIT}, #{isFixedLength,jdbcType=BIT}, 
      #{progId,jdbcType=NVARCHAR}, #{assemblyQualifiedName,jdbcType=NVARCHAR}, #{isTableType,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyTypes" >
    insert into assembly_types
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="systemTypeId != null" >
        system_type_id,
      </if>
      <if test="userTypeId != null" >
        user_type_id,
      </if>
      <if test="schemaId != null" >
        schema_id,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="maxLength != null" >
        max_length,
      </if>
      <if test="precision != null" >
        precision,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationName != null" >
        collation_name,
      </if>
      <if test="isNullable != null" >
        is_nullable,
      </if>
      <if test="isUserDefined != null" >
        is_user_defined,
      </if>
      <if test="isAssemblyType != null" >
        is_assembly_type,
      </if>
      <if test="defaultObjectId != null" >
        default_object_id,
      </if>
      <if test="ruleObjectId != null" >
        rule_object_id,
      </if>
      <if test="assemblyId != null" >
        assembly_id,
      </if>
      <if test="assemblyClass != null" >
        assembly_class,
      </if>
      <if test="isBinaryOrdered != null" >
        is_binary_ordered,
      </if>
      <if test="isFixedLength != null" >
        is_fixed_length,
      </if>
      <if test="progId != null" >
        prog_id,
      </if>
      <if test="assemblyQualifiedName != null" >
        assembly_qualified_name,
      </if>
      <if test="isTableType != null" >
        is_table_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="systemTypeId != null" >
        #{systemTypeId,jdbcType=TINYINT},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="schemaId != null" >
        #{schemaId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null" >
        #{maxLength,jdbcType=SMALLINT},
      </if>
      <if test="precision != null" >
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationName != null" >
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="isNullable != null" >
        #{isNullable,jdbcType=BIT},
      </if>
      <if test="isUserDefined != null" >
        #{isUserDefined,jdbcType=BIT},
      </if>
      <if test="isAssemblyType != null" >
        #{isAssemblyType,jdbcType=BIT},
      </if>
      <if test="defaultObjectId != null" >
        #{defaultObjectId,jdbcType=INTEGER},
      </if>
      <if test="ruleObjectId != null" >
        #{ruleObjectId,jdbcType=INTEGER},
      </if>
      <if test="assemblyId != null" >
        #{assemblyId,jdbcType=INTEGER},
      </if>
      <if test="assemblyClass != null" >
        #{assemblyClass,jdbcType=NVARCHAR},
      </if>
      <if test="isBinaryOrdered != null" >
        #{isBinaryOrdered,jdbcType=BIT},
      </if>
      <if test="isFixedLength != null" >
        #{isFixedLength,jdbcType=BIT},
      </if>
      <if test="progId != null" >
        #{progId,jdbcType=NVARCHAR},
      </if>
      <if test="assemblyQualifiedName != null" >
        #{assemblyQualifiedName,jdbcType=NVARCHAR},
      </if>
      <if test="isTableType != null" >
        #{isTableType,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>