<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AssemblyFilesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyFiles" >
    <result column="assembly_id" property="assemblyId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="file_id" property="fileId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyFiles" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyFiles" >
    insert into assembly_files (assembly_id, name, file_id, 
      content)
    values (#{assemblyId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{fileId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AssemblyFiles" >
    insert into assembly_files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assemblyId != null" >
        assembly_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assemblyId != null" >
        #{assemblyId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>