<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AvailabilityGroupsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroups" >
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="resource_id" property="resourceId" jdbcType="NVARCHAR" />
    <result column="resource_group_id" property="resourceGroupId" jdbcType="NVARCHAR" />
    <result column="failure_condition_level" property="failureConditionLevel" jdbcType="INTEGER" />
    <result column="health_check_timeout" property="healthCheckTimeout" jdbcType="INTEGER" />
    <result column="automated_backup_preference" property="automatedBackupPreference" jdbcType="TINYINT" />
    <result column="automated_backup_preference_desc" property="automatedBackupPreferenceDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroups" >
    insert into availability_groups (group_id, name, resource_id, 
      resource_group_id, failure_condition_level, 
      health_check_timeout, automated_backup_preference, 
      automated_backup_preference_desc)
    values (#{groupId,jdbcType=CHAR}, #{name,jdbcType=NVARCHAR}, #{resourceId,jdbcType=NVARCHAR}, 
      #{resourceGroupId,jdbcType=NVARCHAR}, #{failureConditionLevel,jdbcType=INTEGER}, 
      #{healthCheckTimeout,jdbcType=INTEGER}, #{automatedBackupPreference,jdbcType=TINYINT}, 
      #{automatedBackupPreferenceDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroups" >
    insert into availability_groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceGroupId != null" >
        resource_group_id,
      </if>
      <if test="failureConditionLevel != null" >
        failure_condition_level,
      </if>
      <if test="healthCheckTimeout != null" >
        health_check_timeout,
      </if>
      <if test="automatedBackupPreference != null" >
        automated_backup_preference,
      </if>
      <if test="automatedBackupPreferenceDesc != null" >
        automated_backup_preference_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=NVARCHAR},
      </if>
      <if test="resourceGroupId != null" >
        #{resourceGroupId,jdbcType=NVARCHAR},
      </if>
      <if test="failureConditionLevel != null" >
        #{failureConditionLevel,jdbcType=INTEGER},
      </if>
      <if test="healthCheckTimeout != null" >
        #{healthCheckTimeout,jdbcType=INTEGER},
      </if>
      <if test="automatedBackupPreference != null" >
        #{automatedBackupPreference,jdbcType=TINYINT},
      </if>
      <if test="automatedBackupPreferenceDesc != null" >
        #{automatedBackupPreferenceDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>