<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AvailabilityGroupListenersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroupListeners" >
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="listener_id" property="listenerId" jdbcType="NVARCHAR" />
    <result column="dns_name" property="dnsName" jdbcType="NVARCHAR" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="is_conformant" property="isConformant" jdbcType="BIT" />
    <result column="ip_configuration_string_from_cluster" property="ipConfigurationStringFromCluster" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroupListeners" >
    insert into availability_group_listeners (group_id, listener_id, dns_name, 
      port, is_conformant, ip_configuration_string_from_cluster
      )
    values (#{groupId,jdbcType=CHAR}, #{listenerId,jdbcType=NVARCHAR}, #{dnsName,jdbcType=NVARCHAR}, 
      #{port,jdbcType=INTEGER}, #{isConformant,jdbcType=BIT}, #{ipConfigurationStringFromCluster,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityGroupListeners" >
    insert into availability_group_listeners
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="listenerId != null" >
        listener_id,
      </if>
      <if test="dnsName != null" >
        dns_name,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="isConformant != null" >
        is_conformant,
      </if>
      <if test="ipConfigurationStringFromCluster != null" >
        ip_configuration_string_from_cluster,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="listenerId != null" >
        #{listenerId,jdbcType=NVARCHAR},
      </if>
      <if test="dnsName != null" >
        #{dnsName,jdbcType=NVARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=INTEGER},
      </if>
      <if test="isConformant != null" >
        #{isConformant,jdbcType=BIT},
      </if>
      <if test="ipConfigurationStringFromCluster != null" >
        #{ipConfigurationStringFromCluster,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>