<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.AvailabilityDatabasesClusterMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityDatabasesCluster" >
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="group_database_id" property="groupDatabaseId" jdbcType="CHAR" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="truncation_lsn" property="truncationLsn" jdbcType="NUMERIC" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityDatabasesCluster" >
    insert into availability_databases_cluster (group_id, group_database_id, database_name, 
      truncation_lsn)
    values (#{groupId,jdbcType=CHAR}, #{groupDatabaseId,jdbcType=CHAR}, #{databaseName,jdbcType=NVARCHAR}, 
      #{truncationLsn,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.AvailabilityDatabasesCluster" >
    insert into availability_databases_cluster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupDatabaseId != null" >
        group_database_id,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="truncationLsn != null" >
        truncation_lsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="groupDatabaseId != null" >
        #{groupDatabaseId,jdbcType=CHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="truncationLsn != null" >
        #{truncationLsn,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
</mapper>