<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ClassRoomMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="BeginDate" property="begindate" jdbcType="TIMESTAMP" />
    <result column="CourseId" property="courseid" jdbcType="INTEGER" />
    <result column="EndDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="TermType" property="termtype" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="dailyPerformanceWeight" property="dailyperformanceweight" jdbcType="DECIMAL" />
    <result column="TestPerformaceWeight" property="testperformaceweight" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BeginDate, CourseId, EndDate, TermType, Name, CreatedBy, CreatedOn, ModifiedBy, 
    ModifiedOn, Status, dailyPerformanceWeight, TestPerformaceWeight
  </sql>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ClassRoom
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ClassRoom
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into ClassRoom (BeginDate, CourseId, EndDate, 
      TermType, Name, CreatedBy, 
      CreatedOn, ModifiedBy, ModifiedOn, 
      Status, dailyPerformanceWeight, TestPerformaceWeight, 
      VersionNumber)
    values (#{begindate,jdbcType=TIMESTAMP}, #{courseid,jdbcType=INTEGER}, #{enddate,jdbcType=TIMESTAMP}, 
      #{termtype,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{createdby,jdbcType=INTEGER}, 
      #{createdon,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=INTEGER}, #{modifiedon,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{dailyperformanceweight,jdbcType=DECIMAL}, #{testperformaceweight,jdbcType=DECIMAL}, 
      #{versionnumber,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into ClassRoom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="begindate != null" >
        BeginDate,
      </if>
      <if test="courseid != null" >
        CourseId,
      </if>
      <if test="enddate != null" >
        EndDate,
      </if>
      <if test="termtype != null" >
        TermType,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="dailyperformanceweight != null" >
        dailyPerformanceWeight,
      </if>
      <if test="testperformaceweight != null" >
        TestPerformaceWeight,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="termtype != null" >
        #{termtype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="dailyperformanceweight != null" >
        #{dailyperformanceweight,jdbcType=DECIMAL},
      </if>
      <if test="testperformaceweight != null" >
        #{testperformaceweight,jdbcType=DECIMAL},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    update ClassRoom
    <set >
      <if test="begindate != null" >
        BeginDate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseid != null" >
        CourseId = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="enddate != null" >
        EndDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="termtype != null" >
        TermType = #{termtype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="dailyperformanceweight != null" >
        dailyPerformanceWeight = #{dailyperformanceweight,jdbcType=DECIMAL},
      </if>
      <if test="testperformaceweight != null" >
        TestPerformaceWeight = #{testperformaceweight,jdbcType=DECIMAL},
      </if>
      <if test="versionnumber != null" >
        VersionNumber = #{versionnumber,jdbcType=BINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    update ClassRoom
    set BeginDate = #{begindate,jdbcType=TIMESTAMP},
      CourseId = #{courseid,jdbcType=INTEGER},
      EndDate = #{enddate,jdbcType=TIMESTAMP},
      TermType = #{termtype,jdbcType=INTEGER},
      Name = #{name,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      dailyPerformanceWeight = #{dailyperformanceweight,jdbcType=DECIMAL},
      TestPerformaceWeight = #{testperformaceweight,jdbcType=DECIMAL},
      VersionNumber = #{versionnumber,jdbcType=BINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ClassRoom" >
    update ClassRoom
    set BeginDate = #{begindate,jdbcType=TIMESTAMP},
      CourseId = #{courseid,jdbcType=INTEGER},
      EndDate = #{enddate,jdbcType=TIMESTAMP},
      TermType = #{termtype,jdbcType=INTEGER},
      Name = #{name,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      dailyPerformanceWeight = #{dailyperformanceweight,jdbcType=DECIMAL},
      TestPerformaceWeight = #{testperformaceweight,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>