<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ColumnDomainUsageMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ColumnDomainUsage" >
    <result column="DOMAIN_CATALOG" property="domainCatalog" jdbcType="NVARCHAR" />
    <result column="DOMAIN_SCHEMA" property="domainSchema" jdbcType="NVARCHAR" />
    <result column="DOMAIN_NAME" property="domainName" jdbcType="NVARCHAR" />
    <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="NVARCHAR" />
    <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="NVARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="NVARCHAR" />
    <result column="COLUMN_NAME" property="columnName" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnDomainUsage" >
    insert into COLUMN_DOMAIN_USAGE (DOMAIN_CATALOG, DOMAIN_SCHEMA, DOMAIN_NAME, 
      TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      COLUMN_NAME)
    values (#{domainCatalog,jdbcType=NVARCHAR}, #{domainSchema,jdbcType=NVARCHAR}, #{domainName,jdbcType=NVARCHAR}, 
      #{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}, 
      #{columnName,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnDomainUsage" >
    insert into COLUMN_DOMAIN_USAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="domainCatalog != null" >
        DOMAIN_CATALOG,
      </if>
      <if test="domainSchema != null" >
        DOMAIN_SCHEMA,
      </if>
      <if test="domainName != null" >
        DOMAIN_NAME,
      </if>
      <if test="tableCatalog != null" >
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null" >
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="columnName != null" >
        COLUMN_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="domainCatalog != null" >
        #{domainCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="domainSchema != null" >
        #{domainSchema,jdbcType=NVARCHAR},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=NVARCHAR},
      </if>
      <if test="tableCatalog != null" >
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null" >
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=NVARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>