<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ColumnXmlSchemaCollectionUsagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ColumnXmlSchemaCollectionUsages" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="xml_collection_id" property="xmlCollectionId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnXmlSchemaCollectionUsages" >
    insert into column_xml_schema_collection_usages (object_id, column_id, xml_collection_id
      )
    values (#{objectId,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER}, #{xmlCollectionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnXmlSchemaCollectionUsages" >
    insert into column_xml_schema_collection_usages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="xmlCollectionId != null" >
        xml_collection_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="xmlCollectionId != null" >
        #{xmlCollectionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>