<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ColumnsMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="system_type_id" jdbcType="TINYINT" property="systemTypeId" />
    <result column="user_type_id" jdbcType="INTEGER" property="userTypeId" />
    <result column="max_length" jdbcType="SMALLINT" property="maxLength" />
    <result column="precision" jdbcType="TINYINT" property="precision" />
    <result column="scale" jdbcType="TINYINT" property="scale" />
    <result column="collation_name" jdbcType="NVARCHAR" property="collationName" />
    <result column="is_nullable" jdbcType="BIT" property="isNullable" />
    <result column="is_ansi_padded" jdbcType="BIT" property="isAnsiPadded" />
    <result column="is_rowguidcol" jdbcType="BIT" property="isRowguidcol" />
    <result column="is_identity" jdbcType="BIT" property="isIdentity" />
    <result column="is_computed" jdbcType="BIT" property="isComputed" />
    <result column="is_filestream" jdbcType="BIT" property="isFilestream" />
    <result column="is_replicated" jdbcType="BIT" property="isReplicated" />
    <result column="is_non_sql_subscribed" jdbcType="BIT" property="isNonSqlSubscribed" />
    <result column="is_merge_published" jdbcType="BIT" property="isMergePublished" />
    <result column="is_dts_replicated" jdbcType="BIT" property="isDtsReplicated" />
    <result column="is_xml_document" jdbcType="BIT" property="isXmlDocument" />
    <result column="xml_collection_id" jdbcType="INTEGER" property="xmlCollectionId" />
    <result column="default_object_id" jdbcType="INTEGER" property="defaultObjectId" />
    <result column="rule_object_id" jdbcType="INTEGER" property="ruleObjectId" />
    <result column="is_sparse" jdbcType="BIT" property="isSparse" />
    <result column="is_column_set" jdbcType="BIT" property="isColumnSet" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    insert into columns (object_id, name, column_id, 
      system_type_id, user_type_id, max_length, 
      precision, scale, collation_name, 
      is_nullable, is_ansi_padded, is_rowguidcol, 
      is_identity, is_computed, is_filestream, 
      is_replicated, is_non_sql_subscribed, is_merge_published, 
      is_dts_replicated, is_xml_document, xml_collection_id, 
      default_object_id, rule_object_id, is_sparse, 
      is_column_set)
    values (#{objectId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{columnId,jdbcType=INTEGER}, 
      #{systemTypeId,jdbcType=TINYINT}, #{userTypeId,jdbcType=INTEGER}, #{maxLength,jdbcType=SMALLINT}, 
      #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, #{collationName,jdbcType=NVARCHAR}, 
      #{isNullable,jdbcType=BIT}, #{isAnsiPadded,jdbcType=BIT}, #{isRowguidcol,jdbcType=BIT}, 
      #{isIdentity,jdbcType=BIT}, #{isComputed,jdbcType=BIT}, #{isFilestream,jdbcType=BIT}, 
      #{isReplicated,jdbcType=BIT}, #{isNonSqlSubscribed,jdbcType=BIT}, #{isMergePublished,jdbcType=BIT}, 
      #{isDtsReplicated,jdbcType=BIT}, #{isXmlDocument,jdbcType=BIT}, #{xmlCollectionId,jdbcType=INTEGER}, 
      #{defaultObjectId,jdbcType=INTEGER}, #{ruleObjectId,jdbcType=INTEGER}, #{isSparse,jdbcType=BIT}, 
      #{isColumnSet,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    insert into columns
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        object_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="systemTypeId != null">
        system_type_id,
      </if>
      <if test="userTypeId != null">
        user_type_id,
      </if>
      <if test="maxLength != null">
        max_length,
      </if>
      <if test="precision != null">
        precision,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="collationName != null">
        collation_name,
      </if>
      <if test="isNullable != null">
        is_nullable,
      </if>
      <if test="isAnsiPadded != null">
        is_ansi_padded,
      </if>
      <if test="isRowguidcol != null">
        is_rowguidcol,
      </if>
      <if test="isIdentity != null">
        is_identity,
      </if>
      <if test="isComputed != null">
        is_computed,
      </if>
      <if test="isFilestream != null">
        is_filestream,
      </if>
      <if test="isReplicated != null">
        is_replicated,
      </if>
      <if test="isNonSqlSubscribed != null">
        is_non_sql_subscribed,
      </if>
      <if test="isMergePublished != null">
        is_merge_published,
      </if>
      <if test="isDtsReplicated != null">
        is_dts_replicated,
      </if>
      <if test="isXmlDocument != null">
        is_xml_document,
      </if>
      <if test="xmlCollectionId != null">
        xml_collection_id,
      </if>
      <if test="defaultObjectId != null">
        default_object_id,
      </if>
      <if test="ruleObjectId != null">
        rule_object_id,
      </if>
      <if test="isSparse != null">
        is_sparse,
      </if>
      <if test="isColumnSet != null">
        is_column_set,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectId != null">
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="systemTypeId != null">
        #{systemTypeId,jdbcType=TINYINT},
      </if>
      <if test="userTypeId != null">
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null">
        #{maxLength,jdbcType=SMALLINT},
      </if>
      <if test="precision != null">
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationName != null">
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="isNullable != null">
        #{isNullable,jdbcType=BIT},
      </if>
      <if test="isAnsiPadded != null">
        #{isAnsiPadded,jdbcType=BIT},
      </if>
      <if test="isRowguidcol != null">
        #{isRowguidcol,jdbcType=BIT},
      </if>
      <if test="isIdentity != null">
        #{isIdentity,jdbcType=BIT},
      </if>
      <if test="isComputed != null">
        #{isComputed,jdbcType=BIT},
      </if>
      <if test="isFilestream != null">
        #{isFilestream,jdbcType=BIT},
      </if>
      <if test="isReplicated != null">
        #{isReplicated,jdbcType=BIT},
      </if>
      <if test="isNonSqlSubscribed != null">
        #{isNonSqlSubscribed,jdbcType=BIT},
      </if>
      <if test="isMergePublished != null">
        #{isMergePublished,jdbcType=BIT},
      </if>
      <if test="isDtsReplicated != null">
        #{isDtsReplicated,jdbcType=BIT},
      </if>
      <if test="isXmlDocument != null">
        #{isXmlDocument,jdbcType=BIT},
      </if>
      <if test="xmlCollectionId != null">
        #{xmlCollectionId,jdbcType=INTEGER},
      </if>
      <if test="defaultObjectId != null">
        #{defaultObjectId,jdbcType=INTEGER},
      </if>
      <if test="ruleObjectId != null">
        #{ruleObjectId,jdbcType=INTEGER},
      </if>
      <if test="isSparse != null">
        #{isSparse,jdbcType=BIT},
      </if>
      <if test="isColumnSet != null">
        #{isColumnSet,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    <result column="TABLE_CATALOG" jdbcType="NVARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="NVARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="NVARCHAR" property="tableName" />
    <result column="COLUMN_NAME" jdbcType="NVARCHAR" property="columnName" />
    <result column="ORDINAL_POSITION" jdbcType="INTEGER" property="ordinalPosition" />
    <result column="COLUMN_DEFAULT" jdbcType="NVARCHAR" property="columnDefault" />
    <result column="IS_NULLABLE" jdbcType="VARCHAR" property="isNullable" />
    <result column="DATA_TYPE" jdbcType="NVARCHAR" property="dataType" />
    <result column="CHARACTER_MAXIMUM_LENGTH" jdbcType="INTEGER" property="characterMaximumLength" />
    <result column="CHARACTER_OCTET_LENGTH" jdbcType="INTEGER" property="characterOctetLength" />
    <result column="NUMERIC_PRECISION" jdbcType="TINYINT" property="numericPrecision" />
    <result column="NUMERIC_PRECISION_RADIX" jdbcType="SMALLINT" property="numericPrecisionRadix" />
    <result column="NUMERIC_SCALE" jdbcType="INTEGER" property="numericScale" />
    <result column="DATETIME_PRECISION" jdbcType="SMALLINT" property="datetimePrecision" />
    <result column="CHARACTER_SET_CATALOG" jdbcType="NVARCHAR" property="characterSetCatalog" />
    <result column="CHARACTER_SET_SCHEMA" jdbcType="NVARCHAR" property="characterSetSchema" />
    <result column="CHARACTER_SET_NAME" jdbcType="NVARCHAR" property="characterSetName" />
    <result column="COLLATION_CATALOG" jdbcType="NVARCHAR" property="collationCatalog" />
    <result column="COLLATION_SCHEMA" jdbcType="NVARCHAR" property="collationSchema" />
    <result column="COLLATION_NAME" jdbcType="NVARCHAR" property="collationName" />
    <result column="DOMAIN_CATALOG" jdbcType="NVARCHAR" property="domainCatalog" />
    <result column="DOMAIN_SCHEMA" jdbcType="NVARCHAR" property="domainSchema" />
    <result column="DOMAIN_NAME" jdbcType="NVARCHAR" property="domainName" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    insert into COLUMNS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      COLUMN_NAME, ORDINAL_POSITION, COLUMN_DEFAULT, 
      IS_NULLABLE, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, 
      CHARACTER_OCTET_LENGTH, NUMERIC_PRECISION, 
      NUMERIC_PRECISION_RADIX, NUMERIC_SCALE, DATETIME_PRECISION, 
      CHARACTER_SET_CATALOG, CHARACTER_SET_SCHEMA, 
      CHARACTER_SET_NAME, COLLATION_CATALOG, COLLATION_SCHEMA, 
      COLLATION_NAME, DOMAIN_CATALOG, DOMAIN_SCHEMA, 
      DOMAIN_NAME)
    values (#{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}, 
      #{columnName,jdbcType=NVARCHAR}, #{ordinalPosition,jdbcType=INTEGER}, #{columnDefault,jdbcType=NVARCHAR}, 
      #{isNullable,jdbcType=VARCHAR}, #{dataType,jdbcType=NVARCHAR}, #{characterMaximumLength,jdbcType=INTEGER}, 
      #{characterOctetLength,jdbcType=INTEGER}, #{numericPrecision,jdbcType=TINYINT}, 
      #{numericPrecisionRadix,jdbcType=SMALLINT}, #{numericScale,jdbcType=INTEGER}, #{datetimePrecision,jdbcType=SMALLINT}, 
      #{characterSetCatalog,jdbcType=NVARCHAR}, #{characterSetSchema,jdbcType=NVARCHAR}, 
      #{characterSetName,jdbcType=NVARCHAR}, #{collationCatalog,jdbcType=NVARCHAR}, #{collationSchema,jdbcType=NVARCHAR}, 
      #{collationName,jdbcType=NVARCHAR}, #{domainCatalog,jdbcType=NVARCHAR}, #{domainSchema,jdbcType=NVARCHAR}, 
      #{domainName,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Columns">
    insert into COLUMNS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="ordinalPosition != null">
        ORDINAL_POSITION,
      </if>
      <if test="columnDefault != null">
        COLUMN_DEFAULT,
      </if>
      <if test="isNullable != null">
        IS_NULLABLE,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="characterMaximumLength != null">
        CHARACTER_MAXIMUM_LENGTH,
      </if>
      <if test="characterOctetLength != null">
        CHARACTER_OCTET_LENGTH,
      </if>
      <if test="numericPrecision != null">
        NUMERIC_PRECISION,
      </if>
      <if test="numericPrecisionRadix != null">
        NUMERIC_PRECISION_RADIX,
      </if>
      <if test="numericScale != null">
        NUMERIC_SCALE,
      </if>
      <if test="datetimePrecision != null">
        DATETIME_PRECISION,
      </if>
      <if test="characterSetCatalog != null">
        CHARACTER_SET_CATALOG,
      </if>
      <if test="characterSetSchema != null">
        CHARACTER_SET_SCHEMA,
      </if>
      <if test="characterSetName != null">
        CHARACTER_SET_NAME,
      </if>
      <if test="collationCatalog != null">
        COLLATION_CATALOG,
      </if>
      <if test="collationSchema != null">
        COLLATION_SCHEMA,
      </if>
      <if test="collationName != null">
        COLLATION_NAME,
      </if>
      <if test="domainCatalog != null">
        DOMAIN_CATALOG,
      </if>
      <if test="domainSchema != null">
        DOMAIN_SCHEMA,
      </if>
      <if test="domainName != null">
        DOMAIN_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=NVARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=NVARCHAR},
      </if>
      <if test="ordinalPosition != null">
        #{ordinalPosition,jdbcType=INTEGER},
      </if>
      <if test="columnDefault != null">
        #{columnDefault,jdbcType=NVARCHAR},
      </if>
      <if test="isNullable != null">
        #{isNullable,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=NVARCHAR},
      </if>
      <if test="characterMaximumLength != null">
        #{characterMaximumLength,jdbcType=INTEGER},
      </if>
      <if test="characterOctetLength != null">
        #{characterOctetLength,jdbcType=INTEGER},
      </if>
      <if test="numericPrecision != null">
        #{numericPrecision,jdbcType=TINYINT},
      </if>
      <if test="numericPrecisionRadix != null">
        #{numericPrecisionRadix,jdbcType=SMALLINT},
      </if>
      <if test="numericScale != null">
        #{numericScale,jdbcType=INTEGER},
      </if>
      <if test="datetimePrecision != null">
        #{datetimePrecision,jdbcType=SMALLINT},
      </if>
      <if test="characterSetCatalog != null">
        #{characterSetCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="characterSetSchema != null">
        #{characterSetSchema,jdbcType=NVARCHAR},
      </if>
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=NVARCHAR},
      </if>
      <if test="collationCatalog != null">
        #{collationCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="collationSchema != null">
        #{collationSchema,jdbcType=NVARCHAR},
      </if>
      <if test="collationName != null">
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="domainCatalog != null">
        #{domainCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="domainSchema != null">
        #{domainSchema,jdbcType=NVARCHAR},
      </if>
      <if test="domainName != null">
        #{domainName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>