<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ColumnTypeUsagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ColumnTypeUsages" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="user_type_id" property="userTypeId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnTypeUsages" >
    insert into column_type_usages (object_id, column_id, user_type_id
      )
    values (#{objectId,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER}, #{userTypeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ColumnTypeUsages" >
    insert into column_type_usages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="userTypeId != null" >
        user_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>