<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ConfigurationsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Configurations" >
    <result column="configuration_id" property="configurationId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="value" property="value" jdbcType="OTHER" />
    <result column="minimum" property="minimum" jdbcType="OTHER" />
    <result column="maximum" property="maximum" jdbcType="OTHER" />
    <result column="value_in_use" property="valueInUse" jdbcType="OTHER" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="is_dynamic" property="isDynamic" jdbcType="BIT" />
    <result column="is_advanced" property="isAdvanced" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Configurations" >
    insert into configurations (configuration_id, name, value, 
      minimum, maximum, value_in_use, 
      description, is_dynamic, is_advanced
      )
    values (#{configurationId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{value,jdbcType=OTHER}, 
      #{minimum,jdbcType=OTHER}, #{maximum,jdbcType=OTHER}, #{valueInUse,jdbcType=OTHER}, 
      #{description,jdbcType=NVARCHAR}, #{isDynamic,jdbcType=BIT}, #{isAdvanced,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Configurations" >
    insert into configurations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="configurationId != null" >
        configuration_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="minimum != null" >
        minimum,
      </if>
      <if test="maximum != null" >
        maximum,
      </if>
      <if test="valueInUse != null" >
        value_in_use,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isDynamic != null" >
        is_dynamic,
      </if>
      <if test="isAdvanced != null" >
        is_advanced,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="configurationId != null" >
        #{configurationId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
      <if test="minimum != null" >
        #{minimum,jdbcType=OTHER},
      </if>
      <if test="maximum != null" >
        #{maximum,jdbcType=OTHER},
      </if>
      <if test="valueInUse != null" >
        #{valueInUse,jdbcType=OTHER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="isDynamic != null" >
        #{isDynamic,jdbcType=BIT},
      </if>
      <if test="isAdvanced != null" >
        #{isAdvanced,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>