<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="NVARCHAR" />
    <result column="Describe" property="describe" jdbcType="NVARCHAR" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Syllabus" property="syllabus" jdbcType="NVARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
    <result column="SyllabusPath" property="syllabuspath" jdbcType="NVARCHAR" />
    <result column="SubjectId" property="subjectid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Course" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Code, Describe, Name, Syllabus, CreatedBy, CreatedOn, ModifiedBy, ModifiedOn, 
    SyllabusPath, SubjectId
  </sql>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Course
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Course
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into Course (Id, Code, Describe, 
      Name, Syllabus, CreatedBy, 
      CreatedOn, ModifiedBy, ModifiedOn, 
      SyllabusPath, SubjectId, VersionNumber
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=NVARCHAR}, #{describe,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{syllabus,jdbcType=NVARCHAR}, #{createdby,jdbcType=INTEGER}, 
      #{createdon,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=INTEGER}, #{modifiedon,jdbcType=TIMESTAMP}, 
      #{syllabuspath,jdbcType=NVARCHAR}, #{subjectid,jdbcType=INTEGER}, #{versionnumber,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into Course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Id,
      <if test="code != null" >
        Code,
      </if>
      <if test="describe != null" >
        Describe,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="syllabus != null" >
        Syllabus,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
      <if test="syllabuspath != null" >
        SyllabusPath,
      </if>
      <if test="subjectid != null" >
        SubjectId,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="code != null" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="syllabus != null" >
        #{syllabus,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="syllabuspath != null" >
        #{syllabuspath,jdbcType=NVARCHAR},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    update Course
    <set >
      <if test="code != null" >
        Code = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        Describe = #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="syllabus != null" >
        Syllabus = #{syllabus,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="syllabuspath != null" >
        SyllabusPath = #{syllabuspath,jdbcType=NVARCHAR},
      </if>
      <if test="subjectid != null" >
        SubjectId = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="versionnumber != null" >
        VersionNumber = #{versionnumber,jdbcType=BINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    update Course
    set Code = #{code,jdbcType=NVARCHAR},
      Describe = #{describe,jdbcType=NVARCHAR},
      Name = #{name,jdbcType=NVARCHAR},
      Syllabus = #{syllabus,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      SyllabusPath = #{syllabuspath,jdbcType=NVARCHAR},
      SubjectId = #{subjectid,jdbcType=INTEGER},
      VersionNumber = #{versionnumber,jdbcType=BINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Course" >
    update Course
    set Code = #{code,jdbcType=NVARCHAR},
      Describe = #{describe,jdbcType=NVARCHAR},
      Name = #{name,jdbcType=NVARCHAR},
      Syllabus = #{syllabus,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      SyllabusPath = #{syllabuspath,jdbcType=NVARCHAR},
      SubjectId = #{subjectid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>