<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.CryptographicProvidersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.CryptographicProviders" >
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="guid" property="guid" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="NVARCHAR" />
    <result column="dll_path" property="dllPath" jdbcType="NVARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.CryptographicProviders" >
    insert into cryptographic_providers (provider_id, name, guid, 
      version, dll_path, is_enabled
      )
    values (#{providerId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{guid,jdbcType=CHAR}, 
      #{version,jdbcType=NVARCHAR}, #{dllPath,jdbcType=NVARCHAR}, #{isEnabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.CryptographicProviders" >
    insert into cryptographic_providers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="guid != null" >
        guid,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="dllPath != null" >
        dll_path,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NVARCHAR},
      </if>
      <if test="dllPath != null" >
        #{dllPath,jdbcType=NVARCHAR},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>