<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DestinationDataSpacesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DestinationDataSpaces" >
    <result column="partition_scheme_id" property="partitionSchemeId" jdbcType="INTEGER" />
    <result column="destination_id" property="destinationId" jdbcType="INTEGER" />
    <result column="data_space_id" property="dataSpaceId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DestinationDataSpaces" >
    insert into destination_data_spaces (partition_scheme_id, destination_id, 
      data_space_id)
    values (#{partitionSchemeId,jdbcType=INTEGER}, #{destinationId,jdbcType=INTEGER}, 
      #{dataSpaceId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DestinationDataSpaces" >
    insert into destination_data_spaces
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partitionSchemeId != null" >
        partition_scheme_id,
      </if>
      <if test="destinationId != null" >
        destination_id,
      </if>
      <if test="dataSpaceId != null" >
        data_space_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partitionSchemeId != null" >
        #{partitionSchemeId,jdbcType=INTEGER},
      </if>
      <if test="destinationId != null" >
        #{destinationId,jdbcType=INTEGER},
      </if>
      <if test="dataSpaceId != null" >
        #{dataSpaceId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>