<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmAuditActionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmAuditActions" >
    <result column="action_id" property="actionId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="class_desc" property="classDesc" jdbcType="NVARCHAR" />
    <result column="covering_action_name" property="coveringActionName" jdbcType="NVARCHAR" />
    <result column="parent_class_desc" property="parentClassDesc" jdbcType="NVARCHAR" />
    <result column="covering_parent_action_name" property="coveringParentActionName" jdbcType="NVARCHAR" />
    <result column="configuration_level" property="configurationLevel" jdbcType="NVARCHAR" />
    <result column="containing_group_name" property="containingGroupName" jdbcType="NVARCHAR" />
    <result column="action_in_log" property="actionInLog" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmAuditActions" >
    insert into dm_audit_actions (action_id, name, class_desc, 
      covering_action_name, parent_class_desc, 
      covering_parent_action_name, configuration_level, 
      containing_group_name, action_in_log)
    values (#{actionId,jdbcType=VARCHAR}, #{name,jdbcType=NVARCHAR}, #{classDesc,jdbcType=NVARCHAR}, 
      #{coveringActionName,jdbcType=NVARCHAR}, #{parentClassDesc,jdbcType=NVARCHAR}, 
      #{coveringParentActionName,jdbcType=NVARCHAR}, #{configurationLevel,jdbcType=NVARCHAR}, 
      #{containingGroupName,jdbcType=NVARCHAR}, #{actionInLog,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmAuditActions" >
    insert into dm_audit_actions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionId != null" >
        action_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="classDesc != null" >
        class_desc,
      </if>
      <if test="coveringActionName != null" >
        covering_action_name,
      </if>
      <if test="parentClassDesc != null" >
        parent_class_desc,
      </if>
      <if test="coveringParentActionName != null" >
        covering_parent_action_name,
      </if>
      <if test="configurationLevel != null" >
        configuration_level,
      </if>
      <if test="containingGroupName != null" >
        containing_group_name,
      </if>
      <if test="actionInLog != null" >
        action_in_log,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionId != null" >
        #{actionId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="classDesc != null" >
        #{classDesc,jdbcType=NVARCHAR},
      </if>
      <if test="coveringActionName != null" >
        #{coveringActionName,jdbcType=NVARCHAR},
      </if>
      <if test="parentClassDesc != null" >
        #{parentClassDesc,jdbcType=NVARCHAR},
      </if>
      <if test="coveringParentActionName != null" >
        #{coveringParentActionName,jdbcType=NVARCHAR},
      </if>
      <if test="configurationLevel != null" >
        #{configurationLevel,jdbcType=NVARCHAR},
      </if>
      <if test="containingGroupName != null" >
        #{containingGroupName,jdbcType=NVARCHAR},
      </if>
      <if test="actionInLog != null" >
        #{actionInLog,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>