<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmBrokerForwardedMessagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerForwardedMessages" >
    <result column="conversation_id" property="conversationId" jdbcType="CHAR" />
    <result column="is_initiator" property="isInitiator" jdbcType="BIT" />
    <result column="to_service_name" property="toServiceName" jdbcType="NVARCHAR" />
    <result column="to_broker_instance" property="toBrokerInstance" jdbcType="NVARCHAR" />
    <result column="from_service_name" property="fromServiceName" jdbcType="NVARCHAR" />
    <result column="from_broker_instance" property="fromBrokerInstance" jdbcType="NVARCHAR" />
    <result column="adjacent_broker_address" property="adjacentBrokerAddress" jdbcType="NVARCHAR" />
    <result column="message_sequence_number" property="messageSequenceNumber" jdbcType="BIGINT" />
    <result column="message_fragment_number" property="messageFragmentNumber" jdbcType="INTEGER" />
    <result column="hops_remaining" property="hopsRemaining" jdbcType="TINYINT" />
    <result column="time_to_live" property="timeToLive" jdbcType="INTEGER" />
    <result column="time_consumed" property="timeConsumed" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerForwardedMessages" >
    insert into dm_broker_forwarded_messages (conversation_id, is_initiator, to_service_name, 
      to_broker_instance, from_service_name, from_broker_instance, 
      adjacent_broker_address, message_sequence_number, 
      message_fragment_number, hops_remaining, time_to_live, 
      time_consumed, message_id)
    values (#{conversationId,jdbcType=CHAR}, #{isInitiator,jdbcType=BIT}, #{toServiceName,jdbcType=NVARCHAR}, 
      #{toBrokerInstance,jdbcType=NVARCHAR}, #{fromServiceName,jdbcType=NVARCHAR}, #{fromBrokerInstance,jdbcType=NVARCHAR}, 
      #{adjacentBrokerAddress,jdbcType=NVARCHAR}, #{messageSequenceNumber,jdbcType=BIGINT}, 
      #{messageFragmentNumber,jdbcType=INTEGER}, #{hopsRemaining,jdbcType=TINYINT}, #{timeToLive,jdbcType=INTEGER}, 
      #{timeConsumed,jdbcType=INTEGER}, #{messageId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerForwardedMessages" >
    insert into dm_broker_forwarded_messages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="conversationId != null" >
        conversation_id,
      </if>
      <if test="isInitiator != null" >
        is_initiator,
      </if>
      <if test="toServiceName != null" >
        to_service_name,
      </if>
      <if test="toBrokerInstance != null" >
        to_broker_instance,
      </if>
      <if test="fromServiceName != null" >
        from_service_name,
      </if>
      <if test="fromBrokerInstance != null" >
        from_broker_instance,
      </if>
      <if test="adjacentBrokerAddress != null" >
        adjacent_broker_address,
      </if>
      <if test="messageSequenceNumber != null" >
        message_sequence_number,
      </if>
      <if test="messageFragmentNumber != null" >
        message_fragment_number,
      </if>
      <if test="hopsRemaining != null" >
        hops_remaining,
      </if>
      <if test="timeToLive != null" >
        time_to_live,
      </if>
      <if test="timeConsumed != null" >
        time_consumed,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="conversationId != null" >
        #{conversationId,jdbcType=CHAR},
      </if>
      <if test="isInitiator != null" >
        #{isInitiator,jdbcType=BIT},
      </if>
      <if test="toServiceName != null" >
        #{toServiceName,jdbcType=NVARCHAR},
      </if>
      <if test="toBrokerInstance != null" >
        #{toBrokerInstance,jdbcType=NVARCHAR},
      </if>
      <if test="fromServiceName != null" >
        #{fromServiceName,jdbcType=NVARCHAR},
      </if>
      <if test="fromBrokerInstance != null" >
        #{fromBrokerInstance,jdbcType=NVARCHAR},
      </if>
      <if test="adjacentBrokerAddress != null" >
        #{adjacentBrokerAddress,jdbcType=NVARCHAR},
      </if>
      <if test="messageSequenceNumber != null" >
        #{messageSequenceNumber,jdbcType=BIGINT},
      </if>
      <if test="messageFragmentNumber != null" >
        #{messageFragmentNumber,jdbcType=INTEGER},
      </if>
      <if test="hopsRemaining != null" >
        #{hopsRemaining,jdbcType=TINYINT},
      </if>
      <if test="timeToLive != null" >
        #{timeToLive,jdbcType=INTEGER},
      </if>
      <if test="timeConsumed != null" >
        #{timeConsumed,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>