<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmBrokerActivatedTasksMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerActivatedTasks" >
    <result column="spid" property="spid" jdbcType="INTEGER" />
    <result column="database_id" property="databaseId" jdbcType="SMALLINT" />
    <result column="queue_id" property="queueId" jdbcType="INTEGER" />
    <result column="procedure_name" property="procedureName" jdbcType="NVARCHAR" />
    <result column="execute_as" property="executeAs" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerActivatedTasks" >
    insert into dm_broker_activated_tasks (spid, database_id, queue_id, 
      procedure_name, execute_as)
    values (#{spid,jdbcType=INTEGER}, #{databaseId,jdbcType=SMALLINT}, #{queueId,jdbcType=INTEGER}, 
      #{procedureName,jdbcType=NVARCHAR}, #{executeAs,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmBrokerActivatedTasks" >
    insert into dm_broker_activated_tasks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        spid,
      </if>
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="queueId != null" >
        queue_id,
      </if>
      <if test="procedureName != null" >
        procedure_name,
      </if>
      <if test="executeAs != null" >
        execute_as,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="databaseId != null" >
        #{databaseId,jdbcType=SMALLINT},
      </if>
      <if test="queueId != null" >
        #{queueId,jdbcType=INTEGER},
      </if>
      <if test="procedureName != null" >
        #{procedureName,jdbcType=NVARCHAR},
      </if>
      <if test="executeAs != null" >
        #{executeAs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>