<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmCdcErrorsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcErrors" >
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="phase_number" property="phaseNumber" jdbcType="INTEGER" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
    <result column="error_number" property="errorNumber" jdbcType="INTEGER" />
    <result column="error_severity" property="errorSeverity" jdbcType="INTEGER" />
    <result column="error_state" property="errorState" jdbcType="INTEGER" />
    <result column="error_message" property="errorMessage" jdbcType="NVARCHAR" />
    <result column="start_lsn" property="startLsn" jdbcType="NVARCHAR" />
    <result column="begin_lsn" property="beginLsn" jdbcType="NVARCHAR" />
    <result column="sequence_value" property="sequenceValue" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcErrors" >
    insert into dm_cdc_errors (session_id, phase_number, entry_time, 
      error_number, error_severity, error_state, 
      error_message, start_lsn, begin_lsn, 
      sequence_value)
    values (#{sessionId,jdbcType=INTEGER}, #{phaseNumber,jdbcType=INTEGER}, #{entryTime,jdbcType=TIMESTAMP}, 
      #{errorNumber,jdbcType=INTEGER}, #{errorSeverity,jdbcType=INTEGER}, #{errorState,jdbcType=INTEGER}, 
      #{errorMessage,jdbcType=NVARCHAR}, #{startLsn,jdbcType=NVARCHAR}, #{beginLsn,jdbcType=NVARCHAR}, 
      #{sequenceValue,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcErrors" >
    insert into dm_cdc_errors
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="phaseNumber != null" >
        phase_number,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="errorNumber != null" >
        error_number,
      </if>
      <if test="errorSeverity != null" >
        error_severity,
      </if>
      <if test="errorState != null" >
        error_state,
      </if>
      <if test="errorMessage != null" >
        error_message,
      </if>
      <if test="startLsn != null" >
        start_lsn,
      </if>
      <if test="beginLsn != null" >
        begin_lsn,
      </if>
      <if test="sequenceValue != null" >
        sequence_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="phaseNumber != null" >
        #{phaseNumber,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errorNumber != null" >
        #{errorNumber,jdbcType=INTEGER},
      </if>
      <if test="errorSeverity != null" >
        #{errorSeverity,jdbcType=INTEGER},
      </if>
      <if test="errorState != null" >
        #{errorState,jdbcType=INTEGER},
      </if>
      <if test="errorMessage != null" >
        #{errorMessage,jdbcType=NVARCHAR},
      </if>
      <if test="startLsn != null" >
        #{startLsn,jdbcType=NVARCHAR},
      </if>
      <if test="beginLsn != null" >
        #{beginLsn,jdbcType=NVARCHAR},
      </if>
      <if test="sequenceValue != null" >
        #{sequenceValue,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>