<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmCdcLogScanSessionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcLogScanSessions" >
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="scan_phase" property="scanPhase" jdbcType="NVARCHAR" />
    <result column="error_count" property="errorCount" jdbcType="INTEGER" />
    <result column="start_lsn" property="startLsn" jdbcType="NVARCHAR" />
    <result column="current_lsn" property="currentLsn" jdbcType="NVARCHAR" />
    <result column="end_lsn" property="endLsn" jdbcType="NVARCHAR" />
    <result column="tran_count" property="tranCount" jdbcType="BIGINT" />
    <result column="last_commit_lsn" property="lastCommitLsn" jdbcType="NVARCHAR" />
    <result column="last_commit_time" property="lastCommitTime" jdbcType="TIMESTAMP" />
    <result column="log_record_count" property="logRecordCount" jdbcType="BIGINT" />
    <result column="schema_change_count" property="schemaChangeCount" jdbcType="INTEGER" />
    <result column="command_count" property="commandCount" jdbcType="BIGINT" />
    <result column="first_begin_cdc_lsn" property="firstBeginCdcLsn" jdbcType="NVARCHAR" />
    <result column="last_commit_cdc_lsn" property="lastCommitCdcLsn" jdbcType="NVARCHAR" />
    <result column="last_commit_cdc_time" property="lastCommitCdcTime" jdbcType="TIMESTAMP" />
    <result column="latency" property="latency" jdbcType="INTEGER" />
    <result column="empty_scan_count" property="emptyScanCount" jdbcType="INTEGER" />
    <result column="failed_sessions_count" property="failedSessionsCount" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcLogScanSessions" >
    insert into dm_cdc_log_scan_sessions (session_id, start_time, end_time, 
      duration, scan_phase, error_count, 
      start_lsn, current_lsn, end_lsn, 
      tran_count, last_commit_lsn, last_commit_time, 
      log_record_count, schema_change_count, command_count, 
      first_begin_cdc_lsn, last_commit_cdc_lsn, last_commit_cdc_time, 
      latency, empty_scan_count, failed_sessions_count
      )
    values (#{sessionId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=INTEGER}, #{scanPhase,jdbcType=NVARCHAR}, #{errorCount,jdbcType=INTEGER}, 
      #{startLsn,jdbcType=NVARCHAR}, #{currentLsn,jdbcType=NVARCHAR}, #{endLsn,jdbcType=NVARCHAR}, 
      #{tranCount,jdbcType=BIGINT}, #{lastCommitLsn,jdbcType=NVARCHAR}, #{lastCommitTime,jdbcType=TIMESTAMP}, 
      #{logRecordCount,jdbcType=BIGINT}, #{schemaChangeCount,jdbcType=INTEGER}, #{commandCount,jdbcType=BIGINT}, 
      #{firstBeginCdcLsn,jdbcType=NVARCHAR}, #{lastCommitCdcLsn,jdbcType=NVARCHAR}, #{lastCommitCdcTime,jdbcType=TIMESTAMP}, 
      #{latency,jdbcType=INTEGER}, #{emptyScanCount,jdbcType=INTEGER}, #{failedSessionsCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCdcLogScanSessions" >
    insert into dm_cdc_log_scan_sessions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="scanPhase != null" >
        scan_phase,
      </if>
      <if test="errorCount != null" >
        error_count,
      </if>
      <if test="startLsn != null" >
        start_lsn,
      </if>
      <if test="currentLsn != null" >
        current_lsn,
      </if>
      <if test="endLsn != null" >
        end_lsn,
      </if>
      <if test="tranCount != null" >
        tran_count,
      </if>
      <if test="lastCommitLsn != null" >
        last_commit_lsn,
      </if>
      <if test="lastCommitTime != null" >
        last_commit_time,
      </if>
      <if test="logRecordCount != null" >
        log_record_count,
      </if>
      <if test="schemaChangeCount != null" >
        schema_change_count,
      </if>
      <if test="commandCount != null" >
        command_count,
      </if>
      <if test="firstBeginCdcLsn != null" >
        first_begin_cdc_lsn,
      </if>
      <if test="lastCommitCdcLsn != null" >
        last_commit_cdc_lsn,
      </if>
      <if test="lastCommitCdcTime != null" >
        last_commit_cdc_time,
      </if>
      <if test="latency != null" >
        latency,
      </if>
      <if test="emptyScanCount != null" >
        empty_scan_count,
      </if>
      <if test="failedSessionsCount != null" >
        failed_sessions_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="scanPhase != null" >
        #{scanPhase,jdbcType=NVARCHAR},
      </if>
      <if test="errorCount != null" >
        #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="startLsn != null" >
        #{startLsn,jdbcType=NVARCHAR},
      </if>
      <if test="currentLsn != null" >
        #{currentLsn,jdbcType=NVARCHAR},
      </if>
      <if test="endLsn != null" >
        #{endLsn,jdbcType=NVARCHAR},
      </if>
      <if test="tranCount != null" >
        #{tranCount,jdbcType=BIGINT},
      </if>
      <if test="lastCommitLsn != null" >
        #{lastCommitLsn,jdbcType=NVARCHAR},
      </if>
      <if test="lastCommitTime != null" >
        #{lastCommitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logRecordCount != null" >
        #{logRecordCount,jdbcType=BIGINT},
      </if>
      <if test="schemaChangeCount != null" >
        #{schemaChangeCount,jdbcType=INTEGER},
      </if>
      <if test="commandCount != null" >
        #{commandCount,jdbcType=BIGINT},
      </if>
      <if test="firstBeginCdcLsn != null" >
        #{firstBeginCdcLsn,jdbcType=NVARCHAR},
      </if>
      <if test="lastCommitCdcLsn != null" >
        #{lastCommitCdcLsn,jdbcType=NVARCHAR},
      </if>
      <if test="lastCommitCdcTime != null" >
        #{lastCommitCdcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="latency != null" >
        #{latency,jdbcType=INTEGER},
      </if>
      <if test="emptyScanCount != null" >
        #{emptyScanCount,jdbcType=INTEGER},
      </if>
      <if test="failedSessionsCount != null" >
        #{failedSessionsCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>