<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmClrLoadedAssembliesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmClrLoadedAssemblies" >
    <result column="assembly_id" property="assemblyId" jdbcType="INTEGER" />
    <result column="load_time" property="loadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmClrLoadedAssemblies" extends="BaseResultMap" >
    <result column="appdomain_address" property="appdomainAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    appdomain_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmClrLoadedAssemblies" >
    insert into dm_clr_loaded_assemblies (assembly_id, load_time, appdomain_address
      )
    values (#{assemblyId,jdbcType=INTEGER}, #{loadTime,jdbcType=TIMESTAMP}, #{appdomainAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmClrLoadedAssemblies" >
    insert into dm_clr_loaded_assemblies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assemblyId != null" >
        assembly_id,
      </if>
      <if test="loadTime != null" >
        load_time,
      </if>
      <if test="appdomainAddress != null" >
        appdomain_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assemblyId != null" >
        #{assemblyId,jdbcType=INTEGER},
      </if>
      <if test="loadTime != null" >
        #{loadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appdomainAddress != null" >
        #{appdomainAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>