<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmClrAppdomainsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmClrAppdomains" >
    <result column="appdomain_id" property="appdomainId" jdbcType="INTEGER" />
    <result column="appdomain_name" property="appdomainName" jdbcType="NVARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="db_id" property="dbId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="NVARCHAR" />
    <result column="strong_refcount" property="strongRefcount" jdbcType="INTEGER" />
    <result column="weak_refcount" property="weakRefcount" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="compatibility_level" property="compatibilityLevel" jdbcType="INTEGER" />
    <result column="total_processor_time_ms" property="totalProcessorTimeMs" jdbcType="BIGINT" />
    <result column="total_allocated_memory_kb" property="totalAllocatedMemoryKb" jdbcType="BIGINT" />
    <result column="survived_memory_kb" property="survivedMemoryKb" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmClrAppdomains" extends="BaseResultMap" >
    <result column="appdomain_address" property="appdomainAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    appdomain_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmClrAppdomains" >
    insert into dm_clr_appdomains (appdomain_id, appdomain_name, creation_time, 
      db_id, user_id, state, 
      strong_refcount, weak_refcount, cost, 
      value, compatibility_level, total_processor_time_ms, 
      total_allocated_memory_kb, survived_memory_kb, 
      appdomain_address)
    values (#{appdomainId,jdbcType=INTEGER}, #{appdomainName,jdbcType=NVARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{dbId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{state,jdbcType=NVARCHAR}, 
      #{strongRefcount,jdbcType=INTEGER}, #{weakRefcount,jdbcType=INTEGER}, #{cost,jdbcType=INTEGER}, 
      #{value,jdbcType=INTEGER}, #{compatibilityLevel,jdbcType=INTEGER}, #{totalProcessorTimeMs,jdbcType=BIGINT}, 
      #{totalAllocatedMemoryKb,jdbcType=BIGINT}, #{survivedMemoryKb,jdbcType=BIGINT}, 
      #{appdomainAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmClrAppdomains" >
    insert into dm_clr_appdomains
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appdomainId != null" >
        appdomain_id,
      </if>
      <if test="appdomainName != null" >
        appdomain_name,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="dbId != null" >
        db_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="strongRefcount != null" >
        strong_refcount,
      </if>
      <if test="weakRefcount != null" >
        weak_refcount,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="compatibilityLevel != null" >
        compatibility_level,
      </if>
      <if test="totalProcessorTimeMs != null" >
        total_processor_time_ms,
      </if>
      <if test="totalAllocatedMemoryKb != null" >
        total_allocated_memory_kb,
      </if>
      <if test="survivedMemoryKb != null" >
        survived_memory_kb,
      </if>
      <if test="appdomainAddress != null" >
        appdomain_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appdomainId != null" >
        #{appdomainId,jdbcType=INTEGER},
      </if>
      <if test="appdomainName != null" >
        #{appdomainName,jdbcType=NVARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbId != null" >
        #{dbId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=NVARCHAR},
      </if>
      <if test="strongRefcount != null" >
        #{strongRefcount,jdbcType=INTEGER},
      </if>
      <if test="weakRefcount != null" >
        #{weakRefcount,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=INTEGER},
      </if>
      <if test="compatibilityLevel != null" >
        #{compatibilityLevel,jdbcType=INTEGER},
      </if>
      <if test="totalProcessorTimeMs != null" >
        #{totalProcessorTimeMs,jdbcType=BIGINT},
      </if>
      <if test="totalAllocatedMemoryKb != null" >
        #{totalAllocatedMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="survivedMemoryKb != null" >
        #{survivedMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="appdomainAddress != null" >
        #{appdomainAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>