<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmCryptographicProviderSessionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmCryptographicProviderSessions" >
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="identity" property="identity" jdbcType="NVARCHAR" />
    <result column="spid" property="spid" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmCryptographicProviderSessions" extends="BaseResultMap" >
    <result column="session_handle" property="sessionHandle" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    session_handle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCryptographicProviderSessions" >
    insert into dm_cryptographic_provider_sessions (provider_id, identity, spid, 
      session_handle)
    values (#{providerId,jdbcType=INTEGER}, #{identity,jdbcType=NVARCHAR}, #{spid,jdbcType=SMALLINT}, 
      #{sessionHandle,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmCryptographicProviderSessions" >
    insert into dm_cryptographic_provider_sessions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="spid != null" >
        spid,
      </if>
      <if test="sessionHandle != null" >
        session_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=NVARCHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=SMALLINT},
      </if>
      <if test="sessionHandle != null" >
        #{sessionHandle,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>