<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbXtpIndexStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpIndexStats" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="scans_started" property="scansStarted" jdbcType="BIGINT" />
    <result column="scans_retries" property="scansRetries" jdbcType="BIGINT" />
    <result column="rows_returned" property="rowsReturned" jdbcType="BIGINT" />
    <result column="rows_touched" property="rowsTouched" jdbcType="BIGINT" />
    <result column="rows_expiring" property="rowsExpiring" jdbcType="BIGINT" />
    <result column="rows_expired" property="rowsExpired" jdbcType="BIGINT" />
    <result column="rows_expired_removed" property="rowsExpiredRemoved" jdbcType="BIGINT" />
    <result column="phantom_scans_started" property="phantomScansStarted" jdbcType="BIGINT" />
    <result column="phantom_scans_retries" property="phantomScansRetries" jdbcType="BIGINT" />
    <result column="phantom_rows_touched" property="phantomRowsTouched" jdbcType="BIGINT" />
    <result column="phantom_expiring_rows_encountered" property="phantomExpiringRowsEncountered" jdbcType="BIGINT" />
    <result column="phantom_expired_removed_rows_encountered" property="phantomExpiredRemovedRowsEncountered" jdbcType="BIGINT" />
    <result column="phantom_expired_rows_removed" property="phantomExpiredRowsRemoved" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpIndexStats" extends="BaseResultMap" >
    <result column="object_address" property="objectAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    object_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpIndexStats" >
    insert into dm_db_xtp_index_stats (object_id, index_id, scans_started, 
      scans_retries, rows_returned, rows_touched, 
      rows_expiring, rows_expired, rows_expired_removed, 
      phantom_scans_started, phantom_scans_retries, 
      phantom_rows_touched, phantom_expiring_rows_encountered, 
      phantom_expired_removed_rows_encountered, phantom_expired_rows_removed, 
      object_address)
    values (#{objectId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, #{scansStarted,jdbcType=BIGINT}, 
      #{scansRetries,jdbcType=BIGINT}, #{rowsReturned,jdbcType=BIGINT}, #{rowsTouched,jdbcType=BIGINT}, 
      #{rowsExpiring,jdbcType=BIGINT}, #{rowsExpired,jdbcType=BIGINT}, #{rowsExpiredRemoved,jdbcType=BIGINT}, 
      #{phantomScansStarted,jdbcType=BIGINT}, #{phantomScansRetries,jdbcType=BIGINT}, 
      #{phantomRowsTouched,jdbcType=BIGINT}, #{phantomExpiringRowsEncountered,jdbcType=BIGINT}, 
      #{phantomExpiredRemovedRowsEncountered,jdbcType=BIGINT}, #{phantomExpiredRowsRemoved,jdbcType=BIGINT}, 
      #{objectAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpIndexStats" >
    insert into dm_db_xtp_index_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="scansStarted != null" >
        scans_started,
      </if>
      <if test="scansRetries != null" >
        scans_retries,
      </if>
      <if test="rowsReturned != null" >
        rows_returned,
      </if>
      <if test="rowsTouched != null" >
        rows_touched,
      </if>
      <if test="rowsExpiring != null" >
        rows_expiring,
      </if>
      <if test="rowsExpired != null" >
        rows_expired,
      </if>
      <if test="rowsExpiredRemoved != null" >
        rows_expired_removed,
      </if>
      <if test="phantomScansStarted != null" >
        phantom_scans_started,
      </if>
      <if test="phantomScansRetries != null" >
        phantom_scans_retries,
      </if>
      <if test="phantomRowsTouched != null" >
        phantom_rows_touched,
      </if>
      <if test="phantomExpiringRowsEncountered != null" >
        phantom_expiring_rows_encountered,
      </if>
      <if test="phantomExpiredRemovedRowsEncountered != null" >
        phantom_expired_removed_rows_encountered,
      </if>
      <if test="phantomExpiredRowsRemoved != null" >
        phantom_expired_rows_removed,
      </if>
      <if test="objectAddress != null" >
        object_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="scansStarted != null" >
        #{scansStarted,jdbcType=BIGINT},
      </if>
      <if test="scansRetries != null" >
        #{scansRetries,jdbcType=BIGINT},
      </if>
      <if test="rowsReturned != null" >
        #{rowsReturned,jdbcType=BIGINT},
      </if>
      <if test="rowsTouched != null" >
        #{rowsTouched,jdbcType=BIGINT},
      </if>
      <if test="rowsExpiring != null" >
        #{rowsExpiring,jdbcType=BIGINT},
      </if>
      <if test="rowsExpired != null" >
        #{rowsExpired,jdbcType=BIGINT},
      </if>
      <if test="rowsExpiredRemoved != null" >
        #{rowsExpiredRemoved,jdbcType=BIGINT},
      </if>
      <if test="phantomScansStarted != null" >
        #{phantomScansStarted,jdbcType=BIGINT},
      </if>
      <if test="phantomScansRetries != null" >
        #{phantomScansRetries,jdbcType=BIGINT},
      </if>
      <if test="phantomRowsTouched != null" >
        #{phantomRowsTouched,jdbcType=BIGINT},
      </if>
      <if test="phantomExpiringRowsEncountered != null" >
        #{phantomExpiringRowsEncountered,jdbcType=BIGINT},
      </if>
      <if test="phantomExpiredRemovedRowsEncountered != null" >
        #{phantomExpiredRemovedRowsEncountered,jdbcType=BIGINT},
      </if>
      <if test="phantomExpiredRowsRemoved != null" >
        #{phantomExpiredRowsRemoved,jdbcType=BIGINT},
      </if>
      <if test="objectAddress != null" >
        #{objectAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>