<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbLogSpaceUsageMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbLogSpaceUsage" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="total_log_size_in_bytes" property="totalLogSizeInBytes" jdbcType="BIGINT" />
    <result column="used_log_space_in_bytes" property="usedLogSpaceInBytes" jdbcType="BIGINT" />
    <result column="used_log_space_in_percent" property="usedLogSpaceInPercent" jdbcType="REAL" />
    <result column="log_space_in_bytes_since_last_backup" property="logSpaceInBytesSinceLastBackup" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbLogSpaceUsage" >
    insert into dm_db_log_space_usage (database_id, total_log_size_in_bytes, used_log_space_in_bytes, 
      used_log_space_in_percent, log_space_in_bytes_since_last_backup
      )
    values (#{databaseId,jdbcType=INTEGER}, #{totalLogSizeInBytes,jdbcType=BIGINT}, #{usedLogSpaceInBytes,jdbcType=BIGINT}, 
      #{usedLogSpaceInPercent,jdbcType=REAL}, #{logSpaceInBytesSinceLastBackup,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbLogSpaceUsage" >
    insert into dm_db_log_space_usage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="totalLogSizeInBytes != null" >
        total_log_size_in_bytes,
      </if>
      <if test="usedLogSpaceInBytes != null" >
        used_log_space_in_bytes,
      </if>
      <if test="usedLogSpaceInPercent != null" >
        used_log_space_in_percent,
      </if>
      <if test="logSpaceInBytesSinceLastBackup != null" >
        log_space_in_bytes_since_last_backup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="totalLogSizeInBytes != null" >
        #{totalLogSizeInBytes,jdbcType=BIGINT},
      </if>
      <if test="usedLogSpaceInBytes != null" >
        #{usedLogSpaceInBytes,jdbcType=BIGINT},
      </if>
      <if test="usedLogSpaceInPercent != null" >
        #{usedLogSpaceInPercent,jdbcType=REAL},
      </if>
      <if test="logSpaceInBytesSinceLastBackup != null" >
        #{logSpaceInBytesSinceLastBackup,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>