<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbXtpMergeRequestsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpMergeRequests" >
    <result column="request_state" property="requestState" jdbcType="SMALLINT" />
    <result column="request_state_desc" property="requestStateDesc" jdbcType="NVARCHAR" />
    <result column="destination_file_id" property="destinationFileId" jdbcType="CHAR" />
    <result column="lower_bound_tsn" property="lowerBoundTsn" jdbcType="BIGINT" />
    <result column="upper_bound_tsn" property="upperBoundTsn" jdbcType="BIGINT" />
    <result column="collection_tsn" property="collectionTsn" jdbcType="BIGINT" />
    <result column="checkpoint_tsn" property="checkpointTsn" jdbcType="BIGINT" />
    <result column="source0_file_id" property="source0FileId" jdbcType="CHAR" />
    <result column="source1_file_id" property="source1FileId" jdbcType="CHAR" />
    <result column="source2_file_id" property="source2FileId" jdbcType="CHAR" />
    <result column="source3_file_id" property="source3FileId" jdbcType="CHAR" />
    <result column="source4_file_id" property="source4FileId" jdbcType="CHAR" />
    <result column="source5_file_id" property="source5FileId" jdbcType="CHAR" />
    <result column="source6_file_id" property="source6FileId" jdbcType="CHAR" />
    <result column="source7_file_id" property="source7FileId" jdbcType="CHAR" />
    <result column="source8_file_id" property="source8FileId" jdbcType="CHAR" />
    <result column="source9_file_id" property="source9FileId" jdbcType="CHAR" />
    <result column="source10_file_id" property="source10FileId" jdbcType="CHAR" />
    <result column="source11_file_id" property="source11FileId" jdbcType="CHAR" />
    <result column="source12_file_id" property="source12FileId" jdbcType="CHAR" />
    <result column="source13_file_id" property="source13FileId" jdbcType="CHAR" />
    <result column="source14_file_id" property="source14FileId" jdbcType="CHAR" />
    <result column="source15_file_id" property="source15FileId" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpMergeRequests" >
    insert into dm_db_xtp_merge_requests (request_state, request_state_desc, 
      destination_file_id, lower_bound_tsn, upper_bound_tsn, 
      collection_tsn, checkpoint_tsn, source0_file_id, 
      source1_file_id, source2_file_id, source3_file_id, 
      source4_file_id, source5_file_id, source6_file_id, 
      source7_file_id, source8_file_id, source9_file_id, 
      source10_file_id, source11_file_id, source12_file_id, 
      source13_file_id, source14_file_id, source15_file_id
      )
    values (#{requestState,jdbcType=SMALLINT}, #{requestStateDesc,jdbcType=NVARCHAR}, 
      #{destinationFileId,jdbcType=CHAR}, #{lowerBoundTsn,jdbcType=BIGINT}, #{upperBoundTsn,jdbcType=BIGINT}, 
      #{collectionTsn,jdbcType=BIGINT}, #{checkpointTsn,jdbcType=BIGINT}, #{source0FileId,jdbcType=CHAR}, 
      #{source1FileId,jdbcType=CHAR}, #{source2FileId,jdbcType=CHAR}, #{source3FileId,jdbcType=CHAR}, 
      #{source4FileId,jdbcType=CHAR}, #{source5FileId,jdbcType=CHAR}, #{source6FileId,jdbcType=CHAR}, 
      #{source7FileId,jdbcType=CHAR}, #{source8FileId,jdbcType=CHAR}, #{source9FileId,jdbcType=CHAR}, 
      #{source10FileId,jdbcType=CHAR}, #{source11FileId,jdbcType=CHAR}, #{source12FileId,jdbcType=CHAR}, 
      #{source13FileId,jdbcType=CHAR}, #{source14FileId,jdbcType=CHAR}, #{source15FileId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpMergeRequests" >
    insert into dm_db_xtp_merge_requests
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="requestState != null" >
        request_state,
      </if>
      <if test="requestStateDesc != null" >
        request_state_desc,
      </if>
      <if test="destinationFileId != null" >
        destination_file_id,
      </if>
      <if test="lowerBoundTsn != null" >
        lower_bound_tsn,
      </if>
      <if test="upperBoundTsn != null" >
        upper_bound_tsn,
      </if>
      <if test="collectionTsn != null" >
        collection_tsn,
      </if>
      <if test="checkpointTsn != null" >
        checkpoint_tsn,
      </if>
      <if test="source0FileId != null" >
        source0_file_id,
      </if>
      <if test="source1FileId != null" >
        source1_file_id,
      </if>
      <if test="source2FileId != null" >
        source2_file_id,
      </if>
      <if test="source3FileId != null" >
        source3_file_id,
      </if>
      <if test="source4FileId != null" >
        source4_file_id,
      </if>
      <if test="source5FileId != null" >
        source5_file_id,
      </if>
      <if test="source6FileId != null" >
        source6_file_id,
      </if>
      <if test="source7FileId != null" >
        source7_file_id,
      </if>
      <if test="source8FileId != null" >
        source8_file_id,
      </if>
      <if test="source9FileId != null" >
        source9_file_id,
      </if>
      <if test="source10FileId != null" >
        source10_file_id,
      </if>
      <if test="source11FileId != null" >
        source11_file_id,
      </if>
      <if test="source12FileId != null" >
        source12_file_id,
      </if>
      <if test="source13FileId != null" >
        source13_file_id,
      </if>
      <if test="source14FileId != null" >
        source14_file_id,
      </if>
      <if test="source15FileId != null" >
        source15_file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="requestState != null" >
        #{requestState,jdbcType=SMALLINT},
      </if>
      <if test="requestStateDesc != null" >
        #{requestStateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="destinationFileId != null" >
        #{destinationFileId,jdbcType=CHAR},
      </if>
      <if test="lowerBoundTsn != null" >
        #{lowerBoundTsn,jdbcType=BIGINT},
      </if>
      <if test="upperBoundTsn != null" >
        #{upperBoundTsn,jdbcType=BIGINT},
      </if>
      <if test="collectionTsn != null" >
        #{collectionTsn,jdbcType=BIGINT},
      </if>
      <if test="checkpointTsn != null" >
        #{checkpointTsn,jdbcType=BIGINT},
      </if>
      <if test="source0FileId != null" >
        #{source0FileId,jdbcType=CHAR},
      </if>
      <if test="source1FileId != null" >
        #{source1FileId,jdbcType=CHAR},
      </if>
      <if test="source2FileId != null" >
        #{source2FileId,jdbcType=CHAR},
      </if>
      <if test="source3FileId != null" >
        #{source3FileId,jdbcType=CHAR},
      </if>
      <if test="source4FileId != null" >
        #{source4FileId,jdbcType=CHAR},
      </if>
      <if test="source5FileId != null" >
        #{source5FileId,jdbcType=CHAR},
      </if>
      <if test="source6FileId != null" >
        #{source6FileId,jdbcType=CHAR},
      </if>
      <if test="source7FileId != null" >
        #{source7FileId,jdbcType=CHAR},
      </if>
      <if test="source8FileId != null" >
        #{source8FileId,jdbcType=CHAR},
      </if>
      <if test="source9FileId != null" >
        #{source9FileId,jdbcType=CHAR},
      </if>
      <if test="source10FileId != null" >
        #{source10FileId,jdbcType=CHAR},
      </if>
      <if test="source11FileId != null" >
        #{source11FileId,jdbcType=CHAR},
      </if>
      <if test="source12FileId != null" >
        #{source12FileId,jdbcType=CHAR},
      </if>
      <if test="source13FileId != null" >
        #{source13FileId,jdbcType=CHAR},
      </if>
      <if test="source14FileId != null" >
        #{source14FileId,jdbcType=CHAR},
      </if>
      <if test="source15FileId != null" >
        #{source15FileId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>