<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbObjectsDisabledOnCompatibilityLevelChangeMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbObjectsDisabledOnCompatibilityLevelChange" >
    <result column="class" property="class" jdbcType="INTEGER" />
    <result column="class_desc" property="classDesc" jdbcType="NVARCHAR" />
    <result column="major_id" property="majorId" jdbcType="INTEGER" />
    <result column="minor_id" property="minorId" jdbcType="INTEGER" />
    <result column="dependency" property="dependency" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbObjectsDisabledOnCompatibilityLevelChange" >
    insert into dm_db_objects_disabled_on_compatibility_level_change (class, class_desc, major_id, 
      minor_id, dependency)
    values (#{class,jdbcType=INTEGER}, #{classDesc,jdbcType=NVARCHAR}, #{majorId,jdbcType=INTEGER}, 
      #{minorId,jdbcType=INTEGER}, #{dependency,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbObjectsDisabledOnCompatibilityLevelChange" >
    insert into dm_db_objects_disabled_on_compatibility_level_change
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        class,
      </if>
      <if test="classDesc != null" >
        class_desc,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="minorId != null" >
        minor_id,
      </if>
      <if test="dependency != null" >
        dependency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        #{class,jdbcType=INTEGER},
      </if>
      <if test="classDesc != null" >
        #{classDesc,jdbcType=NVARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="minorId != null" >
        #{minorId,jdbcType=INTEGER},
      </if>
      <if test="dependency != null" >
        #{dependency,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>