<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbXtpNonclusteredIndexStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpNonclusteredIndexStats" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="delta_pages" property="deltaPages" jdbcType="BIGINT" />
    <result column="internal_pages" property="internalPages" jdbcType="BIGINT" />
    <result column="leaf_pages" property="leafPages" jdbcType="BIGINT" />
    <result column="outstanding_retired_nodes" property="outstandingRetiredNodes" jdbcType="BIGINT" />
    <result column="page_update_count" property="pageUpdateCount" jdbcType="BIGINT" />
    <result column="page_update_retry_count" property="pageUpdateRetryCount" jdbcType="BIGINT" />
    <result column="page_consolidation_count" property="pageConsolidationCount" jdbcType="BIGINT" />
    <result column="page_consolidation_retry_count" property="pageConsolidationRetryCount" jdbcType="BIGINT" />
    <result column="page_split_count" property="pageSplitCount" jdbcType="BIGINT" />
    <result column="page_split_retry_count" property="pageSplitRetryCount" jdbcType="BIGINT" />
    <result column="key_split_count" property="keySplitCount" jdbcType="BIGINT" />
    <result column="key_split_retry_count" property="keySplitRetryCount" jdbcType="BIGINT" />
    <result column="page_merge_count" property="pageMergeCount" jdbcType="BIGINT" />
    <result column="page_merge_retry_count" property="pageMergeRetryCount" jdbcType="BIGINT" />
    <result column="key_merge_count" property="keyMergeCount" jdbcType="BIGINT" />
    <result column="key_merge_retry_count" property="keyMergeRetryCount" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpNonclusteredIndexStats" >
    insert into dm_db_xtp_nonclustered_index_stats (object_id, index_id, delta_pages, 
      internal_pages, leaf_pages, outstanding_retired_nodes, 
      page_update_count, page_update_retry_count, page_consolidation_count, 
      page_consolidation_retry_count, page_split_count, 
      page_split_retry_count, key_split_count, key_split_retry_count, 
      page_merge_count, page_merge_retry_count, key_merge_count, 
      key_merge_retry_count)
    values (#{objectId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, #{deltaPages,jdbcType=BIGINT}, 
      #{internalPages,jdbcType=BIGINT}, #{leafPages,jdbcType=BIGINT}, #{outstandingRetiredNodes,jdbcType=BIGINT}, 
      #{pageUpdateCount,jdbcType=BIGINT}, #{pageUpdateRetryCount,jdbcType=BIGINT}, #{pageConsolidationCount,jdbcType=BIGINT}, 
      #{pageConsolidationRetryCount,jdbcType=BIGINT}, #{pageSplitCount,jdbcType=BIGINT}, 
      #{pageSplitRetryCount,jdbcType=BIGINT}, #{keySplitCount,jdbcType=BIGINT}, #{keySplitRetryCount,jdbcType=BIGINT}, 
      #{pageMergeCount,jdbcType=BIGINT}, #{pageMergeRetryCount,jdbcType=BIGINT}, #{keyMergeCount,jdbcType=BIGINT}, 
      #{keyMergeRetryCount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpNonclusteredIndexStats" >
    insert into dm_db_xtp_nonclustered_index_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="deltaPages != null" >
        delta_pages,
      </if>
      <if test="internalPages != null" >
        internal_pages,
      </if>
      <if test="leafPages != null" >
        leaf_pages,
      </if>
      <if test="outstandingRetiredNodes != null" >
        outstanding_retired_nodes,
      </if>
      <if test="pageUpdateCount != null" >
        page_update_count,
      </if>
      <if test="pageUpdateRetryCount != null" >
        page_update_retry_count,
      </if>
      <if test="pageConsolidationCount != null" >
        page_consolidation_count,
      </if>
      <if test="pageConsolidationRetryCount != null" >
        page_consolidation_retry_count,
      </if>
      <if test="pageSplitCount != null" >
        page_split_count,
      </if>
      <if test="pageSplitRetryCount != null" >
        page_split_retry_count,
      </if>
      <if test="keySplitCount != null" >
        key_split_count,
      </if>
      <if test="keySplitRetryCount != null" >
        key_split_retry_count,
      </if>
      <if test="pageMergeCount != null" >
        page_merge_count,
      </if>
      <if test="pageMergeRetryCount != null" >
        page_merge_retry_count,
      </if>
      <if test="keyMergeCount != null" >
        key_merge_count,
      </if>
      <if test="keyMergeRetryCount != null" >
        key_merge_retry_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="deltaPages != null" >
        #{deltaPages,jdbcType=BIGINT},
      </if>
      <if test="internalPages != null" >
        #{internalPages,jdbcType=BIGINT},
      </if>
      <if test="leafPages != null" >
        #{leafPages,jdbcType=BIGINT},
      </if>
      <if test="outstandingRetiredNodes != null" >
        #{outstandingRetiredNodes,jdbcType=BIGINT},
      </if>
      <if test="pageUpdateCount != null" >
        #{pageUpdateCount,jdbcType=BIGINT},
      </if>
      <if test="pageUpdateRetryCount != null" >
        #{pageUpdateRetryCount,jdbcType=BIGINT},
      </if>
      <if test="pageConsolidationCount != null" >
        #{pageConsolidationCount,jdbcType=BIGINT},
      </if>
      <if test="pageConsolidationRetryCount != null" >
        #{pageConsolidationRetryCount,jdbcType=BIGINT},
      </if>
      <if test="pageSplitCount != null" >
        #{pageSplitCount,jdbcType=BIGINT},
      </if>
      <if test="pageSplitRetryCount != null" >
        #{pageSplitRetryCount,jdbcType=BIGINT},
      </if>
      <if test="keySplitCount != null" >
        #{keySplitCount,jdbcType=BIGINT},
      </if>
      <if test="keySplitRetryCount != null" >
        #{keySplitRetryCount,jdbcType=BIGINT},
      </if>
      <if test="pageMergeCount != null" >
        #{pageMergeCount,jdbcType=BIGINT},
      </if>
      <if test="pageMergeRetryCount != null" >
        #{pageMergeRetryCount,jdbcType=BIGINT},
      </if>
      <if test="keyMergeCount != null" >
        #{keyMergeCount,jdbcType=BIGINT},
      </if>
      <if test="keyMergeRetryCount != null" >
        #{keyMergeRetryCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>