<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbMirroringPastActionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMirroringPastActions" >
    <result column="mirroring_guid" property="mirroringGuid" jdbcType="CHAR" />
    <result column="state_machine_name" property="stateMachineName" jdbcType="NVARCHAR" />
    <result column="action_type" property="actionType" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="current_state" property="currentState" jdbcType="NVARCHAR" />
    <result column="action_sequence" property="actionSequence" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMirroringPastActions" >
    insert into dm_db_mirroring_past_actions (mirroring_guid, state_machine_name, action_type, 
      name, current_state, action_sequence
      )
    values (#{mirroringGuid,jdbcType=CHAR}, #{stateMachineName,jdbcType=NVARCHAR}, #{actionType,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{currentState,jdbcType=NVARCHAR}, #{actionSequence,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMirroringPastActions" >
    insert into dm_db_mirroring_past_actions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mirroringGuid != null" >
        mirroring_guid,
      </if>
      <if test="stateMachineName != null" >
        state_machine_name,
      </if>
      <if test="actionType != null" >
        action_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="currentState != null" >
        current_state,
      </if>
      <if test="actionSequence != null" >
        action_sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mirroringGuid != null" >
        #{mirroringGuid,jdbcType=CHAR},
      </if>
      <if test="stateMachineName != null" >
        #{stateMachineName,jdbcType=NVARCHAR},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="currentState != null" >
        #{currentState,jdbcType=NVARCHAR},
      </if>
      <if test="actionSequence != null" >
        #{actionSequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>