<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbTaskSpaceUsageMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbTaskSpaceUsage" >
    <result column="is_remote_task" property="isRemoteTask" jdbcType="BIT" />
    <result column="session_id" property="sessionId" jdbcType="SMALLINT" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
    <result column="exec_context_id" property="execContextId" jdbcType="INTEGER" />
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="user_objects_alloc_page_count" property="userObjectsAllocPageCount" jdbcType="BIGINT" />
    <result column="user_objects_dealloc_page_count" property="userObjectsDeallocPageCount" jdbcType="BIGINT" />
    <result column="internal_objects_alloc_page_count" property="internalObjectsAllocPageCount" jdbcType="BIGINT" />
    <result column="internal_objects_dealloc_page_count" property="internalObjectsDeallocPageCount" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbTaskSpaceUsage" extends="BaseResultMap" >
    <result column="task_address" property="taskAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    task_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbTaskSpaceUsage" >
    insert into dm_db_task_space_usage (is_remote_task, session_id, request_id, 
      exec_context_id, database_id, user_objects_alloc_page_count, 
      user_objects_dealloc_page_count, internal_objects_alloc_page_count, 
      internal_objects_dealloc_page_count, task_address
      )
    values (#{isRemoteTask,jdbcType=BIT}, #{sessionId,jdbcType=SMALLINT}, #{requestId,jdbcType=INTEGER}, 
      #{execContextId,jdbcType=INTEGER}, #{databaseId,jdbcType=INTEGER}, #{userObjectsAllocPageCount,jdbcType=BIGINT}, 
      #{userObjectsDeallocPageCount,jdbcType=BIGINT}, #{internalObjectsAllocPageCount,jdbcType=BIGINT}, 
      #{internalObjectsDeallocPageCount,jdbcType=BIGINT}, #{taskAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbTaskSpaceUsage" >
    insert into dm_db_task_space_usage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="isRemoteTask != null" >
        is_remote_task,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="execContextId != null" >
        exec_context_id,
      </if>
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="userObjectsAllocPageCount != null" >
        user_objects_alloc_page_count,
      </if>
      <if test="userObjectsDeallocPageCount != null" >
        user_objects_dealloc_page_count,
      </if>
      <if test="internalObjectsAllocPageCount != null" >
        internal_objects_alloc_page_count,
      </if>
      <if test="internalObjectsDeallocPageCount != null" >
        internal_objects_dealloc_page_count,
      </if>
      <if test="taskAddress != null" >
        task_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="isRemoteTask != null" >
        #{isRemoteTask,jdbcType=BIT},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=SMALLINT},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="execContextId != null" >
        #{execContextId,jdbcType=INTEGER},
      </if>
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="userObjectsAllocPageCount != null" >
        #{userObjectsAllocPageCount,jdbcType=BIGINT},
      </if>
      <if test="userObjectsDeallocPageCount != null" >
        #{userObjectsDeallocPageCount,jdbcType=BIGINT},
      </if>
      <if test="internalObjectsAllocPageCount != null" >
        #{internalObjectsAllocPageCount,jdbcType=BIGINT},
      </if>
      <if test="internalObjectsDeallocPageCount != null" >
        #{internalObjectsDeallocPageCount,jdbcType=BIGINT},
      </if>
      <if test="taskAddress != null" >
        #{taskAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>