<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbScriptLevelMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbScriptLevel" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="script_id" property="scriptId" jdbcType="INTEGER" />
    <result column="script_name" property="scriptName" jdbcType="NVARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="script_level" property="scriptLevel" jdbcType="INTEGER" />
    <result column="downgrade_start_level" property="downgradeStartLevel" jdbcType="INTEGER" />
    <result column="downgrade_target_level" property="downgradeTargetLevel" jdbcType="INTEGER" />
    <result column="upgrade_start_level" property="upgradeStartLevel" jdbcType="INTEGER" />
    <result column="upgrade_target_level" property="upgradeTargetLevel" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbScriptLevel" >
    insert into dm_db_script_level (database_id, script_id, script_name, 
      version, script_level, downgrade_start_level, 
      downgrade_target_level, upgrade_start_level, 
      upgrade_target_level)
    values (#{databaseId,jdbcType=INTEGER}, #{scriptId,jdbcType=INTEGER}, #{scriptName,jdbcType=NVARCHAR}, 
      #{version,jdbcType=INTEGER}, #{scriptLevel,jdbcType=INTEGER}, #{downgradeStartLevel,jdbcType=INTEGER}, 
      #{downgradeTargetLevel,jdbcType=INTEGER}, #{upgradeStartLevel,jdbcType=INTEGER}, 
      #{upgradeTargetLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbScriptLevel" >
    insert into dm_db_script_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="scriptId != null" >
        script_id,
      </if>
      <if test="scriptName != null" >
        script_name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="scriptLevel != null" >
        script_level,
      </if>
      <if test="downgradeStartLevel != null" >
        downgrade_start_level,
      </if>
      <if test="downgradeTargetLevel != null" >
        downgrade_target_level,
      </if>
      <if test="upgradeStartLevel != null" >
        upgrade_start_level,
      </if>
      <if test="upgradeTargetLevel != null" >
        upgrade_target_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="scriptId != null" >
        #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="scriptName != null" >
        #{scriptName,jdbcType=NVARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="scriptLevel != null" >
        #{scriptLevel,jdbcType=INTEGER},
      </if>
      <if test="downgradeStartLevel != null" >
        #{downgradeStartLevel,jdbcType=INTEGER},
      </if>
      <if test="downgradeTargetLevel != null" >
        #{downgradeTargetLevel,jdbcType=INTEGER},
      </if>
      <if test="upgradeStartLevel != null" >
        #{upgradeStartLevel,jdbcType=INTEGER},
      </if>
      <if test="upgradeTargetLevel != null" >
        #{upgradeTargetLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>