<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbMissingIndexGroupStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroupStats" >
    <result column="group_handle" property="groupHandle" jdbcType="INTEGER" />
    <result column="unique_compiles" property="uniqueCompiles" jdbcType="BIGINT" />
    <result column="user_seeks" property="userSeeks" jdbcType="BIGINT" />
    <result column="user_scans" property="userScans" jdbcType="BIGINT" />
    <result column="last_user_seek" property="lastUserSeek" jdbcType="TIMESTAMP" />
    <result column="last_user_scan" property="lastUserScan" jdbcType="TIMESTAMP" />
    <result column="avg_total_user_cost" property="avgTotalUserCost" jdbcType="DOUBLE" />
    <result column="avg_user_impact" property="avgUserImpact" jdbcType="DOUBLE" />
    <result column="system_seeks" property="systemSeeks" jdbcType="BIGINT" />
    <result column="system_scans" property="systemScans" jdbcType="BIGINT" />
    <result column="last_system_seek" property="lastSystemSeek" jdbcType="TIMESTAMP" />
    <result column="last_system_scan" property="lastSystemScan" jdbcType="TIMESTAMP" />
    <result column="avg_total_system_cost" property="avgTotalSystemCost" jdbcType="DOUBLE" />
    <result column="avg_system_impact" property="avgSystemImpact" jdbcType="DOUBLE" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroupStats" >
    insert into dm_db_missing_index_group_stats (group_handle, unique_compiles, user_seeks, 
      user_scans, last_user_seek, last_user_scan, 
      avg_total_user_cost, avg_user_impact, system_seeks, 
      system_scans, last_system_seek, last_system_scan, 
      avg_total_system_cost, avg_system_impact)
    values (#{groupHandle,jdbcType=INTEGER}, #{uniqueCompiles,jdbcType=BIGINT}, #{userSeeks,jdbcType=BIGINT}, 
      #{userScans,jdbcType=BIGINT}, #{lastUserSeek,jdbcType=TIMESTAMP}, #{lastUserScan,jdbcType=TIMESTAMP}, 
      #{avgTotalUserCost,jdbcType=DOUBLE}, #{avgUserImpact,jdbcType=DOUBLE}, #{systemSeeks,jdbcType=BIGINT}, 
      #{systemScans,jdbcType=BIGINT}, #{lastSystemSeek,jdbcType=TIMESTAMP}, #{lastSystemScan,jdbcType=TIMESTAMP}, 
      #{avgTotalSystemCost,jdbcType=DOUBLE}, #{avgSystemImpact,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroupStats" >
    insert into dm_db_missing_index_group_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupHandle != null" >
        group_handle,
      </if>
      <if test="uniqueCompiles != null" >
        unique_compiles,
      </if>
      <if test="userSeeks != null" >
        user_seeks,
      </if>
      <if test="userScans != null" >
        user_scans,
      </if>
      <if test="lastUserSeek != null" >
        last_user_seek,
      </if>
      <if test="lastUserScan != null" >
        last_user_scan,
      </if>
      <if test="avgTotalUserCost != null" >
        avg_total_user_cost,
      </if>
      <if test="avgUserImpact != null" >
        avg_user_impact,
      </if>
      <if test="systemSeeks != null" >
        system_seeks,
      </if>
      <if test="systemScans != null" >
        system_scans,
      </if>
      <if test="lastSystemSeek != null" >
        last_system_seek,
      </if>
      <if test="lastSystemScan != null" >
        last_system_scan,
      </if>
      <if test="avgTotalSystemCost != null" >
        avg_total_system_cost,
      </if>
      <if test="avgSystemImpact != null" >
        avg_system_impact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupHandle != null" >
        #{groupHandle,jdbcType=INTEGER},
      </if>
      <if test="uniqueCompiles != null" >
        #{uniqueCompiles,jdbcType=BIGINT},
      </if>
      <if test="userSeeks != null" >
        #{userSeeks,jdbcType=BIGINT},
      </if>
      <if test="userScans != null" >
        #{userScans,jdbcType=BIGINT},
      </if>
      <if test="lastUserSeek != null" >
        #{lastUserSeek,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUserScan != null" >
        #{lastUserScan,jdbcType=TIMESTAMP},
      </if>
      <if test="avgTotalUserCost != null" >
        #{avgTotalUserCost,jdbcType=DOUBLE},
      </if>
      <if test="avgUserImpact != null" >
        #{avgUserImpact,jdbcType=DOUBLE},
      </if>
      <if test="systemSeeks != null" >
        #{systemSeeks,jdbcType=BIGINT},
      </if>
      <if test="systemScans != null" >
        #{systemScans,jdbcType=BIGINT},
      </if>
      <if test="lastSystemSeek != null" >
        #{lastSystemSeek,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSystemScan != null" >
        #{lastSystemScan,jdbcType=TIMESTAMP},
      </if>
      <if test="avgTotalSystemCost != null" >
        #{avgTotalSystemCost,jdbcType=DOUBLE},
      </if>
      <if test="avgSystemImpact != null" >
        #{avgSystemImpact,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>