<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbPersistedSkuFeaturesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbPersistedSkuFeatures" >
    <result column="feature_name" property="featureName" jdbcType="NVARCHAR" />
    <result column="feature_id" property="featureId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbPersistedSkuFeatures" >
    insert into dm_db_persisted_sku_features (feature_name, feature_id)
    values (#{featureName,jdbcType=NVARCHAR}, #{featureId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbPersistedSkuFeatures" >
    insert into dm_db_persisted_sku_features
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="featureName != null" >
        feature_name,
      </if>
      <if test="featureId != null" >
        feature_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="featureName != null" >
        #{featureName,jdbcType=NVARCHAR},
      </if>
      <if test="featureId != null" >
        #{featureId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>