<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbXtpTableMemoryStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpTableMemoryStats" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="memory_allocated_for_table_kb" property="memoryAllocatedForTableKb" jdbcType="BIGINT" />
    <result column="memory_used_by_table_kb" property="memoryUsedByTableKb" jdbcType="BIGINT" />
    <result column="memory_allocated_for_indexes_kb" property="memoryAllocatedForIndexesKb" jdbcType="BIGINT" />
    <result column="memory_used_by_indexes_kb" property="memoryUsedByIndexesKb" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpTableMemoryStats" >
    insert into dm_db_xtp_table_memory_stats (object_id, memory_allocated_for_table_kb, 
      memory_used_by_table_kb, memory_allocated_for_indexes_kb, 
      memory_used_by_indexes_kb)
    values (#{objectId,jdbcType=INTEGER}, #{memoryAllocatedForTableKb,jdbcType=BIGINT}, 
      #{memoryUsedByTableKb,jdbcType=BIGINT}, #{memoryAllocatedForIndexesKb,jdbcType=BIGINT}, 
      #{memoryUsedByIndexesKb,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbXtpTableMemoryStats" >
    insert into dm_db_xtp_table_memory_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="memoryAllocatedForTableKb != null" >
        memory_allocated_for_table_kb,
      </if>
      <if test="memoryUsedByTableKb != null" >
        memory_used_by_table_kb,
      </if>
      <if test="memoryAllocatedForIndexesKb != null" >
        memory_allocated_for_indexes_kb,
      </if>
      <if test="memoryUsedByIndexesKb != null" >
        memory_used_by_indexes_kb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="memoryAllocatedForTableKb != null" >
        #{memoryAllocatedForTableKb,jdbcType=BIGINT},
      </if>
      <if test="memoryUsedByTableKb != null" >
        #{memoryUsedByTableKb,jdbcType=BIGINT},
      </if>
      <if test="memoryAllocatedForIndexesKb != null" >
        #{memoryAllocatedForIndexesKb,jdbcType=BIGINT},
      </if>
      <if test="memoryUsedByIndexesKb != null" >
        #{memoryUsedByIndexesKb,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>