<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmDbMissingIndexGroupsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroups" >
    <result column="index_group_handle" property="indexGroupHandle" jdbcType="INTEGER" />
    <result column="index_handle" property="indexHandle" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroups" >
    insert into dm_db_missing_index_groups (index_group_handle, index_handle)
    values (#{indexGroupHandle,jdbcType=INTEGER}, #{indexHandle,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmDbMissingIndexGroups" >
    insert into dm_db_missing_index_groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indexGroupHandle != null" >
        index_group_handle,
      </if>
      <if test="indexHandle != null" >
        index_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indexGroupHandle != null" >
        #{indexGroupHandle,jdbcType=INTEGER},
      </if>
      <if test="indexHandle != null" >
        #{indexHandle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>