<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecConnectionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecConnections" >
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="most_recent_session_id" property="mostRecentSessionId" jdbcType="INTEGER" />
    <result column="connect_time" property="connectTime" jdbcType="TIMESTAMP" />
    <result column="net_transport" property="netTransport" jdbcType="NVARCHAR" />
    <result column="protocol_type" property="protocolType" jdbcType="NVARCHAR" />
    <result column="protocol_version" property="protocolVersion" jdbcType="INTEGER" />
    <result column="endpoint_id" property="endpointId" jdbcType="INTEGER" />
    <result column="encrypt_option" property="encryptOption" jdbcType="NVARCHAR" />
    <result column="auth_scheme" property="authScheme" jdbcType="NVARCHAR" />
    <result column="node_affinity" property="nodeAffinity" jdbcType="SMALLINT" />
    <result column="num_reads" property="numReads" jdbcType="INTEGER" />
    <result column="num_writes" property="numWrites" jdbcType="INTEGER" />
    <result column="last_read" property="lastRead" jdbcType="TIMESTAMP" />
    <result column="last_write" property="lastWrite" jdbcType="TIMESTAMP" />
    <result column="net_packet_size" property="netPacketSize" jdbcType="INTEGER" />
    <result column="client_net_address" property="clientNetAddress" jdbcType="VARCHAR" />
    <result column="client_tcp_port" property="clientTcpPort" jdbcType="INTEGER" />
    <result column="local_net_address" property="localNetAddress" jdbcType="VARCHAR" />
    <result column="local_tcp_port" property="localTcpPort" jdbcType="INTEGER" />
    <result column="connection_id" property="connectionId" jdbcType="CHAR" />
    <result column="parent_connection_id" property="parentConnectionId" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecConnections" extends="BaseResultMap" >
    <result column="most_recent_sql_handle" property="mostRecentSqlHandle" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    most_recent_sql_handle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecConnections" >
    insert into dm_exec_connections (session_id, most_recent_session_id, connect_time, 
      net_transport, protocol_type, protocol_version, 
      endpoint_id, encrypt_option, auth_scheme, 
      node_affinity, num_reads, num_writes, 
      last_read, last_write, net_packet_size, 
      client_net_address, client_tcp_port, local_net_address, 
      local_tcp_port, connection_id, parent_connection_id, 
      most_recent_sql_handle)
    values (#{sessionId,jdbcType=INTEGER}, #{mostRecentSessionId,jdbcType=INTEGER}, #{connectTime,jdbcType=TIMESTAMP}, 
      #{netTransport,jdbcType=NVARCHAR}, #{protocolType,jdbcType=NVARCHAR}, #{protocolVersion,jdbcType=INTEGER}, 
      #{endpointId,jdbcType=INTEGER}, #{encryptOption,jdbcType=NVARCHAR}, #{authScheme,jdbcType=NVARCHAR}, 
      #{nodeAffinity,jdbcType=SMALLINT}, #{numReads,jdbcType=INTEGER}, #{numWrites,jdbcType=INTEGER}, 
      #{lastRead,jdbcType=TIMESTAMP}, #{lastWrite,jdbcType=TIMESTAMP}, #{netPacketSize,jdbcType=INTEGER}, 
      #{clientNetAddress,jdbcType=VARCHAR}, #{clientTcpPort,jdbcType=INTEGER}, #{localNetAddress,jdbcType=VARCHAR}, 
      #{localTcpPort,jdbcType=INTEGER}, #{connectionId,jdbcType=CHAR}, #{parentConnectionId,jdbcType=CHAR}, 
      #{mostRecentSqlHandle,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecConnections" >
    insert into dm_exec_connections
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="mostRecentSessionId != null" >
        most_recent_session_id,
      </if>
      <if test="connectTime != null" >
        connect_time,
      </if>
      <if test="netTransport != null" >
        net_transport,
      </if>
      <if test="protocolType != null" >
        protocol_type,
      </if>
      <if test="protocolVersion != null" >
        protocol_version,
      </if>
      <if test="endpointId != null" >
        endpoint_id,
      </if>
      <if test="encryptOption != null" >
        encrypt_option,
      </if>
      <if test="authScheme != null" >
        auth_scheme,
      </if>
      <if test="nodeAffinity != null" >
        node_affinity,
      </if>
      <if test="numReads != null" >
        num_reads,
      </if>
      <if test="numWrites != null" >
        num_writes,
      </if>
      <if test="lastRead != null" >
        last_read,
      </if>
      <if test="lastWrite != null" >
        last_write,
      </if>
      <if test="netPacketSize != null" >
        net_packet_size,
      </if>
      <if test="clientNetAddress != null" >
        client_net_address,
      </if>
      <if test="clientTcpPort != null" >
        client_tcp_port,
      </if>
      <if test="localNetAddress != null" >
        local_net_address,
      </if>
      <if test="localTcpPort != null" >
        local_tcp_port,
      </if>
      <if test="connectionId != null" >
        connection_id,
      </if>
      <if test="parentConnectionId != null" >
        parent_connection_id,
      </if>
      <if test="mostRecentSqlHandle != null" >
        most_recent_sql_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="mostRecentSessionId != null" >
        #{mostRecentSessionId,jdbcType=INTEGER},
      </if>
      <if test="connectTime != null" >
        #{connectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="netTransport != null" >
        #{netTransport,jdbcType=NVARCHAR},
      </if>
      <if test="protocolType != null" >
        #{protocolType,jdbcType=NVARCHAR},
      </if>
      <if test="protocolVersion != null" >
        #{protocolVersion,jdbcType=INTEGER},
      </if>
      <if test="endpointId != null" >
        #{endpointId,jdbcType=INTEGER},
      </if>
      <if test="encryptOption != null" >
        #{encryptOption,jdbcType=NVARCHAR},
      </if>
      <if test="authScheme != null" >
        #{authScheme,jdbcType=NVARCHAR},
      </if>
      <if test="nodeAffinity != null" >
        #{nodeAffinity,jdbcType=SMALLINT},
      </if>
      <if test="numReads != null" >
        #{numReads,jdbcType=INTEGER},
      </if>
      <if test="numWrites != null" >
        #{numWrites,jdbcType=INTEGER},
      </if>
      <if test="lastRead != null" >
        #{lastRead,jdbcType=TIMESTAMP},
      </if>
      <if test="lastWrite != null" >
        #{lastWrite,jdbcType=TIMESTAMP},
      </if>
      <if test="netPacketSize != null" >
        #{netPacketSize,jdbcType=INTEGER},
      </if>
      <if test="clientNetAddress != null" >
        #{clientNetAddress,jdbcType=VARCHAR},
      </if>
      <if test="clientTcpPort != null" >
        #{clientTcpPort,jdbcType=INTEGER},
      </if>
      <if test="localNetAddress != null" >
        #{localNetAddress,jdbcType=VARCHAR},
      </if>
      <if test="localTcpPort != null" >
        #{localTcpPort,jdbcType=INTEGER},
      </if>
      <if test="connectionId != null" >
        #{connectionId,jdbcType=CHAR},
      </if>
      <if test="parentConnectionId != null" >
        #{parentConnectionId,jdbcType=CHAR},
      </if>
      <if test="mostRecentSqlHandle != null" >
        #{mostRecentSqlHandle,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>