<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecRequestsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecRequests" >
    <result column="session_id" property="sessionId" jdbcType="SMALLINT" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="NVARCHAR" />
    <result column="command" property="command" jdbcType="NVARCHAR" />
    <result column="statement_start_offset" property="statementStartOffset" jdbcType="INTEGER" />
    <result column="statement_end_offset" property="statementEndOffset" jdbcType="INTEGER" />
    <result column="database_id" property="databaseId" jdbcType="SMALLINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="connection_id" property="connectionId" jdbcType="CHAR" />
    <result column="blocking_session_id" property="blockingSessionId" jdbcType="SMALLINT" />
    <result column="wait_type" property="waitType" jdbcType="NVARCHAR" />
    <result column="wait_time" property="waitTime" jdbcType="INTEGER" />
    <result column="last_wait_type" property="lastWaitType" jdbcType="NVARCHAR" />
    <result column="wait_resource" property="waitResource" jdbcType="NVARCHAR" />
    <result column="open_transaction_count" property="openTransactionCount" jdbcType="INTEGER" />
    <result column="open_resultset_count" property="openResultsetCount" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="BIGINT" />
    <result column="percent_complete" property="percentComplete" jdbcType="REAL" />
    <result column="estimated_completion_time" property="estimatedCompletionTime" jdbcType="BIGINT" />
    <result column="cpu_time" property="cpuTime" jdbcType="INTEGER" />
    <result column="total_elapsed_time" property="totalElapsedTime" jdbcType="INTEGER" />
    <result column="scheduler_id" property="schedulerId" jdbcType="INTEGER" />
    <result column="reads" property="reads" jdbcType="BIGINT" />
    <result column="writes" property="writes" jdbcType="BIGINT" />
    <result column="logical_reads" property="logicalReads" jdbcType="BIGINT" />
    <result column="text_size" property="textSize" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="NVARCHAR" />
    <result column="date_format" property="dateFormat" jdbcType="NVARCHAR" />
    <result column="date_first" property="dateFirst" jdbcType="SMALLINT" />
    <result column="quoted_identifier" property="quotedIdentifier" jdbcType="BIT" />
    <result column="arithabort" property="arithabort" jdbcType="BIT" />
    <result column="ansi_null_dflt_on" property="ansiNullDfltOn" jdbcType="BIT" />
    <result column="ansi_defaults" property="ansiDefaults" jdbcType="BIT" />
    <result column="ansi_warnings" property="ansiWarnings" jdbcType="BIT" />
    <result column="ansi_padding" property="ansiPadding" jdbcType="BIT" />
    <result column="ansi_nulls" property="ansiNulls" jdbcType="BIT" />
    <result column="concat_null_yields_null" property="concatNullYieldsNull" jdbcType="BIT" />
    <result column="transaction_isolation_level" property="transactionIsolationLevel" jdbcType="SMALLINT" />
    <result column="lock_timeout" property="lockTimeout" jdbcType="INTEGER" />
    <result column="deadlock_priority" property="deadlockPriority" jdbcType="INTEGER" />
    <result column="row_count" property="rowCount" jdbcType="BIGINT" />
    <result column="prev_error" property="prevError" jdbcType="INTEGER" />
    <result column="nest_level" property="nestLevel" jdbcType="INTEGER" />
    <result column="granted_query_memory" property="grantedQueryMemory" jdbcType="INTEGER" />
    <result column="executing_managed_code" property="executingManagedCode" jdbcType="BIT" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="statement_context_id" property="statementContextId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecRequestsWithBLOBs" extends="BaseResultMap" >
    <result column="sql_handle" property="sqlHandle" jdbcType="VARBINARY" />
    <result column="plan_handle" property="planHandle" jdbcType="VARBINARY" />
    <result column="context_info" property="contextInfo" jdbcType="VARBINARY" />
    <result column="task_address" property="taskAddress" jdbcType="VARBINARY" />
    <result column="query_hash" property="queryHash" jdbcType="BINARY" />
    <result column="query_plan_hash" property="queryPlanHash" jdbcType="BINARY" />
    <result column="statement_sql_handle" property="statementSqlHandle" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    sql_handle, plan_handle, context_info, task_address, query_hash, query_plan_hash, 
    statement_sql_handle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecRequestsWithBLOBs" >
    insert into dm_exec_requests (session_id, request_id, start_time, 
      status, command, statement_start_offset, 
      statement_end_offset, database_id, user_id, 
      connection_id, blocking_session_id, wait_type, 
      wait_time, last_wait_type, wait_resource, 
      open_transaction_count, open_resultset_count, 
      transaction_id, percent_complete, estimated_completion_time, 
      cpu_time, total_elapsed_time, scheduler_id, 
      reads, writes, logical_reads, 
      text_size, language, date_format, 
      date_first, quoted_identifier, arithabort, 
      ansi_null_dflt_on, ansi_defaults, ansi_warnings, 
      ansi_padding, ansi_nulls, concat_null_yields_null, 
      transaction_isolation_level, lock_timeout, 
      deadlock_priority, row_count, prev_error, 
      nest_level, granted_query_memory, executing_managed_code, 
      group_id, statement_context_id, sql_handle, 
      plan_handle, context_info, task_address, 
      query_hash, query_plan_hash, statement_sql_handle
      )
    values (#{sessionId,jdbcType=SMALLINT}, #{requestId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=NVARCHAR}, #{command,jdbcType=NVARCHAR}, #{statementStartOffset,jdbcType=INTEGER}, 
      #{statementEndOffset,jdbcType=INTEGER}, #{databaseId,jdbcType=SMALLINT}, #{userId,jdbcType=INTEGER}, 
      #{connectionId,jdbcType=CHAR}, #{blockingSessionId,jdbcType=SMALLINT}, #{waitType,jdbcType=NVARCHAR}, 
      #{waitTime,jdbcType=INTEGER}, #{lastWaitType,jdbcType=NVARCHAR}, #{waitResource,jdbcType=NVARCHAR}, 
      #{openTransactionCount,jdbcType=INTEGER}, #{openResultsetCount,jdbcType=INTEGER}, 
      #{transactionId,jdbcType=BIGINT}, #{percentComplete,jdbcType=REAL}, #{estimatedCompletionTime,jdbcType=BIGINT}, 
      #{cpuTime,jdbcType=INTEGER}, #{totalElapsedTime,jdbcType=INTEGER}, #{schedulerId,jdbcType=INTEGER}, 
      #{reads,jdbcType=BIGINT}, #{writes,jdbcType=BIGINT}, #{logicalReads,jdbcType=BIGINT}, 
      #{textSize,jdbcType=INTEGER}, #{language,jdbcType=NVARCHAR}, #{dateFormat,jdbcType=NVARCHAR}, 
      #{dateFirst,jdbcType=SMALLINT}, #{quotedIdentifier,jdbcType=BIT}, #{arithabort,jdbcType=BIT}, 
      #{ansiNullDfltOn,jdbcType=BIT}, #{ansiDefaults,jdbcType=BIT}, #{ansiWarnings,jdbcType=BIT}, 
      #{ansiPadding,jdbcType=BIT}, #{ansiNulls,jdbcType=BIT}, #{concatNullYieldsNull,jdbcType=BIT}, 
      #{transactionIsolationLevel,jdbcType=SMALLINT}, #{lockTimeout,jdbcType=INTEGER}, 
      #{deadlockPriority,jdbcType=INTEGER}, #{rowCount,jdbcType=BIGINT}, #{prevError,jdbcType=INTEGER}, 
      #{nestLevel,jdbcType=INTEGER}, #{grantedQueryMemory,jdbcType=INTEGER}, #{executingManagedCode,jdbcType=BIT}, 
      #{groupId,jdbcType=INTEGER}, #{statementContextId,jdbcType=BIGINT}, #{sqlHandle,jdbcType=VARBINARY}, 
      #{planHandle,jdbcType=VARBINARY}, #{contextInfo,jdbcType=VARBINARY}, #{taskAddress,jdbcType=VARBINARY}, 
      #{queryHash,jdbcType=BINARY}, #{queryPlanHash,jdbcType=BINARY}, #{statementSqlHandle,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecRequestsWithBLOBs" >
    insert into dm_exec_requests
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="statementStartOffset != null" >
        statement_start_offset,
      </if>
      <if test="statementEndOffset != null" >
        statement_end_offset,
      </if>
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="connectionId != null" >
        connection_id,
      </if>
      <if test="blockingSessionId != null" >
        blocking_session_id,
      </if>
      <if test="waitType != null" >
        wait_type,
      </if>
      <if test="waitTime != null" >
        wait_time,
      </if>
      <if test="lastWaitType != null" >
        last_wait_type,
      </if>
      <if test="waitResource != null" >
        wait_resource,
      </if>
      <if test="openTransactionCount != null" >
        open_transaction_count,
      </if>
      <if test="openResultsetCount != null" >
        open_resultset_count,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="percentComplete != null" >
        percent_complete,
      </if>
      <if test="estimatedCompletionTime != null" >
        estimated_completion_time,
      </if>
      <if test="cpuTime != null" >
        cpu_time,
      </if>
      <if test="totalElapsedTime != null" >
        total_elapsed_time,
      </if>
      <if test="schedulerId != null" >
        scheduler_id,
      </if>
      <if test="reads != null" >
        reads,
      </if>
      <if test="writes != null" >
        writes,
      </if>
      <if test="logicalReads != null" >
        logical_reads,
      </if>
      <if test="textSize != null" >
        text_size,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="dateFormat != null" >
        date_format,
      </if>
      <if test="dateFirst != null" >
        date_first,
      </if>
      <if test="quotedIdentifier != null" >
        quoted_identifier,
      </if>
      <if test="arithabort != null" >
        arithabort,
      </if>
      <if test="ansiNullDfltOn != null" >
        ansi_null_dflt_on,
      </if>
      <if test="ansiDefaults != null" >
        ansi_defaults,
      </if>
      <if test="ansiWarnings != null" >
        ansi_warnings,
      </if>
      <if test="ansiPadding != null" >
        ansi_padding,
      </if>
      <if test="ansiNulls != null" >
        ansi_nulls,
      </if>
      <if test="concatNullYieldsNull != null" >
        concat_null_yields_null,
      </if>
      <if test="transactionIsolationLevel != null" >
        transaction_isolation_level,
      </if>
      <if test="lockTimeout != null" >
        lock_timeout,
      </if>
      <if test="deadlockPriority != null" >
        deadlock_priority,
      </if>
      <if test="rowCount != null" >
        row_count,
      </if>
      <if test="prevError != null" >
        prev_error,
      </if>
      <if test="nestLevel != null" >
        nest_level,
      </if>
      <if test="grantedQueryMemory != null" >
        granted_query_memory,
      </if>
      <if test="executingManagedCode != null" >
        executing_managed_code,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="statementContextId != null" >
        statement_context_id,
      </if>
      <if test="sqlHandle != null" >
        sql_handle,
      </if>
      <if test="planHandle != null" >
        plan_handle,
      </if>
      <if test="contextInfo != null" >
        context_info,
      </if>
      <if test="taskAddress != null" >
        task_address,
      </if>
      <if test="queryHash != null" >
        query_hash,
      </if>
      <if test="queryPlanHash != null" >
        query_plan_hash,
      </if>
      <if test="statementSqlHandle != null" >
        statement_sql_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        #{sessionId,jdbcType=SMALLINT},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="command != null" >
        #{command,jdbcType=NVARCHAR},
      </if>
      <if test="statementStartOffset != null" >
        #{statementStartOffset,jdbcType=INTEGER},
      </if>
      <if test="statementEndOffset != null" >
        #{statementEndOffset,jdbcType=INTEGER},
      </if>
      <if test="databaseId != null" >
        #{databaseId,jdbcType=SMALLINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="connectionId != null" >
        #{connectionId,jdbcType=CHAR},
      </if>
      <if test="blockingSessionId != null" >
        #{blockingSessionId,jdbcType=SMALLINT},
      </if>
      <if test="waitType != null" >
        #{waitType,jdbcType=NVARCHAR},
      </if>
      <if test="waitTime != null" >
        #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="lastWaitType != null" >
        #{lastWaitType,jdbcType=NVARCHAR},
      </if>
      <if test="waitResource != null" >
        #{waitResource,jdbcType=NVARCHAR},
      </if>
      <if test="openTransactionCount != null" >
        #{openTransactionCount,jdbcType=INTEGER},
      </if>
      <if test="openResultsetCount != null" >
        #{openResultsetCount,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=BIGINT},
      </if>
      <if test="percentComplete != null" >
        #{percentComplete,jdbcType=REAL},
      </if>
      <if test="estimatedCompletionTime != null" >
        #{estimatedCompletionTime,jdbcType=BIGINT},
      </if>
      <if test="cpuTime != null" >
        #{cpuTime,jdbcType=INTEGER},
      </if>
      <if test="totalElapsedTime != null" >
        #{totalElapsedTime,jdbcType=INTEGER},
      </if>
      <if test="schedulerId != null" >
        #{schedulerId,jdbcType=INTEGER},
      </if>
      <if test="reads != null" >
        #{reads,jdbcType=BIGINT},
      </if>
      <if test="writes != null" >
        #{writes,jdbcType=BIGINT},
      </if>
      <if test="logicalReads != null" >
        #{logicalReads,jdbcType=BIGINT},
      </if>
      <if test="textSize != null" >
        #{textSize,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=NVARCHAR},
      </if>
      <if test="dateFormat != null" >
        #{dateFormat,jdbcType=NVARCHAR},
      </if>
      <if test="dateFirst != null" >
        #{dateFirst,jdbcType=SMALLINT},
      </if>
      <if test="quotedIdentifier != null" >
        #{quotedIdentifier,jdbcType=BIT},
      </if>
      <if test="arithabort != null" >
        #{arithabort,jdbcType=BIT},
      </if>
      <if test="ansiNullDfltOn != null" >
        #{ansiNullDfltOn,jdbcType=BIT},
      </if>
      <if test="ansiDefaults != null" >
        #{ansiDefaults,jdbcType=BIT},
      </if>
      <if test="ansiWarnings != null" >
        #{ansiWarnings,jdbcType=BIT},
      </if>
      <if test="ansiPadding != null" >
        #{ansiPadding,jdbcType=BIT},
      </if>
      <if test="ansiNulls != null" >
        #{ansiNulls,jdbcType=BIT},
      </if>
      <if test="concatNullYieldsNull != null" >
        #{concatNullYieldsNull,jdbcType=BIT},
      </if>
      <if test="transactionIsolationLevel != null" >
        #{transactionIsolationLevel,jdbcType=SMALLINT},
      </if>
      <if test="lockTimeout != null" >
        #{lockTimeout,jdbcType=INTEGER},
      </if>
      <if test="deadlockPriority != null" >
        #{deadlockPriority,jdbcType=INTEGER},
      </if>
      <if test="rowCount != null" >
        #{rowCount,jdbcType=BIGINT},
      </if>
      <if test="prevError != null" >
        #{prevError,jdbcType=INTEGER},
      </if>
      <if test="nestLevel != null" >
        #{nestLevel,jdbcType=INTEGER},
      </if>
      <if test="grantedQueryMemory != null" >
        #{grantedQueryMemory,jdbcType=INTEGER},
      </if>
      <if test="executingManagedCode != null" >
        #{executingManagedCode,jdbcType=BIT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="statementContextId != null" >
        #{statementContextId,jdbcType=BIGINT},
      </if>
      <if test="sqlHandle != null" >
        #{sqlHandle,jdbcType=VARBINARY},
      </if>
      <if test="planHandle != null" >
        #{planHandle,jdbcType=VARBINARY},
      </if>
      <if test="contextInfo != null" >
        #{contextInfo,jdbcType=VARBINARY},
      </if>
      <if test="taskAddress != null" >
        #{taskAddress,jdbcType=VARBINARY},
      </if>
      <if test="queryHash != null" >
        #{queryHash,jdbcType=BINARY},
      </if>
      <if test="queryPlanHash != null" >
        #{queryPlanHash,jdbcType=BINARY},
      </if>
      <if test="statementSqlHandle != null" >
        #{statementSqlHandle,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>