<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecQueryResourceSemaphoresMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryResourceSemaphores" >
    <result column="resource_semaphore_id" property="resourceSemaphoreId" jdbcType="SMALLINT" />
    <result column="target_memory_kb" property="targetMemoryKb" jdbcType="BIGINT" />
    <result column="max_target_memory_kb" property="maxTargetMemoryKb" jdbcType="BIGINT" />
    <result column="total_memory_kb" property="totalMemoryKb" jdbcType="BIGINT" />
    <result column="available_memory_kb" property="availableMemoryKb" jdbcType="BIGINT" />
    <result column="granted_memory_kb" property="grantedMemoryKb" jdbcType="BIGINT" />
    <result column="used_memory_kb" property="usedMemoryKb" jdbcType="BIGINT" />
    <result column="grantee_count" property="granteeCount" jdbcType="INTEGER" />
    <result column="waiter_count" property="waiterCount" jdbcType="INTEGER" />
    <result column="timeout_error_count" property="timeoutErrorCount" jdbcType="BIGINT" />
    <result column="forced_grant_count" property="forcedGrantCount" jdbcType="BIGINT" />
    <result column="pool_id" property="poolId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryResourceSemaphores" >
    insert into dm_exec_query_resource_semaphores (resource_semaphore_id, target_memory_kb, 
      max_target_memory_kb, total_memory_kb, available_memory_kb, 
      granted_memory_kb, used_memory_kb, grantee_count, 
      waiter_count, timeout_error_count, forced_grant_count, 
      pool_id)
    values (#{resourceSemaphoreId,jdbcType=SMALLINT}, #{targetMemoryKb,jdbcType=BIGINT}, 
      #{maxTargetMemoryKb,jdbcType=BIGINT}, #{totalMemoryKb,jdbcType=BIGINT}, #{availableMemoryKb,jdbcType=BIGINT}, 
      #{grantedMemoryKb,jdbcType=BIGINT}, #{usedMemoryKb,jdbcType=BIGINT}, #{granteeCount,jdbcType=INTEGER}, 
      #{waiterCount,jdbcType=INTEGER}, #{timeoutErrorCount,jdbcType=BIGINT}, #{forcedGrantCount,jdbcType=BIGINT}, 
      #{poolId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryResourceSemaphores" >
    insert into dm_exec_query_resource_semaphores
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceSemaphoreId != null" >
        resource_semaphore_id,
      </if>
      <if test="targetMemoryKb != null" >
        target_memory_kb,
      </if>
      <if test="maxTargetMemoryKb != null" >
        max_target_memory_kb,
      </if>
      <if test="totalMemoryKb != null" >
        total_memory_kb,
      </if>
      <if test="availableMemoryKb != null" >
        available_memory_kb,
      </if>
      <if test="grantedMemoryKb != null" >
        granted_memory_kb,
      </if>
      <if test="usedMemoryKb != null" >
        used_memory_kb,
      </if>
      <if test="granteeCount != null" >
        grantee_count,
      </if>
      <if test="waiterCount != null" >
        waiter_count,
      </if>
      <if test="timeoutErrorCount != null" >
        timeout_error_count,
      </if>
      <if test="forcedGrantCount != null" >
        forced_grant_count,
      </if>
      <if test="poolId != null" >
        pool_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceSemaphoreId != null" >
        #{resourceSemaphoreId,jdbcType=SMALLINT},
      </if>
      <if test="targetMemoryKb != null" >
        #{targetMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="maxTargetMemoryKb != null" >
        #{maxTargetMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="totalMemoryKb != null" >
        #{totalMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="availableMemoryKb != null" >
        #{availableMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="grantedMemoryKb != null" >
        #{grantedMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="usedMemoryKb != null" >
        #{usedMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="granteeCount != null" >
        #{granteeCount,jdbcType=INTEGER},
      </if>
      <if test="waiterCount != null" >
        #{waiterCount,jdbcType=INTEGER},
      </if>
      <if test="timeoutErrorCount != null" >
        #{timeoutErrorCount,jdbcType=BIGINT},
      </if>
      <if test="forcedGrantCount != null" >
        #{forcedGrantCount,jdbcType=BIGINT},
      </if>
      <if test="poolId != null" >
        #{poolId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>