<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecDescribeFirstResultSetMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecDescribeFirstResultSet" >
    <result column="is_hidden" property="isHidden" jdbcType="BIT" />
    <result column="column_ordinal" property="columnOrdinal" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="is_nullable" property="isNullable" jdbcType="BIT" />
    <result column="system_type_id" property="systemTypeId" jdbcType="INTEGER" />
    <result column="system_type_name" property="systemTypeName" jdbcType="NVARCHAR" />
    <result column="max_length" property="maxLength" jdbcType="SMALLINT" />
    <result column="precision" property="precision" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collation_name" property="collationName" jdbcType="NVARCHAR" />
    <result column="user_type_id" property="userTypeId" jdbcType="INTEGER" />
    <result column="user_type_database" property="userTypeDatabase" jdbcType="NVARCHAR" />
    <result column="user_type_schema" property="userTypeSchema" jdbcType="NVARCHAR" />
    <result column="user_type_name" property="userTypeName" jdbcType="NVARCHAR" />
    <result column="assembly_qualified_type_name" property="assemblyQualifiedTypeName" jdbcType="NVARCHAR" />
    <result column="xml_collection_id" property="xmlCollectionId" jdbcType="INTEGER" />
    <result column="xml_collection_database" property="xmlCollectionDatabase" jdbcType="NVARCHAR" />
    <result column="xml_collection_schema" property="xmlCollectionSchema" jdbcType="NVARCHAR" />
    <result column="xml_collection_name" property="xmlCollectionName" jdbcType="NVARCHAR" />
    <result column="is_xml_document" property="isXmlDocument" jdbcType="BIT" />
    <result column="is_case_sensitive" property="isCaseSensitive" jdbcType="BIT" />
    <result column="is_fixed_length_clr_type" property="isFixedLengthClrType" jdbcType="BIT" />
    <result column="source_server" property="sourceServer" jdbcType="NVARCHAR" />
    <result column="source_database" property="sourceDatabase" jdbcType="NVARCHAR" />
    <result column="source_schema" property="sourceSchema" jdbcType="NVARCHAR" />
    <result column="source_table" property="sourceTable" jdbcType="NVARCHAR" />
    <result column="source_column" property="sourceColumn" jdbcType="NVARCHAR" />
    <result column="is_identity_column" property="isIdentityColumn" jdbcType="BIT" />
    <result column="is_part_of_unique_key" property="isPartOfUniqueKey" jdbcType="BIT" />
    <result column="is_updateable" property="isUpdateable" jdbcType="BIT" />
    <result column="is_computed_column" property="isComputedColumn" jdbcType="BIT" />
    <result column="is_sparse_column_set" property="isSparseColumnSet" jdbcType="BIT" />
    <result column="ordinal_in_order_by_list" property="ordinalInOrderByList" jdbcType="SMALLINT" />
    <result column="order_by_is_descending" property="orderByIsDescending" jdbcType="BIT" />
    <result column="order_by_list_length" property="orderByListLength" jdbcType="SMALLINT" />
    <result column="error_number" property="errorNumber" jdbcType="INTEGER" />
    <result column="error_severity" property="errorSeverity" jdbcType="INTEGER" />
    <result column="error_state" property="errorState" jdbcType="INTEGER" />
    <result column="error_message" property="errorMessage" jdbcType="NVARCHAR" />
    <result column="error_type" property="errorType" jdbcType="INTEGER" />
    <result column="error_type_desc" property="errorTypeDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecDescribeFirstResultSet" >
    insert into dm_exec_describe_first_result_set (is_hidden, column_ordinal, name, 
      is_nullable, system_type_id, system_type_name, 
      max_length, precision, scale, 
      collation_name, user_type_id, user_type_database, 
      user_type_schema, user_type_name, assembly_qualified_type_name, 
      xml_collection_id, xml_collection_database, 
      xml_collection_schema, xml_collection_name, 
      is_xml_document, is_case_sensitive, is_fixed_length_clr_type, 
      source_server, source_database, source_schema, 
      source_table, source_column, is_identity_column, 
      is_part_of_unique_key, is_updateable, is_computed_column, 
      is_sparse_column_set, ordinal_in_order_by_list, order_by_is_descending, 
      order_by_list_length, error_number, error_severity, 
      error_state, error_message, error_type, 
      error_type_desc)
    values (#{isHidden,jdbcType=BIT}, #{columnOrdinal,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{isNullable,jdbcType=BIT}, #{systemTypeId,jdbcType=INTEGER}, #{systemTypeName,jdbcType=NVARCHAR}, 
      #{maxLength,jdbcType=SMALLINT}, #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, 
      #{collationName,jdbcType=NVARCHAR}, #{userTypeId,jdbcType=INTEGER}, #{userTypeDatabase,jdbcType=NVARCHAR}, 
      #{userTypeSchema,jdbcType=NVARCHAR}, #{userTypeName,jdbcType=NVARCHAR}, #{assemblyQualifiedTypeName,jdbcType=NVARCHAR}, 
      #{xmlCollectionId,jdbcType=INTEGER}, #{xmlCollectionDatabase,jdbcType=NVARCHAR}, 
      #{xmlCollectionSchema,jdbcType=NVARCHAR}, #{xmlCollectionName,jdbcType=NVARCHAR}, 
      #{isXmlDocument,jdbcType=BIT}, #{isCaseSensitive,jdbcType=BIT}, #{isFixedLengthClrType,jdbcType=BIT}, 
      #{sourceServer,jdbcType=NVARCHAR}, #{sourceDatabase,jdbcType=NVARCHAR}, #{sourceSchema,jdbcType=NVARCHAR}, 
      #{sourceTable,jdbcType=NVARCHAR}, #{sourceColumn,jdbcType=NVARCHAR}, #{isIdentityColumn,jdbcType=BIT}, 
      #{isPartOfUniqueKey,jdbcType=BIT}, #{isUpdateable,jdbcType=BIT}, #{isComputedColumn,jdbcType=BIT}, 
      #{isSparseColumnSet,jdbcType=BIT}, #{ordinalInOrderByList,jdbcType=SMALLINT}, #{orderByIsDescending,jdbcType=BIT}, 
      #{orderByListLength,jdbcType=SMALLINT}, #{errorNumber,jdbcType=INTEGER}, #{errorSeverity,jdbcType=INTEGER}, 
      #{errorState,jdbcType=INTEGER}, #{errorMessage,jdbcType=NVARCHAR}, #{errorType,jdbcType=INTEGER}, 
      #{errorTypeDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecDescribeFirstResultSet" >
    insert into dm_exec_describe_first_result_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="isHidden != null" >
        is_hidden,
      </if>
      <if test="columnOrdinal != null" >
        column_ordinal,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isNullable != null" >
        is_nullable,
      </if>
      <if test="systemTypeId != null" >
        system_type_id,
      </if>
      <if test="systemTypeName != null" >
        system_type_name,
      </if>
      <if test="maxLength != null" >
        max_length,
      </if>
      <if test="precision != null" >
        precision,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationName != null" >
        collation_name,
      </if>
      <if test="userTypeId != null" >
        user_type_id,
      </if>
      <if test="userTypeDatabase != null" >
        user_type_database,
      </if>
      <if test="userTypeSchema != null" >
        user_type_schema,
      </if>
      <if test="userTypeName != null" >
        user_type_name,
      </if>
      <if test="assemblyQualifiedTypeName != null" >
        assembly_qualified_type_name,
      </if>
      <if test="xmlCollectionId != null" >
        xml_collection_id,
      </if>
      <if test="xmlCollectionDatabase != null" >
        xml_collection_database,
      </if>
      <if test="xmlCollectionSchema != null" >
        xml_collection_schema,
      </if>
      <if test="xmlCollectionName != null" >
        xml_collection_name,
      </if>
      <if test="isXmlDocument != null" >
        is_xml_document,
      </if>
      <if test="isCaseSensitive != null" >
        is_case_sensitive,
      </if>
      <if test="isFixedLengthClrType != null" >
        is_fixed_length_clr_type,
      </if>
      <if test="sourceServer != null" >
        source_server,
      </if>
      <if test="sourceDatabase != null" >
        source_database,
      </if>
      <if test="sourceSchema != null" >
        source_schema,
      </if>
      <if test="sourceTable != null" >
        source_table,
      </if>
      <if test="sourceColumn != null" >
        source_column,
      </if>
      <if test="isIdentityColumn != null" >
        is_identity_column,
      </if>
      <if test="isPartOfUniqueKey != null" >
        is_part_of_unique_key,
      </if>
      <if test="isUpdateable != null" >
        is_updateable,
      </if>
      <if test="isComputedColumn != null" >
        is_computed_column,
      </if>
      <if test="isSparseColumnSet != null" >
        is_sparse_column_set,
      </if>
      <if test="ordinalInOrderByList != null" >
        ordinal_in_order_by_list,
      </if>
      <if test="orderByIsDescending != null" >
        order_by_is_descending,
      </if>
      <if test="orderByListLength != null" >
        order_by_list_length,
      </if>
      <if test="errorNumber != null" >
        error_number,
      </if>
      <if test="errorSeverity != null" >
        error_severity,
      </if>
      <if test="errorState != null" >
        error_state,
      </if>
      <if test="errorMessage != null" >
        error_message,
      </if>
      <if test="errorType != null" >
        error_type,
      </if>
      <if test="errorTypeDesc != null" >
        error_type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="isHidden != null" >
        #{isHidden,jdbcType=BIT},
      </if>
      <if test="columnOrdinal != null" >
        #{columnOrdinal,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="isNullable != null" >
        #{isNullable,jdbcType=BIT},
      </if>
      <if test="systemTypeId != null" >
        #{systemTypeId,jdbcType=INTEGER},
      </if>
      <if test="systemTypeName != null" >
        #{systemTypeName,jdbcType=NVARCHAR},
      </if>
      <if test="maxLength != null" >
        #{maxLength,jdbcType=SMALLINT},
      </if>
      <if test="precision != null" >
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationName != null" >
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="userTypeDatabase != null" >
        #{userTypeDatabase,jdbcType=NVARCHAR},
      </if>
      <if test="userTypeSchema != null" >
        #{userTypeSchema,jdbcType=NVARCHAR},
      </if>
      <if test="userTypeName != null" >
        #{userTypeName,jdbcType=NVARCHAR},
      </if>
      <if test="assemblyQualifiedTypeName != null" >
        #{assemblyQualifiedTypeName,jdbcType=NVARCHAR},
      </if>
      <if test="xmlCollectionId != null" >
        #{xmlCollectionId,jdbcType=INTEGER},
      </if>
      <if test="xmlCollectionDatabase != null" >
        #{xmlCollectionDatabase,jdbcType=NVARCHAR},
      </if>
      <if test="xmlCollectionSchema != null" >
        #{xmlCollectionSchema,jdbcType=NVARCHAR},
      </if>
      <if test="xmlCollectionName != null" >
        #{xmlCollectionName,jdbcType=NVARCHAR},
      </if>
      <if test="isXmlDocument != null" >
        #{isXmlDocument,jdbcType=BIT},
      </if>
      <if test="isCaseSensitive != null" >
        #{isCaseSensitive,jdbcType=BIT},
      </if>
      <if test="isFixedLengthClrType != null" >
        #{isFixedLengthClrType,jdbcType=BIT},
      </if>
      <if test="sourceServer != null" >
        #{sourceServer,jdbcType=NVARCHAR},
      </if>
      <if test="sourceDatabase != null" >
        #{sourceDatabase,jdbcType=NVARCHAR},
      </if>
      <if test="sourceSchema != null" >
        #{sourceSchema,jdbcType=NVARCHAR},
      </if>
      <if test="sourceTable != null" >
        #{sourceTable,jdbcType=NVARCHAR},
      </if>
      <if test="sourceColumn != null" >
        #{sourceColumn,jdbcType=NVARCHAR},
      </if>
      <if test="isIdentityColumn != null" >
        #{isIdentityColumn,jdbcType=BIT},
      </if>
      <if test="isPartOfUniqueKey != null" >
        #{isPartOfUniqueKey,jdbcType=BIT},
      </if>
      <if test="isUpdateable != null" >
        #{isUpdateable,jdbcType=BIT},
      </if>
      <if test="isComputedColumn != null" >
        #{isComputedColumn,jdbcType=BIT},
      </if>
      <if test="isSparseColumnSet != null" >
        #{isSparseColumnSet,jdbcType=BIT},
      </if>
      <if test="ordinalInOrderByList != null" >
        #{ordinalInOrderByList,jdbcType=SMALLINT},
      </if>
      <if test="orderByIsDescending != null" >
        #{orderByIsDescending,jdbcType=BIT},
      </if>
      <if test="orderByListLength != null" >
        #{orderByListLength,jdbcType=SMALLINT},
      </if>
      <if test="errorNumber != null" >
        #{errorNumber,jdbcType=INTEGER},
      </if>
      <if test="errorSeverity != null" >
        #{errorSeverity,jdbcType=INTEGER},
      </if>
      <if test="errorState != null" >
        #{errorState,jdbcType=INTEGER},
      </if>
      <if test="errorMessage != null" >
        #{errorMessage,jdbcType=NVARCHAR},
      </if>
      <if test="errorType != null" >
        #{errorType,jdbcType=INTEGER},
      </if>
      <if test="errorTypeDesc != null" >
        #{errorTypeDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>