<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecQueryTransformationStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryTransformationStats" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="promise_total" property="promiseTotal" jdbcType="BIGINT" />
    <result column="promise_avg" property="promiseAvg" jdbcType="DOUBLE" />
    <result column="promised" property="promised" jdbcType="BIGINT" />
    <result column="built_substitute" property="builtSubstitute" jdbcType="BIGINT" />
    <result column="succeeded" property="succeeded" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryTransformationStats" >
    insert into dm_exec_query_transformation_stats (name, promise_total, promise_avg, 
      promised, built_substitute, succeeded
      )
    values (#{name,jdbcType=VARCHAR}, #{promiseTotal,jdbcType=BIGINT}, #{promiseAvg,jdbcType=DOUBLE}, 
      #{promised,jdbcType=BIGINT}, #{builtSubstitute,jdbcType=BIGINT}, #{succeeded,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryTransformationStats" >
    insert into dm_exec_query_transformation_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="promiseTotal != null" >
        promise_total,
      </if>
      <if test="promiseAvg != null" >
        promise_avg,
      </if>
      <if test="promised != null" >
        promised,
      </if>
      <if test="builtSubstitute != null" >
        built_substitute,
      </if>
      <if test="succeeded != null" >
        succeeded,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="promiseTotal != null" >
        #{promiseTotal,jdbcType=BIGINT},
      </if>
      <if test="promiseAvg != null" >
        #{promiseAvg,jdbcType=DOUBLE},
      </if>
      <if test="promised != null" >
        #{promised,jdbcType=BIGINT},
      </if>
      <if test="builtSubstitute != null" >
        #{builtSubstitute,jdbcType=BIGINT},
      </if>
      <if test="succeeded != null" >
        #{succeeded,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>