<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmExecQueryPlanMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryPlan" >
    <result column="dbid" property="dbid" jdbcType="SMALLINT" />
    <result column="objectid" property="objectid" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="SMALLINT" />
    <result column="encrypted" property="encrypted" jdbcType="BIT" />
    <result column="query_plan" property="queryPlan" jdbcType="LONGNVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryPlan" >
    insert into dm_exec_query_plan (dbid, objectid, number, 
      encrypted, query_plan)
    values (#{dbid,jdbcType=SMALLINT}, #{objectid,jdbcType=INTEGER}, #{number,jdbcType=SMALLINT}, 
      #{encrypted,jdbcType=BIT}, #{queryPlan,jdbcType=LONGNVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmExecQueryPlan" >
    insert into dm_exec_query_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="objectid != null" >
        objectid,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="encrypted != null" >
        encrypted,
      </if>
      <if test="queryPlan != null" >
        query_plan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="objectid != null" >
        #{objectid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=SMALLINT},
      </if>
      <if test="encrypted != null" >
        #{encrypted,jdbcType=BIT},
      </if>
      <if test="queryPlan != null" >
        #{queryPlan,jdbcType=LONGNVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>