<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFilestreamFileIoRequestsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamFileIoRequests" >
    <result column="current_spid" property="currentSpid" jdbcType="SMALLINT" />
    <result column="request_type" property="requestType" jdbcType="NVARCHAR" />
    <result column="request_state" property="requestState" jdbcType="NVARCHAR" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
    <result column="irp_id" property="irpId" jdbcType="INTEGER" />
    <result column="handle_id" property="handleId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamFileIoRequestsWithBLOBs" extends="BaseResultMap" >
    <result column="request_context_address" property="requestContextAddress" jdbcType="VARBINARY" />
    <result column="client_thread_id" property="clientThreadId" jdbcType="VARBINARY" />
    <result column="client_process_id" property="clientProcessId" jdbcType="VARBINARY" />
    <result column="handle_context_address" property="handleContextAddress" jdbcType="VARBINARY" />
    <result column="filestream_transaction_id" property="filestreamTransactionId" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    request_context_address, client_thread_id, client_process_id, handle_context_address, 
    filestream_transaction_id
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamFileIoRequestsWithBLOBs" >
    insert into dm_filestream_file_io_requests (current_spid, request_type, request_state, 
      request_id, irp_id, handle_id, 
      request_context_address, client_thread_id, 
      client_process_id, handle_context_address, 
      filestream_transaction_id)
    values (#{currentSpid,jdbcType=SMALLINT}, #{requestType,jdbcType=NVARCHAR}, #{requestState,jdbcType=NVARCHAR}, 
      #{requestId,jdbcType=INTEGER}, #{irpId,jdbcType=INTEGER}, #{handleId,jdbcType=INTEGER}, 
      #{requestContextAddress,jdbcType=VARBINARY}, #{clientThreadId,jdbcType=VARBINARY}, 
      #{clientProcessId,jdbcType=VARBINARY}, #{handleContextAddress,jdbcType=VARBINARY}, 
      #{filestreamTransactionId,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamFileIoRequestsWithBLOBs" >
    insert into dm_filestream_file_io_requests
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="currentSpid != null" >
        current_spid,
      </if>
      <if test="requestType != null" >
        request_type,
      </if>
      <if test="requestState != null" >
        request_state,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="irpId != null" >
        irp_id,
      </if>
      <if test="handleId != null" >
        handle_id,
      </if>
      <if test="requestContextAddress != null" >
        request_context_address,
      </if>
      <if test="clientThreadId != null" >
        client_thread_id,
      </if>
      <if test="clientProcessId != null" >
        client_process_id,
      </if>
      <if test="handleContextAddress != null" >
        handle_context_address,
      </if>
      <if test="filestreamTransactionId != null" >
        filestream_transaction_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="currentSpid != null" >
        #{currentSpid,jdbcType=SMALLINT},
      </if>
      <if test="requestType != null" >
        #{requestType,jdbcType=NVARCHAR},
      </if>
      <if test="requestState != null" >
        #{requestState,jdbcType=NVARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="irpId != null" >
        #{irpId,jdbcType=INTEGER},
      </if>
      <if test="handleId != null" >
        #{handleId,jdbcType=INTEGER},
      </if>
      <if test="requestContextAddress != null" >
        #{requestContextAddress,jdbcType=VARBINARY},
      </if>
      <if test="clientThreadId != null" >
        #{clientThreadId,jdbcType=VARBINARY},
      </if>
      <if test="clientProcessId != null" >
        #{clientProcessId,jdbcType=VARBINARY},
      </if>
      <if test="handleContextAddress != null" >
        #{handleContextAddress,jdbcType=VARBINARY},
      </if>
      <if test="filestreamTransactionId != null" >
        #{filestreamTransactionId,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>