<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFilestreamNonTransactedHandlesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamNonTransactedHandles" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="handle_id" property="handleId" jdbcType="INTEGER" />
    <result column="file_object_type" property="fileObjectType" jdbcType="INTEGER" />
    <result column="file_object_type_desc" property="fileObjectTypeDesc" jdbcType="NVARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="state_desc" property="stateDesc" jdbcType="NVARCHAR" />
    <result column="current_workitem_type" property="currentWorkitemType" jdbcType="INTEGER" />
    <result column="current_workitem_type_desc" property="currentWorkitemTypeDesc" jdbcType="NVARCHAR" />
    <result column="fcb_id" property="fcbId" jdbcType="BIGINT" />
    <result column="is_directory" property="isDirectory" jdbcType="BIT" />
    <result column="item_name" property="itemName" jdbcType="NVARCHAR" />
    <result column="opened_file_name" property="openedFileName" jdbcType="NVARCHAR" />
    <result column="database_directory_name" property="databaseDirectoryName" jdbcType="NVARCHAR" />
    <result column="table_directory_name" property="tableDirectoryName" jdbcType="NVARCHAR" />
    <result column="remaining_file_name" property="remainingFileName" jdbcType="NVARCHAR" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="flags" property="flags" jdbcType="INTEGER" />
    <result column="login_id" property="loginId" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="NVARCHAR" />
    <result column="read_access" property="readAccess" jdbcType="BIT" />
    <result column="write_access" property="writeAccess" jdbcType="BIT" />
    <result column="delete_access" property="deleteAccess" jdbcType="BIT" />
    <result column="share_read" property="shareRead" jdbcType="BIT" />
    <result column="share_write" property="shareWrite" jdbcType="BIT" />
    <result column="share_delete" property="shareDelete" jdbcType="BIT" />
    <result column="create_disposition" property="createDisposition" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamNonTransactedHandlesWithBLOBs" extends="BaseResultMap" >
    <result column="correlation_process_id" property="correlationProcessId" jdbcType="VARBINARY" />
    <result column="correlation_thread_id" property="correlationThreadId" jdbcType="VARBINARY" />
    <result column="file_context" property="fileContext" jdbcType="VARBINARY" />
    <result column="item_id" property="itemId" jdbcType="VARBINARY" />
    <result column="login_sid" property="loginSid" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    correlation_process_id, correlation_thread_id, file_context, item_id, login_sid
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamNonTransactedHandlesWithBLOBs" >
    insert into dm_filestream_non_transacted_handles (database_id, object_id, handle_id, 
      file_object_type, file_object_type_desc, state, 
      state_desc, current_workitem_type, current_workitem_type_desc, 
      fcb_id, is_directory, item_name, 
      opened_file_name, database_directory_name, 
      table_directory_name, remaining_file_name, 
      open_time, flags, login_id, 
      login_name, read_access, write_access, 
      delete_access, share_read, share_write, 
      share_delete, create_disposition, correlation_process_id, 
      correlation_thread_id, file_context, item_id, 
      login_sid)
    values (#{databaseId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, #{handleId,jdbcType=INTEGER}, 
      #{fileObjectType,jdbcType=INTEGER}, #{fileObjectTypeDesc,jdbcType=NVARCHAR}, #{state,jdbcType=INTEGER}, 
      #{stateDesc,jdbcType=NVARCHAR}, #{currentWorkitemType,jdbcType=INTEGER}, #{currentWorkitemTypeDesc,jdbcType=NVARCHAR}, 
      #{fcbId,jdbcType=BIGINT}, #{isDirectory,jdbcType=BIT}, #{itemName,jdbcType=NVARCHAR}, 
      #{openedFileName,jdbcType=NVARCHAR}, #{databaseDirectoryName,jdbcType=NVARCHAR}, 
      #{tableDirectoryName,jdbcType=NVARCHAR}, #{remainingFileName,jdbcType=NVARCHAR}, 
      #{openTime,jdbcType=TIMESTAMP}, #{flags,jdbcType=INTEGER}, #{loginId,jdbcType=INTEGER}, 
      #{loginName,jdbcType=NVARCHAR}, #{readAccess,jdbcType=BIT}, #{writeAccess,jdbcType=BIT}, 
      #{deleteAccess,jdbcType=BIT}, #{shareRead,jdbcType=BIT}, #{shareWrite,jdbcType=BIT}, 
      #{shareDelete,jdbcType=BIT}, #{createDisposition,jdbcType=INTEGER}, #{correlationProcessId,jdbcType=VARBINARY}, 
      #{correlationThreadId,jdbcType=VARBINARY}, #{fileContext,jdbcType=VARBINARY}, #{itemId,jdbcType=VARBINARY}, 
      #{loginSid,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFilestreamNonTransactedHandlesWithBLOBs" >
    insert into dm_filestream_non_transacted_handles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="handleId != null" >
        handle_id,
      </if>
      <if test="fileObjectType != null" >
        file_object_type,
      </if>
      <if test="fileObjectTypeDesc != null" >
        file_object_type_desc,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateDesc != null" >
        state_desc,
      </if>
      <if test="currentWorkitemType != null" >
        current_workitem_type,
      </if>
      <if test="currentWorkitemTypeDesc != null" >
        current_workitem_type_desc,
      </if>
      <if test="fcbId != null" >
        fcb_id,
      </if>
      <if test="isDirectory != null" >
        is_directory,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="openedFileName != null" >
        opened_file_name,
      </if>
      <if test="databaseDirectoryName != null" >
        database_directory_name,
      </if>
      <if test="tableDirectoryName != null" >
        table_directory_name,
      </if>
      <if test="remainingFileName != null" >
        remaining_file_name,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="flags != null" >
        flags,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="readAccess != null" >
        read_access,
      </if>
      <if test="writeAccess != null" >
        write_access,
      </if>
      <if test="deleteAccess != null" >
        delete_access,
      </if>
      <if test="shareRead != null" >
        share_read,
      </if>
      <if test="shareWrite != null" >
        share_write,
      </if>
      <if test="shareDelete != null" >
        share_delete,
      </if>
      <if test="createDisposition != null" >
        create_disposition,
      </if>
      <if test="correlationProcessId != null" >
        correlation_process_id,
      </if>
      <if test="correlationThreadId != null" >
        correlation_thread_id,
      </if>
      <if test="fileContext != null" >
        file_context,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="loginSid != null" >
        login_sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="handleId != null" >
        #{handleId,jdbcType=INTEGER},
      </if>
      <if test="fileObjectType != null" >
        #{fileObjectType,jdbcType=INTEGER},
      </if>
      <if test="fileObjectTypeDesc != null" >
        #{fileObjectTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="stateDesc != null" >
        #{stateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="currentWorkitemType != null" >
        #{currentWorkitemType,jdbcType=INTEGER},
      </if>
      <if test="currentWorkitemTypeDesc != null" >
        #{currentWorkitemTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="fcbId != null" >
        #{fcbId,jdbcType=BIGINT},
      </if>
      <if test="isDirectory != null" >
        #{isDirectory,jdbcType=BIT},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=NVARCHAR},
      </if>
      <if test="openedFileName != null" >
        #{openedFileName,jdbcType=NVARCHAR},
      </if>
      <if test="databaseDirectoryName != null" >
        #{databaseDirectoryName,jdbcType=NVARCHAR},
      </if>
      <if test="tableDirectoryName != null" >
        #{tableDirectoryName,jdbcType=NVARCHAR},
      </if>
      <if test="remainingFileName != null" >
        #{remainingFileName,jdbcType=NVARCHAR},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flags != null" >
        #{flags,jdbcType=INTEGER},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=NVARCHAR},
      </if>
      <if test="readAccess != null" >
        #{readAccess,jdbcType=BIT},
      </if>
      <if test="writeAccess != null" >
        #{writeAccess,jdbcType=BIT},
      </if>
      <if test="deleteAccess != null" >
        #{deleteAccess,jdbcType=BIT},
      </if>
      <if test="shareRead != null" >
        #{shareRead,jdbcType=BIT},
      </if>
      <if test="shareWrite != null" >
        #{shareWrite,jdbcType=BIT},
      </if>
      <if test="shareDelete != null" >
        #{shareDelete,jdbcType=BIT},
      </if>
      <if test="createDisposition != null" >
        #{createDisposition,jdbcType=INTEGER},
      </if>
      <if test="correlationProcessId != null" >
        #{correlationProcessId,jdbcType=VARBINARY},
      </if>
      <if test="correlationThreadId != null" >
        #{correlationThreadId,jdbcType=VARBINARY},
      </if>
      <if test="fileContext != null" >
        #{fileContext,jdbcType=VARBINARY},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARBINARY},
      </if>
      <if test="loginSid != null" >
        #{loginSid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>