<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFtsIndexPopulationMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexPopulation" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="catalog_id" property="catalogId" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="population_type" property="populationType" jdbcType="INTEGER" />
    <result column="population_type_description" property="populationTypeDescription" jdbcType="NVARCHAR" />
    <result column="is_clustered_index_scan" property="isClusteredIndexScan" jdbcType="BIT" />
    <result column="range_count" property="rangeCount" jdbcType="INTEGER" />
    <result column="completed_range_count" property="completedRangeCount" jdbcType="INTEGER" />
    <result column="outstanding_batch_count" property="outstandingBatchCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_description" property="statusDescription" jdbcType="NVARCHAR" />
    <result column="completion_type" property="completionType" jdbcType="INTEGER" />
    <result column="completion_type_description" property="completionTypeDescription" jdbcType="NVARCHAR" />
    <result column="worker_count" property="workerCount" jdbcType="INTEGER" />
    <result column="queued_population_type" property="queuedPopulationType" jdbcType="INTEGER" />
    <result column="queued_population_type_description" property="queuedPopulationTypeDescription" jdbcType="NVARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexPopulationWithBLOBs" extends="BaseResultMap" >
    <result column="memory_address" property="memoryAddress" jdbcType="VARBINARY" />
    <result column="incremental_timestamp" property="incrementalTimestamp" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_address, incremental_timestamp
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexPopulationWithBLOBs" >
    insert into dm_fts_index_population (database_id, catalog_id, table_id, 
      population_type, population_type_description, 
      is_clustered_index_scan, range_count, completed_range_count, 
      outstanding_batch_count, status, status_description, 
      completion_type, completion_type_description, 
      worker_count, queued_population_type, queued_population_type_description, 
      start_time, memory_address, incremental_timestamp
      )
    values (#{databaseId,jdbcType=INTEGER}, #{catalogId,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, 
      #{populationType,jdbcType=INTEGER}, #{populationTypeDescription,jdbcType=NVARCHAR}, 
      #{isClusteredIndexScan,jdbcType=BIT}, #{rangeCount,jdbcType=INTEGER}, #{completedRangeCount,jdbcType=INTEGER}, 
      #{outstandingBatchCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{statusDescription,jdbcType=NVARCHAR}, 
      #{completionType,jdbcType=INTEGER}, #{completionTypeDescription,jdbcType=NVARCHAR}, 
      #{workerCount,jdbcType=INTEGER}, #{queuedPopulationType,jdbcType=INTEGER}, #{queuedPopulationTypeDescription,jdbcType=NVARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{memoryAddress,jdbcType=VARBINARY}, #{incrementalTimestamp,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexPopulationWithBLOBs" >
    insert into dm_fts_index_population
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="populationType != null" >
        population_type,
      </if>
      <if test="populationTypeDescription != null" >
        population_type_description,
      </if>
      <if test="isClusteredIndexScan != null" >
        is_clustered_index_scan,
      </if>
      <if test="rangeCount != null" >
        range_count,
      </if>
      <if test="completedRangeCount != null" >
        completed_range_count,
      </if>
      <if test="outstandingBatchCount != null" >
        outstanding_batch_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusDescription != null" >
        status_description,
      </if>
      <if test="completionType != null" >
        completion_type,
      </if>
      <if test="completionTypeDescription != null" >
        completion_type_description,
      </if>
      <if test="workerCount != null" >
        worker_count,
      </if>
      <if test="queuedPopulationType != null" >
        queued_population_type,
      </if>
      <if test="queuedPopulationTypeDescription != null" >
        queued_population_type_description,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="memoryAddress != null" >
        memory_address,
      </if>
      <if test="incrementalTimestamp != null" >
        incremental_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="populationType != null" >
        #{populationType,jdbcType=INTEGER},
      </if>
      <if test="populationTypeDescription != null" >
        #{populationTypeDescription,jdbcType=NVARCHAR},
      </if>
      <if test="isClusteredIndexScan != null" >
        #{isClusteredIndexScan,jdbcType=BIT},
      </if>
      <if test="rangeCount != null" >
        #{rangeCount,jdbcType=INTEGER},
      </if>
      <if test="completedRangeCount != null" >
        #{completedRangeCount,jdbcType=INTEGER},
      </if>
      <if test="outstandingBatchCount != null" >
        #{outstandingBatchCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="statusDescription != null" >
        #{statusDescription,jdbcType=NVARCHAR},
      </if>
      <if test="completionType != null" >
        #{completionType,jdbcType=INTEGER},
      </if>
      <if test="completionTypeDescription != null" >
        #{completionTypeDescription,jdbcType=NVARCHAR},
      </if>
      <if test="workerCount != null" >
        #{workerCount,jdbcType=INTEGER},
      </if>
      <if test="queuedPopulationType != null" >
        #{queuedPopulationType,jdbcType=INTEGER},
      </if>
      <if test="queuedPopulationTypeDescription != null" >
        #{queuedPopulationTypeDescription,jdbcType=NVARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memoryAddress != null" >
        #{memoryAddress,jdbcType=VARBINARY},
      </if>
      <if test="incrementalTimestamp != null" >
        #{incrementalTimestamp,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>