<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFtsOutstandingBatchesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsOutstandingBatches" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="catalog_id" property="catalogId" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="batch_id" property="batchId" jdbcType="INTEGER" />
    <result column="hr_batch" property="hrBatch" jdbcType="INTEGER" />
    <result column="is_retry_batch" property="isRetryBatch" jdbcType="BIT" />
    <result column="retry_hints" property="retryHints" jdbcType="INTEGER" />
    <result column="retry_hints_description" property="retryHintsDescription" jdbcType="NVARCHAR" />
    <result column="doc_failed" property="docFailed" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsOutstandingBatchesWithBLOBs" extends="BaseResultMap" >
    <result column="memory_address" property="memoryAddress" jdbcType="VARBINARY" />
    <result column="crawl_memory_address" property="crawlMemoryAddress" jdbcType="VARBINARY" />
    <result column="memregion_memory_address" property="memregionMemoryAddress" jdbcType="VARBINARY" />
    <result column="batch_timestamp" property="batchTimestamp" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_address, crawl_memory_address, memregion_memory_address, batch_timestamp
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsOutstandingBatchesWithBLOBs" >
    insert into dm_fts_outstanding_batches (database_id, catalog_id, table_id, 
      batch_id, hr_batch, is_retry_batch, 
      retry_hints, retry_hints_description, doc_failed, 
      memory_address, crawl_memory_address, 
      memregion_memory_address, batch_timestamp
      )
    values (#{databaseId,jdbcType=INTEGER}, #{catalogId,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, 
      #{batchId,jdbcType=INTEGER}, #{hrBatch,jdbcType=INTEGER}, #{isRetryBatch,jdbcType=BIT}, 
      #{retryHints,jdbcType=INTEGER}, #{retryHintsDescription,jdbcType=NVARCHAR}, #{docFailed,jdbcType=BIGINT}, 
      #{memoryAddress,jdbcType=VARBINARY}, #{crawlMemoryAddress,jdbcType=VARBINARY}, 
      #{memregionMemoryAddress,jdbcType=VARBINARY}, #{batchTimestamp,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsOutstandingBatchesWithBLOBs" >
    insert into dm_fts_outstanding_batches
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
      <if test="hrBatch != null" >
        hr_batch,
      </if>
      <if test="isRetryBatch != null" >
        is_retry_batch,
      </if>
      <if test="retryHints != null" >
        retry_hints,
      </if>
      <if test="retryHintsDescription != null" >
        retry_hints_description,
      </if>
      <if test="docFailed != null" >
        doc_failed,
      </if>
      <if test="memoryAddress != null" >
        memory_address,
      </if>
      <if test="crawlMemoryAddress != null" >
        crawl_memory_address,
      </if>
      <if test="memregionMemoryAddress != null" >
        memregion_memory_address,
      </if>
      <if test="batchTimestamp != null" >
        batch_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="hrBatch != null" >
        #{hrBatch,jdbcType=INTEGER},
      </if>
      <if test="isRetryBatch != null" >
        #{isRetryBatch,jdbcType=BIT},
      </if>
      <if test="retryHints != null" >
        #{retryHints,jdbcType=INTEGER},
      </if>
      <if test="retryHintsDescription != null" >
        #{retryHintsDescription,jdbcType=NVARCHAR},
      </if>
      <if test="docFailed != null" >
        #{docFailed,jdbcType=BIGINT},
      </if>
      <if test="memoryAddress != null" >
        #{memoryAddress,jdbcType=VARBINARY},
      </if>
      <if test="crawlMemoryAddress != null" >
        #{crawlMemoryAddress,jdbcType=VARBINARY},
      </if>
      <if test="memregionMemoryAddress != null" >
        #{memregionMemoryAddress,jdbcType=VARBINARY},
      </if>
      <if test="batchTimestamp != null" >
        #{batchTimestamp,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>