<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFtsIndexKeywordsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywords" >
    <result column="display_term" property="displayTerm" jdbcType="NVARCHAR" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="document_count" property="documentCount" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywords" extends="BaseResultMap" >
    <result column="keyword" property="keyword" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    keyword
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywords" >
    insert into dm_fts_index_keywords (display_term, column_id, document_count, 
      keyword)
    values (#{displayTerm,jdbcType=NVARCHAR}, #{columnId,jdbcType=INTEGER}, #{documentCount,jdbcType=BIGINT}, 
      #{keyword,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywords" >
    insert into dm_fts_index_keywords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="displayTerm != null" >
        display_term,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="documentCount != null" >
        document_count,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="displayTerm != null" >
        #{displayTerm,jdbcType=NVARCHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="documentCount != null" >
        #{documentCount,jdbcType=BIGINT},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>