<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFtsParserMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsParser" >
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="phrase_id" property="phraseId" jdbcType="INTEGER" />
    <result column="occurrence" property="occurrence" jdbcType="INTEGER" />
    <result column="special_term" property="specialTerm" jdbcType="NVARCHAR" />
    <result column="display_term" property="displayTerm" jdbcType="NVARCHAR" />
    <result column="expansion_type" property="expansionType" jdbcType="INTEGER" />
    <result column="source_term" property="sourceTerm" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsParser" extends="BaseResultMap" >
    <result column="keyword" property="keyword" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    keyword
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsParser" >
    insert into dm_fts_parser (group_id, phrase_id, occurrence, 
      special_term, display_term, expansion_type, 
      source_term, keyword)
    values (#{groupId,jdbcType=INTEGER}, #{phraseId,jdbcType=INTEGER}, #{occurrence,jdbcType=INTEGER}, 
      #{specialTerm,jdbcType=NVARCHAR}, #{displayTerm,jdbcType=NVARCHAR}, #{expansionType,jdbcType=INTEGER}, 
      #{sourceTerm,jdbcType=NVARCHAR}, #{keyword,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsParser" >
    insert into dm_fts_parser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="phraseId != null" >
        phrase_id,
      </if>
      <if test="occurrence != null" >
        occurrence,
      </if>
      <if test="specialTerm != null" >
        special_term,
      </if>
      <if test="displayTerm != null" >
        display_term,
      </if>
      <if test="expansionType != null" >
        expansion_type,
      </if>
      <if test="sourceTerm != null" >
        source_term,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="phraseId != null" >
        #{phraseId,jdbcType=INTEGER},
      </if>
      <if test="occurrence != null" >
        #{occurrence,jdbcType=INTEGER},
      </if>
      <if test="specialTerm != null" >
        #{specialTerm,jdbcType=NVARCHAR},
      </if>
      <if test="displayTerm != null" >
        #{displayTerm,jdbcType=NVARCHAR},
      </if>
      <if test="expansionType != null" >
        #{expansionType,jdbcType=INTEGER},
      </if>
      <if test="sourceTerm != null" >
        #{sourceTerm,jdbcType=NVARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>