<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmFtsIndexKeywordsByDocumentMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywordsByDocument" >
    <result column="display_term" property="displayTerm" jdbcType="NVARCHAR" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="document_id" property="documentId" jdbcType="BIGINT" />
    <result column="occurrence_count" property="occurrenceCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywordsByDocument" extends="BaseResultMap" >
    <result column="keyword" property="keyword" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    keyword
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywordsByDocument" >
    insert into dm_fts_index_keywords_by_document (display_term, column_id, document_id, 
      occurrence_count, keyword)
    values (#{displayTerm,jdbcType=NVARCHAR}, #{columnId,jdbcType=INTEGER}, #{documentId,jdbcType=BIGINT}, 
      #{occurrenceCount,jdbcType=INTEGER}, #{keyword,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmFtsIndexKeywordsByDocument" >
    insert into dm_fts_index_keywords_by_document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="displayTerm != null" >
        display_term,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="occurrenceCount != null" >
        occurrence_count,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="displayTerm != null" >
        #{displayTerm,jdbcType=NVARCHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=BIGINT},
      </if>
      <if test="occurrenceCount != null" >
        #{occurrenceCount,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>