<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrAvailabilityGroupStatesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAvailabilityGroupStates" >
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="primary_replica" property="primaryReplica" jdbcType="NVARCHAR" />
    <result column="primary_recovery_health" property="primaryRecoveryHealth" jdbcType="TINYINT" />
    <result column="primary_recovery_health_desc" property="primaryRecoveryHealthDesc" jdbcType="NVARCHAR" />
    <result column="secondary_recovery_health" property="secondaryRecoveryHealth" jdbcType="TINYINT" />
    <result column="secondary_recovery_health_desc" property="secondaryRecoveryHealthDesc" jdbcType="NVARCHAR" />
    <result column="synchronization_health" property="synchronizationHealth" jdbcType="TINYINT" />
    <result column="synchronization_health_desc" property="synchronizationHealthDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAvailabilityGroupStates" >
    insert into dm_hadr_availability_group_states (group_id, primary_replica, primary_recovery_health, 
      primary_recovery_health_desc, secondary_recovery_health, 
      secondary_recovery_health_desc, synchronization_health, 
      synchronization_health_desc)
    values (#{groupId,jdbcType=CHAR}, #{primaryReplica,jdbcType=NVARCHAR}, #{primaryRecoveryHealth,jdbcType=TINYINT}, 
      #{primaryRecoveryHealthDesc,jdbcType=NVARCHAR}, #{secondaryRecoveryHealth,jdbcType=TINYINT}, 
      #{secondaryRecoveryHealthDesc,jdbcType=NVARCHAR}, #{synchronizationHealth,jdbcType=TINYINT}, 
      #{synchronizationHealthDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAvailabilityGroupStates" >
    insert into dm_hadr_availability_group_states
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="primaryReplica != null" >
        primary_replica,
      </if>
      <if test="primaryRecoveryHealth != null" >
        primary_recovery_health,
      </if>
      <if test="primaryRecoveryHealthDesc != null" >
        primary_recovery_health_desc,
      </if>
      <if test="secondaryRecoveryHealth != null" >
        secondary_recovery_health,
      </if>
      <if test="secondaryRecoveryHealthDesc != null" >
        secondary_recovery_health_desc,
      </if>
      <if test="synchronizationHealth != null" >
        synchronization_health,
      </if>
      <if test="synchronizationHealthDesc != null" >
        synchronization_health_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="primaryReplica != null" >
        #{primaryReplica,jdbcType=NVARCHAR},
      </if>
      <if test="primaryRecoveryHealth != null" >
        #{primaryRecoveryHealth,jdbcType=TINYINT},
      </if>
      <if test="primaryRecoveryHealthDesc != null" >
        #{primaryRecoveryHealthDesc,jdbcType=NVARCHAR},
      </if>
      <if test="secondaryRecoveryHealth != null" >
        #{secondaryRecoveryHealth,jdbcType=TINYINT},
      </if>
      <if test="secondaryRecoveryHealthDesc != null" >
        #{secondaryRecoveryHealthDesc,jdbcType=NVARCHAR},
      </if>
      <if test="synchronizationHealth != null" >
        #{synchronizationHealth,jdbcType=TINYINT},
      </if>
      <if test="synchronizationHealthDesc != null" >
        #{synchronizationHealthDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>