<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrDatabaseReplicaClusterStatesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaClusterStates" >
    <result column="replica_id" property="replicaId" jdbcType="CHAR" />
    <result column="group_database_id" property="groupDatabaseId" jdbcType="CHAR" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="is_failover_ready" property="isFailoverReady" jdbcType="BIT" />
    <result column="is_pending_secondary_suspend" property="isPendingSecondarySuspend" jdbcType="BIT" />
    <result column="is_database_joined" property="isDatabaseJoined" jdbcType="BIT" />
    <result column="recovery_lsn" property="recoveryLsn" jdbcType="NUMERIC" />
    <result column="truncation_lsn" property="truncationLsn" jdbcType="NUMERIC" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaClusterStates" >
    insert into dm_hadr_database_replica_cluster_states (replica_id, group_database_id, database_name, 
      is_failover_ready, is_pending_secondary_suspend, is_database_joined, 
      recovery_lsn, truncation_lsn)
    values (#{replicaId,jdbcType=CHAR}, #{groupDatabaseId,jdbcType=CHAR}, #{databaseName,jdbcType=NVARCHAR}, 
      #{isFailoverReady,jdbcType=BIT}, #{isPendingSecondarySuspend,jdbcType=BIT}, #{isDatabaseJoined,jdbcType=BIT}, 
      #{recoveryLsn,jdbcType=NUMERIC}, #{truncationLsn,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaClusterStates" >
    insert into dm_hadr_database_replica_cluster_states
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replicaId != null" >
        replica_id,
      </if>
      <if test="groupDatabaseId != null" >
        group_database_id,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="isFailoverReady != null" >
        is_failover_ready,
      </if>
      <if test="isPendingSecondarySuspend != null" >
        is_pending_secondary_suspend,
      </if>
      <if test="isDatabaseJoined != null" >
        is_database_joined,
      </if>
      <if test="recoveryLsn != null" >
        recovery_lsn,
      </if>
      <if test="truncationLsn != null" >
        truncation_lsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replicaId != null" >
        #{replicaId,jdbcType=CHAR},
      </if>
      <if test="groupDatabaseId != null" >
        #{groupDatabaseId,jdbcType=CHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="isFailoverReady != null" >
        #{isFailoverReady,jdbcType=BIT},
      </if>
      <if test="isPendingSecondarySuspend != null" >
        #{isPendingSecondarySuspend,jdbcType=BIT},
      </if>
      <if test="isDatabaseJoined != null" >
        #{isDatabaseJoined,jdbcType=BIT},
      </if>
      <if test="recoveryLsn != null" >
        #{recoveryLsn,jdbcType=NUMERIC},
      </if>
      <if test="truncationLsn != null" >
        #{truncationLsn,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
</mapper>