<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrDatabaseReplicaStatesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaStates" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="replica_id" property="replicaId" jdbcType="CHAR" />
    <result column="group_database_id" property="groupDatabaseId" jdbcType="CHAR" />
    <result column="is_local" property="isLocal" jdbcType="BIT" />
    <result column="is_primary_replica" property="isPrimaryReplica" jdbcType="BIT" />
    <result column="synchronization_state" property="synchronizationState" jdbcType="TINYINT" />
    <result column="synchronization_state_desc" property="synchronizationStateDesc" jdbcType="NVARCHAR" />
    <result column="is_commit_participant" property="isCommitParticipant" jdbcType="BIT" />
    <result column="synchronization_health" property="synchronizationHealth" jdbcType="TINYINT" />
    <result column="synchronization_health_desc" property="synchronizationHealthDesc" jdbcType="NVARCHAR" />
    <result column="database_state" property="databaseState" jdbcType="TINYINT" />
    <result column="database_state_desc" property="databaseStateDesc" jdbcType="NVARCHAR" />
    <result column="is_suspended" property="isSuspended" jdbcType="BIT" />
    <result column="suspend_reason" property="suspendReason" jdbcType="TINYINT" />
    <result column="suspend_reason_desc" property="suspendReasonDesc" jdbcType="NVARCHAR" />
    <result column="recovery_lsn" property="recoveryLsn" jdbcType="NUMERIC" />
    <result column="truncation_lsn" property="truncationLsn" jdbcType="NUMERIC" />
    <result column="last_sent_lsn" property="lastSentLsn" jdbcType="NUMERIC" />
    <result column="last_sent_time" property="lastSentTime" jdbcType="TIMESTAMP" />
    <result column="last_received_lsn" property="lastReceivedLsn" jdbcType="NUMERIC" />
    <result column="last_received_time" property="lastReceivedTime" jdbcType="TIMESTAMP" />
    <result column="last_hardened_lsn" property="lastHardenedLsn" jdbcType="NUMERIC" />
    <result column="last_hardened_time" property="lastHardenedTime" jdbcType="TIMESTAMP" />
    <result column="last_redone_lsn" property="lastRedoneLsn" jdbcType="NUMERIC" />
    <result column="last_redone_time" property="lastRedoneTime" jdbcType="TIMESTAMP" />
    <result column="log_send_queue_size" property="logSendQueueSize" jdbcType="BIGINT" />
    <result column="log_send_rate" property="logSendRate" jdbcType="BIGINT" />
    <result column="redo_queue_size" property="redoQueueSize" jdbcType="BIGINT" />
    <result column="redo_rate" property="redoRate" jdbcType="BIGINT" />
    <result column="filestream_send_rate" property="filestreamSendRate" jdbcType="BIGINT" />
    <result column="end_of_log_lsn" property="endOfLogLsn" jdbcType="NUMERIC" />
    <result column="last_commit_lsn" property="lastCommitLsn" jdbcType="NUMERIC" />
    <result column="last_commit_time" property="lastCommitTime" jdbcType="TIMESTAMP" />
    <result column="low_water_mark_for_ghosts" property="lowWaterMarkForGhosts" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaStates" >
    insert into dm_hadr_database_replica_states (database_id, group_id, replica_id, 
      group_database_id, is_local, is_primary_replica, 
      synchronization_state, synchronization_state_desc, 
      is_commit_participant, synchronization_health, 
      synchronization_health_desc, database_state, 
      database_state_desc, is_suspended, suspend_reason, 
      suspend_reason_desc, recovery_lsn, truncation_lsn, 
      last_sent_lsn, last_sent_time, last_received_lsn, 
      last_received_time, last_hardened_lsn, last_hardened_time, 
      last_redone_lsn, last_redone_time, log_send_queue_size, 
      log_send_rate, redo_queue_size, redo_rate, 
      filestream_send_rate, end_of_log_lsn, last_commit_lsn, 
      last_commit_time, low_water_mark_for_ghosts)
    values (#{databaseId,jdbcType=INTEGER}, #{groupId,jdbcType=CHAR}, #{replicaId,jdbcType=CHAR}, 
      #{groupDatabaseId,jdbcType=CHAR}, #{isLocal,jdbcType=BIT}, #{isPrimaryReplica,jdbcType=BIT}, 
      #{synchronizationState,jdbcType=TINYINT}, #{synchronizationStateDesc,jdbcType=NVARCHAR}, 
      #{isCommitParticipant,jdbcType=BIT}, #{synchronizationHealth,jdbcType=TINYINT}, 
      #{synchronizationHealthDesc,jdbcType=NVARCHAR}, #{databaseState,jdbcType=TINYINT}, 
      #{databaseStateDesc,jdbcType=NVARCHAR}, #{isSuspended,jdbcType=BIT}, #{suspendReason,jdbcType=TINYINT}, 
      #{suspendReasonDesc,jdbcType=NVARCHAR}, #{recoveryLsn,jdbcType=NUMERIC}, #{truncationLsn,jdbcType=NUMERIC}, 
      #{lastSentLsn,jdbcType=NUMERIC}, #{lastSentTime,jdbcType=TIMESTAMP}, #{lastReceivedLsn,jdbcType=NUMERIC}, 
      #{lastReceivedTime,jdbcType=TIMESTAMP}, #{lastHardenedLsn,jdbcType=NUMERIC}, #{lastHardenedTime,jdbcType=TIMESTAMP}, 
      #{lastRedoneLsn,jdbcType=NUMERIC}, #{lastRedoneTime,jdbcType=TIMESTAMP}, #{logSendQueueSize,jdbcType=BIGINT}, 
      #{logSendRate,jdbcType=BIGINT}, #{redoQueueSize,jdbcType=BIGINT}, #{redoRate,jdbcType=BIGINT}, 
      #{filestreamSendRate,jdbcType=BIGINT}, #{endOfLogLsn,jdbcType=NUMERIC}, #{lastCommitLsn,jdbcType=NUMERIC}, 
      #{lastCommitTime,jdbcType=TIMESTAMP}, #{lowWaterMarkForGhosts,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrDatabaseReplicaStates" >
    insert into dm_hadr_database_replica_states
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="replicaId != null" >
        replica_id,
      </if>
      <if test="groupDatabaseId != null" >
        group_database_id,
      </if>
      <if test="isLocal != null" >
        is_local,
      </if>
      <if test="isPrimaryReplica != null" >
        is_primary_replica,
      </if>
      <if test="synchronizationState != null" >
        synchronization_state,
      </if>
      <if test="synchronizationStateDesc != null" >
        synchronization_state_desc,
      </if>
      <if test="isCommitParticipant != null" >
        is_commit_participant,
      </if>
      <if test="synchronizationHealth != null" >
        synchronization_health,
      </if>
      <if test="synchronizationHealthDesc != null" >
        synchronization_health_desc,
      </if>
      <if test="databaseState != null" >
        database_state,
      </if>
      <if test="databaseStateDesc != null" >
        database_state_desc,
      </if>
      <if test="isSuspended != null" >
        is_suspended,
      </if>
      <if test="suspendReason != null" >
        suspend_reason,
      </if>
      <if test="suspendReasonDesc != null" >
        suspend_reason_desc,
      </if>
      <if test="recoveryLsn != null" >
        recovery_lsn,
      </if>
      <if test="truncationLsn != null" >
        truncation_lsn,
      </if>
      <if test="lastSentLsn != null" >
        last_sent_lsn,
      </if>
      <if test="lastSentTime != null" >
        last_sent_time,
      </if>
      <if test="lastReceivedLsn != null" >
        last_received_lsn,
      </if>
      <if test="lastReceivedTime != null" >
        last_received_time,
      </if>
      <if test="lastHardenedLsn != null" >
        last_hardened_lsn,
      </if>
      <if test="lastHardenedTime != null" >
        last_hardened_time,
      </if>
      <if test="lastRedoneLsn != null" >
        last_redone_lsn,
      </if>
      <if test="lastRedoneTime != null" >
        last_redone_time,
      </if>
      <if test="logSendQueueSize != null" >
        log_send_queue_size,
      </if>
      <if test="logSendRate != null" >
        log_send_rate,
      </if>
      <if test="redoQueueSize != null" >
        redo_queue_size,
      </if>
      <if test="redoRate != null" >
        redo_rate,
      </if>
      <if test="filestreamSendRate != null" >
        filestream_send_rate,
      </if>
      <if test="endOfLogLsn != null" >
        end_of_log_lsn,
      </if>
      <if test="lastCommitLsn != null" >
        last_commit_lsn,
      </if>
      <if test="lastCommitTime != null" >
        last_commit_time,
      </if>
      <if test="lowWaterMarkForGhosts != null" >
        low_water_mark_for_ghosts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="replicaId != null" >
        #{replicaId,jdbcType=CHAR},
      </if>
      <if test="groupDatabaseId != null" >
        #{groupDatabaseId,jdbcType=CHAR},
      </if>
      <if test="isLocal != null" >
        #{isLocal,jdbcType=BIT},
      </if>
      <if test="isPrimaryReplica != null" >
        #{isPrimaryReplica,jdbcType=BIT},
      </if>
      <if test="synchronizationState != null" >
        #{synchronizationState,jdbcType=TINYINT},
      </if>
      <if test="synchronizationStateDesc != null" >
        #{synchronizationStateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isCommitParticipant != null" >
        #{isCommitParticipant,jdbcType=BIT},
      </if>
      <if test="synchronizationHealth != null" >
        #{synchronizationHealth,jdbcType=TINYINT},
      </if>
      <if test="synchronizationHealthDesc != null" >
        #{synchronizationHealthDesc,jdbcType=NVARCHAR},
      </if>
      <if test="databaseState != null" >
        #{databaseState,jdbcType=TINYINT},
      </if>
      <if test="databaseStateDesc != null" >
        #{databaseStateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isSuspended != null" >
        #{isSuspended,jdbcType=BIT},
      </if>
      <if test="suspendReason != null" >
        #{suspendReason,jdbcType=TINYINT},
      </if>
      <if test="suspendReasonDesc != null" >
        #{suspendReasonDesc,jdbcType=NVARCHAR},
      </if>
      <if test="recoveryLsn != null" >
        #{recoveryLsn,jdbcType=NUMERIC},
      </if>
      <if test="truncationLsn != null" >
        #{truncationLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastSentLsn != null" >
        #{lastSentLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastSentTime != null" >
        #{lastSentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastReceivedLsn != null" >
        #{lastReceivedLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastReceivedTime != null" >
        #{lastReceivedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastHardenedLsn != null" >
        #{lastHardenedLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastHardenedTime != null" >
        #{lastHardenedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastRedoneLsn != null" >
        #{lastRedoneLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastRedoneTime != null" >
        #{lastRedoneTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logSendQueueSize != null" >
        #{logSendQueueSize,jdbcType=BIGINT},
      </if>
      <if test="logSendRate != null" >
        #{logSendRate,jdbcType=BIGINT},
      </if>
      <if test="redoQueueSize != null" >
        #{redoQueueSize,jdbcType=BIGINT},
      </if>
      <if test="redoRate != null" >
        #{redoRate,jdbcType=BIGINT},
      </if>
      <if test="filestreamSendRate != null" >
        #{filestreamSendRate,jdbcType=BIGINT},
      </if>
      <if test="endOfLogLsn != null" >
        #{endOfLogLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastCommitLsn != null" >
        #{lastCommitLsn,jdbcType=NUMERIC},
      </if>
      <if test="lastCommitTime != null" >
        #{lastCommitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lowWaterMarkForGhosts != null" >
        #{lowWaterMarkForGhosts,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>