<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrClusterMembersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrClusterMembers" >
    <result column="member_name" property="memberName" jdbcType="NVARCHAR" />
    <result column="member_type" property="memberType" jdbcType="TINYINT" />
    <result column="member_type_desc" property="memberTypeDesc" jdbcType="NVARCHAR" />
    <result column="member_state" property="memberState" jdbcType="TINYINT" />
    <result column="member_state_desc" property="memberStateDesc" jdbcType="NVARCHAR" />
    <result column="number_of_quorum_votes" property="numberOfQuorumVotes" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrClusterMembers" >
    insert into dm_hadr_cluster_members (member_name, member_type, member_type_desc, 
      member_state, member_state_desc, number_of_quorum_votes
      )
    values (#{memberName,jdbcType=NVARCHAR}, #{memberType,jdbcType=TINYINT}, #{memberTypeDesc,jdbcType=NVARCHAR}, 
      #{memberState,jdbcType=TINYINT}, #{memberStateDesc,jdbcType=NVARCHAR}, #{numberOfQuorumVotes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrClusterMembers" >
    insert into dm_hadr_cluster_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="memberTypeDesc != null" >
        member_type_desc,
      </if>
      <if test="memberState != null" >
        member_state,
      </if>
      <if test="memberStateDesc != null" >
        member_state_desc,
      </if>
      <if test="numberOfQuorumVotes != null" >
        number_of_quorum_votes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberName != null" >
        #{memberName,jdbcType=NVARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=TINYINT},
      </if>
      <if test="memberTypeDesc != null" >
        #{memberTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="memberState != null" >
        #{memberState,jdbcType=TINYINT},
      </if>
      <if test="memberStateDesc != null" >
        #{memberStateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="numberOfQuorumVotes != null" >
        #{numberOfQuorumVotes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>