<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrAutoPageRepairMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAutoPageRepair" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="file_id" property="fileId" jdbcType="INTEGER" />
    <result column="page_id" property="pageId" jdbcType="BIGINT" />
    <result column="error_type" property="errorType" jdbcType="SMALLINT" />
    <result column="page_status" property="pageStatus" jdbcType="TINYINT" />
    <result column="modification_time" property="modificationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAutoPageRepair" >
    insert into dm_hadr_auto_page_repair (database_id, file_id, page_id, 
      error_type, page_status, modification_time
      )
    values (#{databaseId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER}, #{pageId,jdbcType=BIGINT}, 
      #{errorType,jdbcType=SMALLINT}, #{pageStatus,jdbcType=TINYINT}, #{modificationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrAutoPageRepair" >
    insert into dm_hadr_auto_page_repair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
      <if test="errorType != null" >
        error_type,
      </if>
      <if test="pageStatus != null" >
        page_status,
      </if>
      <if test="modificationTime != null" >
        modification_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="errorType != null" >
        #{errorType,jdbcType=SMALLINT},
      </if>
      <if test="pageStatus != null" >
        #{pageStatus,jdbcType=TINYINT},
      </if>
      <if test="modificationTime != null" >
        #{modificationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>