<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrNameIdMapMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrNameIdMap" >
    <result column="ag_name" property="agName" jdbcType="NVARCHAR" />
    <result column="ag_id" property="agId" jdbcType="CHAR" />
    <result column="ag_resource_id" property="agResourceId" jdbcType="NVARCHAR" />
    <result column="ag_group_id" property="agGroupId" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrNameIdMap" >
    insert into dm_hadr_name_id_map (ag_name, ag_id, ag_resource_id, 
      ag_group_id)
    values (#{agName,jdbcType=NVARCHAR}, #{agId,jdbcType=CHAR}, #{agResourceId,jdbcType=NVARCHAR}, 
      #{agGroupId,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrNameIdMap" >
    insert into dm_hadr_name_id_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agName != null" >
        ag_name,
      </if>
      <if test="agId != null" >
        ag_id,
      </if>
      <if test="agResourceId != null" >
        ag_resource_id,
      </if>
      <if test="agGroupId != null" >
        ag_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agName != null" >
        #{agName,jdbcType=NVARCHAR},
      </if>
      <if test="agId != null" >
        #{agId,jdbcType=CHAR},
      </if>
      <if test="agResourceId != null" >
        #{agResourceId,jdbcType=NVARCHAR},
      </if>
      <if test="agGroupId != null" >
        #{agGroupId,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>