<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmHadrClusterMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrCluster" >
    <result column="cluster_name" property="clusterName" jdbcType="NVARCHAR" />
    <result column="quorum_type" property="quorumType" jdbcType="TINYINT" />
    <result column="quorum_type_desc" property="quorumTypeDesc" jdbcType="NVARCHAR" />
    <result column="quorum_state" property="quorumState" jdbcType="TINYINT" />
    <result column="quorum_state_desc" property="quorumStateDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrCluster" >
    insert into dm_hadr_cluster (cluster_name, quorum_type, quorum_type_desc, 
      quorum_state, quorum_state_desc)
    values (#{clusterName,jdbcType=NVARCHAR}, #{quorumType,jdbcType=TINYINT}, #{quorumTypeDesc,jdbcType=NVARCHAR}, 
      #{quorumState,jdbcType=TINYINT}, #{quorumStateDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmHadrCluster" >
    insert into dm_hadr_cluster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clusterName != null" >
        cluster_name,
      </if>
      <if test="quorumType != null" >
        quorum_type,
      </if>
      <if test="quorumTypeDesc != null" >
        quorum_type_desc,
      </if>
      <if test="quorumState != null" >
        quorum_state,
      </if>
      <if test="quorumStateDesc != null" >
        quorum_state_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clusterName != null" >
        #{clusterName,jdbcType=NVARCHAR},
      </if>
      <if test="quorumType != null" >
        #{quorumType,jdbcType=TINYINT},
      </if>
      <if test="quorumTypeDesc != null" >
        #{quorumTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="quorumState != null" >
        #{quorumState,jdbcType=TINYINT},
      </if>
      <if test="quorumStateDesc != null" >
        #{quorumStateDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>