<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmIoClusterValidPathNamesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterValidPathNames" >
    <result column="path_name" property="pathName" jdbcType="NVARCHAR" />
    <result column="cluster_owner_node" property="clusterOwnerNode" jdbcType="NVARCHAR" />
    <result column="is_cluster_shared_volume" property="isClusterSharedVolume" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterValidPathNames" >
    insert into dm_io_cluster_valid_path_names (path_name, cluster_owner_node, is_cluster_shared_volume
      )
    values (#{pathName,jdbcType=NVARCHAR}, #{clusterOwnerNode,jdbcType=NVARCHAR}, #{isClusterSharedVolume,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterValidPathNames" >
    insert into dm_io_cluster_valid_path_names
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pathName != null" >
        path_name,
      </if>
      <if test="clusterOwnerNode != null" >
        cluster_owner_node,
      </if>
      <if test="isClusterSharedVolume != null" >
        is_cluster_shared_volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pathName != null" >
        #{pathName,jdbcType=NVARCHAR},
      </if>
      <if test="clusterOwnerNode != null" >
        #{clusterOwnerNode,jdbcType=NVARCHAR},
      </if>
      <if test="isClusterSharedVolume != null" >
        #{isClusterSharedVolume,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>