<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmIoVirtualFileStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmIoVirtualFileStats" >
    <result column="database_id" property="databaseId" jdbcType="SMALLINT" />
    <result column="file_id" property="fileId" jdbcType="SMALLINT" />
    <result column="sample_ms" property="sampleMs" jdbcType="INTEGER" />
    <result column="num_of_reads" property="numOfReads" jdbcType="BIGINT" />
    <result column="num_of_bytes_read" property="numOfBytesRead" jdbcType="BIGINT" />
    <result column="io_stall_read_ms" property="ioStallReadMs" jdbcType="BIGINT" />
    <result column="io_stall_queued_read_ms" property="ioStallQueuedReadMs" jdbcType="BIGINT" />
    <result column="num_of_writes" property="numOfWrites" jdbcType="BIGINT" />
    <result column="num_of_bytes_written" property="numOfBytesWritten" jdbcType="BIGINT" />
    <result column="io_stall_write_ms" property="ioStallWriteMs" jdbcType="BIGINT" />
    <result column="io_stall_queued_write_ms" property="ioStallQueuedWriteMs" jdbcType="BIGINT" />
    <result column="io_stall" property="ioStall" jdbcType="BIGINT" />
    <result column="size_on_disk_bytes" property="sizeOnDiskBytes" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmIoVirtualFileStats" extends="BaseResultMap" >
    <result column="file_handle" property="fileHandle" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    file_handle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoVirtualFileStats" >
    insert into dm_io_virtual_file_stats (database_id, file_id, sample_ms, 
      num_of_reads, num_of_bytes_read, io_stall_read_ms, 
      io_stall_queued_read_ms, num_of_writes, num_of_bytes_written, 
      io_stall_write_ms, io_stall_queued_write_ms, io_stall, 
      size_on_disk_bytes, file_handle)
    values (#{databaseId,jdbcType=SMALLINT}, #{fileId,jdbcType=SMALLINT}, #{sampleMs,jdbcType=INTEGER}, 
      #{numOfReads,jdbcType=BIGINT}, #{numOfBytesRead,jdbcType=BIGINT}, #{ioStallReadMs,jdbcType=BIGINT}, 
      #{ioStallQueuedReadMs,jdbcType=BIGINT}, #{numOfWrites,jdbcType=BIGINT}, #{numOfBytesWritten,jdbcType=BIGINT}, 
      #{ioStallWriteMs,jdbcType=BIGINT}, #{ioStallQueuedWriteMs,jdbcType=BIGINT}, #{ioStall,jdbcType=BIGINT}, 
      #{sizeOnDiskBytes,jdbcType=BIGINT}, #{fileHandle,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoVirtualFileStats" >
    insert into dm_io_virtual_file_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="sampleMs != null" >
        sample_ms,
      </if>
      <if test="numOfReads != null" >
        num_of_reads,
      </if>
      <if test="numOfBytesRead != null" >
        num_of_bytes_read,
      </if>
      <if test="ioStallReadMs != null" >
        io_stall_read_ms,
      </if>
      <if test="ioStallQueuedReadMs != null" >
        io_stall_queued_read_ms,
      </if>
      <if test="numOfWrites != null" >
        num_of_writes,
      </if>
      <if test="numOfBytesWritten != null" >
        num_of_bytes_written,
      </if>
      <if test="ioStallWriteMs != null" >
        io_stall_write_ms,
      </if>
      <if test="ioStallQueuedWriteMs != null" >
        io_stall_queued_write_ms,
      </if>
      <if test="ioStall != null" >
        io_stall,
      </if>
      <if test="sizeOnDiskBytes != null" >
        size_on_disk_bytes,
      </if>
      <if test="fileHandle != null" >
        file_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=SMALLINT},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=SMALLINT},
      </if>
      <if test="sampleMs != null" >
        #{sampleMs,jdbcType=INTEGER},
      </if>
      <if test="numOfReads != null" >
        #{numOfReads,jdbcType=BIGINT},
      </if>
      <if test="numOfBytesRead != null" >
        #{numOfBytesRead,jdbcType=BIGINT},
      </if>
      <if test="ioStallReadMs != null" >
        #{ioStallReadMs,jdbcType=BIGINT},
      </if>
      <if test="ioStallQueuedReadMs != null" >
        #{ioStallQueuedReadMs,jdbcType=BIGINT},
      </if>
      <if test="numOfWrites != null" >
        #{numOfWrites,jdbcType=BIGINT},
      </if>
      <if test="numOfBytesWritten != null" >
        #{numOfBytesWritten,jdbcType=BIGINT},
      </if>
      <if test="ioStallWriteMs != null" >
        #{ioStallWriteMs,jdbcType=BIGINT},
      </if>
      <if test="ioStallQueuedWriteMs != null" >
        #{ioStallQueuedWriteMs,jdbcType=BIGINT},
      </if>
      <if test="ioStall != null" >
        #{ioStall,jdbcType=BIGINT},
      </if>
      <if test="sizeOnDiskBytes != null" >
        #{sizeOnDiskBytes,jdbcType=BIGINT},
      </if>
      <if test="fileHandle != null" >
        #{fileHandle,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>