<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmIoClusterSharedDrivesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterSharedDrives" >
    <result column="DriveName" property="drivename" jdbcType="NCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterSharedDrives" >
    insert into dm_io_cluster_shared_drives (DriveName)
    values (#{drivename,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmIoClusterSharedDrives" >
    insert into dm_io_cluster_shared_drives
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drivename != null" >
        DriveName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drivename != null" >
        #{drivename,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
</mapper>