<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmLogpoolmgrStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrStats" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="recovery_unit_id" property="recoveryUnitId" jdbcType="INTEGER" />
    <result column="log_consumer_id_seed" property="logConsumerIdSeed" jdbcType="BIGINT" />
    <result column="log_consumer_count" property="logConsumerCount" jdbcType="INTEGER" />
    <result column="new_log_interesting" property="newLogInteresting" jdbcType="TINYINT" />
    <result column="log_consumption_deactivated" property="logConsumptionDeactivated" jdbcType="TINYINT" />
    <result column="push_enabled" property="pushEnabled" jdbcType="TINYINT" />
    <result column="mem_status_stamp" property="memStatusStamp" jdbcType="BIGINT" />
    <result column="total_requests" property="totalRequests" jdbcType="BIGINT" />
    <result column="total_cache_misses" property="totalCacheMisses" jdbcType="BIGINT" />
    <result column="total_disk_reads" property="totalDiskReads" jdbcType="BIGINT" />
    <result column="low_weight_cache_buffer_count" property="lowWeightCacheBufferCount" jdbcType="INTEGER" />
    <result column="high_weight_cache_buffer_count" property="highWeightCacheBufferCount" jdbcType="INTEGER" />
    <result column="mem_status" property="memStatus" jdbcType="INTEGER" />
    <result column="shared_pool_size" property="sharedPoolSize" jdbcType="BIGINT" />
    <result column="frequency_check_ticks" property="frequencyCheckTicks" jdbcType="INTEGER" />
    <result column="warm_cold_check_ticks" property="warmColdCheckTicks" jdbcType="INTEGER" />
    <result column="truncate_point" property="truncatePoint" jdbcType="BIGINT" />
    <result column="active_log_size" property="activeLogSize" jdbcType="BIGINT" />
    <result column="logpoolmgr_deleting" property="logpoolmgrDeleting" jdbcType="TINYINT" />
    <result column="logpoolmgr_ref_counter" property="logpoolmgrRefCounter" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrStats" >
    insert into dm_logpoolmgr_stats (database_id, recovery_unit_id, log_consumer_id_seed, 
      log_consumer_count, new_log_interesting, log_consumption_deactivated, 
      push_enabled, mem_status_stamp, total_requests, 
      total_cache_misses, total_disk_reads, low_weight_cache_buffer_count, 
      high_weight_cache_buffer_count, mem_status, 
      shared_pool_size, frequency_check_ticks, warm_cold_check_ticks, 
      truncate_point, active_log_size, logpoolmgr_deleting, 
      logpoolmgr_ref_counter)
    values (#{databaseId,jdbcType=INTEGER}, #{recoveryUnitId,jdbcType=INTEGER}, #{logConsumerIdSeed,jdbcType=BIGINT}, 
      #{logConsumerCount,jdbcType=INTEGER}, #{newLogInteresting,jdbcType=TINYINT}, #{logConsumptionDeactivated,jdbcType=TINYINT}, 
      #{pushEnabled,jdbcType=TINYINT}, #{memStatusStamp,jdbcType=BIGINT}, #{totalRequests,jdbcType=BIGINT}, 
      #{totalCacheMisses,jdbcType=BIGINT}, #{totalDiskReads,jdbcType=BIGINT}, #{lowWeightCacheBufferCount,jdbcType=INTEGER}, 
      #{highWeightCacheBufferCount,jdbcType=INTEGER}, #{memStatus,jdbcType=INTEGER}, 
      #{sharedPoolSize,jdbcType=BIGINT}, #{frequencyCheckTicks,jdbcType=INTEGER}, #{warmColdCheckTicks,jdbcType=INTEGER}, 
      #{truncatePoint,jdbcType=BIGINT}, #{activeLogSize,jdbcType=BIGINT}, #{logpoolmgrDeleting,jdbcType=TINYINT}, 
      #{logpoolmgrRefCounter,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrStats" >
    insert into dm_logpoolmgr_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="recoveryUnitId != null" >
        recovery_unit_id,
      </if>
      <if test="logConsumerIdSeed != null" >
        log_consumer_id_seed,
      </if>
      <if test="logConsumerCount != null" >
        log_consumer_count,
      </if>
      <if test="newLogInteresting != null" >
        new_log_interesting,
      </if>
      <if test="logConsumptionDeactivated != null" >
        log_consumption_deactivated,
      </if>
      <if test="pushEnabled != null" >
        push_enabled,
      </if>
      <if test="memStatusStamp != null" >
        mem_status_stamp,
      </if>
      <if test="totalRequests != null" >
        total_requests,
      </if>
      <if test="totalCacheMisses != null" >
        total_cache_misses,
      </if>
      <if test="totalDiskReads != null" >
        total_disk_reads,
      </if>
      <if test="lowWeightCacheBufferCount != null" >
        low_weight_cache_buffer_count,
      </if>
      <if test="highWeightCacheBufferCount != null" >
        high_weight_cache_buffer_count,
      </if>
      <if test="memStatus != null" >
        mem_status,
      </if>
      <if test="sharedPoolSize != null" >
        shared_pool_size,
      </if>
      <if test="frequencyCheckTicks != null" >
        frequency_check_ticks,
      </if>
      <if test="warmColdCheckTicks != null" >
        warm_cold_check_ticks,
      </if>
      <if test="truncatePoint != null" >
        truncate_point,
      </if>
      <if test="activeLogSize != null" >
        active_log_size,
      </if>
      <if test="logpoolmgrDeleting != null" >
        logpoolmgr_deleting,
      </if>
      <if test="logpoolmgrRefCounter != null" >
        logpoolmgr_ref_counter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="recoveryUnitId != null" >
        #{recoveryUnitId,jdbcType=INTEGER},
      </if>
      <if test="logConsumerIdSeed != null" >
        #{logConsumerIdSeed,jdbcType=BIGINT},
      </if>
      <if test="logConsumerCount != null" >
        #{logConsumerCount,jdbcType=INTEGER},
      </if>
      <if test="newLogInteresting != null" >
        #{newLogInteresting,jdbcType=TINYINT},
      </if>
      <if test="logConsumptionDeactivated != null" >
        #{logConsumptionDeactivated,jdbcType=TINYINT},
      </if>
      <if test="pushEnabled != null" >
        #{pushEnabled,jdbcType=TINYINT},
      </if>
      <if test="memStatusStamp != null" >
        #{memStatusStamp,jdbcType=BIGINT},
      </if>
      <if test="totalRequests != null" >
        #{totalRequests,jdbcType=BIGINT},
      </if>
      <if test="totalCacheMisses != null" >
        #{totalCacheMisses,jdbcType=BIGINT},
      </if>
      <if test="totalDiskReads != null" >
        #{totalDiskReads,jdbcType=BIGINT},
      </if>
      <if test="lowWeightCacheBufferCount != null" >
        #{lowWeightCacheBufferCount,jdbcType=INTEGER},
      </if>
      <if test="highWeightCacheBufferCount != null" >
        #{highWeightCacheBufferCount,jdbcType=INTEGER},
      </if>
      <if test="memStatus != null" >
        #{memStatus,jdbcType=INTEGER},
      </if>
      <if test="sharedPoolSize != null" >
        #{sharedPoolSize,jdbcType=BIGINT},
      </if>
      <if test="frequencyCheckTicks != null" >
        #{frequencyCheckTicks,jdbcType=INTEGER},
      </if>
      <if test="warmColdCheckTicks != null" >
        #{warmColdCheckTicks,jdbcType=INTEGER},
      </if>
      <if test="truncatePoint != null" >
        #{truncatePoint,jdbcType=BIGINT},
      </if>
      <if test="activeLogSize != null" >
        #{activeLogSize,jdbcType=BIGINT},
      </if>
      <if test="logpoolmgrDeleting != null" >
        #{logpoolmgrDeleting,jdbcType=TINYINT},
      </if>
      <if test="logpoolmgrRefCounter != null" >
        #{logpoolmgrRefCounter,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>