<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmLogpoolmgrRespoolsizeMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrRespoolsize" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="recovery_unit_id" property="recoveryUnitId" jdbcType="INTEGER" />
    <result column="resource_pool_id" property="resourcePoolId" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrRespoolsize" >
    insert into dm_logpoolmgr_respoolsize (database_id, recovery_unit_id, resource_pool_id, 
      size)
    values (#{databaseId,jdbcType=INTEGER}, #{recoveryUnitId,jdbcType=INTEGER}, #{resourcePoolId,jdbcType=INTEGER}, 
      #{size,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrRespoolsize" >
    insert into dm_logpoolmgr_respoolsize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="recoveryUnitId != null" >
        recovery_unit_id,
      </if>
      <if test="resourcePoolId != null" >
        resource_pool_id,
      </if>
      <if test="size != null" >
        size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="recoveryUnitId != null" >
        #{recoveryUnitId,jdbcType=INTEGER},
      </if>
      <if test="resourcePoolId != null" >
        #{resourcePoolId,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>