<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmLogpoolmgrFreepoolsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrFreepools" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="recovery_unit_id" property="recoveryUnitId" jdbcType="INTEGER" />
    <result column="buffer_size" property="bufferSize" jdbcType="INTEGER" />
    <result column="occurrences" property="occurrences" jdbcType="BIGINT" />
    <result column="frequent" property="frequent" jdbcType="TINYINT" />
    <result column="warm_count" property="warmCount" jdbcType="INTEGER" />
    <result column="cold_count" property="coldCount" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrFreepools" >
    insert into dm_logpoolmgr_freepools (database_id, recovery_unit_id, buffer_size, 
      occurrences, frequent, warm_count, 
      cold_count)
    values (#{databaseId,jdbcType=INTEGER}, #{recoveryUnitId,jdbcType=INTEGER}, #{bufferSize,jdbcType=INTEGER}, 
      #{occurrences,jdbcType=BIGINT}, #{frequent,jdbcType=TINYINT}, #{warmCount,jdbcType=INTEGER}, 
      #{coldCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmLogpoolmgrFreepools" >
    insert into dm_logpoolmgr_freepools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="recoveryUnitId != null" >
        recovery_unit_id,
      </if>
      <if test="bufferSize != null" >
        buffer_size,
      </if>
      <if test="occurrences != null" >
        occurrences,
      </if>
      <if test="frequent != null" >
        frequent,
      </if>
      <if test="warmCount != null" >
        warm_count,
      </if>
      <if test="coldCount != null" >
        cold_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="recoveryUnitId != null" >
        #{recoveryUnitId,jdbcType=INTEGER},
      </if>
      <if test="bufferSize != null" >
        #{bufferSize,jdbcType=INTEGER},
      </if>
      <if test="occurrences != null" >
        #{occurrences,jdbcType=BIGINT},
      </if>
      <if test="frequent != null" >
        #{frequent,jdbcType=TINYINT},
      </if>
      <if test="warmCount != null" >
        #{warmCount,jdbcType=INTEGER},
      </if>
      <if test="coldCount != null" >
        #{coldCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>