<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsProcessMemoryMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsProcessMemory" >
    <result column="physical_memory_in_use_kb" property="physicalMemoryInUseKb" jdbcType="BIGINT" />
    <result column="large_page_allocations_kb" property="largePageAllocationsKb" jdbcType="BIGINT" />
    <result column="locked_page_allocations_kb" property="lockedPageAllocationsKb" jdbcType="BIGINT" />
    <result column="total_virtual_address_space_kb" property="totalVirtualAddressSpaceKb" jdbcType="BIGINT" />
    <result column="virtual_address_space_reserved_kb" property="virtualAddressSpaceReservedKb" jdbcType="BIGINT" />
    <result column="virtual_address_space_committed_kb" property="virtualAddressSpaceCommittedKb" jdbcType="BIGINT" />
    <result column="virtual_address_space_available_kb" property="virtualAddressSpaceAvailableKb" jdbcType="BIGINT" />
    <result column="page_fault_count" property="pageFaultCount" jdbcType="BIGINT" />
    <result column="memory_utilization_percentage" property="memoryUtilizationPercentage" jdbcType="INTEGER" />
    <result column="available_commit_limit_kb" property="availableCommitLimitKb" jdbcType="BIGINT" />
    <result column="process_physical_memory_low" property="processPhysicalMemoryLow" jdbcType="BIT" />
    <result column="process_virtual_memory_low" property="processVirtualMemoryLow" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsProcessMemory" >
    insert into dm_os_process_memory (physical_memory_in_use_kb, large_page_allocations_kb, 
      locked_page_allocations_kb, total_virtual_address_space_kb, 
      virtual_address_space_reserved_kb, virtual_address_space_committed_kb, 
      virtual_address_space_available_kb, page_fault_count, 
      memory_utilization_percentage, available_commit_limit_kb, 
      process_physical_memory_low, process_virtual_memory_low
      )
    values (#{physicalMemoryInUseKb,jdbcType=BIGINT}, #{largePageAllocationsKb,jdbcType=BIGINT}, 
      #{lockedPageAllocationsKb,jdbcType=BIGINT}, #{totalVirtualAddressSpaceKb,jdbcType=BIGINT}, 
      #{virtualAddressSpaceReservedKb,jdbcType=BIGINT}, #{virtualAddressSpaceCommittedKb,jdbcType=BIGINT}, 
      #{virtualAddressSpaceAvailableKb,jdbcType=BIGINT}, #{pageFaultCount,jdbcType=BIGINT}, 
      #{memoryUtilizationPercentage,jdbcType=INTEGER}, #{availableCommitLimitKb,jdbcType=BIGINT}, 
      #{processPhysicalMemoryLow,jdbcType=BIT}, #{processVirtualMemoryLow,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsProcessMemory" >
    insert into dm_os_process_memory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="physicalMemoryInUseKb != null" >
        physical_memory_in_use_kb,
      </if>
      <if test="largePageAllocationsKb != null" >
        large_page_allocations_kb,
      </if>
      <if test="lockedPageAllocationsKb != null" >
        locked_page_allocations_kb,
      </if>
      <if test="totalVirtualAddressSpaceKb != null" >
        total_virtual_address_space_kb,
      </if>
      <if test="virtualAddressSpaceReservedKb != null" >
        virtual_address_space_reserved_kb,
      </if>
      <if test="virtualAddressSpaceCommittedKb != null" >
        virtual_address_space_committed_kb,
      </if>
      <if test="virtualAddressSpaceAvailableKb != null" >
        virtual_address_space_available_kb,
      </if>
      <if test="pageFaultCount != null" >
        page_fault_count,
      </if>
      <if test="memoryUtilizationPercentage != null" >
        memory_utilization_percentage,
      </if>
      <if test="availableCommitLimitKb != null" >
        available_commit_limit_kb,
      </if>
      <if test="processPhysicalMemoryLow != null" >
        process_physical_memory_low,
      </if>
      <if test="processVirtualMemoryLow != null" >
        process_virtual_memory_low,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="physicalMemoryInUseKb != null" >
        #{physicalMemoryInUseKb,jdbcType=BIGINT},
      </if>
      <if test="largePageAllocationsKb != null" >
        #{largePageAllocationsKb,jdbcType=BIGINT},
      </if>
      <if test="lockedPageAllocationsKb != null" >
        #{lockedPageAllocationsKb,jdbcType=BIGINT},
      </if>
      <if test="totalVirtualAddressSpaceKb != null" >
        #{totalVirtualAddressSpaceKb,jdbcType=BIGINT},
      </if>
      <if test="virtualAddressSpaceReservedKb != null" >
        #{virtualAddressSpaceReservedKb,jdbcType=BIGINT},
      </if>
      <if test="virtualAddressSpaceCommittedKb != null" >
        #{virtualAddressSpaceCommittedKb,jdbcType=BIGINT},
      </if>
      <if test="virtualAddressSpaceAvailableKb != null" >
        #{virtualAddressSpaceAvailableKb,jdbcType=BIGINT},
      </if>
      <if test="pageFaultCount != null" >
        #{pageFaultCount,jdbcType=BIGINT},
      </if>
      <if test="memoryUtilizationPercentage != null" >
        #{memoryUtilizationPercentage,jdbcType=INTEGER},
      </if>
      <if test="availableCommitLimitKb != null" >
        #{availableCommitLimitKb,jdbcType=BIGINT},
      </if>
      <if test="processPhysicalMemoryLow != null" >
        #{processPhysicalMemoryLow,jdbcType=BIT},
      </if>
      <if test="processVirtualMemoryLow != null" >
        #{processVirtualMemoryLow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>