<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsSublatchesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSublatches" >
    <result column="partition_id" property="partitionId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSublatches" extends="BaseResultMap" >
    <result column="superlatch_address" property="superlatchAddress" jdbcType="VARBINARY" />
    <result column="sublatch_address" property="sublatchAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    superlatch_address, sublatch_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSublatches" >
    insert into dm_os_sublatches (partition_id, superlatch_address, 
      sublatch_address)
    values (#{partitionId,jdbcType=INTEGER}, #{superlatchAddress,jdbcType=VARBINARY}, 
      #{sublatchAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSublatches" >
    insert into dm_os_sublatches
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        partition_id,
      </if>
      <if test="superlatchAddress != null" >
        superlatch_address,
      </if>
      <if test="sublatchAddress != null" >
        sublatch_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        #{partitionId,jdbcType=INTEGER},
      </if>
      <if test="superlatchAddress != null" >
        #{superlatchAddress,jdbcType=VARBINARY},
      </if>
      <if test="sublatchAddress != null" >
        #{sublatchAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>