<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsServerDiagnosticsLogConfigurationsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsServerDiagnosticsLogConfigurations" >
    <result column="is_enabled" property="isEnabled" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="NVARCHAR" />
    <result column="max_size" property="maxSize" jdbcType="INTEGER" />
    <result column="max_files" property="maxFiles" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsServerDiagnosticsLogConfigurations" >
    insert into dm_os_server_diagnostics_log_configurations (is_enabled, path, max_size, 
      max_files)
    values (#{isEnabled,jdbcType=INTEGER}, #{path,jdbcType=NVARCHAR}, #{maxSize,jdbcType=INTEGER}, 
      #{maxFiles,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsServerDiagnosticsLogConfigurations" >
    insert into dm_os_server_diagnostics_log_configurations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="maxSize != null" >
        max_size,
      </if>
      <if test="maxFiles != null" >
        max_files,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=NVARCHAR},
      </if>
      <if test="maxSize != null" >
        #{maxSize,jdbcType=INTEGER},
      </if>
      <if test="maxFiles != null" >
        #{maxFiles,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>