<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsNodesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsNodes" >
    <result column="node_id" property="nodeId" jdbcType="SMALLINT" />
    <result column="node_state_desc" property="nodeStateDesc" jdbcType="NVARCHAR" />
    <result column="memory_node_id" property="memoryNodeId" jdbcType="SMALLINT" />
    <result column="cpu_affinity_mask" property="cpuAffinityMask" jdbcType="BIGINT" />
    <result column="online_scheduler_count" property="onlineSchedulerCount" jdbcType="SMALLINT" />
    <result column="idle_scheduler_count" property="idleSchedulerCount" jdbcType="SMALLINT" />
    <result column="active_worker_count" property="activeWorkerCount" jdbcType="INTEGER" />
    <result column="avg_load_balance" property="avgLoadBalance" jdbcType="INTEGER" />
    <result column="timer_task_affinity_mask" property="timerTaskAffinityMask" jdbcType="BIGINT" />
    <result column="permanent_task_affinity_mask" property="permanentTaskAffinityMask" jdbcType="BIGINT" />
    <result column="resource_monitor_state" property="resourceMonitorState" jdbcType="BIT" />
    <result column="online_scheduler_mask" property="onlineSchedulerMask" jdbcType="BIGINT" />
    <result column="processor_group" property="processorGroup" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsNodesWithBLOBs" extends="BaseResultMap" >
    <result column="memory_object_address" property="memoryObjectAddress" jdbcType="VARBINARY" />
    <result column="memory_clerk_address" property="memoryClerkAddress" jdbcType="VARBINARY" />
    <result column="io_completion_worker_address" property="ioCompletionWorkerAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_object_address, memory_clerk_address, io_completion_worker_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsNodesWithBLOBs" >
    insert into dm_os_nodes (node_id, node_state_desc, memory_node_id, 
      cpu_affinity_mask, online_scheduler_count, 
      idle_scheduler_count, active_worker_count, 
      avg_load_balance, timer_task_affinity_mask, permanent_task_affinity_mask, 
      resource_monitor_state, online_scheduler_mask, processor_group, 
      memory_object_address, memory_clerk_address, 
      io_completion_worker_address)
    values (#{nodeId,jdbcType=SMALLINT}, #{nodeStateDesc,jdbcType=NVARCHAR}, #{memoryNodeId,jdbcType=SMALLINT}, 
      #{cpuAffinityMask,jdbcType=BIGINT}, #{onlineSchedulerCount,jdbcType=SMALLINT}, 
      #{idleSchedulerCount,jdbcType=SMALLINT}, #{activeWorkerCount,jdbcType=INTEGER}, 
      #{avgLoadBalance,jdbcType=INTEGER}, #{timerTaskAffinityMask,jdbcType=BIGINT}, #{permanentTaskAffinityMask,jdbcType=BIGINT}, 
      #{resourceMonitorState,jdbcType=BIT}, #{onlineSchedulerMask,jdbcType=BIGINT}, #{processorGroup,jdbcType=SMALLINT}, 
      #{memoryObjectAddress,jdbcType=VARBINARY}, #{memoryClerkAddress,jdbcType=VARBINARY}, 
      #{ioCompletionWorkerAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsNodesWithBLOBs" >
    insert into dm_os_nodes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="nodeStateDesc != null" >
        node_state_desc,
      </if>
      <if test="memoryNodeId != null" >
        memory_node_id,
      </if>
      <if test="cpuAffinityMask != null" >
        cpu_affinity_mask,
      </if>
      <if test="onlineSchedulerCount != null" >
        online_scheduler_count,
      </if>
      <if test="idleSchedulerCount != null" >
        idle_scheduler_count,
      </if>
      <if test="activeWorkerCount != null" >
        active_worker_count,
      </if>
      <if test="avgLoadBalance != null" >
        avg_load_balance,
      </if>
      <if test="timerTaskAffinityMask != null" >
        timer_task_affinity_mask,
      </if>
      <if test="permanentTaskAffinityMask != null" >
        permanent_task_affinity_mask,
      </if>
      <if test="resourceMonitorState != null" >
        resource_monitor_state,
      </if>
      <if test="onlineSchedulerMask != null" >
        online_scheduler_mask,
      </if>
      <if test="processorGroup != null" >
        processor_group,
      </if>
      <if test="memoryObjectAddress != null" >
        memory_object_address,
      </if>
      <if test="memoryClerkAddress != null" >
        memory_clerk_address,
      </if>
      <if test="ioCompletionWorkerAddress != null" >
        io_completion_worker_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nodeId != null" >
        #{nodeId,jdbcType=SMALLINT},
      </if>
      <if test="nodeStateDesc != null" >
        #{nodeStateDesc,jdbcType=NVARCHAR},
      </if>
      <if test="memoryNodeId != null" >
        #{memoryNodeId,jdbcType=SMALLINT},
      </if>
      <if test="cpuAffinityMask != null" >
        #{cpuAffinityMask,jdbcType=BIGINT},
      </if>
      <if test="onlineSchedulerCount != null" >
        #{onlineSchedulerCount,jdbcType=SMALLINT},
      </if>
      <if test="idleSchedulerCount != null" >
        #{idleSchedulerCount,jdbcType=SMALLINT},
      </if>
      <if test="activeWorkerCount != null" >
        #{activeWorkerCount,jdbcType=INTEGER},
      </if>
      <if test="avgLoadBalance != null" >
        #{avgLoadBalance,jdbcType=INTEGER},
      </if>
      <if test="timerTaskAffinityMask != null" >
        #{timerTaskAffinityMask,jdbcType=BIGINT},
      </if>
      <if test="permanentTaskAffinityMask != null" >
        #{permanentTaskAffinityMask,jdbcType=BIGINT},
      </if>
      <if test="resourceMonitorState != null" >
        #{resourceMonitorState,jdbcType=BIT},
      </if>
      <if test="onlineSchedulerMask != null" >
        #{onlineSchedulerMask,jdbcType=BIGINT},
      </if>
      <if test="processorGroup != null" >
        #{processorGroup,jdbcType=SMALLINT},
      </if>
      <if test="memoryObjectAddress != null" >
        #{memoryObjectAddress,jdbcType=VARBINARY},
      </if>
      <if test="memoryClerkAddress != null" >
        #{memoryClerkAddress,jdbcType=VARBINARY},
      </if>
      <if test="ioCompletionWorkerAddress != null" >
        #{ioCompletionWorkerAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>