<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsLatchStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsLatchStats" >
    <result column="latch_class" property="latchClass" jdbcType="NVARCHAR" />
    <result column="waiting_requests_count" property="waitingRequestsCount" jdbcType="BIGINT" />
    <result column="wait_time_ms" property="waitTimeMs" jdbcType="BIGINT" />
    <result column="max_wait_time_ms" property="maxWaitTimeMs" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsLatchStats" >
    insert into dm_os_latch_stats (latch_class, waiting_requests_count, 
      wait_time_ms, max_wait_time_ms)
    values (#{latchClass,jdbcType=NVARCHAR}, #{waitingRequestsCount,jdbcType=BIGINT}, 
      #{waitTimeMs,jdbcType=BIGINT}, #{maxWaitTimeMs,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsLatchStats" >
    insert into dm_os_latch_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="latchClass != null" >
        latch_class,
      </if>
      <if test="waitingRequestsCount != null" >
        waiting_requests_count,
      </if>
      <if test="waitTimeMs != null" >
        wait_time_ms,
      </if>
      <if test="maxWaitTimeMs != null" >
        max_wait_time_ms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="latchClass != null" >
        #{latchClass,jdbcType=NVARCHAR},
      </if>
      <if test="waitingRequestsCount != null" >
        #{waitingRequestsCount,jdbcType=BIGINT},
      </if>
      <if test="waitTimeMs != null" >
        #{waitTimeMs,jdbcType=BIGINT},
      </if>
      <if test="maxWaitTimeMs != null" >
        #{maxWaitTimeMs,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>