<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsSysMemoryMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysMemory" >
    <result column="total_physical_memory_kb" property="totalPhysicalMemoryKb" jdbcType="BIGINT" />
    <result column="available_physical_memory_kb" property="availablePhysicalMemoryKb" jdbcType="BIGINT" />
    <result column="total_page_file_kb" property="totalPageFileKb" jdbcType="BIGINT" />
    <result column="available_page_file_kb" property="availablePageFileKb" jdbcType="BIGINT" />
    <result column="system_cache_kb" property="systemCacheKb" jdbcType="BIGINT" />
    <result column="kernel_paged_pool_kb" property="kernelPagedPoolKb" jdbcType="BIGINT" />
    <result column="kernel_nonpaged_pool_kb" property="kernelNonpagedPoolKb" jdbcType="BIGINT" />
    <result column="system_high_memory_signal_state" property="systemHighMemorySignalState" jdbcType="BIT" />
    <result column="system_low_memory_signal_state" property="systemLowMemorySignalState" jdbcType="BIT" />
    <result column="system_memory_state_desc" property="systemMemoryStateDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysMemory" >
    insert into dm_os_sys_memory (total_physical_memory_kb, available_physical_memory_kb, 
      total_page_file_kb, available_page_file_kb, system_cache_kb, 
      kernel_paged_pool_kb, kernel_nonpaged_pool_kb, 
      system_high_memory_signal_state, system_low_memory_signal_state, 
      system_memory_state_desc)
    values (#{totalPhysicalMemoryKb,jdbcType=BIGINT}, #{availablePhysicalMemoryKb,jdbcType=BIGINT}, 
      #{totalPageFileKb,jdbcType=BIGINT}, #{availablePageFileKb,jdbcType=BIGINT}, #{systemCacheKb,jdbcType=BIGINT}, 
      #{kernelPagedPoolKb,jdbcType=BIGINT}, #{kernelNonpagedPoolKb,jdbcType=BIGINT}, 
      #{systemHighMemorySignalState,jdbcType=BIT}, #{systemLowMemorySignalState,jdbcType=BIT}, 
      #{systemMemoryStateDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysMemory" >
    insert into dm_os_sys_memory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="totalPhysicalMemoryKb != null" >
        total_physical_memory_kb,
      </if>
      <if test="availablePhysicalMemoryKb != null" >
        available_physical_memory_kb,
      </if>
      <if test="totalPageFileKb != null" >
        total_page_file_kb,
      </if>
      <if test="availablePageFileKb != null" >
        available_page_file_kb,
      </if>
      <if test="systemCacheKb != null" >
        system_cache_kb,
      </if>
      <if test="kernelPagedPoolKb != null" >
        kernel_paged_pool_kb,
      </if>
      <if test="kernelNonpagedPoolKb != null" >
        kernel_nonpaged_pool_kb,
      </if>
      <if test="systemHighMemorySignalState != null" >
        system_high_memory_signal_state,
      </if>
      <if test="systemLowMemorySignalState != null" >
        system_low_memory_signal_state,
      </if>
      <if test="systemMemoryStateDesc != null" >
        system_memory_state_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="totalPhysicalMemoryKb != null" >
        #{totalPhysicalMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="availablePhysicalMemoryKb != null" >
        #{availablePhysicalMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="totalPageFileKb != null" >
        #{totalPageFileKb,jdbcType=BIGINT},
      </if>
      <if test="availablePageFileKb != null" >
        #{availablePageFileKb,jdbcType=BIGINT},
      </if>
      <if test="systemCacheKb != null" >
        #{systemCacheKb,jdbcType=BIGINT},
      </if>
      <if test="kernelPagedPoolKb != null" >
        #{kernelPagedPoolKb,jdbcType=BIGINT},
      </if>
      <if test="kernelNonpagedPoolKb != null" >
        #{kernelNonpagedPoolKb,jdbcType=BIGINT},
      </if>
      <if test="systemHighMemorySignalState != null" >
        #{systemHighMemorySignalState,jdbcType=BIT},
      </if>
      <if test="systemLowMemorySignalState != null" >
        #{systemLowMemorySignalState,jdbcType=BIT},
      </if>
      <if test="systemMemoryStateDesc != null" >
        #{systemMemoryStateDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>