<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryCacheClockHandsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheClockHands" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="clock_hand" property="clockHand" jdbcType="NVARCHAR" />
    <result column="clock_status" property="clockStatus" jdbcType="NVARCHAR" />
    <result column="rounds_count" property="roundsCount" jdbcType="BIGINT" />
    <result column="removed_all_rounds_count" property="removedAllRoundsCount" jdbcType="BIGINT" />
    <result column="updated_last_round_count" property="updatedLastRoundCount" jdbcType="BIGINT" />
    <result column="removed_last_round_count" property="removedLastRoundCount" jdbcType="BIGINT" />
    <result column="last_tick_time" property="lastTickTime" jdbcType="BIGINT" />
    <result column="round_start_time" property="roundStartTime" jdbcType="BIGINT" />
    <result column="last_round_start_time" property="lastRoundStartTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheClockHands" extends="BaseResultMap" >
    <result column="cache_address" property="cacheAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    cache_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheClockHands" >
    insert into dm_os_memory_cache_clock_hands (name, type, clock_hand, 
      clock_status, rounds_count, removed_all_rounds_count, 
      updated_last_round_count, removed_last_round_count, 
      last_tick_time, round_start_time, last_round_start_time, 
      cache_address)
    values (#{name,jdbcType=NVARCHAR}, #{type,jdbcType=NVARCHAR}, #{clockHand,jdbcType=NVARCHAR}, 
      #{clockStatus,jdbcType=NVARCHAR}, #{roundsCount,jdbcType=BIGINT}, #{removedAllRoundsCount,jdbcType=BIGINT}, 
      #{updatedLastRoundCount,jdbcType=BIGINT}, #{removedLastRoundCount,jdbcType=BIGINT}, 
      #{lastTickTime,jdbcType=BIGINT}, #{roundStartTime,jdbcType=BIGINT}, #{lastRoundStartTime,jdbcType=BIGINT}, 
      #{cacheAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheClockHands" >
    insert into dm_os_memory_cache_clock_hands
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="clockHand != null" >
        clock_hand,
      </if>
      <if test="clockStatus != null" >
        clock_status,
      </if>
      <if test="roundsCount != null" >
        rounds_count,
      </if>
      <if test="removedAllRoundsCount != null" >
        removed_all_rounds_count,
      </if>
      <if test="updatedLastRoundCount != null" >
        updated_last_round_count,
      </if>
      <if test="removedLastRoundCount != null" >
        removed_last_round_count,
      </if>
      <if test="lastTickTime != null" >
        last_tick_time,
      </if>
      <if test="roundStartTime != null" >
        round_start_time,
      </if>
      <if test="lastRoundStartTime != null" >
        last_round_start_time,
      </if>
      <if test="cacheAddress != null" >
        cache_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="clockHand != null" >
        #{clockHand,jdbcType=NVARCHAR},
      </if>
      <if test="clockStatus != null" >
        #{clockStatus,jdbcType=NVARCHAR},
      </if>
      <if test="roundsCount != null" >
        #{roundsCount,jdbcType=BIGINT},
      </if>
      <if test="removedAllRoundsCount != null" >
        #{removedAllRoundsCount,jdbcType=BIGINT},
      </if>
      <if test="updatedLastRoundCount != null" >
        #{updatedLastRoundCount,jdbcType=BIGINT},
      </if>
      <if test="removedLastRoundCount != null" >
        #{removedLastRoundCount,jdbcType=BIGINT},
      </if>
      <if test="lastTickTime != null" >
        #{lastTickTime,jdbcType=BIGINT},
      </if>
      <if test="roundStartTime != null" >
        #{roundStartTime,jdbcType=BIGINT},
      </if>
      <if test="lastRoundStartTime != null" >
        #{lastRoundStartTime,jdbcType=BIGINT},
      </if>
      <if test="cacheAddress != null" >
        #{cacheAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>