<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsSchedulersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSchedulers" >
    <result column="parent_node_id" property="parentNodeId" jdbcType="INTEGER" />
    <result column="scheduler_id" property="schedulerId" jdbcType="INTEGER" />
    <result column="cpu_id" property="cpuId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="NVARCHAR" />
    <result column="is_online" property="isOnline" jdbcType="BIT" />
    <result column="is_idle" property="isIdle" jdbcType="BIT" />
    <result column="preemptive_switches_count" property="preemptiveSwitchesCount" jdbcType="INTEGER" />
    <result column="context_switches_count" property="contextSwitchesCount" jdbcType="INTEGER" />
    <result column="idle_switches_count" property="idleSwitchesCount" jdbcType="INTEGER" />
    <result column="current_tasks_count" property="currentTasksCount" jdbcType="INTEGER" />
    <result column="runnable_tasks_count" property="runnableTasksCount" jdbcType="INTEGER" />
    <result column="current_workers_count" property="currentWorkersCount" jdbcType="INTEGER" />
    <result column="active_workers_count" property="activeWorkersCount" jdbcType="INTEGER" />
    <result column="work_queue_count" property="workQueueCount" jdbcType="BIGINT" />
    <result column="pending_disk_io_count" property="pendingDiskIoCount" jdbcType="INTEGER" />
    <result column="load_factor" property="loadFactor" jdbcType="INTEGER" />
    <result column="yield_count" property="yieldCount" jdbcType="INTEGER" />
    <result column="last_timer_activity" property="lastTimerActivity" jdbcType="BIGINT" />
    <result column="failed_to_create_worker" property="failedToCreateWorker" jdbcType="BIT" />
    <result column="quantum_length_us" property="quantumLengthUs" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSchedulersWithBLOBs" extends="BaseResultMap" >
    <result column="scheduler_address" property="schedulerAddress" jdbcType="VARBINARY" />
    <result column="active_worker_address" property="activeWorkerAddress" jdbcType="VARBINARY" />
    <result column="memory_object_address" property="memoryObjectAddress" jdbcType="VARBINARY" />
    <result column="task_memory_object_address" property="taskMemoryObjectAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    scheduler_address, active_worker_address, memory_object_address, task_memory_object_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSchedulersWithBLOBs" >
    insert into dm_os_schedulers (parent_node_id, scheduler_id, cpu_id, 
      status, is_online, is_idle, 
      preemptive_switches_count, context_switches_count, 
      idle_switches_count, current_tasks_count, runnable_tasks_count, 
      current_workers_count, active_workers_count, 
      work_queue_count, pending_disk_io_count, load_factor, 
      yield_count, last_timer_activity, failed_to_create_worker, 
      quantum_length_us, scheduler_address, active_worker_address, 
      memory_object_address, task_memory_object_address
      )
    values (#{parentNodeId,jdbcType=INTEGER}, #{schedulerId,jdbcType=INTEGER}, #{cpuId,jdbcType=INTEGER}, 
      #{status,jdbcType=NVARCHAR}, #{isOnline,jdbcType=BIT}, #{isIdle,jdbcType=BIT}, 
      #{preemptiveSwitchesCount,jdbcType=INTEGER}, #{contextSwitchesCount,jdbcType=INTEGER}, 
      #{idleSwitchesCount,jdbcType=INTEGER}, #{currentTasksCount,jdbcType=INTEGER}, #{runnableTasksCount,jdbcType=INTEGER}, 
      #{currentWorkersCount,jdbcType=INTEGER}, #{activeWorkersCount,jdbcType=INTEGER}, 
      #{workQueueCount,jdbcType=BIGINT}, #{pendingDiskIoCount,jdbcType=INTEGER}, #{loadFactor,jdbcType=INTEGER}, 
      #{yieldCount,jdbcType=INTEGER}, #{lastTimerActivity,jdbcType=BIGINT}, #{failedToCreateWorker,jdbcType=BIT}, 
      #{quantumLengthUs,jdbcType=BIGINT}, #{schedulerAddress,jdbcType=VARBINARY}, #{activeWorkerAddress,jdbcType=VARBINARY}, 
      #{memoryObjectAddress,jdbcType=VARBINARY}, #{taskMemoryObjectAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSchedulersWithBLOBs" >
    insert into dm_os_schedulers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentNodeId != null" >
        parent_node_id,
      </if>
      <if test="schedulerId != null" >
        scheduler_id,
      </if>
      <if test="cpuId != null" >
        cpu_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isOnline != null" >
        is_online,
      </if>
      <if test="isIdle != null" >
        is_idle,
      </if>
      <if test="preemptiveSwitchesCount != null" >
        preemptive_switches_count,
      </if>
      <if test="contextSwitchesCount != null" >
        context_switches_count,
      </if>
      <if test="idleSwitchesCount != null" >
        idle_switches_count,
      </if>
      <if test="currentTasksCount != null" >
        current_tasks_count,
      </if>
      <if test="runnableTasksCount != null" >
        runnable_tasks_count,
      </if>
      <if test="currentWorkersCount != null" >
        current_workers_count,
      </if>
      <if test="activeWorkersCount != null" >
        active_workers_count,
      </if>
      <if test="workQueueCount != null" >
        work_queue_count,
      </if>
      <if test="pendingDiskIoCount != null" >
        pending_disk_io_count,
      </if>
      <if test="loadFactor != null" >
        load_factor,
      </if>
      <if test="yieldCount != null" >
        yield_count,
      </if>
      <if test="lastTimerActivity != null" >
        last_timer_activity,
      </if>
      <if test="failedToCreateWorker != null" >
        failed_to_create_worker,
      </if>
      <if test="quantumLengthUs != null" >
        quantum_length_us,
      </if>
      <if test="schedulerAddress != null" >
        scheduler_address,
      </if>
      <if test="activeWorkerAddress != null" >
        active_worker_address,
      </if>
      <if test="memoryObjectAddress != null" >
        memory_object_address,
      </if>
      <if test="taskMemoryObjectAddress != null" >
        task_memory_object_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentNodeId != null" >
        #{parentNodeId,jdbcType=INTEGER},
      </if>
      <if test="schedulerId != null" >
        #{schedulerId,jdbcType=INTEGER},
      </if>
      <if test="cpuId != null" >
        #{cpuId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=NVARCHAR},
      </if>
      <if test="isOnline != null" >
        #{isOnline,jdbcType=BIT},
      </if>
      <if test="isIdle != null" >
        #{isIdle,jdbcType=BIT},
      </if>
      <if test="preemptiveSwitchesCount != null" >
        #{preemptiveSwitchesCount,jdbcType=INTEGER},
      </if>
      <if test="contextSwitchesCount != null" >
        #{contextSwitchesCount,jdbcType=INTEGER},
      </if>
      <if test="idleSwitchesCount != null" >
        #{idleSwitchesCount,jdbcType=INTEGER},
      </if>
      <if test="currentTasksCount != null" >
        #{currentTasksCount,jdbcType=INTEGER},
      </if>
      <if test="runnableTasksCount != null" >
        #{runnableTasksCount,jdbcType=INTEGER},
      </if>
      <if test="currentWorkersCount != null" >
        #{currentWorkersCount,jdbcType=INTEGER},
      </if>
      <if test="activeWorkersCount != null" >
        #{activeWorkersCount,jdbcType=INTEGER},
      </if>
      <if test="workQueueCount != null" >
        #{workQueueCount,jdbcType=BIGINT},
      </if>
      <if test="pendingDiskIoCount != null" >
        #{pendingDiskIoCount,jdbcType=INTEGER},
      </if>
      <if test="loadFactor != null" >
        #{loadFactor,jdbcType=INTEGER},
      </if>
      <if test="yieldCount != null" >
        #{yieldCount,jdbcType=INTEGER},
      </if>
      <if test="lastTimerActivity != null" >
        #{lastTimerActivity,jdbcType=BIGINT},
      </if>
      <if test="failedToCreateWorker != null" >
        #{failedToCreateWorker,jdbcType=BIT},
      </if>
      <if test="quantumLengthUs != null" >
        #{quantumLengthUs,jdbcType=BIGINT},
      </if>
      <if test="schedulerAddress != null" >
        #{schedulerAddress,jdbcType=VARBINARY},
      </if>
      <if test="activeWorkerAddress != null" >
        #{activeWorkerAddress,jdbcType=VARBINARY},
      </if>
      <if test="memoryObjectAddress != null" >
        #{memoryObjectAddress,jdbcType=VARBINARY},
      </if>
      <if test="taskMemoryObjectAddress != null" >
        #{taskMemoryObjectAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>