<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsDispatchersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsDispatchers" >
    <result column="state" property="state" jdbcType="NVARCHAR" />
    <result column="wait_duration" property="waitDuration" jdbcType="BIGINT" />
    <result column="current_item_duration" property="currentItemDuration" jdbcType="BIGINT" />
    <result column="items_processed" property="itemsProcessed" jdbcType="BIGINT" />
    <result column="fade_end_time" property="fadeEndTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsDispatchersWithBLOBs" extends="BaseResultMap" >
    <result column="dispatcher_pool_address" property="dispatcherPoolAddress" jdbcType="VARBINARY" />
    <result column="task_address" property="taskAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    dispatcher_pool_address, task_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsDispatchersWithBLOBs" >
    insert into dm_os_dispatchers (state, wait_duration, current_item_duration, 
      items_processed, fade_end_time, dispatcher_pool_address, 
      task_address)
    values (#{state,jdbcType=NVARCHAR}, #{waitDuration,jdbcType=BIGINT}, #{currentItemDuration,jdbcType=BIGINT}, 
      #{itemsProcessed,jdbcType=BIGINT}, #{fadeEndTime,jdbcType=INTEGER}, #{dispatcherPoolAddress,jdbcType=VARBINARY}, 
      #{taskAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsDispatchersWithBLOBs" >
    insert into dm_os_dispatchers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="state != null" >
        state,
      </if>
      <if test="waitDuration != null" >
        wait_duration,
      </if>
      <if test="currentItemDuration != null" >
        current_item_duration,
      </if>
      <if test="itemsProcessed != null" >
        items_processed,
      </if>
      <if test="fadeEndTime != null" >
        fade_end_time,
      </if>
      <if test="dispatcherPoolAddress != null" >
        dispatcher_pool_address,
      </if>
      <if test="taskAddress != null" >
        task_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="state != null" >
        #{state,jdbcType=NVARCHAR},
      </if>
      <if test="waitDuration != null" >
        #{waitDuration,jdbcType=BIGINT},
      </if>
      <if test="currentItemDuration != null" >
        #{currentItemDuration,jdbcType=BIGINT},
      </if>
      <if test="itemsProcessed != null" >
        #{itemsProcessed,jdbcType=BIGINT},
      </if>
      <if test="fadeEndTime != null" >
        #{fadeEndTime,jdbcType=INTEGER},
      </if>
      <if test="dispatcherPoolAddress != null" >
        #{dispatcherPoolAddress,jdbcType=VARBINARY},
      </if>
      <if test="taskAddress != null" >
        #{taskAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>