<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryObjectsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryObjects" >
    <result column="pages_in_bytes" property="pagesInBytes" jdbcType="BIGINT" />
    <result column="creation_options" property="creationOptions" jdbcType="INTEGER" />
    <result column="bytes_used" property="bytesUsed" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="memory_node_id" property="memoryNodeId" jdbcType="SMALLINT" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="page_size_in_bytes" property="pageSizeInBytes" jdbcType="INTEGER" />
    <result column="max_pages_in_bytes" property="maxPagesInBytes" jdbcType="BIGINT" />
    <result column="sequence_num" property="sequenceNum" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryObjectsWithBLOBs" extends="BaseResultMap" >
    <result column="memory_object_address" property="memoryObjectAddress" jdbcType="VARBINARY" />
    <result column="parent_address" property="parentAddress" jdbcType="VARBINARY" />
    <result column="page_allocator_address" property="pageAllocatorAddress" jdbcType="VARBINARY" />
    <result column="creation_stack_address" property="creationStackAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_object_address, parent_address, page_allocator_address, creation_stack_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryObjectsWithBLOBs" >
    insert into dm_os_memory_objects (pages_in_bytes, creation_options, bytes_used, 
      type, name, memory_node_id, 
      creation_time, page_size_in_bytes, max_pages_in_bytes, 
      sequence_num, memory_object_address, parent_address, 
      page_allocator_address, creation_stack_address
      )
    values (#{pagesInBytes,jdbcType=BIGINT}, #{creationOptions,jdbcType=INTEGER}, #{bytesUsed,jdbcType=BIGINT}, 
      #{type,jdbcType=NVARCHAR}, #{name,jdbcType=VARCHAR}, #{memoryNodeId,jdbcType=SMALLINT}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{pageSizeInBytes,jdbcType=INTEGER}, #{maxPagesInBytes,jdbcType=BIGINT}, 
      #{sequenceNum,jdbcType=INTEGER}, #{memoryObjectAddress,jdbcType=VARBINARY}, #{parentAddress,jdbcType=VARBINARY}, 
      #{pageAllocatorAddress,jdbcType=VARBINARY}, #{creationStackAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryObjectsWithBLOBs" >
    insert into dm_os_memory_objects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pagesInBytes != null" >
        pages_in_bytes,
      </if>
      <if test="creationOptions != null" >
        creation_options,
      </if>
      <if test="bytesUsed != null" >
        bytes_used,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="memoryNodeId != null" >
        memory_node_id,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="pageSizeInBytes != null" >
        page_size_in_bytes,
      </if>
      <if test="maxPagesInBytes != null" >
        max_pages_in_bytes,
      </if>
      <if test="sequenceNum != null" >
        sequence_num,
      </if>
      <if test="memoryObjectAddress != null" >
        memory_object_address,
      </if>
      <if test="parentAddress != null" >
        parent_address,
      </if>
      <if test="pageAllocatorAddress != null" >
        page_allocator_address,
      </if>
      <if test="creationStackAddress != null" >
        creation_stack_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pagesInBytes != null" >
        #{pagesInBytes,jdbcType=BIGINT},
      </if>
      <if test="creationOptions != null" >
        #{creationOptions,jdbcType=INTEGER},
      </if>
      <if test="bytesUsed != null" >
        #{bytesUsed,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="memoryNodeId != null" >
        #{memoryNodeId,jdbcType=SMALLINT},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pageSizeInBytes != null" >
        #{pageSizeInBytes,jdbcType=INTEGER},
      </if>
      <if test="maxPagesInBytes != null" >
        #{maxPagesInBytes,jdbcType=BIGINT},
      </if>
      <if test="sequenceNum != null" >
        #{sequenceNum,jdbcType=INTEGER},
      </if>
      <if test="memoryObjectAddress != null" >
        #{memoryObjectAddress,jdbcType=VARBINARY},
      </if>
      <if test="parentAddress != null" >
        #{parentAddress,jdbcType=VARBINARY},
      </if>
      <if test="pageAllocatorAddress != null" >
        #{pageAllocatorAddress,jdbcType=VARBINARY},
      </if>
      <if test="creationStackAddress != null" >
        #{creationStackAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>