<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryClerksMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryClerks" >
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="memory_node_id" property="memoryNodeId" jdbcType="SMALLINT" />
    <result column="pages_kb" property="pagesKb" jdbcType="BIGINT" />
    <result column="virtual_memory_reserved_kb" property="virtualMemoryReservedKb" jdbcType="BIGINT" />
    <result column="virtual_memory_committed_kb" property="virtualMemoryCommittedKb" jdbcType="BIGINT" />
    <result column="awe_allocated_kb" property="aweAllocatedKb" jdbcType="BIGINT" />
    <result column="shared_memory_reserved_kb" property="sharedMemoryReservedKb" jdbcType="BIGINT" />
    <result column="shared_memory_committed_kb" property="sharedMemoryCommittedKb" jdbcType="BIGINT" />
    <result column="page_size_in_bytes" property="pageSizeInBytes" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryClerksWithBLOBs" extends="BaseResultMap" >
    <result column="memory_clerk_address" property="memoryClerkAddress" jdbcType="VARBINARY" />
    <result column="page_allocator_address" property="pageAllocatorAddress" jdbcType="VARBINARY" />
    <result column="host_address" property="hostAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_clerk_address, page_allocator_address, host_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryClerksWithBLOBs" >
    insert into dm_os_memory_clerks (type, name, memory_node_id, 
      pages_kb, virtual_memory_reserved_kb, virtual_memory_committed_kb, 
      awe_allocated_kb, shared_memory_reserved_kb, shared_memory_committed_kb, 
      page_size_in_bytes, memory_clerk_address, page_allocator_address, 
      host_address)
    values (#{type,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{memoryNodeId,jdbcType=SMALLINT}, 
      #{pagesKb,jdbcType=BIGINT}, #{virtualMemoryReservedKb,jdbcType=BIGINT}, #{virtualMemoryCommittedKb,jdbcType=BIGINT}, 
      #{aweAllocatedKb,jdbcType=BIGINT}, #{sharedMemoryReservedKb,jdbcType=BIGINT}, #{sharedMemoryCommittedKb,jdbcType=BIGINT}, 
      #{pageSizeInBytes,jdbcType=BIGINT}, #{memoryClerkAddress,jdbcType=VARBINARY}, #{pageAllocatorAddress,jdbcType=VARBINARY}, 
      #{hostAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryClerksWithBLOBs" >
    insert into dm_os_memory_clerks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="memoryNodeId != null" >
        memory_node_id,
      </if>
      <if test="pagesKb != null" >
        pages_kb,
      </if>
      <if test="virtualMemoryReservedKb != null" >
        virtual_memory_reserved_kb,
      </if>
      <if test="virtualMemoryCommittedKb != null" >
        virtual_memory_committed_kb,
      </if>
      <if test="aweAllocatedKb != null" >
        awe_allocated_kb,
      </if>
      <if test="sharedMemoryReservedKb != null" >
        shared_memory_reserved_kb,
      </if>
      <if test="sharedMemoryCommittedKb != null" >
        shared_memory_committed_kb,
      </if>
      <if test="pageSizeInBytes != null" >
        page_size_in_bytes,
      </if>
      <if test="memoryClerkAddress != null" >
        memory_clerk_address,
      </if>
      <if test="pageAllocatorAddress != null" >
        page_allocator_address,
      </if>
      <if test="hostAddress != null" >
        host_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="memoryNodeId != null" >
        #{memoryNodeId,jdbcType=SMALLINT},
      </if>
      <if test="pagesKb != null" >
        #{pagesKb,jdbcType=BIGINT},
      </if>
      <if test="virtualMemoryReservedKb != null" >
        #{virtualMemoryReservedKb,jdbcType=BIGINT},
      </if>
      <if test="virtualMemoryCommittedKb != null" >
        #{virtualMemoryCommittedKb,jdbcType=BIGINT},
      </if>
      <if test="aweAllocatedKb != null" >
        #{aweAllocatedKb,jdbcType=BIGINT},
      </if>
      <if test="sharedMemoryReservedKb != null" >
        #{sharedMemoryReservedKb,jdbcType=BIGINT},
      </if>
      <if test="sharedMemoryCommittedKb != null" >
        #{sharedMemoryCommittedKb,jdbcType=BIGINT},
      </if>
      <if test="pageSizeInBytes != null" >
        #{pageSizeInBytes,jdbcType=BIGINT},
      </if>
      <if test="memoryClerkAddress != null" >
        #{memoryClerkAddress,jdbcType=VARBINARY},
      </if>
      <if test="pageAllocatorAddress != null" >
        #{pageAllocatorAddress,jdbcType=VARBINARY},
      </if>
      <if test="hostAddress != null" >
        #{hostAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>