<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryBrokerClerksMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryBrokerClerks" >
    <result column="clerk_name" property="clerkName" jdbcType="NVARCHAR" />
    <result column="total_kb" property="totalKb" jdbcType="BIGINT" />
    <result column="simulated_kb" property="simulatedKb" jdbcType="BIGINT" />
    <result column="simulation_benefit" property="simulationBenefit" jdbcType="DOUBLE" />
    <result column="internal_benefit" property="internalBenefit" jdbcType="DOUBLE" />
    <result column="external_benefit" property="externalBenefit" jdbcType="DOUBLE" />
    <result column="value_of_memory" property="valueOfMemory" jdbcType="DOUBLE" />
    <result column="periodic_freed_kb" property="periodicFreedKb" jdbcType="BIGINT" />
    <result column="internal_freed_kb" property="internalFreedKb" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryBrokerClerks" >
    insert into dm_os_memory_broker_clerks (clerk_name, total_kb, simulated_kb, 
      simulation_benefit, internal_benefit, external_benefit, 
      value_of_memory, periodic_freed_kb, internal_freed_kb
      )
    values (#{clerkName,jdbcType=NVARCHAR}, #{totalKb,jdbcType=BIGINT}, #{simulatedKb,jdbcType=BIGINT}, 
      #{simulationBenefit,jdbcType=DOUBLE}, #{internalBenefit,jdbcType=DOUBLE}, #{externalBenefit,jdbcType=DOUBLE}, 
      #{valueOfMemory,jdbcType=DOUBLE}, #{periodicFreedKb,jdbcType=BIGINT}, #{internalFreedKb,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryBrokerClerks" >
    insert into dm_os_memory_broker_clerks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clerkName != null" >
        clerk_name,
      </if>
      <if test="totalKb != null" >
        total_kb,
      </if>
      <if test="simulatedKb != null" >
        simulated_kb,
      </if>
      <if test="simulationBenefit != null" >
        simulation_benefit,
      </if>
      <if test="internalBenefit != null" >
        internal_benefit,
      </if>
      <if test="externalBenefit != null" >
        external_benefit,
      </if>
      <if test="valueOfMemory != null" >
        value_of_memory,
      </if>
      <if test="periodicFreedKb != null" >
        periodic_freed_kb,
      </if>
      <if test="internalFreedKb != null" >
        internal_freed_kb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clerkName != null" >
        #{clerkName,jdbcType=NVARCHAR},
      </if>
      <if test="totalKb != null" >
        #{totalKb,jdbcType=BIGINT},
      </if>
      <if test="simulatedKb != null" >
        #{simulatedKb,jdbcType=BIGINT},
      </if>
      <if test="simulationBenefit != null" >
        #{simulationBenefit,jdbcType=DOUBLE},
      </if>
      <if test="internalBenefit != null" >
        #{internalBenefit,jdbcType=DOUBLE},
      </if>
      <if test="externalBenefit != null" >
        #{externalBenefit,jdbcType=DOUBLE},
      </if>
      <if test="valueOfMemory != null" >
        #{valueOfMemory,jdbcType=DOUBLE},
      </if>
      <if test="periodicFreedKb != null" >
        #{periodicFreedKb,jdbcType=BIGINT},
      </if>
      <if test="internalFreedKb != null" >
        #{internalFreedKb,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>