<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsChildInstancesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsChildInstances" >
    <result column="owning_principal_name" property="owningPrincipalName" jdbcType="NVARCHAR" />
    <result column="owning_principal_sid" property="owningPrincipalSid" jdbcType="NVARCHAR" />
    <result column="instance_name" property="instanceName" jdbcType="NVARCHAR" />
    <result column="instance_pipe_name" property="instancePipeName" jdbcType="NVARCHAR" />
    <result column="OS_process_id" property="osProcessId" jdbcType="INTEGER" />
    <result column="OS_process_creation_date" property="osProcessCreationDate" jdbcType="TIMESTAMP" />
    <result column="heart_beat" property="heartBeat" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsChildInstances" extends="BaseResultMap" >
    <result column="owning_principal_sid_binary" property="owningPrincipalSidBinary" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    owning_principal_sid_binary
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsChildInstances" >
    insert into dm_os_child_instances (owning_principal_name, owning_principal_sid, 
      instance_name, instance_pipe_name, OS_process_id, 
      OS_process_creation_date, heart_beat, owning_principal_sid_binary
      )
    values (#{owningPrincipalName,jdbcType=NVARCHAR}, #{owningPrincipalSid,jdbcType=NVARCHAR}, 
      #{instanceName,jdbcType=NVARCHAR}, #{instancePipeName,jdbcType=NVARCHAR}, #{osProcessId,jdbcType=INTEGER}, 
      #{osProcessCreationDate,jdbcType=TIMESTAMP}, #{heartBeat,jdbcType=NVARCHAR}, #{owningPrincipalSidBinary,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsChildInstances" >
    insert into dm_os_child_instances
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="owningPrincipalName != null" >
        owning_principal_name,
      </if>
      <if test="owningPrincipalSid != null" >
        owning_principal_sid,
      </if>
      <if test="instanceName != null" >
        instance_name,
      </if>
      <if test="instancePipeName != null" >
        instance_pipe_name,
      </if>
      <if test="osProcessId != null" >
        OS_process_id,
      </if>
      <if test="osProcessCreationDate != null" >
        OS_process_creation_date,
      </if>
      <if test="heartBeat != null" >
        heart_beat,
      </if>
      <if test="owningPrincipalSidBinary != null" >
        owning_principal_sid_binary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="owningPrincipalName != null" >
        #{owningPrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="owningPrincipalSid != null" >
        #{owningPrincipalSid,jdbcType=NVARCHAR},
      </if>
      <if test="instanceName != null" >
        #{instanceName,jdbcType=NVARCHAR},
      </if>
      <if test="instancePipeName != null" >
        #{instancePipeName,jdbcType=NVARCHAR},
      </if>
      <if test="osProcessId != null" >
        #{osProcessId,jdbcType=INTEGER},
      </if>
      <if test="osProcessCreationDate != null" >
        #{osProcessCreationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="heartBeat != null" >
        #{heartBeat,jdbcType=NVARCHAR},
      </if>
      <if test="owningPrincipalSidBinary != null" >
        #{owningPrincipalSidBinary,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>