<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsSysInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysInfo" >
    <result column="cpu_ticks" property="cpuTicks" jdbcType="BIGINT" />
    <result column="ms_ticks" property="msTicks" jdbcType="BIGINT" />
    <result column="cpu_count" property="cpuCount" jdbcType="INTEGER" />
    <result column="hyperthread_ratio" property="hyperthreadRatio" jdbcType="INTEGER" />
    <result column="physical_memory_kb" property="physicalMemoryKb" jdbcType="BIGINT" />
    <result column="virtual_memory_kb" property="virtualMemoryKb" jdbcType="BIGINT" />
    <result column="committed_kb" property="committedKb" jdbcType="BIGINT" />
    <result column="committed_target_kb" property="committedTargetKb" jdbcType="BIGINT" />
    <result column="visible_target_kb" property="visibleTargetKb" jdbcType="BIGINT" />
    <result column="stack_size_in_bytes" property="stackSizeInBytes" jdbcType="INTEGER" />
    <result column="os_quantum" property="osQuantum" jdbcType="BIGINT" />
    <result column="os_error_mode" property="osErrorMode" jdbcType="INTEGER" />
    <result column="os_priority_class" property="osPriorityClass" jdbcType="INTEGER" />
    <result column="max_workers_count" property="maxWorkersCount" jdbcType="INTEGER" />
    <result column="scheduler_count" property="schedulerCount" jdbcType="INTEGER" />
    <result column="scheduler_total_count" property="schedulerTotalCount" jdbcType="INTEGER" />
    <result column="deadlock_monitor_serial_number" property="deadlockMonitorSerialNumber" jdbcType="INTEGER" />
    <result column="sqlserver_start_time_ms_ticks" property="sqlserverStartTimeMsTicks" jdbcType="BIGINT" />
    <result column="sqlserver_start_time" property="sqlserverStartTime" jdbcType="TIMESTAMP" />
    <result column="affinity_type" property="affinityType" jdbcType="INTEGER" />
    <result column="affinity_type_desc" property="affinityTypeDesc" jdbcType="NVARCHAR" />
    <result column="process_kernel_time_ms" property="processKernelTimeMs" jdbcType="BIGINT" />
    <result column="process_user_time_ms" property="processUserTimeMs" jdbcType="BIGINT" />
    <result column="time_source" property="timeSource" jdbcType="INTEGER" />
    <result column="time_source_desc" property="timeSourceDesc" jdbcType="NVARCHAR" />
    <result column="virtual_machine_type" property="virtualMachineType" jdbcType="INTEGER" />
    <result column="virtual_machine_type_desc" property="virtualMachineTypeDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysInfo" >
    insert into dm_os_sys_info (cpu_ticks, ms_ticks, cpu_count, 
      hyperthread_ratio, physical_memory_kb, virtual_memory_kb, 
      committed_kb, committed_target_kb, visible_target_kb, 
      stack_size_in_bytes, os_quantum, os_error_mode, 
      os_priority_class, max_workers_count, scheduler_count, 
      scheduler_total_count, deadlock_monitor_serial_number, 
      sqlserver_start_time_ms_ticks, sqlserver_start_time, 
      affinity_type, affinity_type_desc, process_kernel_time_ms, 
      process_user_time_ms, time_source, time_source_desc, 
      virtual_machine_type, virtual_machine_type_desc
      )
    values (#{cpuTicks,jdbcType=BIGINT}, #{msTicks,jdbcType=BIGINT}, #{cpuCount,jdbcType=INTEGER}, 
      #{hyperthreadRatio,jdbcType=INTEGER}, #{physicalMemoryKb,jdbcType=BIGINT}, #{virtualMemoryKb,jdbcType=BIGINT}, 
      #{committedKb,jdbcType=BIGINT}, #{committedTargetKb,jdbcType=BIGINT}, #{visibleTargetKb,jdbcType=BIGINT}, 
      #{stackSizeInBytes,jdbcType=INTEGER}, #{osQuantum,jdbcType=BIGINT}, #{osErrorMode,jdbcType=INTEGER}, 
      #{osPriorityClass,jdbcType=INTEGER}, #{maxWorkersCount,jdbcType=INTEGER}, #{schedulerCount,jdbcType=INTEGER}, 
      #{schedulerTotalCount,jdbcType=INTEGER}, #{deadlockMonitorSerialNumber,jdbcType=INTEGER}, 
      #{sqlserverStartTimeMsTicks,jdbcType=BIGINT}, #{sqlserverStartTime,jdbcType=TIMESTAMP}, 
      #{affinityType,jdbcType=INTEGER}, #{affinityTypeDesc,jdbcType=NVARCHAR}, #{processKernelTimeMs,jdbcType=BIGINT}, 
      #{processUserTimeMs,jdbcType=BIGINT}, #{timeSource,jdbcType=INTEGER}, #{timeSourceDesc,jdbcType=NVARCHAR}, 
      #{virtualMachineType,jdbcType=INTEGER}, #{virtualMachineTypeDesc,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsSysInfo" >
    insert into dm_os_sys_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cpuTicks != null" >
        cpu_ticks,
      </if>
      <if test="msTicks != null" >
        ms_ticks,
      </if>
      <if test="cpuCount != null" >
        cpu_count,
      </if>
      <if test="hyperthreadRatio != null" >
        hyperthread_ratio,
      </if>
      <if test="physicalMemoryKb != null" >
        physical_memory_kb,
      </if>
      <if test="virtualMemoryKb != null" >
        virtual_memory_kb,
      </if>
      <if test="committedKb != null" >
        committed_kb,
      </if>
      <if test="committedTargetKb != null" >
        committed_target_kb,
      </if>
      <if test="visibleTargetKb != null" >
        visible_target_kb,
      </if>
      <if test="stackSizeInBytes != null" >
        stack_size_in_bytes,
      </if>
      <if test="osQuantum != null" >
        os_quantum,
      </if>
      <if test="osErrorMode != null" >
        os_error_mode,
      </if>
      <if test="osPriorityClass != null" >
        os_priority_class,
      </if>
      <if test="maxWorkersCount != null" >
        max_workers_count,
      </if>
      <if test="schedulerCount != null" >
        scheduler_count,
      </if>
      <if test="schedulerTotalCount != null" >
        scheduler_total_count,
      </if>
      <if test="deadlockMonitorSerialNumber != null" >
        deadlock_monitor_serial_number,
      </if>
      <if test="sqlserverStartTimeMsTicks != null" >
        sqlserver_start_time_ms_ticks,
      </if>
      <if test="sqlserverStartTime != null" >
        sqlserver_start_time,
      </if>
      <if test="affinityType != null" >
        affinity_type,
      </if>
      <if test="affinityTypeDesc != null" >
        affinity_type_desc,
      </if>
      <if test="processKernelTimeMs != null" >
        process_kernel_time_ms,
      </if>
      <if test="processUserTimeMs != null" >
        process_user_time_ms,
      </if>
      <if test="timeSource != null" >
        time_source,
      </if>
      <if test="timeSourceDesc != null" >
        time_source_desc,
      </if>
      <if test="virtualMachineType != null" >
        virtual_machine_type,
      </if>
      <if test="virtualMachineTypeDesc != null" >
        virtual_machine_type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cpuTicks != null" >
        #{cpuTicks,jdbcType=BIGINT},
      </if>
      <if test="msTicks != null" >
        #{msTicks,jdbcType=BIGINT},
      </if>
      <if test="cpuCount != null" >
        #{cpuCount,jdbcType=INTEGER},
      </if>
      <if test="hyperthreadRatio != null" >
        #{hyperthreadRatio,jdbcType=INTEGER},
      </if>
      <if test="physicalMemoryKb != null" >
        #{physicalMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="virtualMemoryKb != null" >
        #{virtualMemoryKb,jdbcType=BIGINT},
      </if>
      <if test="committedKb != null" >
        #{committedKb,jdbcType=BIGINT},
      </if>
      <if test="committedTargetKb != null" >
        #{committedTargetKb,jdbcType=BIGINT},
      </if>
      <if test="visibleTargetKb != null" >
        #{visibleTargetKb,jdbcType=BIGINT},
      </if>
      <if test="stackSizeInBytes != null" >
        #{stackSizeInBytes,jdbcType=INTEGER},
      </if>
      <if test="osQuantum != null" >
        #{osQuantum,jdbcType=BIGINT},
      </if>
      <if test="osErrorMode != null" >
        #{osErrorMode,jdbcType=INTEGER},
      </if>
      <if test="osPriorityClass != null" >
        #{osPriorityClass,jdbcType=INTEGER},
      </if>
      <if test="maxWorkersCount != null" >
        #{maxWorkersCount,jdbcType=INTEGER},
      </if>
      <if test="schedulerCount != null" >
        #{schedulerCount,jdbcType=INTEGER},
      </if>
      <if test="schedulerTotalCount != null" >
        #{schedulerTotalCount,jdbcType=INTEGER},
      </if>
      <if test="deadlockMonitorSerialNumber != null" >
        #{deadlockMonitorSerialNumber,jdbcType=INTEGER},
      </if>
      <if test="sqlserverStartTimeMsTicks != null" >
        #{sqlserverStartTimeMsTicks,jdbcType=BIGINT},
      </if>
      <if test="sqlserverStartTime != null" >
        #{sqlserverStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="affinityType != null" >
        #{affinityType,jdbcType=INTEGER},
      </if>
      <if test="affinityTypeDesc != null" >
        #{affinityTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="processKernelTimeMs != null" >
        #{processKernelTimeMs,jdbcType=BIGINT},
      </if>
      <if test="processUserTimeMs != null" >
        #{processUserTimeMs,jdbcType=BIGINT},
      </if>
      <if test="timeSource != null" >
        #{timeSource,jdbcType=INTEGER},
      </if>
      <if test="timeSourceDesc != null" >
        #{timeSourceDesc,jdbcType=NVARCHAR},
      </if>
      <if test="virtualMachineType != null" >
        #{virtualMachineType,jdbcType=INTEGER},
      </if>
      <if test="virtualMachineTypeDesc != null" >
        #{virtualMachineTypeDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>