<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryCacheHashTablesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheHashTables" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="table_level" property="tableLevel" jdbcType="INTEGER" />
    <result column="buckets_count" property="bucketsCount" jdbcType="INTEGER" />
    <result column="buckets_in_use_count" property="bucketsInUseCount" jdbcType="INTEGER" />
    <result column="buckets_min_length" property="bucketsMinLength" jdbcType="INTEGER" />
    <result column="buckets_max_length" property="bucketsMaxLength" jdbcType="INTEGER" />
    <result column="buckets_avg_length" property="bucketsAvgLength" jdbcType="INTEGER" />
    <result column="buckets_max_length_ever" property="bucketsMaxLengthEver" jdbcType="INTEGER" />
    <result column="hits_count" property="hitsCount" jdbcType="BIGINT" />
    <result column="misses_count" property="missesCount" jdbcType="BIGINT" />
    <result column="buckets_avg_scan_hit_length" property="bucketsAvgScanHitLength" jdbcType="INTEGER" />
    <result column="buckets_avg_scan_miss_length" property="bucketsAvgScanMissLength" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheHashTables" extends="BaseResultMap" >
    <result column="cache_address" property="cacheAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    cache_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheHashTables" >
    insert into dm_os_memory_cache_hash_tables (name, type, table_level, 
      buckets_count, buckets_in_use_count, buckets_min_length, 
      buckets_max_length, buckets_avg_length, buckets_max_length_ever, 
      hits_count, misses_count, buckets_avg_scan_hit_length, 
      buckets_avg_scan_miss_length, cache_address
      )
    values (#{name,jdbcType=NVARCHAR}, #{type,jdbcType=NVARCHAR}, #{tableLevel,jdbcType=INTEGER}, 
      #{bucketsCount,jdbcType=INTEGER}, #{bucketsInUseCount,jdbcType=INTEGER}, #{bucketsMinLength,jdbcType=INTEGER}, 
      #{bucketsMaxLength,jdbcType=INTEGER}, #{bucketsAvgLength,jdbcType=INTEGER}, #{bucketsMaxLengthEver,jdbcType=INTEGER}, 
      #{hitsCount,jdbcType=BIGINT}, #{missesCount,jdbcType=BIGINT}, #{bucketsAvgScanHitLength,jdbcType=INTEGER}, 
      #{bucketsAvgScanMissLength,jdbcType=INTEGER}, #{cacheAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryCacheHashTables" >
    insert into dm_os_memory_cache_hash_tables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tableLevel != null" >
        table_level,
      </if>
      <if test="bucketsCount != null" >
        buckets_count,
      </if>
      <if test="bucketsInUseCount != null" >
        buckets_in_use_count,
      </if>
      <if test="bucketsMinLength != null" >
        buckets_min_length,
      </if>
      <if test="bucketsMaxLength != null" >
        buckets_max_length,
      </if>
      <if test="bucketsAvgLength != null" >
        buckets_avg_length,
      </if>
      <if test="bucketsMaxLengthEver != null" >
        buckets_max_length_ever,
      </if>
      <if test="hitsCount != null" >
        hits_count,
      </if>
      <if test="missesCount != null" >
        misses_count,
      </if>
      <if test="bucketsAvgScanHitLength != null" >
        buckets_avg_scan_hit_length,
      </if>
      <if test="bucketsAvgScanMissLength != null" >
        buckets_avg_scan_miss_length,
      </if>
      <if test="cacheAddress != null" >
        cache_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="tableLevel != null" >
        #{tableLevel,jdbcType=INTEGER},
      </if>
      <if test="bucketsCount != null" >
        #{bucketsCount,jdbcType=INTEGER},
      </if>
      <if test="bucketsInUseCount != null" >
        #{bucketsInUseCount,jdbcType=INTEGER},
      </if>
      <if test="bucketsMinLength != null" >
        #{bucketsMinLength,jdbcType=INTEGER},
      </if>
      <if test="bucketsMaxLength != null" >
        #{bucketsMaxLength,jdbcType=INTEGER},
      </if>
      <if test="bucketsAvgLength != null" >
        #{bucketsAvgLength,jdbcType=INTEGER},
      </if>
      <if test="bucketsMaxLengthEver != null" >
        #{bucketsMaxLengthEver,jdbcType=INTEGER},
      </if>
      <if test="hitsCount != null" >
        #{hitsCount,jdbcType=BIGINT},
      </if>
      <if test="missesCount != null" >
        #{missesCount,jdbcType=BIGINT},
      </if>
      <if test="bucketsAvgScanHitLength != null" >
        #{bucketsAvgScanHitLength,jdbcType=INTEGER},
      </if>
      <if test="bucketsAvgScanMissLength != null" >
        #{bucketsAvgScanMissLength,jdbcType=INTEGER},
      </if>
      <if test="cacheAddress != null" >
        #{cacheAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>