<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsMemoryNodesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryNodes" >
    <result column="memory_node_id" property="memoryNodeId" jdbcType="SMALLINT" />
    <result column="virtual_address_space_reserved_kb" property="virtualAddressSpaceReservedKb" jdbcType="BIGINT" />
    <result column="virtual_address_space_committed_kb" property="virtualAddressSpaceCommittedKb" jdbcType="BIGINT" />
    <result column="locked_page_allocations_kb" property="lockedPageAllocationsKb" jdbcType="BIGINT" />
    <result column="pages_kb" property="pagesKb" jdbcType="BIGINT" />
    <result column="shared_memory_reserved_kb" property="sharedMemoryReservedKb" jdbcType="BIGINT" />
    <result column="shared_memory_committed_kb" property="sharedMemoryCommittedKb" jdbcType="BIGINT" />
    <result column="cpu_affinity_mask" property="cpuAffinityMask" jdbcType="BIGINT" />
    <result column="online_scheduler_mask" property="onlineSchedulerMask" jdbcType="BIGINT" />
    <result column="processor_group" property="processorGroup" jdbcType="SMALLINT" />
    <result column="foreign_committed_kb" property="foreignCommittedKb" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryNodes" >
    insert into dm_os_memory_nodes (memory_node_id, virtual_address_space_reserved_kb, 
      virtual_address_space_committed_kb, locked_page_allocations_kb, 
      pages_kb, shared_memory_reserved_kb, shared_memory_committed_kb, 
      cpu_affinity_mask, online_scheduler_mask, processor_group, 
      foreign_committed_kb)
    values (#{memoryNodeId,jdbcType=SMALLINT}, #{virtualAddressSpaceReservedKb,jdbcType=BIGINT}, 
      #{virtualAddressSpaceCommittedKb,jdbcType=BIGINT}, #{lockedPageAllocationsKb,jdbcType=BIGINT}, 
      #{pagesKb,jdbcType=BIGINT}, #{sharedMemoryReservedKb,jdbcType=BIGINT}, #{sharedMemoryCommittedKb,jdbcType=BIGINT}, 
      #{cpuAffinityMask,jdbcType=BIGINT}, #{onlineSchedulerMask,jdbcType=BIGINT}, #{processorGroup,jdbcType=SMALLINT}, 
      #{foreignCommittedKb,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsMemoryNodes" >
    insert into dm_os_memory_nodes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memoryNodeId != null" >
        memory_node_id,
      </if>
      <if test="virtualAddressSpaceReservedKb != null" >
        virtual_address_space_reserved_kb,
      </if>
      <if test="virtualAddressSpaceCommittedKb != null" >
        virtual_address_space_committed_kb,
      </if>
      <if test="lockedPageAllocationsKb != null" >
        locked_page_allocations_kb,
      </if>
      <if test="pagesKb != null" >
        pages_kb,
      </if>
      <if test="sharedMemoryReservedKb != null" >
        shared_memory_reserved_kb,
      </if>
      <if test="sharedMemoryCommittedKb != null" >
        shared_memory_committed_kb,
      </if>
      <if test="cpuAffinityMask != null" >
        cpu_affinity_mask,
      </if>
      <if test="onlineSchedulerMask != null" >
        online_scheduler_mask,
      </if>
      <if test="processorGroup != null" >
        processor_group,
      </if>
      <if test="foreignCommittedKb != null" >
        foreign_committed_kb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memoryNodeId != null" >
        #{memoryNodeId,jdbcType=SMALLINT},
      </if>
      <if test="virtualAddressSpaceReservedKb != null" >
        #{virtualAddressSpaceReservedKb,jdbcType=BIGINT},
      </if>
      <if test="virtualAddressSpaceCommittedKb != null" >
        #{virtualAddressSpaceCommittedKb,jdbcType=BIGINT},
      </if>
      <if test="lockedPageAllocationsKb != null" >
        #{lockedPageAllocationsKb,jdbcType=BIGINT},
      </if>
      <if test="pagesKb != null" >
        #{pagesKb,jdbcType=BIGINT},
      </if>
      <if test="sharedMemoryReservedKb != null" >
        #{sharedMemoryReservedKb,jdbcType=BIGINT},
      </if>
      <if test="sharedMemoryCommittedKb != null" >
        #{sharedMemoryCommittedKb,jdbcType=BIGINT},
      </if>
      <if test="cpuAffinityMask != null" >
        #{cpuAffinityMask,jdbcType=BIGINT},
      </if>
      <if test="onlineSchedulerMask != null" >
        #{onlineSchedulerMask,jdbcType=BIGINT},
      </if>
      <if test="processorGroup != null" >
        #{processorGroup,jdbcType=SMALLINT},
      </if>
      <if test="foreignCommittedKb != null" >
        #{foreignCommittedKb,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>