<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsBufferPoolExtensionConfigurationMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsBufferPoolExtensionConfiguration" >
    <result column="path" property="path" jdbcType="NVARCHAR" />
    <result column="file_id" property="fileId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="state_description" property="stateDescription" jdbcType="NVARCHAR" />
    <result column="current_size_in_kb" property="currentSizeInKb" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsBufferPoolExtensionConfiguration" >
    insert into dm_os_buffer_pool_extension_configuration (path, file_id, state, 
      state_description, current_size_in_kb)
    values (#{path,jdbcType=NVARCHAR}, #{fileId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{stateDescription,jdbcType=NVARCHAR}, #{currentSizeInKb,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsBufferPoolExtensionConfiguration" >
    insert into dm_os_buffer_pool_extension_configuration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="path != null" >
        path,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateDescription != null" >
        state_description,
      </if>
      <if test="currentSizeInKb != null" >
        current_size_in_kb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="path != null" >
        #{path,jdbcType=NVARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="stateDescription != null" >
        #{stateDescription,jdbcType=NVARCHAR},
      </if>
      <if test="currentSizeInKb != null" >
        #{currentSizeInKb,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>