<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmOsHostsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsHosts" >
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="enqueued_tasks_count" property="enqueuedTasksCount" jdbcType="INTEGER" />
    <result column="active_tasks_count" property="activeTasksCount" jdbcType="INTEGER" />
    <result column="completed_ios_count" property="completedIosCount" jdbcType="INTEGER" />
    <result column="completed_ios_in_bytes" property="completedIosInBytes" jdbcType="BIGINT" />
    <result column="active_ios_count" property="activeIosCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmOsHostsWithBLOBs" extends="BaseResultMap" >
    <result column="host_address" property="hostAddress" jdbcType="VARBINARY" />
    <result column="default_memory_clerk_address" property="defaultMemoryClerkAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    host_address, default_memory_clerk_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsHostsWithBLOBs" >
    insert into dm_os_hosts (type, name, enqueued_tasks_count, 
      active_tasks_count, completed_ios_count, completed_ios_in_bytes, 
      active_ios_count, host_address, default_memory_clerk_address
      )
    values (#{type,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{enqueuedTasksCount,jdbcType=INTEGER}, 
      #{activeTasksCount,jdbcType=INTEGER}, #{completedIosCount,jdbcType=INTEGER}, #{completedIosInBytes,jdbcType=BIGINT}, 
      #{activeIosCount,jdbcType=INTEGER}, #{hostAddress,jdbcType=VARBINARY}, #{defaultMemoryClerkAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmOsHostsWithBLOBs" >
    insert into dm_os_hosts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enqueuedTasksCount != null" >
        enqueued_tasks_count,
      </if>
      <if test="activeTasksCount != null" >
        active_tasks_count,
      </if>
      <if test="completedIosCount != null" >
        completed_ios_count,
      </if>
      <if test="completedIosInBytes != null" >
        completed_ios_in_bytes,
      </if>
      <if test="activeIosCount != null" >
        active_ios_count,
      </if>
      <if test="hostAddress != null" >
        host_address,
      </if>
      <if test="defaultMemoryClerkAddress != null" >
        default_memory_clerk_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="enqueuedTasksCount != null" >
        #{enqueuedTasksCount,jdbcType=INTEGER},
      </if>
      <if test="activeTasksCount != null" >
        #{activeTasksCount,jdbcType=INTEGER},
      </if>
      <if test="completedIosCount != null" >
        #{completedIosCount,jdbcType=INTEGER},
      </if>
      <if test="completedIosInBytes != null" >
        #{completedIosInBytes,jdbcType=BIGINT},
      </if>
      <if test="activeIosCount != null" >
        #{activeIosCount,jdbcType=INTEGER},
      </if>
      <if test="hostAddress != null" >
        #{hostAddress,jdbcType=VARBINARY},
      </if>
      <if test="defaultMemoryClerkAddress != null" >
        #{defaultMemoryClerkAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>