<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmQnSubscriptionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmQnSubscriptions" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="timeout" property="timeout" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmQnSubscriptions" extends="BaseResultMap" >
    <result column="sid" property="sid" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    sid
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmQnSubscriptions" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into dm_qn_subscriptions (id, database_id, object_id, 
      created, timeout, status, 
      sid)
    values (#{id,jdbcType=INTEGER}, #{databaseId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{created,jdbcType=TIMESTAMP}, #{timeout,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{sid,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmQnSubscriptions" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into dm_qn_subscriptions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="timeout != null" >
        timeout,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="timeout != null" >
        #{timeout,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>