<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmReplSchemasMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplSchemas" >
    <result column="tabid" property="tabid" jdbcType="INTEGER" />
    <result column="indexid" property="indexid" jdbcType="SMALLINT" />
    <result column="idSch" property="idsch" jdbcType="INTEGER" />
    <result column="tabschema" property="tabschema" jdbcType="NVARCHAR" />
    <result column="ccTabschema" property="cctabschema" jdbcType="SMALLINT" />
    <result column="tabname" property="tabname" jdbcType="NVARCHAR" />
    <result column="ccTabname" property="cctabname" jdbcType="SMALLINT" />
    <result column="rowsetid_delete" property="rowsetidDelete" jdbcType="BIGINT" />
    <result column="rowsetid_insert" property="rowsetidInsert" jdbcType="BIGINT" />
    <result column="num_pk_cols" property="numPkCols" jdbcType="INTEGER" />
    <result column="re_numtextcols" property="reNumtextcols" jdbcType="INTEGER" />
    <result column="re_schema_lsn_begin" property="reSchemaLsnBegin" jdbcType="NVARCHAR" />
    <result column="re_schema_lsn_end" property="reSchemaLsnEnd" jdbcType="NVARCHAR" />
    <result column="re_numcols" property="reNumcols" jdbcType="INTEGER" />
    <result column="re_colid" property="reColid" jdbcType="INTEGER" />
    <result column="re_awcName" property="reAwcname" jdbcType="NVARCHAR" />
    <result column="re_ccName" property="reCcname" jdbcType="SMALLINT" />
    <result column="re_colattr" property="reColattr" jdbcType="SMALLINT" />
    <result column="re_maxlen" property="reMaxlen" jdbcType="SMALLINT" />
    <result column="re_prec" property="rePrec" jdbcType="TINYINT" />
    <result column="re_scale" property="reScale" jdbcType="TINYINT" />
    <result column="re_collatid" property="reCollatid" jdbcType="INTEGER" />
    <result column="re_xvtype" property="reXvtype" jdbcType="TINYINT" />
    <result column="re_offset" property="reOffset" jdbcType="INTEGER" />
    <result column="re_bitpos" property="reBitpos" jdbcType="TINYINT" />
    <result column="re_fNullable" property="reFnullable" jdbcType="TINYINT" />
    <result column="re_fAnsiTrim" property="reFansitrim" jdbcType="TINYINT" />
    <result column="re_computed" property="reComputed" jdbcType="INTEGER" />
    <result column="se_rowsetid" property="seRowsetid" jdbcType="BIGINT" />
    <result column="se_schema_lsn_begin" property="seSchemaLsnBegin" jdbcType="NVARCHAR" />
    <result column="se_schema_lsn_end" property="seSchemaLsnEnd" jdbcType="NVARCHAR" />
    <result column="se_numcols" property="seNumcols" jdbcType="INTEGER" />
    <result column="se_colid" property="seColid" jdbcType="INTEGER" />
    <result column="se_maxlen" property="seMaxlen" jdbcType="SMALLINT" />
    <result column="se_prec" property="sePrec" jdbcType="TINYINT" />
    <result column="se_scale" property="seScale" jdbcType="TINYINT" />
    <result column="se_collatid" property="seCollatid" jdbcType="INTEGER" />
    <result column="se_xvtype" property="seXvtype" jdbcType="TINYINT" />
    <result column="se_offset" property="seOffset" jdbcType="INTEGER" />
    <result column="se_bitpos" property="seBitpos" jdbcType="TINYINT" />
    <result column="se_fNullable" property="seFnullable" jdbcType="TINYINT" />
    <result column="se_fAnsiTrim" property="seFansitrim" jdbcType="TINYINT" />
    <result column="se_computed" property="seComputed" jdbcType="TINYINT" />
    <result column="se_nullBitInLeafRows" property="seNullbitinleafrows" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplSchemasWithBLOBs" extends="BaseResultMap" >
    <result column="artcache_schema_address" property="artcacheSchemaAddress" jdbcType="VARBINARY" />
    <result column="pcitee" property="pcitee" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    artcache_schema_address, pcitee
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplSchemasWithBLOBs" >
    insert into dm_repl_schemas (tabid, indexid, idSch, 
      tabschema, ccTabschema, tabname, 
      ccTabname, rowsetid_delete, rowsetid_insert, 
      num_pk_cols, re_numtextcols, re_schema_lsn_begin, 
      re_schema_lsn_end, re_numcols, re_colid, 
      re_awcName, re_ccName, re_colattr, 
      re_maxlen, re_prec, re_scale, 
      re_collatid, re_xvtype, re_offset, 
      re_bitpos, re_fNullable, re_fAnsiTrim, 
      re_computed, se_rowsetid, se_schema_lsn_begin, 
      se_schema_lsn_end, se_numcols, se_colid, 
      se_maxlen, se_prec, se_scale, 
      se_collatid, se_xvtype, se_offset, 
      se_bitpos, se_fNullable, se_fAnsiTrim, 
      se_computed, se_nullBitInLeafRows, artcache_schema_address, 
      pcitee)
    values (#{tabid,jdbcType=INTEGER}, #{indexid,jdbcType=SMALLINT}, #{idsch,jdbcType=INTEGER}, 
      #{tabschema,jdbcType=NVARCHAR}, #{cctabschema,jdbcType=SMALLINT}, #{tabname,jdbcType=NVARCHAR}, 
      #{cctabname,jdbcType=SMALLINT}, #{rowsetidDelete,jdbcType=BIGINT}, #{rowsetidInsert,jdbcType=BIGINT}, 
      #{numPkCols,jdbcType=INTEGER}, #{reNumtextcols,jdbcType=INTEGER}, #{reSchemaLsnBegin,jdbcType=NVARCHAR}, 
      #{reSchemaLsnEnd,jdbcType=NVARCHAR}, #{reNumcols,jdbcType=INTEGER}, #{reColid,jdbcType=INTEGER}, 
      #{reAwcname,jdbcType=NVARCHAR}, #{reCcname,jdbcType=SMALLINT}, #{reColattr,jdbcType=SMALLINT}, 
      #{reMaxlen,jdbcType=SMALLINT}, #{rePrec,jdbcType=TINYINT}, #{reScale,jdbcType=TINYINT}, 
      #{reCollatid,jdbcType=INTEGER}, #{reXvtype,jdbcType=TINYINT}, #{reOffset,jdbcType=INTEGER}, 
      #{reBitpos,jdbcType=TINYINT}, #{reFnullable,jdbcType=TINYINT}, #{reFansitrim,jdbcType=TINYINT}, 
      #{reComputed,jdbcType=INTEGER}, #{seRowsetid,jdbcType=BIGINT}, #{seSchemaLsnBegin,jdbcType=NVARCHAR}, 
      #{seSchemaLsnEnd,jdbcType=NVARCHAR}, #{seNumcols,jdbcType=INTEGER}, #{seColid,jdbcType=INTEGER}, 
      #{seMaxlen,jdbcType=SMALLINT}, #{sePrec,jdbcType=TINYINT}, #{seScale,jdbcType=TINYINT}, 
      #{seCollatid,jdbcType=INTEGER}, #{seXvtype,jdbcType=TINYINT}, #{seOffset,jdbcType=INTEGER}, 
      #{seBitpos,jdbcType=TINYINT}, #{seFnullable,jdbcType=TINYINT}, #{seFansitrim,jdbcType=TINYINT}, 
      #{seComputed,jdbcType=TINYINT}, #{seNullbitinleafrows,jdbcType=SMALLINT}, #{artcacheSchemaAddress,jdbcType=VARBINARY}, 
      #{pcitee,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplSchemasWithBLOBs" >
    insert into dm_repl_schemas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        tabid,
      </if>
      <if test="indexid != null" >
        indexid,
      </if>
      <if test="idsch != null" >
        idSch,
      </if>
      <if test="tabschema != null" >
        tabschema,
      </if>
      <if test="cctabschema != null" >
        ccTabschema,
      </if>
      <if test="tabname != null" >
        tabname,
      </if>
      <if test="cctabname != null" >
        ccTabname,
      </if>
      <if test="rowsetidDelete != null" >
        rowsetid_delete,
      </if>
      <if test="rowsetidInsert != null" >
        rowsetid_insert,
      </if>
      <if test="numPkCols != null" >
        num_pk_cols,
      </if>
      <if test="reNumtextcols != null" >
        re_numtextcols,
      </if>
      <if test="reSchemaLsnBegin != null" >
        re_schema_lsn_begin,
      </if>
      <if test="reSchemaLsnEnd != null" >
        re_schema_lsn_end,
      </if>
      <if test="reNumcols != null" >
        re_numcols,
      </if>
      <if test="reColid != null" >
        re_colid,
      </if>
      <if test="reAwcname != null" >
        re_awcName,
      </if>
      <if test="reCcname != null" >
        re_ccName,
      </if>
      <if test="reColattr != null" >
        re_colattr,
      </if>
      <if test="reMaxlen != null" >
        re_maxlen,
      </if>
      <if test="rePrec != null" >
        re_prec,
      </if>
      <if test="reScale != null" >
        re_scale,
      </if>
      <if test="reCollatid != null" >
        re_collatid,
      </if>
      <if test="reXvtype != null" >
        re_xvtype,
      </if>
      <if test="reOffset != null" >
        re_offset,
      </if>
      <if test="reBitpos != null" >
        re_bitpos,
      </if>
      <if test="reFnullable != null" >
        re_fNullable,
      </if>
      <if test="reFansitrim != null" >
        re_fAnsiTrim,
      </if>
      <if test="reComputed != null" >
        re_computed,
      </if>
      <if test="seRowsetid != null" >
        se_rowsetid,
      </if>
      <if test="seSchemaLsnBegin != null" >
        se_schema_lsn_begin,
      </if>
      <if test="seSchemaLsnEnd != null" >
        se_schema_lsn_end,
      </if>
      <if test="seNumcols != null" >
        se_numcols,
      </if>
      <if test="seColid != null" >
        se_colid,
      </if>
      <if test="seMaxlen != null" >
        se_maxlen,
      </if>
      <if test="sePrec != null" >
        se_prec,
      </if>
      <if test="seScale != null" >
        se_scale,
      </if>
      <if test="seCollatid != null" >
        se_collatid,
      </if>
      <if test="seXvtype != null" >
        se_xvtype,
      </if>
      <if test="seOffset != null" >
        se_offset,
      </if>
      <if test="seBitpos != null" >
        se_bitpos,
      </if>
      <if test="seFnullable != null" >
        se_fNullable,
      </if>
      <if test="seFansitrim != null" >
        se_fAnsiTrim,
      </if>
      <if test="seComputed != null" >
        se_computed,
      </if>
      <if test="seNullbitinleafrows != null" >
        se_nullBitInLeafRows,
      </if>
      <if test="artcacheSchemaAddress != null" >
        artcache_schema_address,
      </if>
      <if test="pcitee != null" >
        pcitee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="indexid != null" >
        #{indexid,jdbcType=SMALLINT},
      </if>
      <if test="idsch != null" >
        #{idsch,jdbcType=INTEGER},
      </if>
      <if test="tabschema != null" >
        #{tabschema,jdbcType=NVARCHAR},
      </if>
      <if test="cctabschema != null" >
        #{cctabschema,jdbcType=SMALLINT},
      </if>
      <if test="tabname != null" >
        #{tabname,jdbcType=NVARCHAR},
      </if>
      <if test="cctabname != null" >
        #{cctabname,jdbcType=SMALLINT},
      </if>
      <if test="rowsetidDelete != null" >
        #{rowsetidDelete,jdbcType=BIGINT},
      </if>
      <if test="rowsetidInsert != null" >
        #{rowsetidInsert,jdbcType=BIGINT},
      </if>
      <if test="numPkCols != null" >
        #{numPkCols,jdbcType=INTEGER},
      </if>
      <if test="reNumtextcols != null" >
        #{reNumtextcols,jdbcType=INTEGER},
      </if>
      <if test="reSchemaLsnBegin != null" >
        #{reSchemaLsnBegin,jdbcType=NVARCHAR},
      </if>
      <if test="reSchemaLsnEnd != null" >
        #{reSchemaLsnEnd,jdbcType=NVARCHAR},
      </if>
      <if test="reNumcols != null" >
        #{reNumcols,jdbcType=INTEGER},
      </if>
      <if test="reColid != null" >
        #{reColid,jdbcType=INTEGER},
      </if>
      <if test="reAwcname != null" >
        #{reAwcname,jdbcType=NVARCHAR},
      </if>
      <if test="reCcname != null" >
        #{reCcname,jdbcType=SMALLINT},
      </if>
      <if test="reColattr != null" >
        #{reColattr,jdbcType=SMALLINT},
      </if>
      <if test="reMaxlen != null" >
        #{reMaxlen,jdbcType=SMALLINT},
      </if>
      <if test="rePrec != null" >
        #{rePrec,jdbcType=TINYINT},
      </if>
      <if test="reScale != null" >
        #{reScale,jdbcType=TINYINT},
      </if>
      <if test="reCollatid != null" >
        #{reCollatid,jdbcType=INTEGER},
      </if>
      <if test="reXvtype != null" >
        #{reXvtype,jdbcType=TINYINT},
      </if>
      <if test="reOffset != null" >
        #{reOffset,jdbcType=INTEGER},
      </if>
      <if test="reBitpos != null" >
        #{reBitpos,jdbcType=TINYINT},
      </if>
      <if test="reFnullable != null" >
        #{reFnullable,jdbcType=TINYINT},
      </if>
      <if test="reFansitrim != null" >
        #{reFansitrim,jdbcType=TINYINT},
      </if>
      <if test="reComputed != null" >
        #{reComputed,jdbcType=INTEGER},
      </if>
      <if test="seRowsetid != null" >
        #{seRowsetid,jdbcType=BIGINT},
      </if>
      <if test="seSchemaLsnBegin != null" >
        #{seSchemaLsnBegin,jdbcType=NVARCHAR},
      </if>
      <if test="seSchemaLsnEnd != null" >
        #{seSchemaLsnEnd,jdbcType=NVARCHAR},
      </if>
      <if test="seNumcols != null" >
        #{seNumcols,jdbcType=INTEGER},
      </if>
      <if test="seColid != null" >
        #{seColid,jdbcType=INTEGER},
      </if>
      <if test="seMaxlen != null" >
        #{seMaxlen,jdbcType=SMALLINT},
      </if>
      <if test="sePrec != null" >
        #{sePrec,jdbcType=TINYINT},
      </if>
      <if test="seScale != null" >
        #{seScale,jdbcType=TINYINT},
      </if>
      <if test="seCollatid != null" >
        #{seCollatid,jdbcType=INTEGER},
      </if>
      <if test="seXvtype != null" >
        #{seXvtype,jdbcType=TINYINT},
      </if>
      <if test="seOffset != null" >
        #{seOffset,jdbcType=INTEGER},
      </if>
      <if test="seBitpos != null" >
        #{seBitpos,jdbcType=TINYINT},
      </if>
      <if test="seFnullable != null" >
        #{seFnullable,jdbcType=TINYINT},
      </if>
      <if test="seFansitrim != null" >
        #{seFansitrim,jdbcType=TINYINT},
      </if>
      <if test="seComputed != null" >
        #{seComputed,jdbcType=TINYINT},
      </if>
      <if test="seNullbitinleafrows != null" >
        #{seNullbitinleafrows,jdbcType=SMALLINT},
      </if>
      <if test="artcacheSchemaAddress != null" >
        #{artcacheSchemaAddress,jdbcType=VARBINARY},
      </if>
      <if test="pcitee != null" >
        #{pcitee,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>