<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmReplArticlesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplArticles" >
    <result column="artid" property="artid" jdbcType="INTEGER" />
    <result column="artfilter" property="artfilter" jdbcType="INTEGER" />
    <result column="artobjid" property="artobjid" jdbcType="INTEGER" />
    <result column="artpubid" property="artpubid" jdbcType="INTEGER" />
    <result column="artstatus" property="artstatus" jdbcType="TINYINT" />
    <result column="arttype" property="arttype" jdbcType="TINYINT" />
    <result column="wszArtdesttable" property="wszartdesttable" jdbcType="NVARCHAR" />
    <result column="wszArtdesttableowner" property="wszartdesttableowner" jdbcType="NVARCHAR" />
    <result column="wszArtinscmd" property="wszartinscmd" jdbcType="NVARCHAR" />
    <result column="cmdTypeIns" property="cmdtypeins" jdbcType="INTEGER" />
    <result column="wszArtdelcmd" property="wszartdelcmd" jdbcType="NVARCHAR" />
    <result column="cmdTypeDel" property="cmdtypedel" jdbcType="INTEGER" />
    <result column="wszArtupdcmd" property="wszartupdcmd" jdbcType="NVARCHAR" />
    <result column="cmdTypeUpd" property="cmdtypeupd" jdbcType="INTEGER" />
    <result column="wszArtpartialupdcmd" property="wszartpartialupdcmd" jdbcType="NVARCHAR" />
    <result column="cmdTypePartialUpd" property="cmdtypepartialupd" jdbcType="INTEGER" />
    <result column="numcol" property="numcol" jdbcType="INTEGER" />
    <result column="artcmdtype" property="artcmdtype" jdbcType="TINYINT" />
    <result column="artgeninscmd" property="artgeninscmd" jdbcType="NVARCHAR" />
    <result column="artgendelcmd" property="artgendelcmd" jdbcType="NVARCHAR" />
    <result column="artgenupdcmd" property="artgenupdcmd" jdbcType="NVARCHAR" />
    <result column="artpartialupdcmd" property="artpartialupdcmd" jdbcType="NVARCHAR" />
    <result column="artupdtxtcmd" property="artupdtxtcmd" jdbcType="NVARCHAR" />
    <result column="artgenins2cmd" property="artgenins2cmd" jdbcType="NVARCHAR" />
    <result column="artgendel2cmd" property="artgendel2cmd" jdbcType="NVARCHAR" />
    <result column="fInReconcile" property="finreconcile" jdbcType="TINYINT" />
    <result column="fPubAllowUpdate" property="fpuballowupdate" jdbcType="TINYINT" />
    <result column="intPublicationOptions" property="intpublicationoptions" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplArticlesWithBLOBs" extends="BaseResultMap" >
    <result column="artcache_db_address" property="artcacheDbAddress" jdbcType="VARBINARY" />
    <result column="artcache_table_address" property="artcacheTableAddress" jdbcType="VARBINARY" />
    <result column="artcache_schema_address" property="artcacheSchemaAddress" jdbcType="VARBINARY" />
    <result column="artcache_article_address" property="artcacheArticleAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    artcache_db_address, artcache_table_address, artcache_schema_address, artcache_article_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplArticlesWithBLOBs" >
    insert into dm_repl_articles (artid, artfilter, artobjid, 
      artpubid, artstatus, arttype, 
      wszArtdesttable, wszArtdesttableowner, 
      wszArtinscmd, cmdTypeIns, wszArtdelcmd, 
      cmdTypeDel, wszArtupdcmd, cmdTypeUpd, 
      wszArtpartialupdcmd, cmdTypePartialUpd, 
      numcol, artcmdtype, artgeninscmd, 
      artgendelcmd, artgenupdcmd, artpartialupdcmd, 
      artupdtxtcmd, artgenins2cmd, artgendel2cmd, 
      fInReconcile, fPubAllowUpdate, intPublicationOptions, 
      artcache_db_address, artcache_table_address, 
      artcache_schema_address, artcache_article_address
      )
    values (#{artid,jdbcType=INTEGER}, #{artfilter,jdbcType=INTEGER}, #{artobjid,jdbcType=INTEGER}, 
      #{artpubid,jdbcType=INTEGER}, #{artstatus,jdbcType=TINYINT}, #{arttype,jdbcType=TINYINT}, 
      #{wszartdesttable,jdbcType=NVARCHAR}, #{wszartdesttableowner,jdbcType=NVARCHAR}, 
      #{wszartinscmd,jdbcType=NVARCHAR}, #{cmdtypeins,jdbcType=INTEGER}, #{wszartdelcmd,jdbcType=NVARCHAR}, 
      #{cmdtypedel,jdbcType=INTEGER}, #{wszartupdcmd,jdbcType=NVARCHAR}, #{cmdtypeupd,jdbcType=INTEGER}, 
      #{wszartpartialupdcmd,jdbcType=NVARCHAR}, #{cmdtypepartialupd,jdbcType=INTEGER}, 
      #{numcol,jdbcType=INTEGER}, #{artcmdtype,jdbcType=TINYINT}, #{artgeninscmd,jdbcType=NVARCHAR}, 
      #{artgendelcmd,jdbcType=NVARCHAR}, #{artgenupdcmd,jdbcType=NVARCHAR}, #{artpartialupdcmd,jdbcType=NVARCHAR}, 
      #{artupdtxtcmd,jdbcType=NVARCHAR}, #{artgenins2cmd,jdbcType=NVARCHAR}, #{artgendel2cmd,jdbcType=NVARCHAR}, 
      #{finreconcile,jdbcType=TINYINT}, #{fpuballowupdate,jdbcType=TINYINT}, #{intpublicationoptions,jdbcType=INTEGER}, 
      #{artcacheDbAddress,jdbcType=VARBINARY}, #{artcacheTableAddress,jdbcType=VARBINARY}, 
      #{artcacheSchemaAddress,jdbcType=VARBINARY}, #{artcacheArticleAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplArticlesWithBLOBs" >
    insert into dm_repl_articles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="artid != null" >
        artid,
      </if>
      <if test="artfilter != null" >
        artfilter,
      </if>
      <if test="artobjid != null" >
        artobjid,
      </if>
      <if test="artpubid != null" >
        artpubid,
      </if>
      <if test="artstatus != null" >
        artstatus,
      </if>
      <if test="arttype != null" >
        arttype,
      </if>
      <if test="wszartdesttable != null" >
        wszArtdesttable,
      </if>
      <if test="wszartdesttableowner != null" >
        wszArtdesttableowner,
      </if>
      <if test="wszartinscmd != null" >
        wszArtinscmd,
      </if>
      <if test="cmdtypeins != null" >
        cmdTypeIns,
      </if>
      <if test="wszartdelcmd != null" >
        wszArtdelcmd,
      </if>
      <if test="cmdtypedel != null" >
        cmdTypeDel,
      </if>
      <if test="wszartupdcmd != null" >
        wszArtupdcmd,
      </if>
      <if test="cmdtypeupd != null" >
        cmdTypeUpd,
      </if>
      <if test="wszartpartialupdcmd != null" >
        wszArtpartialupdcmd,
      </if>
      <if test="cmdtypepartialupd != null" >
        cmdTypePartialUpd,
      </if>
      <if test="numcol != null" >
        numcol,
      </if>
      <if test="artcmdtype != null" >
        artcmdtype,
      </if>
      <if test="artgeninscmd != null" >
        artgeninscmd,
      </if>
      <if test="artgendelcmd != null" >
        artgendelcmd,
      </if>
      <if test="artgenupdcmd != null" >
        artgenupdcmd,
      </if>
      <if test="artpartialupdcmd != null" >
        artpartialupdcmd,
      </if>
      <if test="artupdtxtcmd != null" >
        artupdtxtcmd,
      </if>
      <if test="artgenins2cmd != null" >
        artgenins2cmd,
      </if>
      <if test="artgendel2cmd != null" >
        artgendel2cmd,
      </if>
      <if test="finreconcile != null" >
        fInReconcile,
      </if>
      <if test="fpuballowupdate != null" >
        fPubAllowUpdate,
      </if>
      <if test="intpublicationoptions != null" >
        intPublicationOptions,
      </if>
      <if test="artcacheDbAddress != null" >
        artcache_db_address,
      </if>
      <if test="artcacheTableAddress != null" >
        artcache_table_address,
      </if>
      <if test="artcacheSchemaAddress != null" >
        artcache_schema_address,
      </if>
      <if test="artcacheArticleAddress != null" >
        artcache_article_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="artid != null" >
        #{artid,jdbcType=INTEGER},
      </if>
      <if test="artfilter != null" >
        #{artfilter,jdbcType=INTEGER},
      </if>
      <if test="artobjid != null" >
        #{artobjid,jdbcType=INTEGER},
      </if>
      <if test="artpubid != null" >
        #{artpubid,jdbcType=INTEGER},
      </if>
      <if test="artstatus != null" >
        #{artstatus,jdbcType=TINYINT},
      </if>
      <if test="arttype != null" >
        #{arttype,jdbcType=TINYINT},
      </if>
      <if test="wszartdesttable != null" >
        #{wszartdesttable,jdbcType=NVARCHAR},
      </if>
      <if test="wszartdesttableowner != null" >
        #{wszartdesttableowner,jdbcType=NVARCHAR},
      </if>
      <if test="wszartinscmd != null" >
        #{wszartinscmd,jdbcType=NVARCHAR},
      </if>
      <if test="cmdtypeins != null" >
        #{cmdtypeins,jdbcType=INTEGER},
      </if>
      <if test="wszartdelcmd != null" >
        #{wszartdelcmd,jdbcType=NVARCHAR},
      </if>
      <if test="cmdtypedel != null" >
        #{cmdtypedel,jdbcType=INTEGER},
      </if>
      <if test="wszartupdcmd != null" >
        #{wszartupdcmd,jdbcType=NVARCHAR},
      </if>
      <if test="cmdtypeupd != null" >
        #{cmdtypeupd,jdbcType=INTEGER},
      </if>
      <if test="wszartpartialupdcmd != null" >
        #{wszartpartialupdcmd,jdbcType=NVARCHAR},
      </if>
      <if test="cmdtypepartialupd != null" >
        #{cmdtypepartialupd,jdbcType=INTEGER},
      </if>
      <if test="numcol != null" >
        #{numcol,jdbcType=INTEGER},
      </if>
      <if test="artcmdtype != null" >
        #{artcmdtype,jdbcType=TINYINT},
      </if>
      <if test="artgeninscmd != null" >
        #{artgeninscmd,jdbcType=NVARCHAR},
      </if>
      <if test="artgendelcmd != null" >
        #{artgendelcmd,jdbcType=NVARCHAR},
      </if>
      <if test="artgenupdcmd != null" >
        #{artgenupdcmd,jdbcType=NVARCHAR},
      </if>
      <if test="artpartialupdcmd != null" >
        #{artpartialupdcmd,jdbcType=NVARCHAR},
      </if>
      <if test="artupdtxtcmd != null" >
        #{artupdtxtcmd,jdbcType=NVARCHAR},
      </if>
      <if test="artgenins2cmd != null" >
        #{artgenins2cmd,jdbcType=NVARCHAR},
      </if>
      <if test="artgendel2cmd != null" >
        #{artgendel2cmd,jdbcType=NVARCHAR},
      </if>
      <if test="finreconcile != null" >
        #{finreconcile,jdbcType=TINYINT},
      </if>
      <if test="fpuballowupdate != null" >
        #{fpuballowupdate,jdbcType=TINYINT},
      </if>
      <if test="intpublicationoptions != null" >
        #{intpublicationoptions,jdbcType=INTEGER},
      </if>
      <if test="artcacheDbAddress != null" >
        #{artcacheDbAddress,jdbcType=VARBINARY},
      </if>
      <if test="artcacheTableAddress != null" >
        #{artcacheTableAddress,jdbcType=VARBINARY},
      </if>
      <if test="artcacheSchemaAddress != null" >
        #{artcacheSchemaAddress,jdbcType=VARBINARY},
      </if>
      <if test="artcacheArticleAddress != null" >
        #{artcacheArticleAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>