<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmReplTraninfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTraninfo" >
    <result column="fp2p_pub_exists" property="fp2pPubExists" jdbcType="TINYINT" />
    <result column="db_ver" property="dbVer" jdbcType="INTEGER" />
    <result column="begin_lsn" property="beginLsn" jdbcType="NVARCHAR" />
    <result column="commit_lsn" property="commitLsn" jdbcType="NVARCHAR" />
    <result column="dbid" property="dbid" jdbcType="SMALLINT" />
    <result column="rows" property="rows" jdbcType="INTEGER" />
    <result column="xdesid" property="xdesid" jdbcType="NVARCHAR" />
    <result column="server" property="server" jdbcType="NVARCHAR" />
    <result column="server_len_in_bytes" property="serverLenInBytes" jdbcType="INTEGER" />
    <result column="database" property="database" jdbcType="NVARCHAR" />
    <result column="db_len_in_bytes" property="dbLenInBytes" jdbcType="INTEGER" />
    <result column="originator" property="originator" jdbcType="NVARCHAR" />
    <result column="originator_len_in_bytes" property="originatorLenInBytes" jdbcType="INTEGER" />
    <result column="orig_db" property="origDb" jdbcType="NVARCHAR" />
    <result column="orig_db_len_in_bytes" property="origDbLenInBytes" jdbcType="INTEGER" />
    <result column="cmds_in_tran" property="cmdsInTran" jdbcType="INTEGER" />
    <result column="is_boundedupdate_singleton" property="isBoundedupdateSingleton" jdbcType="TINYINT" />
    <result column="begin_update_lsn" property="beginUpdateLsn" jdbcType="NVARCHAR" />
    <result column="delete_lsn" property="deleteLsn" jdbcType="NVARCHAR" />
    <result column="last_end_lsn" property="lastEndLsn" jdbcType="NVARCHAR" />
    <result column="fcomplete" property="fcomplete" jdbcType="TINYINT" />
    <result column="fcompensated" property="fcompensated" jdbcType="TINYINT" />
    <result column="fprocessingtext" property="fprocessingtext" jdbcType="TINYINT" />
    <result column="max_cmds_in_tran" property="maxCmdsInTran" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="commit_time" property="commitTime" jdbcType="TIMESTAMP" />
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="session_phase" property="sessionPhase" jdbcType="NVARCHAR" />
    <result column="is_known_cdc_tran" property="isKnownCdcTran" jdbcType="TINYINT" />
    <result column="error_count" property="errorCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTraninfoWithBLOBs" extends="BaseResultMap" >
    <result column="comp_range_address" property="compRangeAddress" jdbcType="VARBINARY" />
    <result column="textinfo_address" property="textinfoAddress" jdbcType="VARBINARY" />
    <result column="fsinfo_address" property="fsinfoAddress" jdbcType="VARBINARY" />
    <result column="artcache_table_address" property="artcacheTableAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    comp_range_address, textinfo_address, fsinfo_address, artcache_table_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTraninfoWithBLOBs" >
    insert into dm_repl_traninfo (fp2p_pub_exists, db_ver, begin_lsn, 
      commit_lsn, dbid, rows, 
      xdesid, server, server_len_in_bytes, 
      database, db_len_in_bytes, originator, 
      originator_len_in_bytes, orig_db, orig_db_len_in_bytes, 
      cmds_in_tran, is_boundedupdate_singleton, begin_update_lsn, 
      delete_lsn, last_end_lsn, fcomplete, 
      fcompensated, fprocessingtext, max_cmds_in_tran, 
      begin_time, commit_time, session_id, 
      session_phase, is_known_cdc_tran, error_count, 
      comp_range_address, textinfo_address, 
      fsinfo_address, artcache_table_address
      )
    values (#{fp2pPubExists,jdbcType=TINYINT}, #{dbVer,jdbcType=INTEGER}, #{beginLsn,jdbcType=NVARCHAR}, 
      #{commitLsn,jdbcType=NVARCHAR}, #{dbid,jdbcType=SMALLINT}, #{rows,jdbcType=INTEGER}, 
      #{xdesid,jdbcType=NVARCHAR}, #{server,jdbcType=NVARCHAR}, #{serverLenInBytes,jdbcType=INTEGER}, 
      #{database,jdbcType=NVARCHAR}, #{dbLenInBytes,jdbcType=INTEGER}, #{originator,jdbcType=NVARCHAR}, 
      #{originatorLenInBytes,jdbcType=INTEGER}, #{origDb,jdbcType=NVARCHAR}, #{origDbLenInBytes,jdbcType=INTEGER}, 
      #{cmdsInTran,jdbcType=INTEGER}, #{isBoundedupdateSingleton,jdbcType=TINYINT}, #{beginUpdateLsn,jdbcType=NVARCHAR}, 
      #{deleteLsn,jdbcType=NVARCHAR}, #{lastEndLsn,jdbcType=NVARCHAR}, #{fcomplete,jdbcType=TINYINT}, 
      #{fcompensated,jdbcType=TINYINT}, #{fprocessingtext,jdbcType=TINYINT}, #{maxCmdsInTran,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{commitTime,jdbcType=TIMESTAMP}, #{sessionId,jdbcType=INTEGER}, 
      #{sessionPhase,jdbcType=NVARCHAR}, #{isKnownCdcTran,jdbcType=TINYINT}, #{errorCount,jdbcType=INTEGER}, 
      #{compRangeAddress,jdbcType=VARBINARY}, #{textinfoAddress,jdbcType=VARBINARY}, 
      #{fsinfoAddress,jdbcType=VARBINARY}, #{artcacheTableAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTraninfoWithBLOBs" >
    insert into dm_repl_traninfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fp2pPubExists != null" >
        fp2p_pub_exists,
      </if>
      <if test="dbVer != null" >
        db_ver,
      </if>
      <if test="beginLsn != null" >
        begin_lsn,
      </if>
      <if test="commitLsn != null" >
        commit_lsn,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="rows != null" >
        rows,
      </if>
      <if test="xdesid != null" >
        xdesid,
      </if>
      <if test="server != null" >
        server,
      </if>
      <if test="serverLenInBytes != null" >
        server_len_in_bytes,
      </if>
      <if test="database != null" >
        database,
      </if>
      <if test="dbLenInBytes != null" >
        db_len_in_bytes,
      </if>
      <if test="originator != null" >
        originator,
      </if>
      <if test="originatorLenInBytes != null" >
        originator_len_in_bytes,
      </if>
      <if test="origDb != null" >
        orig_db,
      </if>
      <if test="origDbLenInBytes != null" >
        orig_db_len_in_bytes,
      </if>
      <if test="cmdsInTran != null" >
        cmds_in_tran,
      </if>
      <if test="isBoundedupdateSingleton != null" >
        is_boundedupdate_singleton,
      </if>
      <if test="beginUpdateLsn != null" >
        begin_update_lsn,
      </if>
      <if test="deleteLsn != null" >
        delete_lsn,
      </if>
      <if test="lastEndLsn != null" >
        last_end_lsn,
      </if>
      <if test="fcomplete != null" >
        fcomplete,
      </if>
      <if test="fcompensated != null" >
        fcompensated,
      </if>
      <if test="fprocessingtext != null" >
        fprocessingtext,
      </if>
      <if test="maxCmdsInTran != null" >
        max_cmds_in_tran,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="commitTime != null" >
        commit_time,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="sessionPhase != null" >
        session_phase,
      </if>
      <if test="isKnownCdcTran != null" >
        is_known_cdc_tran,
      </if>
      <if test="errorCount != null" >
        error_count,
      </if>
      <if test="compRangeAddress != null" >
        comp_range_address,
      </if>
      <if test="textinfoAddress != null" >
        textinfo_address,
      </if>
      <if test="fsinfoAddress != null" >
        fsinfo_address,
      </if>
      <if test="artcacheTableAddress != null" >
        artcache_table_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fp2pPubExists != null" >
        #{fp2pPubExists,jdbcType=TINYINT},
      </if>
      <if test="dbVer != null" >
        #{dbVer,jdbcType=INTEGER},
      </if>
      <if test="beginLsn != null" >
        #{beginLsn,jdbcType=NVARCHAR},
      </if>
      <if test="commitLsn != null" >
        #{commitLsn,jdbcType=NVARCHAR},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="rows != null" >
        #{rows,jdbcType=INTEGER},
      </if>
      <if test="xdesid != null" >
        #{xdesid,jdbcType=NVARCHAR},
      </if>
      <if test="server != null" >
        #{server,jdbcType=NVARCHAR},
      </if>
      <if test="serverLenInBytes != null" >
        #{serverLenInBytes,jdbcType=INTEGER},
      </if>
      <if test="database != null" >
        #{database,jdbcType=NVARCHAR},
      </if>
      <if test="dbLenInBytes != null" >
        #{dbLenInBytes,jdbcType=INTEGER},
      </if>
      <if test="originator != null" >
        #{originator,jdbcType=NVARCHAR},
      </if>
      <if test="originatorLenInBytes != null" >
        #{originatorLenInBytes,jdbcType=INTEGER},
      </if>
      <if test="origDb != null" >
        #{origDb,jdbcType=NVARCHAR},
      </if>
      <if test="origDbLenInBytes != null" >
        #{origDbLenInBytes,jdbcType=INTEGER},
      </if>
      <if test="cmdsInTran != null" >
        #{cmdsInTran,jdbcType=INTEGER},
      </if>
      <if test="isBoundedupdateSingleton != null" >
        #{isBoundedupdateSingleton,jdbcType=TINYINT},
      </if>
      <if test="beginUpdateLsn != null" >
        #{beginUpdateLsn,jdbcType=NVARCHAR},
      </if>
      <if test="deleteLsn != null" >
        #{deleteLsn,jdbcType=NVARCHAR},
      </if>
      <if test="lastEndLsn != null" >
        #{lastEndLsn,jdbcType=NVARCHAR},
      </if>
      <if test="fcomplete != null" >
        #{fcomplete,jdbcType=TINYINT},
      </if>
      <if test="fcompensated != null" >
        #{fcompensated,jdbcType=TINYINT},
      </if>
      <if test="fprocessingtext != null" >
        #{fprocessingtext,jdbcType=TINYINT},
      </if>
      <if test="maxCmdsInTran != null" >
        #{maxCmdsInTran,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commitTime != null" >
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="sessionPhase != null" >
        #{sessionPhase,jdbcType=NVARCHAR},
      </if>
      <if test="isKnownCdcTran != null" >
        #{isKnownCdcTran,jdbcType=TINYINT},
      </if>
      <if test="errorCount != null" >
        #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="compRangeAddress != null" >
        #{compRangeAddress,jdbcType=VARBINARY},
      </if>
      <if test="textinfoAddress != null" >
        #{textinfoAddress,jdbcType=VARBINARY},
      </if>
      <if test="fsinfoAddress != null" >
        #{fsinfoAddress,jdbcType=VARBINARY},
      </if>
      <if test="artcacheTableAddress != null" >
        #{artcacheTableAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>