<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmReplTranhashMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTranhash" >
    <result column="buckets" property="buckets" jdbcType="INTEGER" />
    <result column="hashed_trans" property="hashedTrans" jdbcType="INTEGER" />
    <result column="completed_trans" property="completedTrans" jdbcType="INTEGER" />
    <result column="compensated_trans" property="compensatedTrans" jdbcType="INTEGER" />
    <result column="first_begin_lsn" property="firstBeginLsn" jdbcType="NVARCHAR" />
    <result column="last_commit_lsn" property="lastCommitLsn" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTranhash" >
    insert into dm_repl_tranhash (buckets, hashed_trans, completed_trans, 
      compensated_trans, first_begin_lsn, last_commit_lsn
      )
    values (#{buckets,jdbcType=INTEGER}, #{hashedTrans,jdbcType=INTEGER}, #{completedTrans,jdbcType=INTEGER}, 
      #{compensatedTrans,jdbcType=INTEGER}, #{firstBeginLsn,jdbcType=NVARCHAR}, #{lastCommitLsn,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmReplTranhash" >
    insert into dm_repl_tranhash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buckets != null" >
        buckets,
      </if>
      <if test="hashedTrans != null" >
        hashed_trans,
      </if>
      <if test="completedTrans != null" >
        completed_trans,
      </if>
      <if test="compensatedTrans != null" >
        compensated_trans,
      </if>
      <if test="firstBeginLsn != null" >
        first_begin_lsn,
      </if>
      <if test="lastCommitLsn != null" >
        last_commit_lsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buckets != null" >
        #{buckets,jdbcType=INTEGER},
      </if>
      <if test="hashedTrans != null" >
        #{hashedTrans,jdbcType=INTEGER},
      </if>
      <if test="completedTrans != null" >
        #{completedTrans,jdbcType=INTEGER},
      </if>
      <if test="compensatedTrans != null" >
        #{compensatedTrans,jdbcType=INTEGER},
      </if>
      <if test="firstBeginLsn != null" >
        #{firstBeginLsn,jdbcType=NVARCHAR},
      </if>
      <if test="lastCommitLsn != null" >
        #{lastCommitLsn,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>