<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmResourceGovernorResourcePoolVolumesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmResourceGovernorResourcePoolVolumes" >
    <result column="pool_id" property="poolId" jdbcType="INTEGER" />
    <result column="volume_name" property="volumeName" jdbcType="NVARCHAR" />
    <result column="read_io_queued_total" property="readIoQueuedTotal" jdbcType="INTEGER" />
    <result column="read_io_issued_total" property="readIoIssuedTotal" jdbcType="INTEGER" />
    <result column="read_io_completed_total" property="readIoCompletedTotal" jdbcType="INTEGER" />
    <result column="read_io_throttled_total" property="readIoThrottledTotal" jdbcType="INTEGER" />
    <result column="read_bytes_total" property="readBytesTotal" jdbcType="BIGINT" />
    <result column="read_io_stall_total_ms" property="readIoStallTotalMs" jdbcType="BIGINT" />
    <result column="read_io_stall_queued_ms" property="readIoStallQueuedMs" jdbcType="BIGINT" />
    <result column="write_io_queued_total" property="writeIoQueuedTotal" jdbcType="INTEGER" />
    <result column="write_io_issued_total" property="writeIoIssuedTotal" jdbcType="INTEGER" />
    <result column="write_io_completed_total" property="writeIoCompletedTotal" jdbcType="INTEGER" />
    <result column="write_io_throttled_total" property="writeIoThrottledTotal" jdbcType="INTEGER" />
    <result column="write_bytes_total" property="writeBytesTotal" jdbcType="BIGINT" />
    <result column="write_io_stall_total_ms" property="writeIoStallTotalMs" jdbcType="BIGINT" />
    <result column="write_io_stall_queued_ms" property="writeIoStallQueuedMs" jdbcType="BIGINT" />
    <result column="io_issue_violations_total" property="ioIssueViolationsTotal" jdbcType="INTEGER" />
    <result column="io_issue_delay_total_ms" property="ioIssueDelayTotalMs" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmResourceGovernorResourcePoolVolumes" >
    insert into dm_resource_governor_resource_pool_volumes (pool_id, volume_name, read_io_queued_total, 
      read_io_issued_total, read_io_completed_total, 
      read_io_throttled_total, read_bytes_total, read_io_stall_total_ms, 
      read_io_stall_queued_ms, write_io_queued_total, 
      write_io_issued_total, write_io_completed_total, 
      write_io_throttled_total, write_bytes_total, 
      write_io_stall_total_ms, write_io_stall_queued_ms, 
      io_issue_violations_total, io_issue_delay_total_ms
      )
    values (#{poolId,jdbcType=INTEGER}, #{volumeName,jdbcType=NVARCHAR}, #{readIoQueuedTotal,jdbcType=INTEGER}, 
      #{readIoIssuedTotal,jdbcType=INTEGER}, #{readIoCompletedTotal,jdbcType=INTEGER}, 
      #{readIoThrottledTotal,jdbcType=INTEGER}, #{readBytesTotal,jdbcType=BIGINT}, #{readIoStallTotalMs,jdbcType=BIGINT}, 
      #{readIoStallQueuedMs,jdbcType=BIGINT}, #{writeIoQueuedTotal,jdbcType=INTEGER}, 
      #{writeIoIssuedTotal,jdbcType=INTEGER}, #{writeIoCompletedTotal,jdbcType=INTEGER}, 
      #{writeIoThrottledTotal,jdbcType=INTEGER}, #{writeBytesTotal,jdbcType=BIGINT}, 
      #{writeIoStallTotalMs,jdbcType=BIGINT}, #{writeIoStallQueuedMs,jdbcType=BIGINT}, 
      #{ioIssueViolationsTotal,jdbcType=INTEGER}, #{ioIssueDelayTotalMs,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmResourceGovernorResourcePoolVolumes" >
    insert into dm_resource_governor_resource_pool_volumes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="poolId != null" >
        pool_id,
      </if>
      <if test="volumeName != null" >
        volume_name,
      </if>
      <if test="readIoQueuedTotal != null" >
        read_io_queued_total,
      </if>
      <if test="readIoIssuedTotal != null" >
        read_io_issued_total,
      </if>
      <if test="readIoCompletedTotal != null" >
        read_io_completed_total,
      </if>
      <if test="readIoThrottledTotal != null" >
        read_io_throttled_total,
      </if>
      <if test="readBytesTotal != null" >
        read_bytes_total,
      </if>
      <if test="readIoStallTotalMs != null" >
        read_io_stall_total_ms,
      </if>
      <if test="readIoStallQueuedMs != null" >
        read_io_stall_queued_ms,
      </if>
      <if test="writeIoQueuedTotal != null" >
        write_io_queued_total,
      </if>
      <if test="writeIoIssuedTotal != null" >
        write_io_issued_total,
      </if>
      <if test="writeIoCompletedTotal != null" >
        write_io_completed_total,
      </if>
      <if test="writeIoThrottledTotal != null" >
        write_io_throttled_total,
      </if>
      <if test="writeBytesTotal != null" >
        write_bytes_total,
      </if>
      <if test="writeIoStallTotalMs != null" >
        write_io_stall_total_ms,
      </if>
      <if test="writeIoStallQueuedMs != null" >
        write_io_stall_queued_ms,
      </if>
      <if test="ioIssueViolationsTotal != null" >
        io_issue_violations_total,
      </if>
      <if test="ioIssueDelayTotalMs != null" >
        io_issue_delay_total_ms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="poolId != null" >
        #{poolId,jdbcType=INTEGER},
      </if>
      <if test="volumeName != null" >
        #{volumeName,jdbcType=NVARCHAR},
      </if>
      <if test="readIoQueuedTotal != null" >
        #{readIoQueuedTotal,jdbcType=INTEGER},
      </if>
      <if test="readIoIssuedTotal != null" >
        #{readIoIssuedTotal,jdbcType=INTEGER},
      </if>
      <if test="readIoCompletedTotal != null" >
        #{readIoCompletedTotal,jdbcType=INTEGER},
      </if>
      <if test="readIoThrottledTotal != null" >
        #{readIoThrottledTotal,jdbcType=INTEGER},
      </if>
      <if test="readBytesTotal != null" >
        #{readBytesTotal,jdbcType=BIGINT},
      </if>
      <if test="readIoStallTotalMs != null" >
        #{readIoStallTotalMs,jdbcType=BIGINT},
      </if>
      <if test="readIoStallQueuedMs != null" >
        #{readIoStallQueuedMs,jdbcType=BIGINT},
      </if>
      <if test="writeIoQueuedTotal != null" >
        #{writeIoQueuedTotal,jdbcType=INTEGER},
      </if>
      <if test="writeIoIssuedTotal != null" >
        #{writeIoIssuedTotal,jdbcType=INTEGER},
      </if>
      <if test="writeIoCompletedTotal != null" >
        #{writeIoCompletedTotal,jdbcType=INTEGER},
      </if>
      <if test="writeIoThrottledTotal != null" >
        #{writeIoThrottledTotal,jdbcType=INTEGER},
      </if>
      <if test="writeBytesTotal != null" >
        #{writeBytesTotal,jdbcType=BIGINT},
      </if>
      <if test="writeIoStallTotalMs != null" >
        #{writeIoStallTotalMs,jdbcType=BIGINT},
      </if>
      <if test="writeIoStallQueuedMs != null" >
        #{writeIoStallQueuedMs,jdbcType=BIGINT},
      </if>
      <if test="ioIssueViolationsTotal != null" >
        #{ioIssueViolationsTotal,jdbcType=INTEGER},
      </if>
      <if test="ioIssueDelayTotalMs != null" >
        #{ioIssueDelayTotalMs,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>