<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmServerAuditStatusMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmServerAuditStatus" >
    <result column="audit_id" property="auditId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="status_desc" property="statusDesc" jdbcType="NVARCHAR" />
    <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="audit_file_path" property="auditFilePath" jdbcType="NVARCHAR" />
    <result column="audit_file_size" property="auditFileSize" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmServerAuditStatus" extends="BaseResultMap" >
    <result column="event_session_address" property="eventSessionAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    event_session_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmServerAuditStatus" >
    insert into dm_server_audit_status (audit_id, name, status, 
      status_desc, status_time, audit_file_path, 
      audit_file_size, event_session_address)
    values (#{auditId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{statusDesc,jdbcType=NVARCHAR}, #{statusTime,jdbcType=TIMESTAMP}, #{auditFilePath,jdbcType=NVARCHAR}, 
      #{auditFileSize,jdbcType=BIGINT}, #{eventSessionAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmServerAuditStatus" >
    insert into dm_server_audit_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auditId != null" >
        audit_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusDesc != null" >
        status_desc,
      </if>
      <if test="statusTime != null" >
        status_time,
      </if>
      <if test="auditFilePath != null" >
        audit_file_path,
      </if>
      <if test="auditFileSize != null" >
        audit_file_size,
      </if>
      <if test="eventSessionAddress != null" >
        event_session_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auditId != null" >
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="statusDesc != null" >
        #{statusDesc,jdbcType=NVARCHAR},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditFilePath != null" >
        #{auditFilePath,jdbcType=NVARCHAR},
      </if>
      <if test="auditFileSize != null" >
        #{auditFileSize,jdbcType=BIGINT},
      </if>
      <if test="eventSessionAddress != null" >
        #{eventSessionAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>