<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmSqlReferencingEntitiesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmSqlReferencingEntities" >
    <result column="referencing_schema_name" property="referencingSchemaName" jdbcType="NVARCHAR" />
    <result column="referencing_entity_name" property="referencingEntityName" jdbcType="NVARCHAR" />
    <result column="referencing_id" property="referencingId" jdbcType="INTEGER" />
    <result column="referencing_class" property="referencingClass" jdbcType="TINYINT" />
    <result column="referencing_class_desc" property="referencingClassDesc" jdbcType="NVARCHAR" />
    <result column="is_caller_dependent" property="isCallerDependent" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmSqlReferencingEntities" >
    insert into dm_sql_referencing_entities (referencing_schema_name, referencing_entity_name, 
      referencing_id, referencing_class, referencing_class_desc, 
      is_caller_dependent)
    values (#{referencingSchemaName,jdbcType=NVARCHAR}, #{referencingEntityName,jdbcType=NVARCHAR}, 
      #{referencingId,jdbcType=INTEGER}, #{referencingClass,jdbcType=TINYINT}, #{referencingClassDesc,jdbcType=NVARCHAR}, 
      #{isCallerDependent,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmSqlReferencingEntities" >
    insert into dm_sql_referencing_entities
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="referencingSchemaName != null" >
        referencing_schema_name,
      </if>
      <if test="referencingEntityName != null" >
        referencing_entity_name,
      </if>
      <if test="referencingId != null" >
        referencing_id,
      </if>
      <if test="referencingClass != null" >
        referencing_class,
      </if>
      <if test="referencingClassDesc != null" >
        referencing_class_desc,
      </if>
      <if test="isCallerDependent != null" >
        is_caller_dependent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="referencingSchemaName != null" >
        #{referencingSchemaName,jdbcType=NVARCHAR},
      </if>
      <if test="referencingEntityName != null" >
        #{referencingEntityName,jdbcType=NVARCHAR},
      </if>
      <if test="referencingId != null" >
        #{referencingId,jdbcType=INTEGER},
      </if>
      <if test="referencingClass != null" >
        #{referencingClass,jdbcType=TINYINT},
      </if>
      <if test="referencingClassDesc != null" >
        #{referencingClassDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isCallerDependent != null" >
        #{isCallerDependent,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>