<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmTranTopVersionGeneratorsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTopVersionGenerators" >
    <result column="database_id" property="databaseId" jdbcType="SMALLINT" />
    <result column="rowset_id" property="rowsetId" jdbcType="BIGINT" />
    <result column="aggregated_record_length_in_bytes" property="aggregatedRecordLengthInBytes" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTopVersionGenerators" >
    insert into dm_tran_top_version_generators (database_id, rowset_id, aggregated_record_length_in_bytes
      )
    values (#{databaseId,jdbcType=SMALLINT}, #{rowsetId,jdbcType=BIGINT}, #{aggregatedRecordLengthInBytes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTopVersionGenerators" >
    insert into dm_tran_top_version_generators
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="rowsetId != null" >
        rowset_id,
      </if>
      <if test="aggregatedRecordLengthInBytes != null" >
        aggregated_record_length_in_bytes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=SMALLINT},
      </if>
      <if test="rowsetId != null" >
        #{rowsetId,jdbcType=BIGINT},
      </if>
      <if test="aggregatedRecordLengthInBytes != null" >
        #{aggregatedRecordLengthInBytes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>