<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmTranCommitTableMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCommitTable" >
    <result column="commit_ts" property="commitTs" jdbcType="BIGINT" />
    <result column="xdes_id" property="xdesId" jdbcType="BIGINT" />
    <result column="commit_lbn" property="commitLbn" jdbcType="BIGINT" />
    <result column="commit_csn" property="commitCsn" jdbcType="BIGINT" />
    <result column="commit_time" property="commitTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCommitTable" >
    insert into dm_tran_commit_table (commit_ts, xdes_id, commit_lbn, 
      commit_csn, commit_time)
    values (#{commitTs,jdbcType=BIGINT}, #{xdesId,jdbcType=BIGINT}, #{commitLbn,jdbcType=BIGINT}, 
      #{commitCsn,jdbcType=BIGINT}, #{commitTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCommitTable" >
    insert into dm_tran_commit_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commitTs != null" >
        commit_ts,
      </if>
      <if test="xdesId != null" >
        xdes_id,
      </if>
      <if test="commitLbn != null" >
        commit_lbn,
      </if>
      <if test="commitCsn != null" >
        commit_csn,
      </if>
      <if test="commitTime != null" >
        commit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commitTs != null" >
        #{commitTs,jdbcType=BIGINT},
      </if>
      <if test="xdesId != null" >
        #{xdesId,jdbcType=BIGINT},
      </if>
      <if test="commitLbn != null" >
        #{commitLbn,jdbcType=BIGINT},
      </if>
      <if test="commitCsn != null" >
        #{commitCsn,jdbcType=BIGINT},
      </if>
      <if test="commitTime != null" >
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>