<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmTranTransactionsSnapshotMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTransactionsSnapshot" >
    <result column="transaction_sequence_num" property="transactionSequenceNum" jdbcType="BIGINT" />
    <result column="snapshot_id" property="snapshotId" jdbcType="INTEGER" />
    <result column="snapshot_sequence_num" property="snapshotSequenceNum" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTransactionsSnapshot" >
    insert into dm_tran_transactions_snapshot (transaction_sequence_num, snapshot_id, 
      snapshot_sequence_num)
    values (#{transactionSequenceNum,jdbcType=BIGINT}, #{snapshotId,jdbcType=INTEGER}, 
      #{snapshotSequenceNum,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranTransactionsSnapshot" >
    insert into dm_tran_transactions_snapshot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transactionSequenceNum != null" >
        transaction_sequence_num,
      </if>
      <if test="snapshotId != null" >
        snapshot_id,
      </if>
      <if test="snapshotSequenceNum != null" >
        snapshot_sequence_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transactionSequenceNum != null" >
        #{transactionSequenceNum,jdbcType=BIGINT},
      </if>
      <if test="snapshotId != null" >
        #{snapshotId,jdbcType=INTEGER},
      </if>
      <if test="snapshotSequenceNum != null" >
        #{snapshotSequenceNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>