<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmTranActiveSnapshotDatabaseTransactionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmTranActiveSnapshotDatabaseTransactions" >
    <result column="transaction_id" property="transactionId" jdbcType="BIGINT" />
    <result column="transaction_sequence_num" property="transactionSequenceNum" jdbcType="BIGINT" />
    <result column="commit_sequence_num" property="commitSequenceNum" jdbcType="BIGINT" />
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="is_snapshot" property="isSnapshot" jdbcType="BIT" />
    <result column="first_snapshot_sequence_num" property="firstSnapshotSequenceNum" jdbcType="BIGINT" />
    <result column="max_version_chain_traversed" property="maxVersionChainTraversed" jdbcType="INTEGER" />
    <result column="average_version_chain_traversed" property="averageVersionChainTraversed" jdbcType="DOUBLE" />
    <result column="elapsed_time_seconds" property="elapsedTimeSeconds" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranActiveSnapshotDatabaseTransactions" >
    insert into dm_tran_active_snapshot_database_transactions (transaction_id, transaction_sequence_num, 
      commit_sequence_num, session_id, is_snapshot, 
      first_snapshot_sequence_num, max_version_chain_traversed, 
      average_version_chain_traversed, elapsed_time_seconds
      )
    values (#{transactionId,jdbcType=BIGINT}, #{transactionSequenceNum,jdbcType=BIGINT}, 
      #{commitSequenceNum,jdbcType=BIGINT}, #{sessionId,jdbcType=INTEGER}, #{isSnapshot,jdbcType=BIT}, 
      #{firstSnapshotSequenceNum,jdbcType=BIGINT}, #{maxVersionChainTraversed,jdbcType=INTEGER}, 
      #{averageVersionChainTraversed,jdbcType=DOUBLE}, #{elapsedTimeSeconds,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranActiveSnapshotDatabaseTransactions" >
    insert into dm_tran_active_snapshot_database_transactions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="transactionSequenceNum != null" >
        transaction_sequence_num,
      </if>
      <if test="commitSequenceNum != null" >
        commit_sequence_num,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="isSnapshot != null" >
        is_snapshot,
      </if>
      <if test="firstSnapshotSequenceNum != null" >
        first_snapshot_sequence_num,
      </if>
      <if test="maxVersionChainTraversed != null" >
        max_version_chain_traversed,
      </if>
      <if test="averageVersionChainTraversed != null" >
        average_version_chain_traversed,
      </if>
      <if test="elapsedTimeSeconds != null" >
        elapsed_time_seconds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transactionId != null" >
        #{transactionId,jdbcType=BIGINT},
      </if>
      <if test="transactionSequenceNum != null" >
        #{transactionSequenceNum,jdbcType=BIGINT},
      </if>
      <if test="commitSequenceNum != null" >
        #{commitSequenceNum,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=INTEGER},
      </if>
      <if test="isSnapshot != null" >
        #{isSnapshot,jdbcType=BIT},
      </if>
      <if test="firstSnapshotSequenceNum != null" >
        #{firstSnapshotSequenceNum,jdbcType=BIGINT},
      </if>
      <if test="maxVersionChainTraversed != null" >
        #{maxVersionChainTraversed,jdbcType=INTEGER},
      </if>
      <if test="averageVersionChainTraversed != null" >
        #{averageVersionChainTraversed,jdbcType=DOUBLE},
      </if>
      <if test="elapsedTimeSeconds != null" >
        #{elapsedTimeSeconds,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>