<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmTranCurrentSnapshotMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCurrentSnapshot" >
    <result column="transaction_sequence_num" property="transactionSequenceNum" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCurrentSnapshot" >
    insert into dm_tran_current_snapshot (transaction_sequence_num)
    values (#{transactionSequenceNum,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmTranCurrentSnapshot" >
    insert into dm_tran_current_snapshot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transactionSequenceNum != null" >
        transaction_sequence_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transactionSequenceNum != null" >
        #{transactionSequenceNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>