<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXeSessionTargetsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionTargets" >
    <result column="target_name" property="targetName" jdbcType="NVARCHAR" />
    <result column="target_package_guid" property="targetPackageGuid" jdbcType="CHAR" />
    <result column="execution_count" property="executionCount" jdbcType="BIGINT" />
    <result column="execution_duration_ms" property="executionDurationMs" jdbcType="BIGINT" />
    <result column="target_data" property="targetData" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionTargets" extends="BaseResultMap" >
    <result column="event_session_address" property="eventSessionAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    event_session_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionTargets" >
    insert into dm_xe_session_targets (target_name, target_package_guid, execution_count, 
      execution_duration_ms, target_data, event_session_address
      )
    values (#{targetName,jdbcType=NVARCHAR}, #{targetPackageGuid,jdbcType=CHAR}, #{executionCount,jdbcType=BIGINT}, 
      #{executionDurationMs,jdbcType=BIGINT}, #{targetData,jdbcType=NVARCHAR}, #{eventSessionAddress,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionTargets" >
    insert into dm_xe_session_targets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="targetName != null" >
        target_name,
      </if>
      <if test="targetPackageGuid != null" >
        target_package_guid,
      </if>
      <if test="executionCount != null" >
        execution_count,
      </if>
      <if test="executionDurationMs != null" >
        execution_duration_ms,
      </if>
      <if test="targetData != null" >
        target_data,
      </if>
      <if test="eventSessionAddress != null" >
        event_session_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="targetName != null" >
        #{targetName,jdbcType=NVARCHAR},
      </if>
      <if test="targetPackageGuid != null" >
        #{targetPackageGuid,jdbcType=CHAR},
      </if>
      <if test="executionCount != null" >
        #{executionCount,jdbcType=BIGINT},
      </if>
      <if test="executionDurationMs != null" >
        #{executionDurationMs,jdbcType=BIGINT},
      </if>
      <if test="targetData != null" >
        #{targetData,jdbcType=NVARCHAR},
      </if>
      <if test="eventSessionAddress != null" >
        #{eventSessionAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>