<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXeObjectColumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeObjectColumns" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="object_name" property="objectName" jdbcType="NVARCHAR" />
    <result column="object_package_guid" property="objectPackageGuid" jdbcType="CHAR" />
    <result column="type_name" property="typeName" jdbcType="NVARCHAR" />
    <result column="type_package_guid" property="typePackageGuid" jdbcType="CHAR" />
    <result column="column_type" property="columnType" jdbcType="NVARCHAR" />
    <result column="column_value" property="columnValue" jdbcType="NVARCHAR" />
    <result column="capabilities" property="capabilities" jdbcType="INTEGER" />
    <result column="capabilities_desc" property="capabilitiesDesc" jdbcType="NVARCHAR" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeObjectColumns" >
    insert into dm_xe_object_columns (name, column_id, object_name, 
      object_package_guid, type_name, type_package_guid, 
      column_type, column_value, capabilities, 
      capabilities_desc, description)
    values (#{name,jdbcType=NVARCHAR}, #{columnId,jdbcType=INTEGER}, #{objectName,jdbcType=NVARCHAR}, 
      #{objectPackageGuid,jdbcType=CHAR}, #{typeName,jdbcType=NVARCHAR}, #{typePackageGuid,jdbcType=CHAR}, 
      #{columnType,jdbcType=NVARCHAR}, #{columnValue,jdbcType=NVARCHAR}, #{capabilities,jdbcType=INTEGER}, 
      #{capabilitiesDesc,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeObjectColumns" >
    insert into dm_xe_object_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="objectPackageGuid != null" >
        object_package_guid,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typePackageGuid != null" >
        type_package_guid,
      </if>
      <if test="columnType != null" >
        column_type,
      </if>
      <if test="columnValue != null" >
        column_value,
      </if>
      <if test="capabilities != null" >
        capabilities,
      </if>
      <if test="capabilitiesDesc != null" >
        capabilities_desc,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=NVARCHAR},
      </if>
      <if test="objectPackageGuid != null" >
        #{objectPackageGuid,jdbcType=CHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=NVARCHAR},
      </if>
      <if test="typePackageGuid != null" >
        #{typePackageGuid,jdbcType=CHAR},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=NVARCHAR},
      </if>
      <if test="columnValue != null" >
        #{columnValue,jdbcType=NVARCHAR},
      </if>
      <if test="capabilities != null" >
        #{capabilities,jdbcType=INTEGER},
      </if>
      <if test="capabilitiesDesc != null" >
        #{capabilitiesDesc,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>