<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXeMapValuesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeMapValues" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="object_package_guid" property="objectPackageGuid" jdbcType="CHAR" />
    <result column="map_key" property="mapKey" jdbcType="INTEGER" />
    <result column="map_value" property="mapValue" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeMapValues" >
    insert into dm_xe_map_values (name, object_package_guid, map_key, 
      map_value)
    values (#{name,jdbcType=NVARCHAR}, #{objectPackageGuid,jdbcType=CHAR}, #{mapKey,jdbcType=INTEGER}, 
      #{mapValue,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeMapValues" >
    insert into dm_xe_map_values
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="objectPackageGuid != null" >
        object_package_guid,
      </if>
      <if test="mapKey != null" >
        map_key,
      </if>
      <if test="mapValue != null" >
        map_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="objectPackageGuid != null" >
        #{objectPackageGuid,jdbcType=CHAR},
      </if>
      <if test="mapKey != null" >
        #{mapKey,jdbcType=INTEGER},
      </if>
      <if test="mapValue != null" >
        #{mapValue,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>