<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXeSessionEventActionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionEventActions" >
    <result column="action_name" property="actionName" jdbcType="NVARCHAR" />
    <result column="action_package_guid" property="actionPackageGuid" jdbcType="CHAR" />
    <result column="event_name" property="eventName" jdbcType="NVARCHAR" />
    <result column="event_package_guid" property="eventPackageGuid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionEventActions" extends="BaseResultMap" >
    <result column="event_session_address" property="eventSessionAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    event_session_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionEventActions" >
    insert into dm_xe_session_event_actions (action_name, action_package_guid, event_name, 
      event_package_guid, event_session_address)
    values (#{actionName,jdbcType=NVARCHAR}, #{actionPackageGuid,jdbcType=CHAR}, #{eventName,jdbcType=NVARCHAR}, 
      #{eventPackageGuid,jdbcType=CHAR}, #{eventSessionAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXeSessionEventActions" >
    insert into dm_xe_session_event_actions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionName != null" >
        action_name,
      </if>
      <if test="actionPackageGuid != null" >
        action_package_guid,
      </if>
      <if test="eventName != null" >
        event_name,
      </if>
      <if test="eventPackageGuid != null" >
        event_package_guid,
      </if>
      <if test="eventSessionAddress != null" >
        event_session_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionName != null" >
        #{actionName,jdbcType=NVARCHAR},
      </if>
      <if test="actionPackageGuid != null" >
        #{actionPackageGuid,jdbcType=CHAR},
      </if>
      <if test="eventName != null" >
        #{eventName,jdbcType=NVARCHAR},
      </if>
      <if test="eventPackageGuid != null" >
        #{eventPackageGuid,jdbcType=CHAR},
      </if>
      <if test="eventSessionAddress != null" >
        #{eventSessionAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>