<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXtpSystemMemoryConsumersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpSystemMemoryConsumers" >
    <result column="memory_consumer_id" property="memoryConsumerId" jdbcType="BIGINT" />
    <result column="memory_consumer_type" property="memoryConsumerType" jdbcType="INTEGER" />
    <result column="memory_consumer_type_desc" property="memoryConsumerTypeDesc" jdbcType="NVARCHAR" />
    <result column="memory_consumer_desc" property="memoryConsumerDesc" jdbcType="NVARCHAR" />
    <result column="lookaside_id" property="lookasideId" jdbcType="BIGINT" />
    <result column="pagepool_id" property="pagepoolId" jdbcType="BIGINT" />
    <result column="allocated_bytes" property="allocatedBytes" jdbcType="BIGINT" />
    <result column="used_bytes" property="usedBytes" jdbcType="BIGINT" />
    <result column="allocation_count" property="allocationCount" jdbcType="INTEGER" />
    <result column="partition_count" property="partitionCount" jdbcType="INTEGER" />
    <result column="sizeclass_count" property="sizeclassCount" jdbcType="INTEGER" />
    <result column="min_sizeclass" property="minSizeclass" jdbcType="INTEGER" />
    <result column="max_sizeclass" property="maxSizeclass" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpSystemMemoryConsumers" extends="BaseResultMap" >
    <result column="memory_consumer_address" property="memoryConsumerAddress" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    memory_consumer_address
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpSystemMemoryConsumers" >
    insert into dm_xtp_system_memory_consumers (memory_consumer_id, memory_consumer_type, 
      memory_consumer_type_desc, memory_consumer_desc, 
      lookaside_id, pagepool_id, allocated_bytes, 
      used_bytes, allocation_count, partition_count, 
      sizeclass_count, min_sizeclass, max_sizeclass, 
      memory_consumer_address)
    values (#{memoryConsumerId,jdbcType=BIGINT}, #{memoryConsumerType,jdbcType=INTEGER}, 
      #{memoryConsumerTypeDesc,jdbcType=NVARCHAR}, #{memoryConsumerDesc,jdbcType=NVARCHAR}, 
      #{lookasideId,jdbcType=BIGINT}, #{pagepoolId,jdbcType=BIGINT}, #{allocatedBytes,jdbcType=BIGINT}, 
      #{usedBytes,jdbcType=BIGINT}, #{allocationCount,jdbcType=INTEGER}, #{partitionCount,jdbcType=INTEGER}, 
      #{sizeclassCount,jdbcType=INTEGER}, #{minSizeclass,jdbcType=INTEGER}, #{maxSizeclass,jdbcType=INTEGER}, 
      #{memoryConsumerAddress,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpSystemMemoryConsumers" >
    insert into dm_xtp_system_memory_consumers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memoryConsumerId != null" >
        memory_consumer_id,
      </if>
      <if test="memoryConsumerType != null" >
        memory_consumer_type,
      </if>
      <if test="memoryConsumerTypeDesc != null" >
        memory_consumer_type_desc,
      </if>
      <if test="memoryConsumerDesc != null" >
        memory_consumer_desc,
      </if>
      <if test="lookasideId != null" >
        lookaside_id,
      </if>
      <if test="pagepoolId != null" >
        pagepool_id,
      </if>
      <if test="allocatedBytes != null" >
        allocated_bytes,
      </if>
      <if test="usedBytes != null" >
        used_bytes,
      </if>
      <if test="allocationCount != null" >
        allocation_count,
      </if>
      <if test="partitionCount != null" >
        partition_count,
      </if>
      <if test="sizeclassCount != null" >
        sizeclass_count,
      </if>
      <if test="minSizeclass != null" >
        min_sizeclass,
      </if>
      <if test="maxSizeclass != null" >
        max_sizeclass,
      </if>
      <if test="memoryConsumerAddress != null" >
        memory_consumer_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memoryConsumerId != null" >
        #{memoryConsumerId,jdbcType=BIGINT},
      </if>
      <if test="memoryConsumerType != null" >
        #{memoryConsumerType,jdbcType=INTEGER},
      </if>
      <if test="memoryConsumerTypeDesc != null" >
        #{memoryConsumerTypeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="memoryConsumerDesc != null" >
        #{memoryConsumerDesc,jdbcType=NVARCHAR},
      </if>
      <if test="lookasideId != null" >
        #{lookasideId,jdbcType=BIGINT},
      </if>
      <if test="pagepoolId != null" >
        #{pagepoolId,jdbcType=BIGINT},
      </if>
      <if test="allocatedBytes != null" >
        #{allocatedBytes,jdbcType=BIGINT},
      </if>
      <if test="usedBytes != null" >
        #{usedBytes,jdbcType=BIGINT},
      </if>
      <if test="allocationCount != null" >
        #{allocationCount,jdbcType=INTEGER},
      </if>
      <if test="partitionCount != null" >
        #{partitionCount,jdbcType=INTEGER},
      </if>
      <if test="sizeclassCount != null" >
        #{sizeclassCount,jdbcType=INTEGER},
      </if>
      <if test="minSizeclass != null" >
        #{minSizeclass,jdbcType=INTEGER},
      </if>
      <if test="maxSizeclass != null" >
        #{maxSizeclass,jdbcType=INTEGER},
      </if>
      <if test="memoryConsumerAddress != null" >
        #{memoryConsumerAddress,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>