<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXtpTransactionRecentRowsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionRecentRows" >
    <result column="xtp_transaction_id" property="xtpTransactionId" jdbcType="BIGINT" />
    <result column="before_begin" property="beforeBegin" jdbcType="BIGINT" />
    <result column="before_end" property="beforeEnd" jdbcType="BIGINT" />
    <result column="before_links" property="beforeLinks" jdbcType="INTEGER" />
    <result column="before_time" property="beforeTime" jdbcType="BIGINT" />
    <result column="after_begin" property="afterBegin" jdbcType="BIGINT" />
    <result column="after_end" property="afterEnd" jdbcType="BIGINT" />
    <result column="after_links" property="afterLinks" jdbcType="INTEGER" />
    <result column="after_time" property="afterTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionRecentRowsWithBLOBs" extends="BaseResultMap" >
    <result column="row_address" property="rowAddress" jdbcType="VARBINARY" />
    <result column="table_address" property="tableAddress" jdbcType="VARBINARY" />
    <result column="outcome" property="outcome" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    row_address, table_address, outcome
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionRecentRowsWithBLOBs" >
    insert into dm_xtp_transaction_recent_rows (xtp_transaction_id, before_begin, before_end, 
      before_links, before_time, after_begin, 
      after_end, after_links, after_time, 
      row_address, table_address, outcome
      )
    values (#{xtpTransactionId,jdbcType=BIGINT}, #{beforeBegin,jdbcType=BIGINT}, #{beforeEnd,jdbcType=BIGINT}, 
      #{beforeLinks,jdbcType=INTEGER}, #{beforeTime,jdbcType=BIGINT}, #{afterBegin,jdbcType=BIGINT}, 
      #{afterEnd,jdbcType=BIGINT}, #{afterLinks,jdbcType=INTEGER}, #{afterTime,jdbcType=BIGINT}, 
      #{rowAddress,jdbcType=VARBINARY}, #{tableAddress,jdbcType=VARBINARY}, #{outcome,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionRecentRowsWithBLOBs" >
    insert into dm_xtp_transaction_recent_rows
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xtpTransactionId != null" >
        xtp_transaction_id,
      </if>
      <if test="beforeBegin != null" >
        before_begin,
      </if>
      <if test="beforeEnd != null" >
        before_end,
      </if>
      <if test="beforeLinks != null" >
        before_links,
      </if>
      <if test="beforeTime != null" >
        before_time,
      </if>
      <if test="afterBegin != null" >
        after_begin,
      </if>
      <if test="afterEnd != null" >
        after_end,
      </if>
      <if test="afterLinks != null" >
        after_links,
      </if>
      <if test="afterTime != null" >
        after_time,
      </if>
      <if test="rowAddress != null" >
        row_address,
      </if>
      <if test="tableAddress != null" >
        table_address,
      </if>
      <if test="outcome != null" >
        outcome,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xtpTransactionId != null" >
        #{xtpTransactionId,jdbcType=BIGINT},
      </if>
      <if test="beforeBegin != null" >
        #{beforeBegin,jdbcType=BIGINT},
      </if>
      <if test="beforeEnd != null" >
        #{beforeEnd,jdbcType=BIGINT},
      </if>
      <if test="beforeLinks != null" >
        #{beforeLinks,jdbcType=INTEGER},
      </if>
      <if test="beforeTime != null" >
        #{beforeTime,jdbcType=BIGINT},
      </if>
      <if test="afterBegin != null" >
        #{afterBegin,jdbcType=BIGINT},
      </if>
      <if test="afterEnd != null" >
        #{afterEnd,jdbcType=BIGINT},
      </if>
      <if test="afterLinks != null" >
        #{afterLinks,jdbcType=INTEGER},
      </if>
      <if test="afterTime != null" >
        #{afterTime,jdbcType=BIGINT},
      </if>
      <if test="rowAddress != null" >
        #{rowAddress,jdbcType=VARBINARY},
      </if>
      <if test="tableAddress != null" >
        #{tableAddress,jdbcType=VARBINARY},
      </if>
      <if test="outcome != null" >
        #{outcome,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>