<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DmXtpTransactionStatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionStats" >
    <result column="total_count" property="totalCount" jdbcType="BIGINT" />
    <result column="read_only_count" property="readOnlyCount" jdbcType="BIGINT" />
    <result column="total_aborts" property="totalAborts" jdbcType="BIGINT" />
    <result column="system_aborts" property="systemAborts" jdbcType="BIGINT" />
    <result column="validation_failures" property="validationFailures" jdbcType="BIGINT" />
    <result column="dependencies_taken" property="dependenciesTaken" jdbcType="BIGINT" />
    <result column="dependencies_failed" property="dependenciesFailed" jdbcType="BIGINT" />
    <result column="savepoint_create" property="savepointCreate" jdbcType="BIGINT" />
    <result column="savepoint_rollbacks" property="savepointRollbacks" jdbcType="BIGINT" />
    <result column="savepoint_refreshes" property="savepointRefreshes" jdbcType="BIGINT" />
    <result column="log_bytes_written" property="logBytesWritten" jdbcType="BIGINT" />
    <result column="log_IO_count" property="logIoCount" jdbcType="BIGINT" />
    <result column="phantom_scans_started" property="phantomScansStarted" jdbcType="BIGINT" />
    <result column="phantom_scans_retries" property="phantomScansRetries" jdbcType="BIGINT" />
    <result column="phantom_rows_touched" property="phantomRowsTouched" jdbcType="BIGINT" />
    <result column="phantom_rows_expiring" property="phantomRowsExpiring" jdbcType="BIGINT" />
    <result column="phantom_rows_expired" property="phantomRowsExpired" jdbcType="BIGINT" />
    <result column="phantom_rows_expired_removed" property="phantomRowsExpiredRemoved" jdbcType="BIGINT" />
    <result column="scans_started" property="scansStarted" jdbcType="BIGINT" />
    <result column="scans_retried" property="scansRetried" jdbcType="BIGINT" />
    <result column="rows_returned" property="rowsReturned" jdbcType="BIGINT" />
    <result column="rows_touched" property="rowsTouched" jdbcType="BIGINT" />
    <result column="rows_expiring" property="rowsExpiring" jdbcType="BIGINT" />
    <result column="rows_expired" property="rowsExpired" jdbcType="BIGINT" />
    <result column="rows_expired_removed" property="rowsExpiredRemoved" jdbcType="BIGINT" />
    <result column="row_insert_attempts" property="rowInsertAttempts" jdbcType="BIGINT" />
    <result column="row_update_attempts" property="rowUpdateAttempts" jdbcType="BIGINT" />
    <result column="row_delete_attempts" property="rowDeleteAttempts" jdbcType="BIGINT" />
    <result column="write_conflicts" property="writeConflicts" jdbcType="BIGINT" />
    <result column="unique_constraint_violations" property="uniqueConstraintViolations" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionStats" >
    insert into dm_xtp_transaction_stats (total_count, read_only_count, total_aborts, 
      system_aborts, validation_failures, dependencies_taken, 
      dependencies_failed, savepoint_create, savepoint_rollbacks, 
      savepoint_refreshes, log_bytes_written, log_IO_count, 
      phantom_scans_started, phantom_scans_retries, 
      phantom_rows_touched, phantom_rows_expiring, 
      phantom_rows_expired, phantom_rows_expired_removed, 
      scans_started, scans_retried, rows_returned, 
      rows_touched, rows_expiring, rows_expired, 
      rows_expired_removed, row_insert_attempts, row_update_attempts, 
      row_delete_attempts, write_conflicts, unique_constraint_violations
      )
    values (#{totalCount,jdbcType=BIGINT}, #{readOnlyCount,jdbcType=BIGINT}, #{totalAborts,jdbcType=BIGINT}, 
      #{systemAborts,jdbcType=BIGINT}, #{validationFailures,jdbcType=BIGINT}, #{dependenciesTaken,jdbcType=BIGINT}, 
      #{dependenciesFailed,jdbcType=BIGINT}, #{savepointCreate,jdbcType=BIGINT}, #{savepointRollbacks,jdbcType=BIGINT}, 
      #{savepointRefreshes,jdbcType=BIGINT}, #{logBytesWritten,jdbcType=BIGINT}, #{logIoCount,jdbcType=BIGINT}, 
      #{phantomScansStarted,jdbcType=BIGINT}, #{phantomScansRetries,jdbcType=BIGINT}, 
      #{phantomRowsTouched,jdbcType=BIGINT}, #{phantomRowsExpiring,jdbcType=BIGINT}, 
      #{phantomRowsExpired,jdbcType=BIGINT}, #{phantomRowsExpiredRemoved,jdbcType=BIGINT}, 
      #{scansStarted,jdbcType=BIGINT}, #{scansRetried,jdbcType=BIGINT}, #{rowsReturned,jdbcType=BIGINT}, 
      #{rowsTouched,jdbcType=BIGINT}, #{rowsExpiring,jdbcType=BIGINT}, #{rowsExpired,jdbcType=BIGINT}, 
      #{rowsExpiredRemoved,jdbcType=BIGINT}, #{rowInsertAttempts,jdbcType=BIGINT}, #{rowUpdateAttempts,jdbcType=BIGINT}, 
      #{rowDeleteAttempts,jdbcType=BIGINT}, #{writeConflicts,jdbcType=BIGINT}, #{uniqueConstraintViolations,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DmXtpTransactionStats" >
    insert into dm_xtp_transaction_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="readOnlyCount != null" >
        read_only_count,
      </if>
      <if test="totalAborts != null" >
        total_aborts,
      </if>
      <if test="systemAborts != null" >
        system_aborts,
      </if>
      <if test="validationFailures != null" >
        validation_failures,
      </if>
      <if test="dependenciesTaken != null" >
        dependencies_taken,
      </if>
      <if test="dependenciesFailed != null" >
        dependencies_failed,
      </if>
      <if test="savepointCreate != null" >
        savepoint_create,
      </if>
      <if test="savepointRollbacks != null" >
        savepoint_rollbacks,
      </if>
      <if test="savepointRefreshes != null" >
        savepoint_refreshes,
      </if>
      <if test="logBytesWritten != null" >
        log_bytes_written,
      </if>
      <if test="logIoCount != null" >
        log_IO_count,
      </if>
      <if test="phantomScansStarted != null" >
        phantom_scans_started,
      </if>
      <if test="phantomScansRetries != null" >
        phantom_scans_retries,
      </if>
      <if test="phantomRowsTouched != null" >
        phantom_rows_touched,
      </if>
      <if test="phantomRowsExpiring != null" >
        phantom_rows_expiring,
      </if>
      <if test="phantomRowsExpired != null" >
        phantom_rows_expired,
      </if>
      <if test="phantomRowsExpiredRemoved != null" >
        phantom_rows_expired_removed,
      </if>
      <if test="scansStarted != null" >
        scans_started,
      </if>
      <if test="scansRetried != null" >
        scans_retried,
      </if>
      <if test="rowsReturned != null" >
        rows_returned,
      </if>
      <if test="rowsTouched != null" >
        rows_touched,
      </if>
      <if test="rowsExpiring != null" >
        rows_expiring,
      </if>
      <if test="rowsExpired != null" >
        rows_expired,
      </if>
      <if test="rowsExpiredRemoved != null" >
        rows_expired_removed,
      </if>
      <if test="rowInsertAttempts != null" >
        row_insert_attempts,
      </if>
      <if test="rowUpdateAttempts != null" >
        row_update_attempts,
      </if>
      <if test="rowDeleteAttempts != null" >
        row_delete_attempts,
      </if>
      <if test="writeConflicts != null" >
        write_conflicts,
      </if>
      <if test="uniqueConstraintViolations != null" >
        unique_constraint_violations,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="totalCount != null" >
        #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="readOnlyCount != null" >
        #{readOnlyCount,jdbcType=BIGINT},
      </if>
      <if test="totalAborts != null" >
        #{totalAborts,jdbcType=BIGINT},
      </if>
      <if test="systemAborts != null" >
        #{systemAborts,jdbcType=BIGINT},
      </if>
      <if test="validationFailures != null" >
        #{validationFailures,jdbcType=BIGINT},
      </if>
      <if test="dependenciesTaken != null" >
        #{dependenciesTaken,jdbcType=BIGINT},
      </if>
      <if test="dependenciesFailed != null" >
        #{dependenciesFailed,jdbcType=BIGINT},
      </if>
      <if test="savepointCreate != null" >
        #{savepointCreate,jdbcType=BIGINT},
      </if>
      <if test="savepointRollbacks != null" >
        #{savepointRollbacks,jdbcType=BIGINT},
      </if>
      <if test="savepointRefreshes != null" >
        #{savepointRefreshes,jdbcType=BIGINT},
      </if>
      <if test="logBytesWritten != null" >
        #{logBytesWritten,jdbcType=BIGINT},
      </if>
      <if test="logIoCount != null" >
        #{logIoCount,jdbcType=BIGINT},
      </if>
      <if test="phantomScansStarted != null" >
        #{phantomScansStarted,jdbcType=BIGINT},
      </if>
      <if test="phantomScansRetries != null" >
        #{phantomScansRetries,jdbcType=BIGINT},
      </if>
      <if test="phantomRowsTouched != null" >
        #{phantomRowsTouched,jdbcType=BIGINT},
      </if>
      <if test="phantomRowsExpiring != null" >
        #{phantomRowsExpiring,jdbcType=BIGINT},
      </if>
      <if test="phantomRowsExpired != null" >
        #{phantomRowsExpired,jdbcType=BIGINT},
      </if>
      <if test="phantomRowsExpiredRemoved != null" >
        #{phantomRowsExpiredRemoved,jdbcType=BIGINT},
      </if>
      <if test="scansStarted != null" >
        #{scansStarted,jdbcType=BIGINT},
      </if>
      <if test="scansRetried != null" >
        #{scansRetried,jdbcType=BIGINT},
      </if>
      <if test="rowsReturned != null" >
        #{rowsReturned,jdbcType=BIGINT},
      </if>
      <if test="rowsTouched != null" >
        #{rowsTouched,jdbcType=BIGINT},
      </if>
      <if test="rowsExpiring != null" >
        #{rowsExpiring,jdbcType=BIGINT},
      </if>
      <if test="rowsExpired != null" >
        #{rowsExpired,jdbcType=BIGINT},
      </if>
      <if test="rowsExpiredRemoved != null" >
        #{rowsExpiredRemoved,jdbcType=BIGINT},
      </if>
      <if test="rowInsertAttempts != null" >
        #{rowInsertAttempts,jdbcType=BIGINT},
      </if>
      <if test="rowUpdateAttempts != null" >
        #{rowUpdateAttempts,jdbcType=BIGINT},
      </if>
      <if test="rowDeleteAttempts != null" >
        #{rowDeleteAttempts,jdbcType=BIGINT},
      </if>
      <if test="writeConflicts != null" >
        #{writeConflicts,jdbcType=BIGINT},
      </if>
      <if test="uniqueConstraintViolations != null" >
        #{uniqueConstraintViolations,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>