<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.DomainConstraintsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.DomainConstraints" >
    <result column="CONSTRAINT_CATALOG" property="constraintCatalog" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_SCHEMA" property="constraintSchema" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_NAME" property="constraintName" jdbcType="NVARCHAR" />
    <result column="DOMAIN_CATALOG" property="domainCatalog" jdbcType="NVARCHAR" />
    <result column="DOMAIN_SCHEMA" property="domainSchema" jdbcType="NVARCHAR" />
    <result column="DOMAIN_NAME" property="domainName" jdbcType="NVARCHAR" />
    <result column="IS_DEFERRABLE" property="isDeferrable" jdbcType="VARCHAR" />
    <result column="INITIALLY_DEFERRED" property="initiallyDeferred" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DomainConstraints" >
    insert into DOMAIN_CONSTRAINTS (CONSTRAINT_CATALOG, CONSTRAINT_SCHEMA, 
      CONSTRAINT_NAME, DOMAIN_CATALOG, DOMAIN_SCHEMA, 
      DOMAIN_NAME, IS_DEFERRABLE, INITIALLY_DEFERRED
      )
    values (#{constraintCatalog,jdbcType=NVARCHAR}, #{constraintSchema,jdbcType=NVARCHAR}, 
      #{constraintName,jdbcType=NVARCHAR}, #{domainCatalog,jdbcType=NVARCHAR}, #{domainSchema,jdbcType=NVARCHAR}, 
      #{domainName,jdbcType=NVARCHAR}, #{isDeferrable,jdbcType=VARCHAR}, #{initiallyDeferred,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.DomainConstraints" >
    insert into DOMAIN_CONSTRAINTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        CONSTRAINT_CATALOG,
      </if>
      <if test="constraintSchema != null" >
        CONSTRAINT_SCHEMA,
      </if>
      <if test="constraintName != null" >
        CONSTRAINT_NAME,
      </if>
      <if test="domainCatalog != null" >
        DOMAIN_CATALOG,
      </if>
      <if test="domainSchema != null" >
        DOMAIN_SCHEMA,
      </if>
      <if test="domainName != null" >
        DOMAIN_NAME,
      </if>
      <if test="isDeferrable != null" >
        IS_DEFERRABLE,
      </if>
      <if test="initiallyDeferred != null" >
        INITIALLY_DEFERRED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        #{constraintCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="constraintSchema != null" >
        #{constraintSchema,jdbcType=NVARCHAR},
      </if>
      <if test="constraintName != null" >
        #{constraintName,jdbcType=NVARCHAR},
      </if>
      <if test="domainCatalog != null" >
        #{domainCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="domainSchema != null" >
        #{domainSchema,jdbcType=NVARCHAR},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=NVARCHAR},
      </if>
      <if test="isDeferrable != null" >
        #{isDeferrable,jdbcType=VARCHAR},
      </if>
      <if test="initiallyDeferred != null" >
        #{initiallyDeferred,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>