<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FilegroupsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Filegroups" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="data_space_id" property="dataSpaceId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="NVARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="is_system" property="isSystem" jdbcType="BIT" />
    <result column="filegroup_guid" property="filegroupGuid" jdbcType="CHAR" />
    <result column="log_filegroup_id" property="logFilegroupId" jdbcType="INTEGER" />
    <result column="is_read_only" property="isReadOnly" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Filegroups" >
    insert into filegroups (name, data_space_id, type, 
      type_desc, is_default, is_system, 
      filegroup_guid, log_filegroup_id, is_read_only
      )
    values (#{name,jdbcType=NVARCHAR}, #{dataSpaceId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR}, #{isDefault,jdbcType=BIT}, #{isSystem,jdbcType=BIT}, 
      #{filegroupGuid,jdbcType=CHAR}, #{logFilegroupId,jdbcType=INTEGER}, #{isReadOnly,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Filegroups" >
    insert into filegroups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="dataSpaceId != null" >
        data_space_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="isSystem != null" >
        is_system,
      </if>
      <if test="filegroupGuid != null" >
        filegroup_guid,
      </if>
      <if test="logFilegroupId != null" >
        log_filegroup_id,
      </if>
      <if test="isReadOnly != null" >
        is_read_only,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="dataSpaceId != null" >
        #{dataSpaceId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=BIT},
      </if>
      <if test="filegroupGuid != null" >
        #{filegroupGuid,jdbcType=CHAR},
      </if>
      <if test="logFilegroupId != null" >
        #{logFilegroupId,jdbcType=INTEGER},
      </if>
      <if test="isReadOnly != null" >
        #{isReadOnly,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>