<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnCheckObjectSignaturesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnCheckObjectSignatures" >
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="entity_id" property="entityId" jdbcType="INTEGER" />
    <result column="is_signed" property="isSigned" jdbcType="INTEGER" />
    <result column="is_signature_valid" property="isSignatureValid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnCheckObjectSignatures" >
    insert into fn_check_object_signatures (type, entity_id, is_signed, 
      is_signature_valid)
    values (#{type,jdbcType=NVARCHAR}, #{entityId,jdbcType=INTEGER}, #{isSigned,jdbcType=INTEGER}, 
      #{isSignatureValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnCheckObjectSignatures" >
    insert into fn_check_object_signatures
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="isSigned != null" >
        is_signed,
      </if>
      <if test="isSignatureValid != null" >
        is_signature_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="isSigned != null" >
        #{isSigned,jdbcType=INTEGER},
      </if>
      <if test="isSignatureValid != null" >
        #{isSignatureValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>