<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnEnumcurrentprincipalsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnEnumcurrentprincipals" >
    <result column="db_name" property="dbName" jdbcType="NVARCHAR" />
    <result column="current_principal" property="currentPrincipal" jdbcType="NVARCHAR" />
    <result column="mirroring_role" property="mirroringRole" jdbcType="INTEGER" />
    <result column="mirroring_state" property="mirroringState" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnEnumcurrentprincipals" >
    insert into fn_EnumCurrentPrincipals (db_name, current_principal, mirroring_role, 
      mirroring_state)
    values (#{dbName,jdbcType=NVARCHAR}, #{currentPrincipal,jdbcType=NVARCHAR}, #{mirroringRole,jdbcType=INTEGER}, 
      #{mirroringState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnEnumcurrentprincipals" >
    insert into fn_EnumCurrentPrincipals
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbName != null" >
        db_name,
      </if>
      <if test="currentPrincipal != null" >
        current_principal,
      </if>
      <if test="mirroringRole != null" >
        mirroring_role,
      </if>
      <if test="mirroringState != null" >
        mirroring_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbName != null" >
        #{dbName,jdbcType=NVARCHAR},
      </if>
      <if test="currentPrincipal != null" >
        #{currentPrincipal,jdbcType=NVARCHAR},
      </if>
      <if test="mirroringRole != null" >
        #{mirroringRole,jdbcType=INTEGER},
      </if>
      <if test="mirroringState != null" >
        #{mirroringState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>