<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnGetAuditFileMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnGetAuditFile" >
    <result column="event_time" property="eventTime" jdbcType="TIMESTAMP" />
    <result column="sequence_number" property="sequenceNumber" jdbcType="INTEGER" />
    <result column="action_id" property="actionId" jdbcType="VARCHAR" />
    <result column="succeeded" property="succeeded" jdbcType="BIT" />
    <result column="is_column_permission" property="isColumnPermission" jdbcType="BIT" />
    <result column="session_id" property="sessionId" jdbcType="SMALLINT" />
    <result column="server_principal_id" property="serverPrincipalId" jdbcType="INTEGER" />
    <result column="database_principal_id" property="databasePrincipalId" jdbcType="INTEGER" />
    <result column="target_server_principal_id" property="targetServerPrincipalId" jdbcType="INTEGER" />
    <result column="target_database_principal_id" property="targetDatabasePrincipalId" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="session_server_principal_name" property="sessionServerPrincipalName" jdbcType="NVARCHAR" />
    <result column="server_principal_name" property="serverPrincipalName" jdbcType="NVARCHAR" />
    <result column="database_principal_name" property="databasePrincipalName" jdbcType="NVARCHAR" />
    <result column="target_server_principal_name" property="targetServerPrincipalName" jdbcType="NVARCHAR" />
    <result column="target_database_principal_name" property="targetDatabasePrincipalName" jdbcType="NVARCHAR" />
    <result column="server_instance_name" property="serverInstanceName" jdbcType="NVARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="schema_name" property="schemaName" jdbcType="NVARCHAR" />
    <result column="object_name" property="objectName" jdbcType="NVARCHAR" />
    <result column="statement" property="statement" jdbcType="NVARCHAR" />
    <result column="additional_information" property="additionalInformation" jdbcType="NVARCHAR" />
    <result column="file_name" property="fileName" jdbcType="NVARCHAR" />
    <result column="audit_file_offset" property="auditFileOffset" jdbcType="BIGINT" />
    <result column="user_defined_event_id" property="userDefinedEventId" jdbcType="SMALLINT" />
    <result column="user_defined_information" property="userDefinedInformation" jdbcType="NVARCHAR" />
    <result column="audit_schema_version" property="auditSchemaVersion" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.FnGetAuditFileWithBLOBs" extends="BaseResultMap" >
    <result column="permission_bitmask" property="permissionBitmask" jdbcType="VARBINARY" />
    <result column="server_principal_sid" property="serverPrincipalSid" jdbcType="VARBINARY" />
    <result column="target_server_principal_sid" property="targetServerPrincipalSid" jdbcType="VARBINARY" />
    <result column="sequence_group_id" property="sequenceGroupId" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    permission_bitmask, server_principal_sid, target_server_principal_sid, sequence_group_id
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnGetAuditFileWithBLOBs" >
    insert into fn_get_audit_file (event_time, sequence_number, action_id, 
      succeeded, is_column_permission, session_id, 
      server_principal_id, database_principal_id, 
      target_server_principal_id, target_database_principal_id, 
      object_id, class_type, session_server_principal_name, 
      server_principal_name, database_principal_name, 
      target_server_principal_name, target_database_principal_name, 
      server_instance_name, database_name, schema_name, 
      object_name, statement, additional_information, 
      file_name, audit_file_offset, user_defined_event_id, 
      user_defined_information, audit_schema_version, 
      permission_bitmask, server_principal_sid, 
      target_server_principal_sid, sequence_group_id
      )
    values (#{eventTime,jdbcType=TIMESTAMP}, #{sequenceNumber,jdbcType=INTEGER}, #{actionId,jdbcType=VARCHAR}, 
      #{succeeded,jdbcType=BIT}, #{isColumnPermission,jdbcType=BIT}, #{sessionId,jdbcType=SMALLINT}, 
      #{serverPrincipalId,jdbcType=INTEGER}, #{databasePrincipalId,jdbcType=INTEGER}, 
      #{targetServerPrincipalId,jdbcType=INTEGER}, #{targetDatabasePrincipalId,jdbcType=INTEGER}, 
      #{objectId,jdbcType=INTEGER}, #{classType,jdbcType=VARCHAR}, #{sessionServerPrincipalName,jdbcType=NVARCHAR}, 
      #{serverPrincipalName,jdbcType=NVARCHAR}, #{databasePrincipalName,jdbcType=NVARCHAR}, 
      #{targetServerPrincipalName,jdbcType=NVARCHAR}, #{targetDatabasePrincipalName,jdbcType=NVARCHAR}, 
      #{serverInstanceName,jdbcType=NVARCHAR}, #{databaseName,jdbcType=NVARCHAR}, #{schemaName,jdbcType=NVARCHAR}, 
      #{objectName,jdbcType=NVARCHAR}, #{statement,jdbcType=NVARCHAR}, #{additionalInformation,jdbcType=NVARCHAR}, 
      #{fileName,jdbcType=NVARCHAR}, #{auditFileOffset,jdbcType=BIGINT}, #{userDefinedEventId,jdbcType=SMALLINT}, 
      #{userDefinedInformation,jdbcType=NVARCHAR}, #{auditSchemaVersion,jdbcType=INTEGER}, 
      #{permissionBitmask,jdbcType=VARBINARY}, #{serverPrincipalSid,jdbcType=VARBINARY}, 
      #{targetServerPrincipalSid,jdbcType=VARBINARY}, #{sequenceGroupId,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnGetAuditFileWithBLOBs" >
    insert into fn_get_audit_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventTime != null" >
        event_time,
      </if>
      <if test="sequenceNumber != null" >
        sequence_number,
      </if>
      <if test="actionId != null" >
        action_id,
      </if>
      <if test="succeeded != null" >
        succeeded,
      </if>
      <if test="isColumnPermission != null" >
        is_column_permission,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="serverPrincipalId != null" >
        server_principal_id,
      </if>
      <if test="databasePrincipalId != null" >
        database_principal_id,
      </if>
      <if test="targetServerPrincipalId != null" >
        target_server_principal_id,
      </if>
      <if test="targetDatabasePrincipalId != null" >
        target_database_principal_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="sessionServerPrincipalName != null" >
        session_server_principal_name,
      </if>
      <if test="serverPrincipalName != null" >
        server_principal_name,
      </if>
      <if test="databasePrincipalName != null" >
        database_principal_name,
      </if>
      <if test="targetServerPrincipalName != null" >
        target_server_principal_name,
      </if>
      <if test="targetDatabasePrincipalName != null" >
        target_database_principal_name,
      </if>
      <if test="serverInstanceName != null" >
        server_instance_name,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="schemaName != null" >
        schema_name,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="statement != null" >
        statement,
      </if>
      <if test="additionalInformation != null" >
        additional_information,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="auditFileOffset != null" >
        audit_file_offset,
      </if>
      <if test="userDefinedEventId != null" >
        user_defined_event_id,
      </if>
      <if test="userDefinedInformation != null" >
        user_defined_information,
      </if>
      <if test="auditSchemaVersion != null" >
        audit_schema_version,
      </if>
      <if test="permissionBitmask != null" >
        permission_bitmask,
      </if>
      <if test="serverPrincipalSid != null" >
        server_principal_sid,
      </if>
      <if test="targetServerPrincipalSid != null" >
        target_server_principal_sid,
      </if>
      <if test="sequenceGroupId != null" >
        sequence_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventTime != null" >
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sequenceNumber != null" >
        #{sequenceNumber,jdbcType=INTEGER},
      </if>
      <if test="actionId != null" >
        #{actionId,jdbcType=VARCHAR},
      </if>
      <if test="succeeded != null" >
        #{succeeded,jdbcType=BIT},
      </if>
      <if test="isColumnPermission != null" >
        #{isColumnPermission,jdbcType=BIT},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=SMALLINT},
      </if>
      <if test="serverPrincipalId != null" >
        #{serverPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="databasePrincipalId != null" >
        #{databasePrincipalId,jdbcType=INTEGER},
      </if>
      <if test="targetServerPrincipalId != null" >
        #{targetServerPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="targetDatabasePrincipalId != null" >
        #{targetDatabasePrincipalId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="sessionServerPrincipalName != null" >
        #{sessionServerPrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="serverPrincipalName != null" >
        #{serverPrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="databasePrincipalName != null" >
        #{databasePrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="targetServerPrincipalName != null" >
        #{targetServerPrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="targetDatabasePrincipalName != null" >
        #{targetDatabasePrincipalName,jdbcType=NVARCHAR},
      </if>
      <if test="serverInstanceName != null" >
        #{serverInstanceName,jdbcType=NVARCHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="schemaName != null" >
        #{schemaName,jdbcType=NVARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=NVARCHAR},
      </if>
      <if test="statement != null" >
        #{statement,jdbcType=NVARCHAR},
      </if>
      <if test="additionalInformation != null" >
        #{additionalInformation,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="auditFileOffset != null" >
        #{auditFileOffset,jdbcType=BIGINT},
      </if>
      <if test="userDefinedEventId != null" >
        #{userDefinedEventId,jdbcType=SMALLINT},
      </if>
      <if test="userDefinedInformation != null" >
        #{userDefinedInformation,jdbcType=NVARCHAR},
      </if>
      <if test="auditSchemaVersion != null" >
        #{auditSchemaVersion,jdbcType=INTEGER},
      </if>
      <if test="permissionBitmask != null" >
        #{permissionBitmask,jdbcType=VARBINARY},
      </if>
      <if test="serverPrincipalSid != null" >
        #{serverPrincipalSid,jdbcType=VARBINARY},
      </if>
      <if test="targetServerPrincipalSid != null" >
        #{targetServerPrincipalSid,jdbcType=VARBINARY},
      </if>
      <if test="sequenceGroupId != null" >
        #{sequenceGroupId,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>