<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnMyPermissionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnMyPermissions" >
    <result column="entity_name" property="entityName" jdbcType="NVARCHAR" />
    <result column="subentity_name" property="subentityName" jdbcType="NVARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnMyPermissions" >
    insert into fn_my_permissions (entity_name, subentity_name, permission_name
      )
    values (#{entityName,jdbcType=NVARCHAR}, #{subentityName,jdbcType=NVARCHAR}, #{permissionName,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnMyPermissions" >
    insert into fn_my_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="entityName != null" >
        entity_name,
      </if>
      <if test="subentityName != null" >
        subentity_name,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="entityName != null" >
        #{entityName,jdbcType=NVARCHAR},
      </if>
      <if test="subentityName != null" >
        #{subentityName,jdbcType=NVARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>