<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnReplgetcolidfrombitmapMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnReplgetcolidfrombitmap" >
    <result column="colid" property="colid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnReplgetcolidfrombitmap" >
    insert into fn_replgetcolidfrombitmap (colid)
    values (#{colid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnReplgetcolidfrombitmap" >
    insert into fn_replgetcolidfrombitmap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="colid != null" >
        colid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="colid != null" >
        #{colid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>