<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnRowdumpcrackerMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnRowdumpcracker" >
    <result column="partition_id" property="partitionId" jdbcType="BIGINT" />
    <result column="colName" property="colname" jdbcType="NVARCHAR" />
    <result column="IsInrow" property="isinrow" jdbcType="BIT" />
    <result column="IsSparse" property="issparse" jdbcType="BIT" />
    <result column="IsRecordPrefixCompressed" property="isrecordprefixcompressed" jdbcType="BIT" />
    <result column="IsSymbol" property="issymbol" jdbcType="BIT" />
    <result column="PrefixBytes" property="prefixbytes" jdbcType="INTEGER" />
    <result column="InRowLength" property="inrowlength" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnRowdumpcracker" >
    insert into fn_RowDumpCracker (partition_id, colName, IsInrow, 
      IsSparse, IsRecordPrefixCompressed, IsSymbol, 
      PrefixBytes, InRowLength)
    values (#{partitionId,jdbcType=BIGINT}, #{colname,jdbcType=NVARCHAR}, #{isinrow,jdbcType=BIT}, 
      #{issparse,jdbcType=BIT}, #{isrecordprefixcompressed,jdbcType=BIT}, #{issymbol,jdbcType=BIT}, 
      #{prefixbytes,jdbcType=INTEGER}, #{inrowlength,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnRowdumpcracker" >
    insert into fn_RowDumpCracker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        partition_id,
      </if>
      <if test="colname != null" >
        colName,
      </if>
      <if test="isinrow != null" >
        IsInrow,
      </if>
      <if test="issparse != null" >
        IsSparse,
      </if>
      <if test="isrecordprefixcompressed != null" >
        IsRecordPrefixCompressed,
      </if>
      <if test="issymbol != null" >
        IsSymbol,
      </if>
      <if test="prefixbytes != null" >
        PrefixBytes,
      </if>
      <if test="inrowlength != null" >
        InRowLength,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        #{partitionId,jdbcType=BIGINT},
      </if>
      <if test="colname != null" >
        #{colname,jdbcType=NVARCHAR},
      </if>
      <if test="isinrow != null" >
        #{isinrow,jdbcType=BIT},
      </if>
      <if test="issparse != null" >
        #{issparse,jdbcType=BIT},
      </if>
      <if test="isrecordprefixcompressed != null" >
        #{isrecordprefixcompressed,jdbcType=BIT},
      </if>
      <if test="issymbol != null" >
        #{issymbol,jdbcType=BIT},
      </if>
      <if test="prefixbytes != null" >
        #{prefixbytes,jdbcType=INTEGER},
      </if>
      <if test="inrowlength != null" >
        #{inrowlength,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>