<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnSqlagentJobstepsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobsteps" >
    <result column="job_id" property="jobId" jdbcType="CHAR" />
    <result column="step_id" property="stepId" jdbcType="INTEGER" />
    <result column="step_name" property="stepName" jdbcType="NVARCHAR" />
    <result column="subsystem" property="subsystem" jdbcType="NVARCHAR" />
    <result column="command" property="command" jdbcType="NVARCHAR" />
    <result column="flags" property="flags" jdbcType="INTEGER" />
    <result column="additional_parameters" property="additionalParameters" jdbcType="NVARCHAR" />
    <result column="cmdexec_success_code" property="cmdexecSuccessCode" jdbcType="INTEGER" />
    <result column="on_success_action" property="onSuccessAction" jdbcType="TINYINT" />
    <result column="on_success_step_id" property="onSuccessStepId" jdbcType="INTEGER" />
    <result column="on_fail_action" property="onFailAction" jdbcType="TINYINT" />
    <result column="on_fail_step_id" property="onFailStepId" jdbcType="INTEGER" />
    <result column="server" property="server" jdbcType="NVARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="database_user_name" property="databaseUserName" jdbcType="NVARCHAR" />
    <result column="retry_attempts" property="retryAttempts" jdbcType="INTEGER" />
    <result column="retry_interval" property="retryInterval" jdbcType="INTEGER" />
    <result column="os_run_priority" property="osRunPriority" jdbcType="INTEGER" />
    <result column="output_file_name" property="outputFileName" jdbcType="NVARCHAR" />
    <result column="last_run_outcome" property="lastRunOutcome" jdbcType="INTEGER" />
    <result column="last_run_duration" property="lastRunDuration" jdbcType="INTEGER" />
    <result column="last_run_retries" property="lastRunRetries" jdbcType="INTEGER" />
    <result column="last_run_date" property="lastRunDate" jdbcType="INTEGER" />
    <result column="last_run_time" property="lastRunTime" jdbcType="INTEGER" />
    <result column="step_uid" property="stepUid" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobsteps" >
    insert into fn_sqlagent_jobsteps (job_id, step_id, step_name, 
      subsystem, command, flags, 
      additional_parameters, cmdexec_success_code, 
      on_success_action, on_success_step_id, on_fail_action, 
      on_fail_step_id, server, database_name, 
      database_user_name, retry_attempts, retry_interval, 
      os_run_priority, output_file_name, last_run_outcome, 
      last_run_duration, last_run_retries, last_run_date, 
      last_run_time, step_uid)
    values (#{jobId,jdbcType=CHAR}, #{stepId,jdbcType=INTEGER}, #{stepName,jdbcType=NVARCHAR}, 
      #{subsystem,jdbcType=NVARCHAR}, #{command,jdbcType=NVARCHAR}, #{flags,jdbcType=INTEGER}, 
      #{additionalParameters,jdbcType=NVARCHAR}, #{cmdexecSuccessCode,jdbcType=INTEGER}, 
      #{onSuccessAction,jdbcType=TINYINT}, #{onSuccessStepId,jdbcType=INTEGER}, #{onFailAction,jdbcType=TINYINT}, 
      #{onFailStepId,jdbcType=INTEGER}, #{server,jdbcType=NVARCHAR}, #{databaseName,jdbcType=NVARCHAR}, 
      #{databaseUserName,jdbcType=NVARCHAR}, #{retryAttempts,jdbcType=INTEGER}, #{retryInterval,jdbcType=INTEGER}, 
      #{osRunPriority,jdbcType=INTEGER}, #{outputFileName,jdbcType=NVARCHAR}, #{lastRunOutcome,jdbcType=INTEGER}, 
      #{lastRunDuration,jdbcType=INTEGER}, #{lastRunRetries,jdbcType=INTEGER}, #{lastRunDate,jdbcType=INTEGER}, 
      #{lastRunTime,jdbcType=INTEGER}, #{stepUid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobsteps" >
    insert into fn_sqlagent_jobsteps
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="stepName != null" >
        step_name,
      </if>
      <if test="subsystem != null" >
        subsystem,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="flags != null" >
        flags,
      </if>
      <if test="additionalParameters != null" >
        additional_parameters,
      </if>
      <if test="cmdexecSuccessCode != null" >
        cmdexec_success_code,
      </if>
      <if test="onSuccessAction != null" >
        on_success_action,
      </if>
      <if test="onSuccessStepId != null" >
        on_success_step_id,
      </if>
      <if test="onFailAction != null" >
        on_fail_action,
      </if>
      <if test="onFailStepId != null" >
        on_fail_step_id,
      </if>
      <if test="server != null" >
        server,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="databaseUserName != null" >
        database_user_name,
      </if>
      <if test="retryAttempts != null" >
        retry_attempts,
      </if>
      <if test="retryInterval != null" >
        retry_interval,
      </if>
      <if test="osRunPriority != null" >
        os_run_priority,
      </if>
      <if test="outputFileName != null" >
        output_file_name,
      </if>
      <if test="lastRunOutcome != null" >
        last_run_outcome,
      </if>
      <if test="lastRunDuration != null" >
        last_run_duration,
      </if>
      <if test="lastRunRetries != null" >
        last_run_retries,
      </if>
      <if test="lastRunDate != null" >
        last_run_date,
      </if>
      <if test="lastRunTime != null" >
        last_run_time,
      </if>
      <if test="stepUid != null" >
        step_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=CHAR},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null" >
        #{stepName,jdbcType=NVARCHAR},
      </if>
      <if test="subsystem != null" >
        #{subsystem,jdbcType=NVARCHAR},
      </if>
      <if test="command != null" >
        #{command,jdbcType=NVARCHAR},
      </if>
      <if test="flags != null" >
        #{flags,jdbcType=INTEGER},
      </if>
      <if test="additionalParameters != null" >
        #{additionalParameters,jdbcType=NVARCHAR},
      </if>
      <if test="cmdexecSuccessCode != null" >
        #{cmdexecSuccessCode,jdbcType=INTEGER},
      </if>
      <if test="onSuccessAction != null" >
        #{onSuccessAction,jdbcType=TINYINT},
      </if>
      <if test="onSuccessStepId != null" >
        #{onSuccessStepId,jdbcType=INTEGER},
      </if>
      <if test="onFailAction != null" >
        #{onFailAction,jdbcType=TINYINT},
      </if>
      <if test="onFailStepId != null" >
        #{onFailStepId,jdbcType=INTEGER},
      </if>
      <if test="server != null" >
        #{server,jdbcType=NVARCHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="databaseUserName != null" >
        #{databaseUserName,jdbcType=NVARCHAR},
      </if>
      <if test="retryAttempts != null" >
        #{retryAttempts,jdbcType=INTEGER},
      </if>
      <if test="retryInterval != null" >
        #{retryInterval,jdbcType=INTEGER},
      </if>
      <if test="osRunPriority != null" >
        #{osRunPriority,jdbcType=INTEGER},
      </if>
      <if test="outputFileName != null" >
        #{outputFileName,jdbcType=NVARCHAR},
      </if>
      <if test="lastRunOutcome != null" >
        #{lastRunOutcome,jdbcType=INTEGER},
      </if>
      <if test="lastRunDuration != null" >
        #{lastRunDuration,jdbcType=INTEGER},
      </if>
      <if test="lastRunRetries != null" >
        #{lastRunRetries,jdbcType=INTEGER},
      </if>
      <if test="lastRunDate != null" >
        #{lastRunDate,jdbcType=INTEGER},
      </if>
      <if test="lastRunTime != null" >
        #{lastRunTime,jdbcType=INTEGER},
      </if>
      <if test="stepUid != null" >
        #{stepUid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>