<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnSqlagentJobsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobs" >
    <result column="job_id" property="jobId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="start_step_id" property="startStepId" jdbcType="INTEGER" />
    <result column="notify_level_eventlog" property="notifyLevelEventlog" jdbcType="BIT" />
    <result column="delete_level" property="deleteLevel" jdbcType="INTEGER" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="date_modified" property="dateModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobs" >
    insert into fn_sqlagent_jobs (job_id, name, enabled, 
      description, start_step_id, notify_level_eventlog, 
      delete_level, date_created, date_modified
      )
    values (#{jobId,jdbcType=CHAR}, #{name,jdbcType=NVARCHAR}, #{enabled,jdbcType=BIT}, 
      #{description,jdbcType=NVARCHAR}, #{startStepId,jdbcType=INTEGER}, #{notifyLevelEventlog,jdbcType=BIT}, 
      #{deleteLevel,jdbcType=INTEGER}, #{dateCreated,jdbcType=TIMESTAMP}, #{dateModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobs" >
    insert into fn_sqlagent_jobs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="startStepId != null" >
        start_step_id,
      </if>
      <if test="notifyLevelEventlog != null" >
        notify_level_eventlog,
      </if>
      <if test="deleteLevel != null" >
        delete_level,
      </if>
      <if test="dateCreated != null" >
        date_created,
      </if>
      <if test="dateModified != null" >
        date_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="startStepId != null" >
        #{startStepId,jdbcType=INTEGER},
      </if>
      <if test="notifyLevelEventlog != null" >
        #{notifyLevelEventlog,jdbcType=BIT},
      </if>
      <if test="deleteLevel != null" >
        #{deleteLevel,jdbcType=INTEGER},
      </if>
      <if test="dateCreated != null" >
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null" >
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>