<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnSqlagentJobHistoryMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobHistory" >
    <result column="instance_id" property="instanceId" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="CHAR" />
    <result column="step_id" property="stepId" jdbcType="INTEGER" />
    <result column="sql_message_id" property="sqlMessageId" jdbcType="INTEGER" />
    <result column="sql_severity" property="sqlSeverity" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="NVARCHAR" />
    <result column="run_status" property="runStatus" jdbcType="INTEGER" />
    <result column="run_date" property="runDate" jdbcType="INTEGER" />
    <result column="run_time" property="runTime" jdbcType="INTEGER" />
    <result column="run_duration" property="runDuration" jdbcType="INTEGER" />
    <result column="operator_id_emailed" property="operatorIdEmailed" jdbcType="INTEGER" />
    <result column="operator_id_paged" property="operatorIdPaged" jdbcType="INTEGER" />
    <result column="retries_attempted" property="retriesAttempted" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobHistory" >
    insert into fn_sqlagent_job_history (instance_id, job_id, step_id, 
      sql_message_id, sql_severity, message, 
      run_status, run_date, run_time, 
      run_duration, operator_id_emailed, operator_id_paged, 
      retries_attempted)
    values (#{instanceId,jdbcType=INTEGER}, #{jobId,jdbcType=CHAR}, #{stepId,jdbcType=INTEGER}, 
      #{sqlMessageId,jdbcType=INTEGER}, #{sqlSeverity,jdbcType=INTEGER}, #{message,jdbcType=NVARCHAR}, 
      #{runStatus,jdbcType=INTEGER}, #{runDate,jdbcType=INTEGER}, #{runTime,jdbcType=INTEGER}, 
      #{runDuration,jdbcType=INTEGER}, #{operatorIdEmailed,jdbcType=INTEGER}, #{operatorIdPaged,jdbcType=INTEGER}, 
      #{retriesAttempted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnSqlagentJobHistory" >
    insert into fn_sqlagent_job_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="sqlMessageId != null" >
        sql_message_id,
      </if>
      <if test="sqlSeverity != null" >
        sql_severity,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="runStatus != null" >
        run_status,
      </if>
      <if test="runDate != null" >
        run_date,
      </if>
      <if test="runTime != null" >
        run_time,
      </if>
      <if test="runDuration != null" >
        run_duration,
      </if>
      <if test="operatorIdEmailed != null" >
        operator_id_emailed,
      </if>
      <if test="operatorIdPaged != null" >
        operator_id_paged,
      </if>
      <if test="retriesAttempted != null" >
        retries_attempted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=CHAR},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="sqlMessageId != null" >
        #{sqlMessageId,jdbcType=INTEGER},
      </if>
      <if test="sqlSeverity != null" >
        #{sqlSeverity,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=NVARCHAR},
      </if>
      <if test="runStatus != null" >
        #{runStatus,jdbcType=INTEGER},
      </if>
      <if test="runDate != null" >
        #{runDate,jdbcType=INTEGER},
      </if>
      <if test="runTime != null" >
        #{runTime,jdbcType=INTEGER},
      </if>
      <if test="runDuration != null" >
        #{runDuration,jdbcType=INTEGER},
      </if>
      <if test="operatorIdEmailed != null" >
        #{operatorIdEmailed,jdbcType=INTEGER},
      </if>
      <if test="operatorIdPaged != null" >
        #{operatorIdPaged,jdbcType=INTEGER},
      </if>
      <if test="retriesAttempted != null" >
        #{retriesAttempted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>