<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnTraceGeteventinfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGeteventinfo" >
    <result column="eventid" property="eventid" jdbcType="INTEGER" />
    <result column="columnid" property="columnid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGeteventinfo" >
    insert into fn_trace_geteventinfo (eventid, columnid)
    values (#{eventid,jdbcType=INTEGER}, #{columnid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGeteventinfo" >
    insert into fn_trace_geteventinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        eventid,
      </if>
      <if test="columnid != null" >
        columnid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        #{eventid,jdbcType=INTEGER},
      </if>
      <if test="columnid != null" >
        #{columnid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>