<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnTraceGetinfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetinfo" >
    <result column="traceid" property="traceid" jdbcType="INTEGER" />
    <result column="property" property="property" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="OTHER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetinfo" >
    insert into fn_trace_getinfo (traceid, property, value
      )
    values (#{traceid,jdbcType=INTEGER}, #{property,jdbcType=INTEGER}, #{value,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetinfo" >
    insert into fn_trace_getinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="traceid != null" >
        traceid,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="traceid != null" >
        #{traceid,jdbcType=INTEGER},
      </if>
      <if test="property != null" >
        #{property,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
</mapper>