<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnTraceGetfilterinfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetfilterinfo" >
    <result column="columnid" property="columnid" jdbcType="INTEGER" />
    <result column="logical_operator" property="logicalOperator" jdbcType="INTEGER" />
    <result column="comparison_operator" property="comparisonOperator" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="OTHER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetfilterinfo" >
    insert into fn_trace_getfilterinfo (columnid, logical_operator, comparison_operator, 
      value)
    values (#{columnid,jdbcType=INTEGER}, #{logicalOperator,jdbcType=INTEGER}, #{comparisonOperator,jdbcType=INTEGER}, 
      #{value,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGetfilterinfo" >
    insert into fn_trace_getfilterinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnid != null" >
        columnid,
      </if>
      <if test="logicalOperator != null" >
        logical_operator,
      </if>
      <if test="comparisonOperator != null" >
        comparison_operator,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnid != null" >
        #{columnid,jdbcType=INTEGER},
      </if>
      <if test="logicalOperator != null" >
        #{logicalOperator,jdbcType=INTEGER},
      </if>
      <if test="comparisonOperator != null" >
        #{comparisonOperator,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
</mapper>