<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnTraceGettableMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGettable" >
    <result column="TextData" property="textdata" jdbcType="LONGNVARCHAR" />
    <result column="DatabaseID" property="databaseid" jdbcType="INTEGER" />
    <result column="TransactionID" property="transactionid" jdbcType="BIGINT" />
    <result column="LineNumber" property="linenumber" jdbcType="INTEGER" />
    <result column="NTUserName" property="ntusername" jdbcType="NVARCHAR" />
    <result column="NTDomainName" property="ntdomainname" jdbcType="NVARCHAR" />
    <result column="HostName" property="hostname" jdbcType="NVARCHAR" />
    <result column="ClientProcessID" property="clientprocessid" jdbcType="INTEGER" />
    <result column="ApplicationName" property="applicationname" jdbcType="NVARCHAR" />
    <result column="LoginName" property="loginname" jdbcType="NVARCHAR" />
    <result column="SPID" property="spid" jdbcType="INTEGER" />
    <result column="Duration" property="duration" jdbcType="BIGINT" />
    <result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="Reads" property="reads" jdbcType="BIGINT" />
    <result column="Writes" property="writes" jdbcType="BIGINT" />
    <result column="CPU" property="cpu" jdbcType="INTEGER" />
    <result column="Permissions" property="permissions" jdbcType="BIGINT" />
    <result column="Severity" property="severity" jdbcType="INTEGER" />
    <result column="EventSubClass" property="eventsubclass" jdbcType="INTEGER" />
    <result column="ObjectID" property="objectid" jdbcType="INTEGER" />
    <result column="Success" property="success" jdbcType="INTEGER" />
    <result column="IndexID" property="indexid" jdbcType="INTEGER" />
    <result column="IntegerData" property="integerdata" jdbcType="INTEGER" />
    <result column="ServerName" property="servername" jdbcType="NVARCHAR" />
    <result column="EventClass" property="eventclass" jdbcType="INTEGER" />
    <result column="ObjectType" property="objecttype" jdbcType="INTEGER" />
    <result column="NestLevel" property="nestlevel" jdbcType="INTEGER" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="Error" property="error" jdbcType="INTEGER" />
    <result column="Mode" property="mode" jdbcType="INTEGER" />
    <result column="Handle" property="handle" jdbcType="INTEGER" />
    <result column="ObjectName" property="objectname" jdbcType="NVARCHAR" />
    <result column="DatabaseName" property="databasename" jdbcType="NVARCHAR" />
    <result column="FileName" property="filename" jdbcType="NVARCHAR" />
    <result column="OwnerName" property="ownername" jdbcType="NVARCHAR" />
    <result column="RoleName" property="rolename" jdbcType="NVARCHAR" />
    <result column="TargetUserName" property="targetusername" jdbcType="NVARCHAR" />
    <result column="DBUserName" property="dbusername" jdbcType="NVARCHAR" />
    <result column="TargetLoginName" property="targetloginname" jdbcType="NVARCHAR" />
    <result column="ColumnPermissions" property="columnpermissions" jdbcType="INTEGER" />
    <result column="LinkedServerName" property="linkedservername" jdbcType="NVARCHAR" />
    <result column="ProviderName" property="providername" jdbcType="NVARCHAR" />
    <result column="MethodName" property="methodname" jdbcType="NVARCHAR" />
    <result column="RowCounts" property="rowcounts" jdbcType="BIGINT" />
    <result column="RequestID" property="requestid" jdbcType="INTEGER" />
    <result column="XactSequence" property="xactsequence" jdbcType="BIGINT" />
    <result column="EventSequence" property="eventsequence" jdbcType="BIGINT" />
    <result column="BigintData1" property="bigintdata1" jdbcType="BIGINT" />
    <result column="BigintData2" property="bigintdata2" jdbcType="BIGINT" />
    <result column="GUID" property="guid" jdbcType="CHAR" />
    <result column="IntegerData2" property="integerdata2" jdbcType="INTEGER" />
    <result column="ObjectID2" property="objectid2" jdbcType="BIGINT" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="OwnerID" property="ownerid" jdbcType="INTEGER" />
    <result column="ParentName" property="parentname" jdbcType="NVARCHAR" />
    <result column="IsSystem" property="issystem" jdbcType="INTEGER" />
    <result column="Offset" property="offset" jdbcType="INTEGER" />
    <result column="SourceDatabaseID" property="sourcedatabaseid" jdbcType="INTEGER" />
    <result column="SessionLoginName" property="sessionloginname" jdbcType="NVARCHAR" />
    <result column="GroupID" property="groupid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGettableWithBLOBs" extends="BaseResultMap" >
    <result column="BinaryData" property="binarydata" jdbcType="LONGVARBINARY" />
    <result column="LoginSid" property="loginsid" jdbcType="LONGVARBINARY" />
    <result column="TargetLoginSid" property="targetloginsid" jdbcType="LONGVARBINARY" />
    <result column="SqlHandle" property="sqlhandle" jdbcType="LONGVARBINARY" />
    <result column="PlanHandle" property="planhandle" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    BinaryData, LoginSid, TargetLoginSid, SqlHandle, PlanHandle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGettableWithBLOBs" >
    insert into fn_trace_gettable (TextData, DatabaseID, TransactionID, 
      LineNumber, NTUserName, NTDomainName, 
      HostName, ClientProcessID, ApplicationName, 
      LoginName, SPID, Duration, 
      StartTime, EndTime, Reads, 
      Writes, CPU, Permissions, 
      Severity, EventSubClass, ObjectID, 
      Success, IndexID, IntegerData, 
      ServerName, EventClass, ObjectType, 
      NestLevel, State, Error, 
      Mode, Handle, ObjectName, 
      DatabaseName, FileName, OwnerName, 
      RoleName, TargetUserName, DBUserName, 
      TargetLoginName, ColumnPermissions, LinkedServerName, 
      ProviderName, MethodName, RowCounts, 
      RequestID, XactSequence, EventSequence, 
      BigintData1, BigintData2, GUID, 
      IntegerData2, ObjectID2, Type, 
      OwnerID, ParentName, IsSystem, 
      Offset, SourceDatabaseID, SessionLoginName, 
      GroupID, BinaryData, LoginSid, 
      TargetLoginSid, SqlHandle, 
      PlanHandle)
    values (#{textdata,jdbcType=LONGNVARCHAR}, #{databaseid,jdbcType=INTEGER}, #{transactionid,jdbcType=BIGINT}, 
      #{linenumber,jdbcType=INTEGER}, #{ntusername,jdbcType=NVARCHAR}, #{ntdomainname,jdbcType=NVARCHAR}, 
      #{hostname,jdbcType=NVARCHAR}, #{clientprocessid,jdbcType=INTEGER}, #{applicationname,jdbcType=NVARCHAR}, 
      #{loginname,jdbcType=NVARCHAR}, #{spid,jdbcType=INTEGER}, #{duration,jdbcType=BIGINT}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{reads,jdbcType=BIGINT}, 
      #{writes,jdbcType=BIGINT}, #{cpu,jdbcType=INTEGER}, #{permissions,jdbcType=BIGINT}, 
      #{severity,jdbcType=INTEGER}, #{eventsubclass,jdbcType=INTEGER}, #{objectid,jdbcType=INTEGER}, 
      #{success,jdbcType=INTEGER}, #{indexid,jdbcType=INTEGER}, #{integerdata,jdbcType=INTEGER}, 
      #{servername,jdbcType=NVARCHAR}, #{eventclass,jdbcType=INTEGER}, #{objecttype,jdbcType=INTEGER}, 
      #{nestlevel,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{error,jdbcType=INTEGER}, 
      #{mode,jdbcType=INTEGER}, #{handle,jdbcType=INTEGER}, #{objectname,jdbcType=NVARCHAR}, 
      #{databasename,jdbcType=NVARCHAR}, #{filename,jdbcType=NVARCHAR}, #{ownername,jdbcType=NVARCHAR}, 
      #{rolename,jdbcType=NVARCHAR}, #{targetusername,jdbcType=NVARCHAR}, #{dbusername,jdbcType=NVARCHAR}, 
      #{targetloginname,jdbcType=NVARCHAR}, #{columnpermissions,jdbcType=INTEGER}, #{linkedservername,jdbcType=NVARCHAR}, 
      #{providername,jdbcType=NVARCHAR}, #{methodname,jdbcType=NVARCHAR}, #{rowcounts,jdbcType=BIGINT}, 
      #{requestid,jdbcType=INTEGER}, #{xactsequence,jdbcType=BIGINT}, #{eventsequence,jdbcType=BIGINT}, 
      #{bigintdata1,jdbcType=BIGINT}, #{bigintdata2,jdbcType=BIGINT}, #{guid,jdbcType=CHAR}, 
      #{integerdata2,jdbcType=INTEGER}, #{objectid2,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{ownerid,jdbcType=INTEGER}, #{parentname,jdbcType=NVARCHAR}, #{issystem,jdbcType=INTEGER}, 
      #{offset,jdbcType=INTEGER}, #{sourcedatabaseid,jdbcType=INTEGER}, #{sessionloginname,jdbcType=NVARCHAR}, 
      #{groupid,jdbcType=INTEGER}, #{binarydata,jdbcType=LONGVARBINARY}, #{loginsid,jdbcType=LONGVARBINARY}, 
      #{targetloginsid,jdbcType=LONGVARBINARY}, #{sqlhandle,jdbcType=LONGVARBINARY}, 
      #{planhandle,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTraceGettableWithBLOBs" >
    insert into fn_trace_gettable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="textdata != null" >
        TextData,
      </if>
      <if test="databaseid != null" >
        DatabaseID,
      </if>
      <if test="transactionid != null" >
        TransactionID,
      </if>
      <if test="linenumber != null" >
        LineNumber,
      </if>
      <if test="ntusername != null" >
        NTUserName,
      </if>
      <if test="ntdomainname != null" >
        NTDomainName,
      </if>
      <if test="hostname != null" >
        HostName,
      </if>
      <if test="clientprocessid != null" >
        ClientProcessID,
      </if>
      <if test="applicationname != null" >
        ApplicationName,
      </if>
      <if test="loginname != null" >
        LoginName,
      </if>
      <if test="spid != null" >
        SPID,
      </if>
      <if test="duration != null" >
        Duration,
      </if>
      <if test="starttime != null" >
        StartTime,
      </if>
      <if test="endtime != null" >
        EndTime,
      </if>
      <if test="reads != null" >
        Reads,
      </if>
      <if test="writes != null" >
        Writes,
      </if>
      <if test="cpu != null" >
        CPU,
      </if>
      <if test="permissions != null" >
        Permissions,
      </if>
      <if test="severity != null" >
        Severity,
      </if>
      <if test="eventsubclass != null" >
        EventSubClass,
      </if>
      <if test="objectid != null" >
        ObjectID,
      </if>
      <if test="success != null" >
        Success,
      </if>
      <if test="indexid != null" >
        IndexID,
      </if>
      <if test="integerdata != null" >
        IntegerData,
      </if>
      <if test="servername != null" >
        ServerName,
      </if>
      <if test="eventclass != null" >
        EventClass,
      </if>
      <if test="objecttype != null" >
        ObjectType,
      </if>
      <if test="nestlevel != null" >
        NestLevel,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="error != null" >
        Error,
      </if>
      <if test="mode != null" >
        Mode,
      </if>
      <if test="handle != null" >
        Handle,
      </if>
      <if test="objectname != null" >
        ObjectName,
      </if>
      <if test="databasename != null" >
        DatabaseName,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="ownername != null" >
        OwnerName,
      </if>
      <if test="rolename != null" >
        RoleName,
      </if>
      <if test="targetusername != null" >
        TargetUserName,
      </if>
      <if test="dbusername != null" >
        DBUserName,
      </if>
      <if test="targetloginname != null" >
        TargetLoginName,
      </if>
      <if test="columnpermissions != null" >
        ColumnPermissions,
      </if>
      <if test="linkedservername != null" >
        LinkedServerName,
      </if>
      <if test="providername != null" >
        ProviderName,
      </if>
      <if test="methodname != null" >
        MethodName,
      </if>
      <if test="rowcounts != null" >
        RowCounts,
      </if>
      <if test="requestid != null" >
        RequestID,
      </if>
      <if test="xactsequence != null" >
        XactSequence,
      </if>
      <if test="eventsequence != null" >
        EventSequence,
      </if>
      <if test="bigintdata1 != null" >
        BigintData1,
      </if>
      <if test="bigintdata2 != null" >
        BigintData2,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
      <if test="integerdata2 != null" >
        IntegerData2,
      </if>
      <if test="objectid2 != null" >
        ObjectID2,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="ownerid != null" >
        OwnerID,
      </if>
      <if test="parentname != null" >
        ParentName,
      </if>
      <if test="issystem != null" >
        IsSystem,
      </if>
      <if test="offset != null" >
        Offset,
      </if>
      <if test="sourcedatabaseid != null" >
        SourceDatabaseID,
      </if>
      <if test="sessionloginname != null" >
        SessionLoginName,
      </if>
      <if test="groupid != null" >
        GroupID,
      </if>
      <if test="binarydata != null" >
        BinaryData,
      </if>
      <if test="loginsid != null" >
        LoginSid,
      </if>
      <if test="targetloginsid != null" >
        TargetLoginSid,
      </if>
      <if test="sqlhandle != null" >
        SqlHandle,
      </if>
      <if test="planhandle != null" >
        PlanHandle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="textdata != null" >
        #{textdata,jdbcType=LONGNVARCHAR},
      </if>
      <if test="databaseid != null" >
        #{databaseid,jdbcType=INTEGER},
      </if>
      <if test="transactionid != null" >
        #{transactionid,jdbcType=BIGINT},
      </if>
      <if test="linenumber != null" >
        #{linenumber,jdbcType=INTEGER},
      </if>
      <if test="ntusername != null" >
        #{ntusername,jdbcType=NVARCHAR},
      </if>
      <if test="ntdomainname != null" >
        #{ntdomainname,jdbcType=NVARCHAR},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=NVARCHAR},
      </if>
      <if test="clientprocessid != null" >
        #{clientprocessid,jdbcType=INTEGER},
      </if>
      <if test="applicationname != null" >
        #{applicationname,jdbcType=NVARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=NVARCHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reads != null" >
        #{reads,jdbcType=BIGINT},
      </if>
      <if test="writes != null" >
        #{writes,jdbcType=BIGINT},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=INTEGER},
      </if>
      <if test="permissions != null" >
        #{permissions,jdbcType=BIGINT},
      </if>
      <if test="severity != null" >
        #{severity,jdbcType=INTEGER},
      </if>
      <if test="eventsubclass != null" >
        #{eventsubclass,jdbcType=INTEGER},
      </if>
      <if test="objectid != null" >
        #{objectid,jdbcType=INTEGER},
      </if>
      <if test="success != null" >
        #{success,jdbcType=INTEGER},
      </if>
      <if test="indexid != null" >
        #{indexid,jdbcType=INTEGER},
      </if>
      <if test="integerdata != null" >
        #{integerdata,jdbcType=INTEGER},
      </if>
      <if test="servername != null" >
        #{servername,jdbcType=NVARCHAR},
      </if>
      <if test="eventclass != null" >
        #{eventclass,jdbcType=INTEGER},
      </if>
      <if test="objecttype != null" >
        #{objecttype,jdbcType=INTEGER},
      </if>
      <if test="nestlevel != null" >
        #{nestlevel,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="error != null" >
        #{error,jdbcType=INTEGER},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="handle != null" >
        #{handle,jdbcType=INTEGER},
      </if>
      <if test="objectname != null" >
        #{objectname,jdbcType=NVARCHAR},
      </if>
      <if test="databasename != null" >
        #{databasename,jdbcType=NVARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=NVARCHAR},
      </if>
      <if test="ownername != null" >
        #{ownername,jdbcType=NVARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=NVARCHAR},
      </if>
      <if test="targetusername != null" >
        #{targetusername,jdbcType=NVARCHAR},
      </if>
      <if test="dbusername != null" >
        #{dbusername,jdbcType=NVARCHAR},
      </if>
      <if test="targetloginname != null" >
        #{targetloginname,jdbcType=NVARCHAR},
      </if>
      <if test="columnpermissions != null" >
        #{columnpermissions,jdbcType=INTEGER},
      </if>
      <if test="linkedservername != null" >
        #{linkedservername,jdbcType=NVARCHAR},
      </if>
      <if test="providername != null" >
        #{providername,jdbcType=NVARCHAR},
      </if>
      <if test="methodname != null" >
        #{methodname,jdbcType=NVARCHAR},
      </if>
      <if test="rowcounts != null" >
        #{rowcounts,jdbcType=BIGINT},
      </if>
      <if test="requestid != null" >
        #{requestid,jdbcType=INTEGER},
      </if>
      <if test="xactsequence != null" >
        #{xactsequence,jdbcType=BIGINT},
      </if>
      <if test="eventsequence != null" >
        #{eventsequence,jdbcType=BIGINT},
      </if>
      <if test="bigintdata1 != null" >
        #{bigintdata1,jdbcType=BIGINT},
      </if>
      <if test="bigintdata2 != null" >
        #{bigintdata2,jdbcType=BIGINT},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=CHAR},
      </if>
      <if test="integerdata2 != null" >
        #{integerdata2,jdbcType=INTEGER},
      </if>
      <if test="objectid2 != null" >
        #{objectid2,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="parentname != null" >
        #{parentname,jdbcType=NVARCHAR},
      </if>
      <if test="issystem != null" >
        #{issystem,jdbcType=INTEGER},
      </if>
      <if test="offset != null" >
        #{offset,jdbcType=INTEGER},
      </if>
      <if test="sourcedatabaseid != null" >
        #{sourcedatabaseid,jdbcType=INTEGER},
      </if>
      <if test="sessionloginname != null" >
        #{sessionloginname,jdbcType=NVARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="binarydata != null" >
        #{binarydata,jdbcType=LONGVARBINARY},
      </if>
      <if test="loginsid != null" >
        #{loginsid,jdbcType=LONGVARBINARY},
      </if>
      <if test="targetloginsid != null" >
        #{targetloginsid,jdbcType=LONGVARBINARY},
      </if>
      <if test="sqlhandle != null" >
        #{sqlhandle,jdbcType=LONGVARBINARY},
      </if>
      <if test="planhandle != null" >
        #{planhandle,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
</mapper>