<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnTranslatePermissionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnTranslatePermissions" >
    <result column="permission_name" property="permissionName" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTranslatePermissions" >
    insert into fn_translate_permissions (permission_name, type)
    values (#{permissionName,jdbcType=NVARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnTranslatePermissions" >
    insert into fn_translate_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionName != null" >
        #{permissionName,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>