<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnVirtualfilestatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnVirtualfilestats" >
    <result column="DbId" property="dbid" jdbcType="SMALLINT" />
    <result column="FileId" property="fileid" jdbcType="SMALLINT" />
    <result column="TimeStamp" property="timestamp" jdbcType="INTEGER" />
    <result column="NumberReads" property="numberreads" jdbcType="BIGINT" />
    <result column="BytesRead" property="bytesread" jdbcType="BIGINT" />
    <result column="IoStallReadMS" property="iostallreadms" jdbcType="BIGINT" />
    <result column="NumberWrites" property="numberwrites" jdbcType="BIGINT" />
    <result column="BytesWritten" property="byteswritten" jdbcType="BIGINT" />
    <result column="IoStallWriteMS" property="iostallwritems" jdbcType="BIGINT" />
    <result column="IoStallMS" property="iostallms" jdbcType="BIGINT" />
    <result column="BytesOnDisk" property="bytesondisk" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.FnVirtualfilestats" extends="BaseResultMap" >
    <result column="FileHandle" property="filehandle" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    FileHandle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnVirtualfilestats" >
    insert into fn_virtualfilestats (DbId, FileId, TimeStamp, 
      NumberReads, BytesRead, IoStallReadMS, 
      NumberWrites, BytesWritten, IoStallWriteMS, 
      IoStallMS, BytesOnDisk, FileHandle
      )
    values (#{dbid,jdbcType=SMALLINT}, #{fileid,jdbcType=SMALLINT}, #{timestamp,jdbcType=INTEGER}, 
      #{numberreads,jdbcType=BIGINT}, #{bytesread,jdbcType=BIGINT}, #{iostallreadms,jdbcType=BIGINT}, 
      #{numberwrites,jdbcType=BIGINT}, #{byteswritten,jdbcType=BIGINT}, #{iostallwritems,jdbcType=BIGINT}, 
      #{iostallms,jdbcType=BIGINT}, #{bytesondisk,jdbcType=BIGINT}, #{filehandle,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnVirtualfilestats" >
    insert into fn_virtualfilestats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbid != null" >
        DbId,
      </if>
      <if test="fileid != null" >
        FileId,
      </if>
      <if test="timestamp != null" >
        TimeStamp,
      </if>
      <if test="numberreads != null" >
        NumberReads,
      </if>
      <if test="bytesread != null" >
        BytesRead,
      </if>
      <if test="iostallreadms != null" >
        IoStallReadMS,
      </if>
      <if test="numberwrites != null" >
        NumberWrites,
      </if>
      <if test="byteswritten != null" >
        BytesWritten,
      </if>
      <if test="iostallwritems != null" >
        IoStallWriteMS,
      </if>
      <if test="iostallms != null" >
        IoStallMS,
      </if>
      <if test="bytesondisk != null" >
        BytesOnDisk,
      </if>
      <if test="filehandle != null" >
        FileHandle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="fileid != null" >
        #{fileid,jdbcType=SMALLINT},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=INTEGER},
      </if>
      <if test="numberreads != null" >
        #{numberreads,jdbcType=BIGINT},
      </if>
      <if test="bytesread != null" >
        #{bytesread,jdbcType=BIGINT},
      </if>
      <if test="iostallreadms != null" >
        #{iostallreadms,jdbcType=BIGINT},
      </if>
      <if test="numberwrites != null" >
        #{numberwrites,jdbcType=BIGINT},
      </if>
      <if test="byteswritten != null" >
        #{byteswritten,jdbcType=BIGINT},
      </if>
      <if test="iostallwritems != null" >
        #{iostallwritems,jdbcType=BIGINT},
      </if>
      <if test="iostallms != null" >
        #{iostallms,jdbcType=BIGINT},
      </if>
      <if test="bytesondisk != null" >
        #{bytesondisk,jdbcType=BIGINT},
      </if>
      <if test="filehandle != null" >
        #{filehandle,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>