<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FnXeFileTargetReadFileMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FnXeFileTargetReadFile" >
    <result column="module_guid" property="moduleGuid" jdbcType="CHAR" />
    <result column="package_guid" property="packageGuid" jdbcType="CHAR" />
    <result column="object_name" property="objectName" jdbcType="NVARCHAR" />
    <result column="event_data" property="eventData" jdbcType="NVARCHAR" />
    <result column="file_name" property="fileName" jdbcType="NVARCHAR" />
    <result column="file_offset" property="fileOffset" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnXeFileTargetReadFile" >
    insert into fn_xe_file_target_read_file (module_guid, package_guid, object_name, 
      event_data, file_name, file_offset
      )
    values (#{moduleGuid,jdbcType=CHAR}, #{packageGuid,jdbcType=CHAR}, #{objectName,jdbcType=NVARCHAR}, 
      #{eventData,jdbcType=NVARCHAR}, #{fileName,jdbcType=NVARCHAR}, #{fileOffset,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FnXeFileTargetReadFile" >
    insert into fn_xe_file_target_read_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleGuid != null" >
        module_guid,
      </if>
      <if test="packageGuid != null" >
        package_guid,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="eventData != null" >
        event_data,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileOffset != null" >
        file_offset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleGuid != null" >
        #{moduleGuid,jdbcType=CHAR},
      </if>
      <if test="packageGuid != null" >
        #{packageGuid,jdbcType=CHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=NVARCHAR},
      </if>
      <if test="eventData != null" >
        #{eventData,jdbcType=NVARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=NVARCHAR},
      </if>
      <if test="fileOffset != null" >
        #{fileOffset,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>