<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ForeignKeysMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ForeignKeys" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="schema_id" property="schemaId" jdbcType="INTEGER" />
    <result column="parent_object_id" property="parentObjectId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="NVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="is_ms_shipped" property="isMsShipped" jdbcType="BIT" />
    <result column="is_published" property="isPublished" jdbcType="BIT" />
    <result column="is_schema_published" property="isSchemaPublished" jdbcType="BIT" />
    <result column="referenced_object_id" property="referencedObjectId" jdbcType="INTEGER" />
    <result column="key_index_id" property="keyIndexId" jdbcType="INTEGER" />
    <result column="is_disabled" property="isDisabled" jdbcType="BIT" />
    <result column="is_not_for_replication" property="isNotForReplication" jdbcType="BIT" />
    <result column="is_not_trusted" property="isNotTrusted" jdbcType="BIT" />
    <result column="delete_referential_action" property="deleteReferentialAction" jdbcType="TINYINT" />
    <result column="delete_referential_action_desc" property="deleteReferentialActionDesc" jdbcType="NVARCHAR" />
    <result column="update_referential_action" property="updateReferentialAction" jdbcType="TINYINT" />
    <result column="update_referential_action_desc" property="updateReferentialActionDesc" jdbcType="NVARCHAR" />
    <result column="is_system_named" property="isSystemNamed" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ForeignKeys" >
    insert into foreign_keys (name, object_id, principal_id, 
      schema_id, parent_object_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_published, is_schema_published, 
      referenced_object_id, key_index_id, is_disabled, 
      is_not_for_replication, is_not_trusted, delete_referential_action, 
      delete_referential_action_desc, update_referential_action, 
      update_referential_action_desc, is_system_named
      )
    values (#{name,jdbcType=NVARCHAR}, #{objectId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, 
      #{schemaId,jdbcType=INTEGER}, #{parentObjectId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{isMsShipped,jdbcType=BIT}, #{isPublished,jdbcType=BIT}, #{isSchemaPublished,jdbcType=BIT}, 
      #{referencedObjectId,jdbcType=INTEGER}, #{keyIndexId,jdbcType=INTEGER}, #{isDisabled,jdbcType=BIT}, 
      #{isNotForReplication,jdbcType=BIT}, #{isNotTrusted,jdbcType=BIT}, #{deleteReferentialAction,jdbcType=TINYINT}, 
      #{deleteReferentialActionDesc,jdbcType=NVARCHAR}, #{updateReferentialAction,jdbcType=TINYINT}, 
      #{updateReferentialActionDesc,jdbcType=NVARCHAR}, #{isSystemNamed,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ForeignKeys" >
    insert into foreign_keys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="schemaId != null" >
        schema_id,
      </if>
      <if test="parentObjectId != null" >
        parent_object_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="isMsShipped != null" >
        is_ms_shipped,
      </if>
      <if test="isPublished != null" >
        is_published,
      </if>
      <if test="isSchemaPublished != null" >
        is_schema_published,
      </if>
      <if test="referencedObjectId != null" >
        referenced_object_id,
      </if>
      <if test="keyIndexId != null" >
        key_index_id,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
      <if test="isNotForReplication != null" >
        is_not_for_replication,
      </if>
      <if test="isNotTrusted != null" >
        is_not_trusted,
      </if>
      <if test="deleteReferentialAction != null" >
        delete_referential_action,
      </if>
      <if test="deleteReferentialActionDesc != null" >
        delete_referential_action_desc,
      </if>
      <if test="updateReferentialAction != null" >
        update_referential_action,
      </if>
      <if test="updateReferentialActionDesc != null" >
        update_referential_action_desc,
      </if>
      <if test="isSystemNamed != null" >
        is_system_named,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="schemaId != null" >
        #{schemaId,jdbcType=INTEGER},
      </if>
      <if test="parentObjectId != null" >
        #{parentObjectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isMsShipped != null" >
        #{isMsShipped,jdbcType=BIT},
      </if>
      <if test="isPublished != null" >
        #{isPublished,jdbcType=BIT},
      </if>
      <if test="isSchemaPublished != null" >
        #{isSchemaPublished,jdbcType=BIT},
      </if>
      <if test="referencedObjectId != null" >
        #{referencedObjectId,jdbcType=INTEGER},
      </if>
      <if test="keyIndexId != null" >
        #{keyIndexId,jdbcType=INTEGER},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=BIT},
      </if>
      <if test="isNotForReplication != null" >
        #{isNotForReplication,jdbcType=BIT},
      </if>
      <if test="isNotTrusted != null" >
        #{isNotTrusted,jdbcType=BIT},
      </if>
      <if test="deleteReferentialAction != null" >
        #{deleteReferentialAction,jdbcType=TINYINT},
      </if>
      <if test="deleteReferentialActionDesc != null" >
        #{deleteReferentialActionDesc,jdbcType=NVARCHAR},
      </if>
      <if test="updateReferentialAction != null" >
        #{updateReferentialAction,jdbcType=TINYINT},
      </if>
      <if test="updateReferentialActionDesc != null" >
        #{updateReferentialActionDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isSystemNamed != null" >
        #{isSystemNamed,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>