<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FulltextIndexCatalogUsagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexCatalogUsages" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="fulltext_catalog_id" property="fulltextCatalogId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexCatalogUsages" >
    insert into fulltext_index_catalog_usages (object_id, index_id, fulltext_catalog_id
      )
    values (#{objectId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, #{fulltextCatalogId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexCatalogUsages" >
    insert into fulltext_index_catalog_usages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="fulltextCatalogId != null" >
        fulltext_catalog_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="fulltextCatalogId != null" >
        #{fulltextCatalogId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>