<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FulltextIndexColumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexColumns" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="type_column_id" property="typeColumnId" jdbcType="INTEGER" />
    <result column="language_id" property="languageId" jdbcType="INTEGER" />
    <result column="statistical_semantics" property="statisticalSemantics" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexColumns" >
    insert into fulltext_index_columns (object_id, column_id, type_column_id, 
      language_id, statistical_semantics)
    values (#{objectId,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER}, #{typeColumnId,jdbcType=INTEGER}, 
      #{languageId,jdbcType=INTEGER}, #{statisticalSemantics,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexColumns" >
    insert into fulltext_index_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="typeColumnId != null" >
        type_column_id,
      </if>
      <if test="languageId != null" >
        language_id,
      </if>
      <if test="statisticalSemantics != null" >
        statistical_semantics,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="typeColumnId != null" >
        #{typeColumnId,jdbcType=INTEGER},
      </if>
      <if test="languageId != null" >
        #{languageId,jdbcType=INTEGER},
      </if>
      <if test="statisticalSemantics != null" >
        #{statisticalSemantics,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>