<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FulltextSemanticLanguageStatisticsDatabaseMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FulltextSemanticLanguageStatisticsDatabase" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="registered_by" property="registeredBy" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextSemanticLanguageStatisticsDatabase" >
    insert into fulltext_semantic_language_statistics_database (database_id, register_date, registered_by, 
      version)
    values (#{databaseId,jdbcType=INTEGER}, #{registerDate,jdbcType=TIMESTAMP}, #{registeredBy,jdbcType=INTEGER}, 
      #{version,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextSemanticLanguageStatisticsDatabase" >
    insert into fulltext_semantic_language_statistics_database
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="registeredBy != null" >
        registered_by,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registeredBy != null" >
        #{registeredBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>