<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FulltextIndexFragmentsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexFragments" >
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="fragment_id" property="fragmentId" jdbcType="INTEGER" />
    <result column="fragment_object_id" property="fragmentObjectId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="data_size" property="dataSize" jdbcType="BIGINT" />
    <result column="row_count" property="rowCount" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexFragments" extends="BaseResultMap" >
    <result column="timestamp" property="timestamp" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    timestamp
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexFragments" >
    insert into fulltext_index_fragments (table_id, fragment_id, fragment_object_id, 
      status, data_size, row_count, 
      timestamp)
    values (#{tableId,jdbcType=INTEGER}, #{fragmentId,jdbcType=INTEGER}, #{fragmentObjectId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{dataSize,jdbcType=BIGINT}, #{rowCount,jdbcType=BIGINT}, 
      #{timestamp,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FulltextIndexFragments" >
    insert into fulltext_index_fragments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="fragmentId != null" >
        fragment_id,
      </if>
      <if test="fragmentObjectId != null" >
        fragment_object_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dataSize != null" >
        data_size,
      </if>
      <if test="rowCount != null" >
        row_count,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="fragmentId != null" >
        #{fragmentId,jdbcType=INTEGER},
      </if>
      <if test="fragmentObjectId != null" >
        #{fragmentObjectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="dataSize != null" >
        #{dataSize,jdbcType=BIGINT},
      </if>
      <if test="rowCount != null" >
        #{rowCount,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>