<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.FunctionOrderColumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.FunctionOrderColumns" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="order_column_id" property="orderColumnId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="is_descending" property="isDescending" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FunctionOrderColumns" >
    insert into function_order_columns (object_id, order_column_id, column_id, 
      is_descending)
    values (#{objectId,jdbcType=INTEGER}, #{orderColumnId,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER}, 
      #{isDescending,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.FunctionOrderColumns" >
    insert into function_order_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="orderColumnId != null" >
        order_column_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="isDescending != null" >
        is_descending,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="orderColumnId != null" >
        #{orderColumnId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="isDescending != null" >
        #{isDescending,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>