<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.IndexColumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.IndexColumns" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="index_column_id" property="indexColumnId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="key_ordinal" property="keyOrdinal" jdbcType="TINYINT" />
    <result column="partition_ordinal" property="partitionOrdinal" jdbcType="TINYINT" />
    <result column="is_descending_key" property="isDescendingKey" jdbcType="BIT" />
    <result column="is_included_column" property="isIncludedColumn" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.IndexColumns" >
    insert into index_columns (object_id, index_id, index_column_id, 
      column_id, key_ordinal, partition_ordinal, 
      is_descending_key, is_included_column)
    values (#{objectId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, #{indexColumnId,jdbcType=INTEGER}, 
      #{columnId,jdbcType=INTEGER}, #{keyOrdinal,jdbcType=TINYINT}, #{partitionOrdinal,jdbcType=TINYINT}, 
      #{isDescendingKey,jdbcType=BIT}, #{isIncludedColumn,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.IndexColumns" >
    insert into index_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="indexColumnId != null" >
        index_column_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="keyOrdinal != null" >
        key_ordinal,
      </if>
      <if test="partitionOrdinal != null" >
        partition_ordinal,
      </if>
      <if test="isDescendingKey != null" >
        is_descending_key,
      </if>
      <if test="isIncludedColumn != null" >
        is_included_column,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="indexColumnId != null" >
        #{indexColumnId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="keyOrdinal != null" >
        #{keyOrdinal,jdbcType=TINYINT},
      </if>
      <if test="partitionOrdinal != null" >
        #{partitionOrdinal,jdbcType=TINYINT},
      </if>
      <if test="isDescendingKey != null" >
        #{isDescendingKey,jdbcType=BIT},
      </if>
      <if test="isIncludedColumn != null" >
        #{isIncludedColumn,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>