<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.InviGilateInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="CourseName" property="coursename" jdbcType="NVARCHAR" />
    <result column="ClassRoom" property="classroom" jdbcType="NVARCHAR" />
    <result column="TestDate" property="testdate" jdbcType="TIMESTAMP" />
    <result column="TestTime" property="testtime" jdbcType="TIMESTAMP" />
    <result column="expense" property="expense" jdbcType="INTEGER" />
    <result column="AId" property="aid" jdbcType="INTEGER" />
    <result column="BId" property="bid" jdbcType="INTEGER" />
    <result column="CId" property="cid" jdbcType="INTEGER" />
    <result column="DId" property="did" jdbcType="INTEGER" />
    <result column="AStatus" property="astatus" jdbcType="INTEGER" />
    <result column="BStatus" property="bstatus" jdbcType="INTEGER" />
    <result column="CStatus" property="cstatus" jdbcType="INTEGER" />
    <result column="DStatus" property="dstatus" jdbcType="INTEGER" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CourseName, ClassRoom, TestDate, TestTime, expense, AId, BId, CId, DId, AStatus, 
    BStatus, CStatus, DStatus, CreatedBy, CreatedOn, ModifiedBy, ModifiedOn
  </sql>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from InviGilateInfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from InviGilateInfo
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into InviGilateInfo (CourseName, ClassRoom, TestDate, 
      TestTime, expense, AId, 
      BId, CId, DId, AStatus, 
      BStatus, CStatus, DStatus, 
      CreatedBy, CreatedOn, ModifiedBy, 
      ModifiedOn, VersionNumber)
    values (#{coursename,jdbcType=NVARCHAR}, #{classroom,jdbcType=NVARCHAR}, #{testdate,jdbcType=TIMESTAMP}, 
      #{testtime,jdbcType=TIMESTAMP}, #{expense,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, 
      #{bid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{astatus,jdbcType=INTEGER}, 
      #{bstatus,jdbcType=INTEGER}, #{cstatus,jdbcType=INTEGER}, #{dstatus,jdbcType=INTEGER}, 
      #{createdby,jdbcType=INTEGER}, #{createdon,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=INTEGER}, 
      #{modifiedon,jdbcType=TIMESTAMP}, #{versionnumber,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into InviGilateInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coursename != null" >
        CourseName,
      </if>
      <if test="classroom != null" >
        ClassRoom,
      </if>
      <if test="testdate != null" >
        TestDate,
      </if>
      <if test="testtime != null" >
        TestTime,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="aid != null" >
        AId,
      </if>
      <if test="bid != null" >
        BId,
      </if>
      <if test="cid != null" >
        CId,
      </if>
      <if test="did != null" >
        DId,
      </if>
      <if test="astatus != null" >
        AStatus,
      </if>
      <if test="bstatus != null" >
        BStatus,
      </if>
      <if test="cstatus != null" >
        CStatus,
      </if>
      <if test="dstatus != null" >
        DStatus,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coursename != null" >
        #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=NVARCHAR},
      </if>
      <if test="testdate != null" >
        #{testdate,jdbcType=TIMESTAMP},
      </if>
      <if test="testtime != null" >
        #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="astatus != null" >
        #{astatus,jdbcType=INTEGER},
      </if>
      <if test="bstatus != null" >
        #{bstatus,jdbcType=INTEGER},
      </if>
      <if test="cstatus != null" >
        #{cstatus,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    update InviGilateInfo
    <set >
      <if test="coursename != null" >
        CourseName = #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="classroom != null" >
        ClassRoom = #{classroom,jdbcType=NVARCHAR},
      </if>
      <if test="testdate != null" >
        TestDate = #{testdate,jdbcType=TIMESTAMP},
      </if>
      <if test="testtime != null" >
        TestTime = #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        AId = #{aid,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        BId = #{bid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        CId = #{cid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        DId = #{did,jdbcType=INTEGER},
      </if>
      <if test="astatus != null" >
        AStatus = #{astatus,jdbcType=INTEGER},
      </if>
      <if test="bstatus != null" >
        BStatus = #{bstatus,jdbcType=INTEGER},
      </if>
      <if test="cstatus != null" >
        CStatus = #{cstatus,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        DStatus = #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="versionnumber != null" >
        VersionNumber = #{versionnumber,jdbcType=BINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    update InviGilateInfo
    set CourseName = #{coursename,jdbcType=NVARCHAR},
      ClassRoom = #{classroom,jdbcType=NVARCHAR},
      TestDate = #{testdate,jdbcType=TIMESTAMP},
      TestTime = #{testtime,jdbcType=TIMESTAMP},
      expense = #{expense,jdbcType=INTEGER},
      AId = #{aid,jdbcType=INTEGER},
      BId = #{bid,jdbcType=INTEGER},
      CId = #{cid,jdbcType=INTEGER},
      DId = #{did,jdbcType=INTEGER},
      AStatus = #{astatus,jdbcType=INTEGER},
      BStatus = #{bstatus,jdbcType=INTEGER},
      CStatus = #{cstatus,jdbcType=INTEGER},
      DStatus = #{dstatus,jdbcType=INTEGER},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      VersionNumber = #{versionnumber,jdbcType=BINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.InviGilateInfo" >
    update InviGilateInfo
    set CourseName = #{coursename,jdbcType=NVARCHAR},
      ClassRoom = #{classroom,jdbcType=NVARCHAR},
      TestDate = #{testdate,jdbcType=TIMESTAMP},
      TestTime = #{testtime,jdbcType=TIMESTAMP},
      expense = #{expense,jdbcType=INTEGER},
      AId = #{aid,jdbcType=INTEGER},
      BId = #{bid,jdbcType=INTEGER},
      CId = #{cid,jdbcType=INTEGER},
      DId = #{did,jdbcType=INTEGER},
      AStatus = #{astatus,jdbcType=INTEGER},
      BStatus = #{bstatus,jdbcType=INTEGER},
      CStatus = #{cstatus,jdbcType=INTEGER},
      DStatus = #{dstatus,jdbcType=INTEGER},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>