<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.KeyColumnUsageMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.KeyColumnUsage" >
    <result column="CONSTRAINT_CATALOG" property="constraintCatalog" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_SCHEMA" property="constraintSchema" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_NAME" property="constraintName" jdbcType="NVARCHAR" />
    <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="NVARCHAR" />
    <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="NVARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="NVARCHAR" />
    <result column="COLUMN_NAME" property="columnName" jdbcType="NVARCHAR" />
    <result column="ORDINAL_POSITION" property="ordinalPosition" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.KeyColumnUsage" >
    insert into KEY_COLUMN_USAGE (CONSTRAINT_CATALOG, CONSTRAINT_SCHEMA, 
      CONSTRAINT_NAME, TABLE_CATALOG, TABLE_SCHEMA, 
      TABLE_NAME, COLUMN_NAME, ORDINAL_POSITION
      )
    values (#{constraintCatalog,jdbcType=NVARCHAR}, #{constraintSchema,jdbcType=NVARCHAR}, 
      #{constraintName,jdbcType=NVARCHAR}, #{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, 
      #{tableName,jdbcType=NVARCHAR}, #{columnName,jdbcType=NVARCHAR}, #{ordinalPosition,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.KeyColumnUsage" >
    insert into KEY_COLUMN_USAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        CONSTRAINT_CATALOG,
      </if>
      <if test="constraintSchema != null" >
        CONSTRAINT_SCHEMA,
      </if>
      <if test="constraintName != null" >
        CONSTRAINT_NAME,
      </if>
      <if test="tableCatalog != null" >
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null" >
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="columnName != null" >
        COLUMN_NAME,
      </if>
      <if test="ordinalPosition != null" >
        ORDINAL_POSITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        #{constraintCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="constraintSchema != null" >
        #{constraintSchema,jdbcType=NVARCHAR},
      </if>
      <if test="constraintName != null" >
        #{constraintName,jdbcType=NVARCHAR},
      </if>
      <if test="tableCatalog != null" >
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null" >
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=NVARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=NVARCHAR},
      </if>
      <if test="ordinalPosition != null" >
        #{ordinalPosition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>