<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.LinkedLoginsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.LinkedLogins" >
    <result column="server_id" property="serverId" jdbcType="INTEGER" />
    <result column="local_principal_id" property="localPrincipalId" jdbcType="INTEGER" />
    <result column="uses_self_credential" property="usesSelfCredential" jdbcType="BIT" />
    <result column="remote_name" property="remoteName" jdbcType="NVARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.LinkedLogins" >
    insert into linked_logins (server_id, local_principal_id, uses_self_credential, 
      remote_name, modify_date)
    values (#{serverId,jdbcType=INTEGER}, #{localPrincipalId,jdbcType=INTEGER}, #{usesSelfCredential,jdbcType=BIT}, 
      #{remoteName,jdbcType=NVARCHAR}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.LinkedLogins" >
    insert into linked_logins
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        server_id,
      </if>
      <if test="localPrincipalId != null" >
        local_principal_id,
      </if>
      <if test="usesSelfCredential != null" >
        uses_self_credential,
      </if>
      <if test="remoteName != null" >
        remote_name,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="localPrincipalId != null" >
        #{localPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="usesSelfCredential != null" >
        #{usesSelfCredential,jdbcType=BIT},
      </if>
      <if test="remoteName != null" >
        #{remoteName,jdbcType=NVARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>