<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.MasterKeyPasswordsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.MasterKeyPasswords" >
    <result column="credential_id" property="credentialId" jdbcType="INTEGER" />
    <result column="family_guid" property="familyGuid" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.MasterKeyPasswords" >
    insert into master_key_passwords (credential_id, family_guid)
    values (#{credentialId,jdbcType=INTEGER}, #{familyGuid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.MasterKeyPasswords" >
    insert into master_key_passwords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="credentialId != null" >
        credential_id,
      </if>
      <if test="familyGuid != null" >
        family_guid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="credentialId != null" >
        #{credentialId,jdbcType=INTEGER},
      </if>
      <if test="familyGuid != null" >
        #{familyGuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>