<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="show_order" property="showOrder" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_status" property="menuStatus" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_code, menu_type, icon, route, show_order, parent_id, menu_status, 
    is_deleted, created_by, created_on, modified_by, modified_on, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Menu" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu (id, menu_name, menu_code, 
      menu_type, icon, route, 
      show_order, parent_id, menu_status, 
      is_deleted, created_by, created_on, 
      modified_by, modified_on, menu_id
      )
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{route,jdbcType=VARCHAR}, 
      #{showOrder,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{menuStatus,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT}, #{createdBy,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=INTEGER}, #{modifiedOn,jdbcType=TIMESTAMP}, #{menuId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Menu" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuCode != null" >
        menu_code,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="showOrder != null" >
        show_order,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuStatus != null" >
        menu_status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null" >
        #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        show_order = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuStatus != null" >
        menu_status = #{menuStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Menu" >
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      route = #{route,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      menu_status = #{menuStatus,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      menu_id = #{menuId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>