<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.MigrationhistoryMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    <id column="MigrationId" property="migrationid" jdbcType="NVARCHAR" />
    <id column="ContextKey" property="contextkey" jdbcType="NVARCHAR" />
    <result column="ProductVersion" property="productversion" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" extends="BaseResultMap" >
    <result column="Model" property="model" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    MigrationId, ContextKey, ProductVersion
  </sql>
  <sql id="Blob_Column_List" >
    Model
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.MigrationhistoryKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from __MigrationHistory
    where MigrationId = #{migrationid,jdbcType=NVARCHAR}
      and ContextKey = #{contextkey,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.MigrationhistoryKey" >
    delete from __MigrationHistory
    where MigrationId = #{migrationid,jdbcType=NVARCHAR}
      and ContextKey = #{contextkey,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    insert into __MigrationHistory (MigrationId, ContextKey, ProductVersion, 
      Model)
    values (#{migrationid,jdbcType=NVARCHAR}, #{contextkey,jdbcType=NVARCHAR}, #{productversion,jdbcType=NVARCHAR}, 
      #{model,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    insert into __MigrationHistory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="migrationid != null" >
        MigrationId,
      </if>
      <if test="contextkey != null" >
        ContextKey,
      </if>
      <if test="productversion != null" >
        ProductVersion,
      </if>
      <if test="model != null" >
        Model,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="migrationid != null" >
        #{migrationid,jdbcType=NVARCHAR},
      </if>
      <if test="contextkey != null" >
        #{contextkey,jdbcType=NVARCHAR},
      </if>
      <if test="productversion != null" >
        #{productversion,jdbcType=NVARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    update __MigrationHistory
    <set >
      <if test="productversion != null" >
        ProductVersion = #{productversion,jdbcType=NVARCHAR},
      </if>
      <if test="model != null" >
        Model = #{model,jdbcType=VARBINARY},
      </if>
    </set>
    where MigrationId = #{migrationid,jdbcType=NVARCHAR}
      and ContextKey = #{contextkey,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    update __MigrationHistory
    set ProductVersion = #{productversion,jdbcType=NVARCHAR},
      Model = #{model,jdbcType=VARBINARY}
    where MigrationId = #{migrationid,jdbcType=NVARCHAR}
      and ContextKey = #{contextkey,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Migrationhistory" >
    update __MigrationHistory
    set ProductVersion = #{productversion,jdbcType=NVARCHAR}
    where MigrationId = #{migrationid,jdbcType=NVARCHAR}
      and ContextKey = #{contextkey,jdbcType=NVARCHAR}
  </update>
</mapper>