<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.NumberedProceduresMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.NumberedProcedures" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="procedure_number" property="procedureNumber" jdbcType="SMALLINT" />
    <result column="definition" property="definition" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.NumberedProcedures" >
    insert into numbered_procedures (object_id, procedure_number, definition
      )
    values (#{objectId,jdbcType=INTEGER}, #{procedureNumber,jdbcType=SMALLINT}, #{definition,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.NumberedProcedures" >
    insert into numbered_procedures
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="procedureNumber != null" >
        procedure_number,
      </if>
      <if test="definition != null" >
        definition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="procedureNumber != null" >
        #{procedureNumber,jdbcType=SMALLINT},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>