<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.OpenkeysMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Openkeys" >
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="key_name" property="keyName" jdbcType="NVARCHAR" />
    <result column="key_guid" property="keyGuid" jdbcType="CHAR" />
    <result column="opened_date" property="openedDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Openkeys" >
    insert into openkeys (database_id, database_name, key_id, 
      key_name, key_guid, opened_date, 
      status)
    values (#{databaseId,jdbcType=INTEGER}, #{databaseName,jdbcType=NVARCHAR}, #{keyId,jdbcType=INTEGER}, 
      #{keyName,jdbcType=NVARCHAR}, #{keyGuid,jdbcType=CHAR}, #{openedDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Openkeys" >
    insert into openkeys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        database_id,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="keyId != null" >
        key_id,
      </if>
      <if test="keyName != null" >
        key_name,
      </if>
      <if test="keyGuid != null" >
        key_guid,
      </if>
      <if test="openedDate != null" >
        opened_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseId != null" >
        #{databaseId,jdbcType=INTEGER},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="keyId != null" >
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="keyName != null" >
        #{keyName,jdbcType=NVARCHAR},
      </if>
      <if test="keyGuid != null" >
        #{keyGuid,jdbcType=CHAR},
      </if>
      <if test="openedDate != null" >
        #{openedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>