<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.OperationLogDetailsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="OperationLogId" property="operationlogid" jdbcType="INTEGER" />
    <result column="ColumnName" property="columnname" jdbcType="NVARCHAR" />
    <result column="ColumnCode" property="columncode" jdbcType="NVARCHAR" />
    <result column="ColumnType" property="columntype" jdbcType="NVARCHAR" />
    <result column="OldValue" property="oldvalue" jdbcType="NVARCHAR" />
    <result column="NewValue" property="newvalue" jdbcType="NVARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, OperationLogId, ColumnName, ColumnCode, ColumnType, OldValue, NewValue, CreatedBy, 
    CreatedOn, ModifiedBy, ModifiedOn
  </sql>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from OperationLogDetails
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from OperationLogDetails
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into OperationLogDetails (OperationLogId, ColumnName, ColumnCode, 
      ColumnType, OldValue, NewValue, 
      CreatedBy, CreatedOn, ModifiedBy, 
      ModifiedOn, VersionNumber)
    values (#{operationlogid,jdbcType=INTEGER}, #{columnname,jdbcType=NVARCHAR}, #{columncode,jdbcType=NVARCHAR}, 
      #{columntype,jdbcType=NVARCHAR}, #{oldvalue,jdbcType=NVARCHAR}, #{newvalue,jdbcType=NVARCHAR}, 
      #{createdby,jdbcType=INTEGER}, #{createdon,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=INTEGER}, 
      #{modifiedon,jdbcType=TIMESTAMP}, #{versionnumber,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into OperationLogDetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationlogid != null" >
        OperationLogId,
      </if>
      <if test="columnname != null" >
        ColumnName,
      </if>
      <if test="columncode != null" >
        ColumnCode,
      </if>
      <if test="columntype != null" >
        ColumnType,
      </if>
      <if test="oldvalue != null" >
        OldValue,
      </if>
      <if test="newvalue != null" >
        NewValue,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationlogid != null" >
        #{operationlogid,jdbcType=INTEGER},
      </if>
      <if test="columnname != null" >
        #{columnname,jdbcType=NVARCHAR},
      </if>
      <if test="columncode != null" >
        #{columncode,jdbcType=NVARCHAR},
      </if>
      <if test="columntype != null" >
        #{columntype,jdbcType=NVARCHAR},
      </if>
      <if test="oldvalue != null" >
        #{oldvalue,jdbcType=NVARCHAR},
      </if>
      <if test="newvalue != null" >
        #{newvalue,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    update OperationLogDetails
    <set >
      <if test="operationlogid != null" >
        OperationLogId = #{operationlogid,jdbcType=INTEGER},
      </if>
      <if test="columnname != null" >
        ColumnName = #{columnname,jdbcType=NVARCHAR},
      </if>
      <if test="columncode != null" >
        ColumnCode = #{columncode,jdbcType=NVARCHAR},
      </if>
      <if test="columntype != null" >
        ColumnType = #{columntype,jdbcType=NVARCHAR},
      </if>
      <if test="oldvalue != null" >
        OldValue = #{oldvalue,jdbcType=NVARCHAR},
      </if>
      <if test="newvalue != null" >
        NewValue = #{newvalue,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        CreatedBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="versionnumber != null" >
        VersionNumber = #{versionnumber,jdbcType=BINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    update OperationLogDetails
    set OperationLogId = #{operationlogid,jdbcType=INTEGER},
      ColumnName = #{columnname,jdbcType=NVARCHAR},
      ColumnCode = #{columncode,jdbcType=NVARCHAR},
      ColumnType = #{columntype,jdbcType=NVARCHAR},
      OldValue = #{oldvalue,jdbcType=NVARCHAR},
      NewValue = #{newvalue,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP},
      VersionNumber = #{versionnumber,jdbcType=BINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.OperationLogDetails" >
    update OperationLogDetails
    set OperationLogId = #{operationlogid,jdbcType=INTEGER},
      ColumnName = #{columnname,jdbcType=NVARCHAR},
      ColumnCode = #{columncode,jdbcType=NVARCHAR},
      ColumnType = #{columntype,jdbcType=NVARCHAR},
      OldValue = #{oldvalue,jdbcType=NVARCHAR},
      NewValue = #{newvalue,jdbcType=NVARCHAR},
      CreatedBy = #{createdby,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      ModifiedBy = #{modifiedby,jdbcType=INTEGER},
      ModifiedOn = #{modifiedon,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>