<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.PartitionSchemesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.PartitionSchemes" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="data_space_id" property="dataSpaceId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="NVARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="is_system" property="isSystem" jdbcType="BIT" />
    <result column="function_id" property="functionId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.PartitionSchemes" >
    insert into partition_schemes (name, data_space_id, type, 
      type_desc, is_default, is_system, 
      function_id)
    values (#{name,jdbcType=NVARCHAR}, #{dataSpaceId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR}, #{isDefault,jdbcType=BIT}, #{isSystem,jdbcType=BIT}, 
      #{functionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.PartitionSchemes" >
    insert into partition_schemes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="dataSpaceId != null" >
        data_space_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="isSystem != null" >
        is_system,
      </if>
      <if test="functionId != null" >
        function_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="dataSpaceId != null" >
        #{dataSpaceId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=BIT},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>