<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ReferentialConstraintsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ReferentialConstraints" >
    <result column="CONSTRAINT_CATALOG" property="constraintCatalog" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_SCHEMA" property="constraintSchema" jdbcType="NVARCHAR" />
    <result column="CONSTRAINT_NAME" property="constraintName" jdbcType="NVARCHAR" />
    <result column="UNIQUE_CONSTRAINT_CATALOG" property="uniqueConstraintCatalog" jdbcType="NVARCHAR" />
    <result column="UNIQUE_CONSTRAINT_SCHEMA" property="uniqueConstraintSchema" jdbcType="NVARCHAR" />
    <result column="UNIQUE_CONSTRAINT_NAME" property="uniqueConstraintName" jdbcType="NVARCHAR" />
    <result column="MATCH_OPTION" property="matchOption" jdbcType="VARCHAR" />
    <result column="UPDATE_RULE" property="updateRule" jdbcType="VARCHAR" />
    <result column="DELETE_RULE" property="deleteRule" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ReferentialConstraints" >
    insert into REFERENTIAL_CONSTRAINTS (CONSTRAINT_CATALOG, CONSTRAINT_SCHEMA, 
      CONSTRAINT_NAME, UNIQUE_CONSTRAINT_CATALOG, 
      UNIQUE_CONSTRAINT_SCHEMA, UNIQUE_CONSTRAINT_NAME, 
      MATCH_OPTION, UPDATE_RULE, DELETE_RULE
      )
    values (#{constraintCatalog,jdbcType=NVARCHAR}, #{constraintSchema,jdbcType=NVARCHAR}, 
      #{constraintName,jdbcType=NVARCHAR}, #{uniqueConstraintCatalog,jdbcType=NVARCHAR}, 
      #{uniqueConstraintSchema,jdbcType=NVARCHAR}, #{uniqueConstraintName,jdbcType=NVARCHAR}, 
      #{matchOption,jdbcType=VARCHAR}, #{updateRule,jdbcType=VARCHAR}, #{deleteRule,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ReferentialConstraints" >
    insert into REFERENTIAL_CONSTRAINTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        CONSTRAINT_CATALOG,
      </if>
      <if test="constraintSchema != null" >
        CONSTRAINT_SCHEMA,
      </if>
      <if test="constraintName != null" >
        CONSTRAINT_NAME,
      </if>
      <if test="uniqueConstraintCatalog != null" >
        UNIQUE_CONSTRAINT_CATALOG,
      </if>
      <if test="uniqueConstraintSchema != null" >
        UNIQUE_CONSTRAINT_SCHEMA,
      </if>
      <if test="uniqueConstraintName != null" >
        UNIQUE_CONSTRAINT_NAME,
      </if>
      <if test="matchOption != null" >
        MATCH_OPTION,
      </if>
      <if test="updateRule != null" >
        UPDATE_RULE,
      </if>
      <if test="deleteRule != null" >
        DELETE_RULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="constraintCatalog != null" >
        #{constraintCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="constraintSchema != null" >
        #{constraintSchema,jdbcType=NVARCHAR},
      </if>
      <if test="constraintName != null" >
        #{constraintName,jdbcType=NVARCHAR},
      </if>
      <if test="uniqueConstraintCatalog != null" >
        #{uniqueConstraintCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="uniqueConstraintSchema != null" >
        #{uniqueConstraintSchema,jdbcType=NVARCHAR},
      </if>
      <if test="uniqueConstraintName != null" >
        #{uniqueConstraintName,jdbcType=NVARCHAR},
      </if>
      <if test="matchOption != null" >
        #{matchOption,jdbcType=VARCHAR},
      </if>
      <if test="updateRule != null" >
        #{updateRule,jdbcType=VARCHAR},
      </if>
      <if test="deleteRule != null" >
        #{deleteRule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>