<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.RegisteredSearchPropertiesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.RegisteredSearchProperties" >
    <result column="property_list_id" property="propertyListId" jdbcType="INTEGER" />
    <result column="property_id" property="propertyId" jdbcType="INTEGER" />
    <result column="property_name" property="propertyName" jdbcType="NVARCHAR" />
    <result column="property_set_guid" property="propertySetGuid" jdbcType="CHAR" />
    <result column="property_int_id" property="propertyIntId" jdbcType="INTEGER" />
    <result column="property_description" property="propertyDescription" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.RegisteredSearchProperties" >
    insert into registered_search_properties (property_list_id, property_id, property_name, 
      property_set_guid, property_int_id, property_description
      )
    values (#{propertyListId,jdbcType=INTEGER}, #{propertyId,jdbcType=INTEGER}, #{propertyName,jdbcType=NVARCHAR}, 
      #{propertySetGuid,jdbcType=CHAR}, #{propertyIntId,jdbcType=INTEGER}, #{propertyDescription,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.RegisteredSearchProperties" >
    insert into registered_search_properties
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="propertyListId != null" >
        property_list_id,
      </if>
      <if test="propertyId != null" >
        property_id,
      </if>
      <if test="propertyName != null" >
        property_name,
      </if>
      <if test="propertySetGuid != null" >
        property_set_guid,
      </if>
      <if test="propertyIntId != null" >
        property_int_id,
      </if>
      <if test="propertyDescription != null" >
        property_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="propertyListId != null" >
        #{propertyListId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null" >
        #{propertyName,jdbcType=NVARCHAR},
      </if>
      <if test="propertySetGuid != null" >
        #{propertySetGuid,jdbcType=CHAR},
      </if>
      <if test="propertyIntId != null" >
        #{propertyIntId,jdbcType=INTEGER},
      </if>
      <if test="propertyDescription != null" >
        #{propertyDescription,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>