<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.RoutinesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Routines" >
    <result column="SPECIFIC_CATALOG" property="specificCatalog" jdbcType="NVARCHAR" />
    <result column="SPECIFIC_SCHEMA" property="specificSchema" jdbcType="NVARCHAR" />
    <result column="SPECIFIC_NAME" property="specificName" jdbcType="NVARCHAR" />
    <result column="ROUTINE_CATALOG" property="routineCatalog" jdbcType="NVARCHAR" />
    <result column="ROUTINE_SCHEMA" property="routineSchema" jdbcType="NVARCHAR" />
    <result column="ROUTINE_NAME" property="routineName" jdbcType="NVARCHAR" />
    <result column="ROUTINE_TYPE" property="routineType" jdbcType="NVARCHAR" />
    <result column="MODULE_CATALOG" property="moduleCatalog" jdbcType="NVARCHAR" />
    <result column="MODULE_SCHEMA" property="moduleSchema" jdbcType="NVARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="NVARCHAR" />
    <result column="UDT_CATALOG" property="udtCatalog" jdbcType="NVARCHAR" />
    <result column="UDT_SCHEMA" property="udtSchema" jdbcType="NVARCHAR" />
    <result column="UDT_NAME" property="udtName" jdbcType="NVARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="NVARCHAR" />
    <result column="CHARACTER_MAXIMUM_LENGTH" property="characterMaximumLength" jdbcType="INTEGER" />
    <result column="CHARACTER_OCTET_LENGTH" property="characterOctetLength" jdbcType="INTEGER" />
    <result column="COLLATION_CATALOG" property="collationCatalog" jdbcType="NVARCHAR" />
    <result column="COLLATION_SCHEMA" property="collationSchema" jdbcType="NVARCHAR" />
    <result column="COLLATION_NAME" property="collationName" jdbcType="NVARCHAR" />
    <result column="CHARACTER_SET_CATALOG" property="characterSetCatalog" jdbcType="NVARCHAR" />
    <result column="CHARACTER_SET_SCHEMA" property="characterSetSchema" jdbcType="NVARCHAR" />
    <result column="CHARACTER_SET_NAME" property="characterSetName" jdbcType="NVARCHAR" />
    <result column="NUMERIC_PRECISION" property="numericPrecision" jdbcType="TINYINT" />
    <result column="NUMERIC_PRECISION_RADIX" property="numericPrecisionRadix" jdbcType="SMALLINT" />
    <result column="NUMERIC_SCALE" property="numericScale" jdbcType="INTEGER" />
    <result column="DATETIME_PRECISION" property="datetimePrecision" jdbcType="SMALLINT" />
    <result column="INTERVAL_TYPE" property="intervalType" jdbcType="NVARCHAR" />
    <result column="INTERVAL_PRECISION" property="intervalPrecision" jdbcType="SMALLINT" />
    <result column="TYPE_UDT_CATALOG" property="typeUdtCatalog" jdbcType="NVARCHAR" />
    <result column="TYPE_UDT_SCHEMA" property="typeUdtSchema" jdbcType="NVARCHAR" />
    <result column="TYPE_UDT_NAME" property="typeUdtName" jdbcType="NVARCHAR" />
    <result column="SCOPE_CATALOG" property="scopeCatalog" jdbcType="NVARCHAR" />
    <result column="SCOPE_SCHEMA" property="scopeSchema" jdbcType="NVARCHAR" />
    <result column="SCOPE_NAME" property="scopeName" jdbcType="NVARCHAR" />
    <result column="MAXIMUM_CARDINALITY" property="maximumCardinality" jdbcType="BIGINT" />
    <result column="DTD_IDENTIFIER" property="dtdIdentifier" jdbcType="NVARCHAR" />
    <result column="ROUTINE_BODY" property="routineBody" jdbcType="NVARCHAR" />
    <result column="ROUTINE_DEFINITION" property="routineDefinition" jdbcType="NVARCHAR" />
    <result column="EXTERNAL_NAME" property="externalName" jdbcType="NVARCHAR" />
    <result column="EXTERNAL_LANGUAGE" property="externalLanguage" jdbcType="NVARCHAR" />
    <result column="PARAMETER_STYLE" property="parameterStyle" jdbcType="NVARCHAR" />
    <result column="IS_DETERMINISTIC" property="isDeterministic" jdbcType="NVARCHAR" />
    <result column="SQL_DATA_ACCESS" property="sqlDataAccess" jdbcType="NVARCHAR" />
    <result column="IS_NULL_CALL" property="isNullCall" jdbcType="NVARCHAR" />
    <result column="SQL_PATH" property="sqlPath" jdbcType="NVARCHAR" />
    <result column="SCHEMA_LEVEL_ROUTINE" property="schemaLevelRoutine" jdbcType="NVARCHAR" />
    <result column="MAX_DYNAMIC_RESULT_SETS" property="maxDynamicResultSets" jdbcType="SMALLINT" />
    <result column="IS_USER_DEFINED_CAST" property="isUserDefinedCast" jdbcType="NVARCHAR" />
    <result column="IS_IMPLICITLY_INVOCABLE" property="isImplicitlyInvocable" jdbcType="NVARCHAR" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="LAST_ALTERED" property="lastAltered" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Routines" >
    insert into ROUTINES (SPECIFIC_CATALOG, SPECIFIC_SCHEMA, 
      SPECIFIC_NAME, ROUTINE_CATALOG, ROUTINE_SCHEMA, 
      ROUTINE_NAME, ROUTINE_TYPE, MODULE_CATALOG, 
      MODULE_SCHEMA, MODULE_NAME, UDT_CATALOG, 
      UDT_SCHEMA, UDT_NAME, DATA_TYPE, 
      CHARACTER_MAXIMUM_LENGTH, CHARACTER_OCTET_LENGTH, 
      COLLATION_CATALOG, COLLATION_SCHEMA, COLLATION_NAME, 
      CHARACTER_SET_CATALOG, CHARACTER_SET_SCHEMA, 
      CHARACTER_SET_NAME, NUMERIC_PRECISION, NUMERIC_PRECISION_RADIX, 
      NUMERIC_SCALE, DATETIME_PRECISION, INTERVAL_TYPE, 
      INTERVAL_PRECISION, TYPE_UDT_CATALOG, TYPE_UDT_SCHEMA, 
      TYPE_UDT_NAME, SCOPE_CATALOG, SCOPE_SCHEMA, 
      SCOPE_NAME, MAXIMUM_CARDINALITY, DTD_IDENTIFIER, 
      ROUTINE_BODY, ROUTINE_DEFINITION, EXTERNAL_NAME, 
      EXTERNAL_LANGUAGE, PARAMETER_STYLE, IS_DETERMINISTIC, 
      SQL_DATA_ACCESS, IS_NULL_CALL, SQL_PATH, 
      SCHEMA_LEVEL_ROUTINE, MAX_DYNAMIC_RESULT_SETS, 
      IS_USER_DEFINED_CAST, IS_IMPLICITLY_INVOCABLE, 
      CREATED, LAST_ALTERED)
    values (#{specificCatalog,jdbcType=NVARCHAR}, #{specificSchema,jdbcType=NVARCHAR}, 
      #{specificName,jdbcType=NVARCHAR}, #{routineCatalog,jdbcType=NVARCHAR}, #{routineSchema,jdbcType=NVARCHAR}, 
      #{routineName,jdbcType=NVARCHAR}, #{routineType,jdbcType=NVARCHAR}, #{moduleCatalog,jdbcType=NVARCHAR}, 
      #{moduleSchema,jdbcType=NVARCHAR}, #{moduleName,jdbcType=NVARCHAR}, #{udtCatalog,jdbcType=NVARCHAR}, 
      #{udtSchema,jdbcType=NVARCHAR}, #{udtName,jdbcType=NVARCHAR}, #{dataType,jdbcType=NVARCHAR}, 
      #{characterMaximumLength,jdbcType=INTEGER}, #{characterOctetLength,jdbcType=INTEGER}, 
      #{collationCatalog,jdbcType=NVARCHAR}, #{collationSchema,jdbcType=NVARCHAR}, #{collationName,jdbcType=NVARCHAR}, 
      #{characterSetCatalog,jdbcType=NVARCHAR}, #{characterSetSchema,jdbcType=NVARCHAR}, 
      #{characterSetName,jdbcType=NVARCHAR}, #{numericPrecision,jdbcType=TINYINT}, #{numericPrecisionRadix,jdbcType=SMALLINT}, 
      #{numericScale,jdbcType=INTEGER}, #{datetimePrecision,jdbcType=SMALLINT}, #{intervalType,jdbcType=NVARCHAR}, 
      #{intervalPrecision,jdbcType=SMALLINT}, #{typeUdtCatalog,jdbcType=NVARCHAR}, #{typeUdtSchema,jdbcType=NVARCHAR}, 
      #{typeUdtName,jdbcType=NVARCHAR}, #{scopeCatalog,jdbcType=NVARCHAR}, #{scopeSchema,jdbcType=NVARCHAR}, 
      #{scopeName,jdbcType=NVARCHAR}, #{maximumCardinality,jdbcType=BIGINT}, #{dtdIdentifier,jdbcType=NVARCHAR}, 
      #{routineBody,jdbcType=NVARCHAR}, #{routineDefinition,jdbcType=NVARCHAR}, #{externalName,jdbcType=NVARCHAR}, 
      #{externalLanguage,jdbcType=NVARCHAR}, #{parameterStyle,jdbcType=NVARCHAR}, #{isDeterministic,jdbcType=NVARCHAR}, 
      #{sqlDataAccess,jdbcType=NVARCHAR}, #{isNullCall,jdbcType=NVARCHAR}, #{sqlPath,jdbcType=NVARCHAR}, 
      #{schemaLevelRoutine,jdbcType=NVARCHAR}, #{maxDynamicResultSets,jdbcType=SMALLINT}, 
      #{isUserDefinedCast,jdbcType=NVARCHAR}, #{isImplicitlyInvocable,jdbcType=NVARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{lastAltered,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Routines" >
    insert into ROUTINES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="specificCatalog != null" >
        SPECIFIC_CATALOG,
      </if>
      <if test="specificSchema != null" >
        SPECIFIC_SCHEMA,
      </if>
      <if test="specificName != null" >
        SPECIFIC_NAME,
      </if>
      <if test="routineCatalog != null" >
        ROUTINE_CATALOG,
      </if>
      <if test="routineSchema != null" >
        ROUTINE_SCHEMA,
      </if>
      <if test="routineName != null" >
        ROUTINE_NAME,
      </if>
      <if test="routineType != null" >
        ROUTINE_TYPE,
      </if>
      <if test="moduleCatalog != null" >
        MODULE_CATALOG,
      </if>
      <if test="moduleSchema != null" >
        MODULE_SCHEMA,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="udtCatalog != null" >
        UDT_CATALOG,
      </if>
      <if test="udtSchema != null" >
        UDT_SCHEMA,
      </if>
      <if test="udtName != null" >
        UDT_NAME,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
      <if test="characterMaximumLength != null" >
        CHARACTER_MAXIMUM_LENGTH,
      </if>
      <if test="characterOctetLength != null" >
        CHARACTER_OCTET_LENGTH,
      </if>
      <if test="collationCatalog != null" >
        COLLATION_CATALOG,
      </if>
      <if test="collationSchema != null" >
        COLLATION_SCHEMA,
      </if>
      <if test="collationName != null" >
        COLLATION_NAME,
      </if>
      <if test="characterSetCatalog != null" >
        CHARACTER_SET_CATALOG,
      </if>
      <if test="characterSetSchema != null" >
        CHARACTER_SET_SCHEMA,
      </if>
      <if test="characterSetName != null" >
        CHARACTER_SET_NAME,
      </if>
      <if test="numericPrecision != null" >
        NUMERIC_PRECISION,
      </if>
      <if test="numericPrecisionRadix != null" >
        NUMERIC_PRECISION_RADIX,
      </if>
      <if test="numericScale != null" >
        NUMERIC_SCALE,
      </if>
      <if test="datetimePrecision != null" >
        DATETIME_PRECISION,
      </if>
      <if test="intervalType != null" >
        INTERVAL_TYPE,
      </if>
      <if test="intervalPrecision != null" >
        INTERVAL_PRECISION,
      </if>
      <if test="typeUdtCatalog != null" >
        TYPE_UDT_CATALOG,
      </if>
      <if test="typeUdtSchema != null" >
        TYPE_UDT_SCHEMA,
      </if>
      <if test="typeUdtName != null" >
        TYPE_UDT_NAME,
      </if>
      <if test="scopeCatalog != null" >
        SCOPE_CATALOG,
      </if>
      <if test="scopeSchema != null" >
        SCOPE_SCHEMA,
      </if>
      <if test="scopeName != null" >
        SCOPE_NAME,
      </if>
      <if test="maximumCardinality != null" >
        MAXIMUM_CARDINALITY,
      </if>
      <if test="dtdIdentifier != null" >
        DTD_IDENTIFIER,
      </if>
      <if test="routineBody != null" >
        ROUTINE_BODY,
      </if>
      <if test="routineDefinition != null" >
        ROUTINE_DEFINITION,
      </if>
      <if test="externalName != null" >
        EXTERNAL_NAME,
      </if>
      <if test="externalLanguage != null" >
        EXTERNAL_LANGUAGE,
      </if>
      <if test="parameterStyle != null" >
        PARAMETER_STYLE,
      </if>
      <if test="isDeterministic != null" >
        IS_DETERMINISTIC,
      </if>
      <if test="sqlDataAccess != null" >
        SQL_DATA_ACCESS,
      </if>
      <if test="isNullCall != null" >
        IS_NULL_CALL,
      </if>
      <if test="sqlPath != null" >
        SQL_PATH,
      </if>
      <if test="schemaLevelRoutine != null" >
        SCHEMA_LEVEL_ROUTINE,
      </if>
      <if test="maxDynamicResultSets != null" >
        MAX_DYNAMIC_RESULT_SETS,
      </if>
      <if test="isUserDefinedCast != null" >
        IS_USER_DEFINED_CAST,
      </if>
      <if test="isImplicitlyInvocable != null" >
        IS_IMPLICITLY_INVOCABLE,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="lastAltered != null" >
        LAST_ALTERED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="specificCatalog != null" >
        #{specificCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="specificSchema != null" >
        #{specificSchema,jdbcType=NVARCHAR},
      </if>
      <if test="specificName != null" >
        #{specificName,jdbcType=NVARCHAR},
      </if>
      <if test="routineCatalog != null" >
        #{routineCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="routineSchema != null" >
        #{routineSchema,jdbcType=NVARCHAR},
      </if>
      <if test="routineName != null" >
        #{routineName,jdbcType=NVARCHAR},
      </if>
      <if test="routineType != null" >
        #{routineType,jdbcType=NVARCHAR},
      </if>
      <if test="moduleCatalog != null" >
        #{moduleCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="moduleSchema != null" >
        #{moduleSchema,jdbcType=NVARCHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=NVARCHAR},
      </if>
      <if test="udtCatalog != null" >
        #{udtCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="udtSchema != null" >
        #{udtSchema,jdbcType=NVARCHAR},
      </if>
      <if test="udtName != null" >
        #{udtName,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=NVARCHAR},
      </if>
      <if test="characterMaximumLength != null" >
        #{characterMaximumLength,jdbcType=INTEGER},
      </if>
      <if test="characterOctetLength != null" >
        #{characterOctetLength,jdbcType=INTEGER},
      </if>
      <if test="collationCatalog != null" >
        #{collationCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="collationSchema != null" >
        #{collationSchema,jdbcType=NVARCHAR},
      </if>
      <if test="collationName != null" >
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="characterSetCatalog != null" >
        #{characterSetCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="characterSetSchema != null" >
        #{characterSetSchema,jdbcType=NVARCHAR},
      </if>
      <if test="characterSetName != null" >
        #{characterSetName,jdbcType=NVARCHAR},
      </if>
      <if test="numericPrecision != null" >
        #{numericPrecision,jdbcType=TINYINT},
      </if>
      <if test="numericPrecisionRadix != null" >
        #{numericPrecisionRadix,jdbcType=SMALLINT},
      </if>
      <if test="numericScale != null" >
        #{numericScale,jdbcType=INTEGER},
      </if>
      <if test="datetimePrecision != null" >
        #{datetimePrecision,jdbcType=SMALLINT},
      </if>
      <if test="intervalType != null" >
        #{intervalType,jdbcType=NVARCHAR},
      </if>
      <if test="intervalPrecision != null" >
        #{intervalPrecision,jdbcType=SMALLINT},
      </if>
      <if test="typeUdtCatalog != null" >
        #{typeUdtCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="typeUdtSchema != null" >
        #{typeUdtSchema,jdbcType=NVARCHAR},
      </if>
      <if test="typeUdtName != null" >
        #{typeUdtName,jdbcType=NVARCHAR},
      </if>
      <if test="scopeCatalog != null" >
        #{scopeCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="scopeSchema != null" >
        #{scopeSchema,jdbcType=NVARCHAR},
      </if>
      <if test="scopeName != null" >
        #{scopeName,jdbcType=NVARCHAR},
      </if>
      <if test="maximumCardinality != null" >
        #{maximumCardinality,jdbcType=BIGINT},
      </if>
      <if test="dtdIdentifier != null" >
        #{dtdIdentifier,jdbcType=NVARCHAR},
      </if>
      <if test="routineBody != null" >
        #{routineBody,jdbcType=NVARCHAR},
      </if>
      <if test="routineDefinition != null" >
        #{routineDefinition,jdbcType=NVARCHAR},
      </if>
      <if test="externalName != null" >
        #{externalName,jdbcType=NVARCHAR},
      </if>
      <if test="externalLanguage != null" >
        #{externalLanguage,jdbcType=NVARCHAR},
      </if>
      <if test="parameterStyle != null" >
        #{parameterStyle,jdbcType=NVARCHAR},
      </if>
      <if test="isDeterministic != null" >
        #{isDeterministic,jdbcType=NVARCHAR},
      </if>
      <if test="sqlDataAccess != null" >
        #{sqlDataAccess,jdbcType=NVARCHAR},
      </if>
      <if test="isNullCall != null" >
        #{isNullCall,jdbcType=NVARCHAR},
      </if>
      <if test="sqlPath != null" >
        #{sqlPath,jdbcType=NVARCHAR},
      </if>
      <if test="schemaLevelRoutine != null" >
        #{schemaLevelRoutine,jdbcType=NVARCHAR},
      </if>
      <if test="maxDynamicResultSets != null" >
        #{maxDynamicResultSets,jdbcType=SMALLINT},
      </if>
      <if test="isUserDefinedCast != null" >
        #{isUserDefinedCast,jdbcType=NVARCHAR},
      </if>
      <if test="isImplicitlyInvocable != null" >
        #{isImplicitlyInvocable,jdbcType=NVARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAltered != null" >
        #{lastAltered,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>