<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.RoutesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Routes" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="route_id" property="routeId" jdbcType="INTEGER" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="remote_service_name" property="remoteServiceName" jdbcType="NVARCHAR" />
    <result column="broker_instance" property="brokerInstance" jdbcType="NVARCHAR" />
    <result column="lifetime" property="lifetime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="NVARCHAR" />
    <result column="mirror_address" property="mirrorAddress" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Routes" >
    insert into routes (name, route_id, principal_id, 
      remote_service_name, broker_instance, lifetime, 
      address, mirror_address)
    values (#{name,jdbcType=NVARCHAR}, #{routeId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, 
      #{remoteServiceName,jdbcType=NVARCHAR}, #{brokerInstance,jdbcType=NVARCHAR}, #{lifetime,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=NVARCHAR}, #{mirrorAddress,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Routes" >
    insert into routes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="routeId != null" >
        route_id,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="remoteServiceName != null" >
        remote_service_name,
      </if>
      <if test="brokerInstance != null" >
        broker_instance,
      </if>
      <if test="lifetime != null" >
        lifetime,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mirrorAddress != null" >
        mirror_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="remoteServiceName != null" >
        #{remoteServiceName,jdbcType=NVARCHAR},
      </if>
      <if test="brokerInstance != null" >
        #{brokerInstance,jdbcType=NVARCHAR},
      </if>
      <if test="lifetime != null" >
        #{lifetime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="mirrorAddress != null" >
        #{mirrorAddress,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>