<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SecurableClassesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SecurableClasses" >
    <result column="class_desc" property="classDesc" jdbcType="NVARCHAR" />
    <result column="class" property="class" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SecurableClasses" >
    insert into securable_classes (class_desc, class)
    values (#{classDesc,jdbcType=NVARCHAR}, #{class,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SecurableClasses" >
    insert into securable_classes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classDesc != null" >
        class_desc,
      </if>
      <if test="class != null" >
        class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classDesc != null" >
        #{classDesc,jdbcType=NVARCHAR},
      </if>
      <if test="class != null" >
        #{class,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>