<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SequencesMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="principal_id" jdbcType="INTEGER" property="principalId" />
    <result column="schema_id" jdbcType="INTEGER" property="schemaId" />
    <result column="parent_object_id" jdbcType="INTEGER" property="parentObjectId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="type_desc" jdbcType="NVARCHAR" property="typeDesc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="is_ms_shipped" jdbcType="BIT" property="isMsShipped" />
    <result column="is_published" jdbcType="BIT" property="isPublished" />
    <result column="is_schema_published" jdbcType="BIT" property="isSchemaPublished" />
    <result column="start_value" jdbcType="OTHER" property="startValue" />
    <result column="increment" jdbcType="OTHER" property="increment" />
    <result column="minimum_value" jdbcType="OTHER" property="minimumValue" />
    <result column="maximum_value" jdbcType="OTHER" property="maximumValue" />
    <result column="is_cycling" jdbcType="BIT" property="isCycling" />
    <result column="is_cached" jdbcType="BIT" property="isCached" />
    <result column="cache_size" jdbcType="INTEGER" property="cacheSize" />
    <result column="system_type_id" jdbcType="TINYINT" property="systemTypeId" />
    <result column="user_type_id" jdbcType="INTEGER" property="userTypeId" />
    <result column="precision" jdbcType="TINYINT" property="precision" />
    <result column="scale" jdbcType="TINYINT" property="scale" />
    <result column="current_value" jdbcType="OTHER" property="currentValue" />
    <result column="is_exhausted" jdbcType="BIT" property="isExhausted" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    insert into sequences (name, object_id, principal_id, 
      schema_id, parent_object_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_published, is_schema_published, 
      start_value, increment, minimum_value, 
      maximum_value, is_cycling, is_cached, 
      cache_size, system_type_id, user_type_id, 
      precision, scale, current_value, 
      is_exhausted)
    values (#{name,jdbcType=NVARCHAR}, #{objectId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, 
      #{schemaId,jdbcType=INTEGER}, #{parentObjectId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{isMsShipped,jdbcType=BIT}, #{isPublished,jdbcType=BIT}, #{isSchemaPublished,jdbcType=BIT}, 
      #{startValue,jdbcType=OTHER}, #{increment,jdbcType=OTHER}, #{minimumValue,jdbcType=OTHER}, 
      #{maximumValue,jdbcType=OTHER}, #{isCycling,jdbcType=BIT}, #{isCached,jdbcType=BIT}, 
      #{cacheSize,jdbcType=INTEGER}, #{systemTypeId,jdbcType=TINYINT}, #{userTypeId,jdbcType=INTEGER}, 
      #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, #{currentValue,jdbcType=OTHER}, 
      #{isExhausted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    insert into sequences
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="objectId != null">
        object_id,
      </if>
      <if test="principalId != null">
        principal_id,
      </if>
      <if test="schemaId != null">
        schema_id,
      </if>
      <if test="parentObjectId != null">
        parent_object_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="isMsShipped != null">
        is_ms_shipped,
      </if>
      <if test="isPublished != null">
        is_published,
      </if>
      <if test="isSchemaPublished != null">
        is_schema_published,
      </if>
      <if test="startValue != null">
        start_value,
      </if>
      <if test="increment != null">
        increment,
      </if>
      <if test="minimumValue != null">
        minimum_value,
      </if>
      <if test="maximumValue != null">
        maximum_value,
      </if>
      <if test="isCycling != null">
        is_cycling,
      </if>
      <if test="isCached != null">
        is_cached,
      </if>
      <if test="cacheSize != null">
        cache_size,
      </if>
      <if test="systemTypeId != null">
        system_type_id,
      </if>
      <if test="userTypeId != null">
        user_type_id,
      </if>
      <if test="precision != null">
        precision,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="currentValue != null">
        current_value,
      </if>
      <if test="isExhausted != null">
        is_exhausted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null">
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="schemaId != null">
        #{schemaId,jdbcType=INTEGER},
      </if>
      <if test="parentObjectId != null">
        #{parentObjectId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isMsShipped != null">
        #{isMsShipped,jdbcType=BIT},
      </if>
      <if test="isPublished != null">
        #{isPublished,jdbcType=BIT},
      </if>
      <if test="isSchemaPublished != null">
        #{isSchemaPublished,jdbcType=BIT},
      </if>
      <if test="startValue != null">
        #{startValue,jdbcType=OTHER},
      </if>
      <if test="increment != null">
        #{increment,jdbcType=OTHER},
      </if>
      <if test="minimumValue != null">
        #{minimumValue,jdbcType=OTHER},
      </if>
      <if test="maximumValue != null">
        #{maximumValue,jdbcType=OTHER},
      </if>
      <if test="isCycling != null">
        #{isCycling,jdbcType=BIT},
      </if>
      <if test="isCached != null">
        #{isCached,jdbcType=BIT},
      </if>
      <if test="cacheSize != null">
        #{cacheSize,jdbcType=INTEGER},
      </if>
      <if test="systemTypeId != null">
        #{systemTypeId,jdbcType=TINYINT},
      </if>
      <if test="userTypeId != null">
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="precision != null">
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="currentValue != null">
        #{currentValue,jdbcType=OTHER},
      </if>
      <if test="isExhausted != null">
        #{isExhausted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    <result column="SEQUENCE_CATALOG" jdbcType="NVARCHAR" property="sequenceCatalog" />
    <result column="SEQUENCE_SCHEMA" jdbcType="NVARCHAR" property="sequenceSchema" />
    <result column="SEQUENCE_NAME" jdbcType="NVARCHAR" property="sequenceName" />
    <result column="DATA_TYPE" jdbcType="NVARCHAR" property="dataType" />
    <result column="NUMERIC_PRECISION" jdbcType="TINYINT" property="numericPrecision" />
    <result column="NUMERIC_PRECISION_RADIX" jdbcType="SMALLINT" property="numericPrecisionRadix" />
    <result column="NUMERIC_SCALE" jdbcType="INTEGER" property="numericScale" />
    <result column="START_VALUE" jdbcType="OTHER" property="startValue" />
    <result column="MINIMUM_VALUE" jdbcType="OTHER" property="minimumValue" />
    <result column="MAXIMUM_VALUE" jdbcType="OTHER" property="maximumValue" />
    <result column="INCREMENT" jdbcType="OTHER" property="increment" />
    <result column="CYCLE_OPTION" jdbcType="BIT" property="cycleOption" />
    <result column="DECLARED_DATA_TYPE" jdbcType="NVARCHAR" property="declaredDataType" />
    <result column="DECLARED_NUMERIC_PRECISION" jdbcType="TINYINT" property="declaredNumericPrecision" />
    <result column="DECLARED_NUMERIC_SCALE" jdbcType="TINYINT" property="declaredNumericScale" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    insert into SEQUENCES (SEQUENCE_CATALOG, SEQUENCE_SCHEMA, 
      SEQUENCE_NAME, DATA_TYPE, NUMERIC_PRECISION, 
      NUMERIC_PRECISION_RADIX, NUMERIC_SCALE, START_VALUE, 
      MINIMUM_VALUE, MAXIMUM_VALUE, INCREMENT, 
      CYCLE_OPTION, DECLARED_DATA_TYPE, DECLARED_NUMERIC_PRECISION, 
      DECLARED_NUMERIC_SCALE)
    values (#{sequenceCatalog,jdbcType=NVARCHAR}, #{sequenceSchema,jdbcType=NVARCHAR}, 
      #{sequenceName,jdbcType=NVARCHAR}, #{dataType,jdbcType=NVARCHAR}, #{numericPrecision,jdbcType=TINYINT}, 
      #{numericPrecisionRadix,jdbcType=SMALLINT}, #{numericScale,jdbcType=INTEGER}, #{startValue,jdbcType=OTHER}, 
      #{minimumValue,jdbcType=OTHER}, #{maximumValue,jdbcType=OTHER}, #{increment,jdbcType=OTHER}, 
      #{cycleOption,jdbcType=BIT}, #{declaredDataType,jdbcType=NVARCHAR}, #{declaredNumericPrecision,jdbcType=TINYINT}, 
      #{declaredNumericScale,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sequences">
    insert into SEQUENCES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceCatalog != null">
        SEQUENCE_CATALOG,
      </if>
      <if test="sequenceSchema != null">
        SEQUENCE_SCHEMA,
      </if>
      <if test="sequenceName != null">
        SEQUENCE_NAME,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="numericPrecision != null">
        NUMERIC_PRECISION,
      </if>
      <if test="numericPrecisionRadix != null">
        NUMERIC_PRECISION_RADIX,
      </if>
      <if test="numericScale != null">
        NUMERIC_SCALE,
      </if>
      <if test="startValue != null">
        START_VALUE,
      </if>
      <if test="minimumValue != null">
        MINIMUM_VALUE,
      </if>
      <if test="maximumValue != null">
        MAXIMUM_VALUE,
      </if>
      <if test="increment != null">
        INCREMENT,
      </if>
      <if test="cycleOption != null">
        CYCLE_OPTION,
      </if>
      <if test="declaredDataType != null">
        DECLARED_DATA_TYPE,
      </if>
      <if test="declaredNumericPrecision != null">
        DECLARED_NUMERIC_PRECISION,
      </if>
      <if test="declaredNumericScale != null">
        DECLARED_NUMERIC_SCALE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceCatalog != null">
        #{sequenceCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="sequenceSchema != null">
        #{sequenceSchema,jdbcType=NVARCHAR},
      </if>
      <if test="sequenceName != null">
        #{sequenceName,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=NVARCHAR},
      </if>
      <if test="numericPrecision != null">
        #{numericPrecision,jdbcType=TINYINT},
      </if>
      <if test="numericPrecisionRadix != null">
        #{numericPrecisionRadix,jdbcType=SMALLINT},
      </if>
      <if test="numericScale != null">
        #{numericScale,jdbcType=INTEGER},
      </if>
      <if test="startValue != null">
        #{startValue,jdbcType=OTHER},
      </if>
      <if test="minimumValue != null">
        #{minimumValue,jdbcType=OTHER},
      </if>
      <if test="maximumValue != null">
        #{maximumValue,jdbcType=OTHER},
      </if>
      <if test="increment != null">
        #{increment,jdbcType=OTHER},
      </if>
      <if test="cycleOption != null">
        #{cycleOption,jdbcType=BIT},
      </if>
      <if test="declaredDataType != null">
        #{declaredDataType,jdbcType=NVARCHAR},
      </if>
      <if test="declaredNumericPrecision != null">
        #{declaredNumericPrecision,jdbcType=TINYINT},
      </if>
      <if test="declaredNumericScale != null">
        #{declaredNumericScale,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>