<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ServerEventNotificationsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ServerEventNotifications" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="parent_class" property="parentClass" jdbcType="TINYINT" />
    <result column="parent_class_desc" property="parentClassDesc" jdbcType="NVARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="service_name" property="serviceName" jdbcType="NVARCHAR" />
    <result column="broker_instance" property="brokerInstance" jdbcType="NVARCHAR" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.ServerEventNotifications" extends="BaseResultMap" >
    <result column="creator_sid" property="creatorSid" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    creator_sid
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerEventNotifications" >
    insert into server_event_notifications (name, object_id, parent_class, 
      parent_class_desc, parent_id, create_date, 
      modify_date, service_name, broker_instance, 
      principal_id, creator_sid)
    values (#{name,jdbcType=NVARCHAR}, #{objectId,jdbcType=INTEGER}, #{parentClass,jdbcType=TINYINT}, 
      #{parentClassDesc,jdbcType=NVARCHAR}, #{parentId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{serviceName,jdbcType=NVARCHAR}, #{brokerInstance,jdbcType=NVARCHAR}, 
      #{principalId,jdbcType=INTEGER}, #{creatorSid,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerEventNotifications" >
    insert into server_event_notifications
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="parentClass != null" >
        parent_class,
      </if>
      <if test="parentClassDesc != null" >
        parent_class_desc,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="brokerInstance != null" >
        broker_instance,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="creatorSid != null" >
        creator_sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="parentClass != null" >
        #{parentClass,jdbcType=TINYINT},
      </if>
      <if test="parentClassDesc != null" >
        #{parentClassDesc,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=NVARCHAR},
      </if>
      <if test="brokerInstance != null" >
        #{brokerInstance,jdbcType=NVARCHAR},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="creatorSid != null" >
        #{creatorSid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>