<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ServiceContractMessageUsagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ServiceContractMessageUsages" >
    <result column="service_contract_id" property="serviceContractId" jdbcType="INTEGER" />
    <result column="message_type_id" property="messageTypeId" jdbcType="INTEGER" />
    <result column="is_sent_by_initiator" property="isSentByInitiator" jdbcType="BIT" />
    <result column="is_sent_by_target" property="isSentByTarget" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServiceContractMessageUsages" >
    insert into service_contract_message_usages (service_contract_id, message_type_id, 
      is_sent_by_initiator, is_sent_by_target)
    values (#{serviceContractId,jdbcType=INTEGER}, #{messageTypeId,jdbcType=INTEGER}, 
      #{isSentByInitiator,jdbcType=BIT}, #{isSentByTarget,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServiceContractMessageUsages" >
    insert into service_contract_message_usages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceContractId != null" >
        service_contract_id,
      </if>
      <if test="messageTypeId != null" >
        message_type_id,
      </if>
      <if test="isSentByInitiator != null" >
        is_sent_by_initiator,
      </if>
      <if test="isSentByTarget != null" >
        is_sent_by_target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceContractId != null" >
        #{serviceContractId,jdbcType=INTEGER},
      </if>
      <if test="messageTypeId != null" >
        #{messageTypeId,jdbcType=INTEGER},
      </if>
      <if test="isSentByInitiator != null" >
        #{isSentByInitiator,jdbcType=BIT},
      </if>
      <if test="isSentByTarget != null" >
        #{isSentByTarget,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>