<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ServerAuditSpecificationsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ServerAuditSpecifications" >
    <result column="server_specification_id" property="serverSpecificationId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="audit_guid" property="auditGuid" jdbcType="CHAR" />
    <result column="is_state_enabled" property="isStateEnabled" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerAuditSpecifications" >
    insert into server_audit_specifications (server_specification_id, name, create_date, 
      modify_date, audit_guid, is_state_enabled
      )
    values (#{serverSpecificationId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{auditGuid,jdbcType=CHAR}, #{isStateEnabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerAuditSpecifications" >
    insert into server_audit_specifications
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverSpecificationId != null" >
        server_specification_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="auditGuid != null" >
        audit_guid,
      </if>
      <if test="isStateEnabled != null" >
        is_state_enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverSpecificationId != null" >
        #{serverSpecificationId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditGuid != null" >
        #{auditGuid,jdbcType=CHAR},
      </if>
      <if test="isStateEnabled != null" >
        #{isStateEnabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>