<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ServerAssemblyModulesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ServerAssemblyModules" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="assembly_id" property="assemblyId" jdbcType="INTEGER" />
    <result column="assembly_class" property="assemblyClass" jdbcType="NVARCHAR" />
    <result column="assembly_method" property="assemblyMethod" jdbcType="NVARCHAR" />
    <result column="execute_as_principal_id" property="executeAsPrincipalId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerAssemblyModules" >
    insert into server_assembly_modules (object_id, assembly_id, assembly_class, 
      assembly_method, execute_as_principal_id)
    values (#{objectId,jdbcType=INTEGER}, #{assemblyId,jdbcType=INTEGER}, #{assemblyClass,jdbcType=NVARCHAR}, 
      #{assemblyMethod,jdbcType=NVARCHAR}, #{executeAsPrincipalId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerAssemblyModules" >
    insert into server_assembly_modules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="assemblyId != null" >
        assembly_id,
      </if>
      <if test="assemblyClass != null" >
        assembly_class,
      </if>
      <if test="assemblyMethod != null" >
        assembly_method,
      </if>
      <if test="executeAsPrincipalId != null" >
        execute_as_principal_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="assemblyId != null" >
        #{assemblyId,jdbcType=INTEGER},
      </if>
      <if test="assemblyClass != null" >
        #{assemblyClass,jdbcType=NVARCHAR},
      </if>
      <if test="assemblyMethod != null" >
        #{assemblyMethod,jdbcType=NVARCHAR},
      </if>
      <if test="executeAsPrincipalId != null" >
        #{executeAsPrincipalId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>