<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ServerSqlModulesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ServerSqlModules" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="definition" property="definition" jdbcType="NVARCHAR" />
    <result column="uses_ansi_nulls" property="usesAnsiNulls" jdbcType="BIT" />
    <result column="uses_quoted_identifier" property="usesQuotedIdentifier" jdbcType="BIT" />
    <result column="execute_as_principal_id" property="executeAsPrincipalId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerSqlModules" >
    insert into server_sql_modules (object_id, definition, uses_ansi_nulls, 
      uses_quoted_identifier, execute_as_principal_id)
    values (#{objectId,jdbcType=INTEGER}, #{definition,jdbcType=NVARCHAR}, #{usesAnsiNulls,jdbcType=BIT}, 
      #{usesQuotedIdentifier,jdbcType=BIT}, #{executeAsPrincipalId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ServerSqlModules" >
    insert into server_sql_modules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="definition != null" >
        definition,
      </if>
      <if test="usesAnsiNulls != null" >
        uses_ansi_nulls,
      </if>
      <if test="usesQuotedIdentifier != null" >
        uses_quoted_identifier,
      </if>
      <if test="executeAsPrincipalId != null" >
        execute_as_principal_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=NVARCHAR},
      </if>
      <if test="usesAnsiNulls != null" >
        #{usesAnsiNulls,jdbcType=BIT},
      </if>
      <if test="usesQuotedIdentifier != null" >
        #{usesQuotedIdentifier,jdbcType=BIT},
      </if>
      <if test="executeAsPrincipalId != null" >
        #{executeAsPrincipalId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>