<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SqlDependenciesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SqlDependencies" >
    <result column="class" property="class" jdbcType="TINYINT" />
    <result column="class_desc" property="classDesc" jdbcType="NVARCHAR" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="referenced_major_id" property="referencedMajorId" jdbcType="INTEGER" />
    <result column="referenced_minor_id" property="referencedMinorId" jdbcType="INTEGER" />
    <result column="is_selected" property="isSelected" jdbcType="BIT" />
    <result column="is_updated" property="isUpdated" jdbcType="BIT" />
    <result column="is_select_all" property="isSelectAll" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SqlDependencies" >
    insert into sql_dependencies (class, class_desc, object_id, 
      column_id, referenced_major_id, referenced_minor_id, 
      is_selected, is_updated, is_select_all
      )
    values (#{class,jdbcType=TINYINT}, #{classDesc,jdbcType=NVARCHAR}, #{objectId,jdbcType=INTEGER}, 
      #{columnId,jdbcType=INTEGER}, #{referencedMajorId,jdbcType=INTEGER}, #{referencedMinorId,jdbcType=INTEGER}, 
      #{isSelected,jdbcType=BIT}, #{isUpdated,jdbcType=BIT}, #{isSelectAll,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SqlDependencies" >
    insert into sql_dependencies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        class,
      </if>
      <if test="classDesc != null" >
        class_desc,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="referencedMajorId != null" >
        referenced_major_id,
      </if>
      <if test="referencedMinorId != null" >
        referenced_minor_id,
      </if>
      <if test="isSelected != null" >
        is_selected,
      </if>
      <if test="isUpdated != null" >
        is_updated,
      </if>
      <if test="isSelectAll != null" >
        is_select_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        #{class,jdbcType=TINYINT},
      </if>
      <if test="classDesc != null" >
        #{classDesc,jdbcType=NVARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="referencedMajorId != null" >
        #{referencedMajorId,jdbcType=INTEGER},
      </if>
      <if test="referencedMinorId != null" >
        #{referencedMinorId,jdbcType=INTEGER},
      </if>
      <if test="isSelected != null" >
        #{isSelected,jdbcType=BIT},
      </if>
      <if test="isUpdated != null" >
        #{isUpdated,jdbcType=BIT},
      </if>
      <if test="isSelectAll != null" >
        #{isSelectAll,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>