<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SqlExpressionDependenciesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SqlExpressionDependencies" >
    <result column="referencing_id" property="referencingId" jdbcType="INTEGER" />
    <result column="referencing_minor_id" property="referencingMinorId" jdbcType="INTEGER" />
    <result column="referencing_class" property="referencingClass" jdbcType="TINYINT" />
    <result column="referencing_class_desc" property="referencingClassDesc" jdbcType="NVARCHAR" />
    <result column="is_schema_bound_reference" property="isSchemaBoundReference" jdbcType="BIT" />
    <result column="referenced_class" property="referencedClass" jdbcType="TINYINT" />
    <result column="referenced_class_desc" property="referencedClassDesc" jdbcType="NVARCHAR" />
    <result column="referenced_server_name" property="referencedServerName" jdbcType="NVARCHAR" />
    <result column="referenced_database_name" property="referencedDatabaseName" jdbcType="NVARCHAR" />
    <result column="referenced_schema_name" property="referencedSchemaName" jdbcType="NVARCHAR" />
    <result column="referenced_entity_name" property="referencedEntityName" jdbcType="NVARCHAR" />
    <result column="referenced_id" property="referencedId" jdbcType="INTEGER" />
    <result column="referenced_minor_id" property="referencedMinorId" jdbcType="INTEGER" />
    <result column="is_caller_dependent" property="isCallerDependent" jdbcType="BIT" />
    <result column="is_ambiguous" property="isAmbiguous" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SqlExpressionDependencies" >
    insert into sql_expression_dependencies (referencing_id, referencing_minor_id, 
      referencing_class, referencing_class_desc, 
      is_schema_bound_reference, referenced_class, referenced_class_desc, 
      referenced_server_name, referenced_database_name, 
      referenced_schema_name, referenced_entity_name, 
      referenced_id, referenced_minor_id, is_caller_dependent, 
      is_ambiguous)
    values (#{referencingId,jdbcType=INTEGER}, #{referencingMinorId,jdbcType=INTEGER}, 
      #{referencingClass,jdbcType=TINYINT}, #{referencingClassDesc,jdbcType=NVARCHAR}, 
      #{isSchemaBoundReference,jdbcType=BIT}, #{referencedClass,jdbcType=TINYINT}, #{referencedClassDesc,jdbcType=NVARCHAR}, 
      #{referencedServerName,jdbcType=NVARCHAR}, #{referencedDatabaseName,jdbcType=NVARCHAR}, 
      #{referencedSchemaName,jdbcType=NVARCHAR}, #{referencedEntityName,jdbcType=NVARCHAR}, 
      #{referencedId,jdbcType=INTEGER}, #{referencedMinorId,jdbcType=INTEGER}, #{isCallerDependent,jdbcType=BIT}, 
      #{isAmbiguous,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SqlExpressionDependencies" >
    insert into sql_expression_dependencies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="referencingId != null" >
        referencing_id,
      </if>
      <if test="referencingMinorId != null" >
        referencing_minor_id,
      </if>
      <if test="referencingClass != null" >
        referencing_class,
      </if>
      <if test="referencingClassDesc != null" >
        referencing_class_desc,
      </if>
      <if test="isSchemaBoundReference != null" >
        is_schema_bound_reference,
      </if>
      <if test="referencedClass != null" >
        referenced_class,
      </if>
      <if test="referencedClassDesc != null" >
        referenced_class_desc,
      </if>
      <if test="referencedServerName != null" >
        referenced_server_name,
      </if>
      <if test="referencedDatabaseName != null" >
        referenced_database_name,
      </if>
      <if test="referencedSchemaName != null" >
        referenced_schema_name,
      </if>
      <if test="referencedEntityName != null" >
        referenced_entity_name,
      </if>
      <if test="referencedId != null" >
        referenced_id,
      </if>
      <if test="referencedMinorId != null" >
        referenced_minor_id,
      </if>
      <if test="isCallerDependent != null" >
        is_caller_dependent,
      </if>
      <if test="isAmbiguous != null" >
        is_ambiguous,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="referencingId != null" >
        #{referencingId,jdbcType=INTEGER},
      </if>
      <if test="referencingMinorId != null" >
        #{referencingMinorId,jdbcType=INTEGER},
      </if>
      <if test="referencingClass != null" >
        #{referencingClass,jdbcType=TINYINT},
      </if>
      <if test="referencingClassDesc != null" >
        #{referencingClassDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isSchemaBoundReference != null" >
        #{isSchemaBoundReference,jdbcType=BIT},
      </if>
      <if test="referencedClass != null" >
        #{referencedClass,jdbcType=TINYINT},
      </if>
      <if test="referencedClassDesc != null" >
        #{referencedClassDesc,jdbcType=NVARCHAR},
      </if>
      <if test="referencedServerName != null" >
        #{referencedServerName,jdbcType=NVARCHAR},
      </if>
      <if test="referencedDatabaseName != null" >
        #{referencedDatabaseName,jdbcType=NVARCHAR},
      </if>
      <if test="referencedSchemaName != null" >
        #{referencedSchemaName,jdbcType=NVARCHAR},
      </if>
      <if test="referencedEntityName != null" >
        #{referencedEntityName,jdbcType=NVARCHAR},
      </if>
      <if test="referencedId != null" >
        #{referencedId,jdbcType=INTEGER},
      </if>
      <if test="referencedMinorId != null" >
        #{referencedMinorId,jdbcType=INTEGER},
      </if>
      <if test="isCallerDependent != null" >
        #{isCallerDependent,jdbcType=BIT},
      </if>
      <if test="isAmbiguous != null" >
        #{isAmbiguous,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>