<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.StatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Stats" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="stats_id" property="statsId" jdbcType="INTEGER" />
    <result column="auto_created" property="autoCreated" jdbcType="BIT" />
    <result column="user_created" property="userCreated" jdbcType="BIT" />
    <result column="no_recompute" property="noRecompute" jdbcType="BIT" />
    <result column="has_filter" property="hasFilter" jdbcType="BIT" />
    <result column="filter_definition" property="filterDefinition" jdbcType="NVARCHAR" />
    <result column="is_temporary" property="isTemporary" jdbcType="BIT" />
    <result column="is_incremental" property="isIncremental" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Stats" >
    insert into stats (object_id, name, stats_id, 
      auto_created, user_created, no_recompute, 
      has_filter, filter_definition, is_temporary, 
      is_incremental)
    values (#{objectId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{statsId,jdbcType=INTEGER}, 
      #{autoCreated,jdbcType=BIT}, #{userCreated,jdbcType=BIT}, #{noRecompute,jdbcType=BIT}, 
      #{hasFilter,jdbcType=BIT}, #{filterDefinition,jdbcType=NVARCHAR}, #{isTemporary,jdbcType=BIT}, 
      #{isIncremental,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Stats" >
    insert into stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="statsId != null" >
        stats_id,
      </if>
      <if test="autoCreated != null" >
        auto_created,
      </if>
      <if test="userCreated != null" >
        user_created,
      </if>
      <if test="noRecompute != null" >
        no_recompute,
      </if>
      <if test="hasFilter != null" >
        has_filter,
      </if>
      <if test="filterDefinition != null" >
        filter_definition,
      </if>
      <if test="isTemporary != null" >
        is_temporary,
      </if>
      <if test="isIncremental != null" >
        is_incremental,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="statsId != null" >
        #{statsId,jdbcType=INTEGER},
      </if>
      <if test="autoCreated != null" >
        #{autoCreated,jdbcType=BIT},
      </if>
      <if test="userCreated != null" >
        #{userCreated,jdbcType=BIT},
      </if>
      <if test="noRecompute != null" >
        #{noRecompute,jdbcType=BIT},
      </if>
      <if test="hasFilter != null" >
        #{hasFilter,jdbcType=BIT},
      </if>
      <if test="filterDefinition != null" >
        #{filterDefinition,jdbcType=NVARCHAR},
      </if>
      <if test="isTemporary != null" >
        #{isTemporary,jdbcType=BIT},
      </if>
      <if test="isIncremental != null" >
        #{isIncremental,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>