<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.StudentWorkDetailMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.StudentWorkDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="work_path" property="workPath" jdbcType="VARCHAR" />
    <result column="use_time" property="useTime" jdbcType="INTEGER" />
    <result column="case_passed_count" property="casePassedCount" jdbcType="INTEGER" />
    <result column="complexity" property="complexity" jdbcType="DECIMAL" />
    <result column="line_of_code" property="lineOfCode" jdbcType="INTEGER" />
    <result column="student_work_id" property="studentWorkId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, submit_time, work_path, use_time, case_passed_count, complexity, line_of_code, 
    student_work_id, created_by, created_on, modified_by, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student_work_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student_work_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.StudentWorkDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_work_detail (id, submit_time, work_path, 
      use_time, case_passed_count, complexity, 
      line_of_code, student_work_id, created_by, 
      created_on, modified_by, modified_on
      )
    values (#{id,jdbcType=INTEGER}, #{submitTime,jdbcType=TIMESTAMP}, #{workPath,jdbcType=VARCHAR}, 
      #{useTime,jdbcType=INTEGER}, #{casePassedCount,jdbcType=INTEGER}, #{complexity,jdbcType=DECIMAL}, 
      #{lineOfCode,jdbcType=INTEGER}, #{studentWorkId,jdbcType=INTEGER}, #{createdBy,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=INTEGER}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.StudentWorkDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_work_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="workPath != null" >
        work_path,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="casePassedCount != null" >
        case_passed_count,
      </if>
      <if test="complexity != null" >
        complexity,
      </if>
      <if test="lineOfCode != null" >
        line_of_code,
      </if>
      <if test="studentWorkId != null" >
        student_work_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workPath != null" >
        #{workPath,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=INTEGER},
      </if>
      <if test="casePassedCount != null" >
        #{casePassedCount,jdbcType=INTEGER},
      </if>
      <if test="complexity != null" >
        #{complexity,jdbcType=DECIMAL},
      </if>
      <if test="lineOfCode != null" >
        #{lineOfCode,jdbcType=INTEGER},
      </if>
      <if test="studentWorkId != null" >
        #{studentWorkId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.StudentWorkDetail" >
    update student_work_detail
    <set >
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workPath != null" >
        work_path = #{workPath,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=INTEGER},
      </if>
      <if test="casePassedCount != null" >
        case_passed_count = #{casePassedCount,jdbcType=INTEGER},
      </if>
      <if test="complexity != null" >
        complexity = #{complexity,jdbcType=DECIMAL},
      </if>
      <if test="lineOfCode != null" >
        line_of_code = #{lineOfCode,jdbcType=INTEGER},
      </if>
      <if test="studentWorkId != null" >
        student_work_id = #{studentWorkId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.StudentWorkDetail" >
    update student_work_detail
    set submit_time = #{submitTime,jdbcType=TIMESTAMP},
      work_path = #{workPath,jdbcType=VARCHAR},
      use_time = #{useTime,jdbcType=INTEGER},
      case_passed_count = #{casePassedCount,jdbcType=INTEGER},
      complexity = #{complexity,jdbcType=DECIMAL},
      line_of_code = #{lineOfCode,jdbcType=INTEGER},
      student_work_id = #{studentWorkId,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
