<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysallocunitsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysallocunits" >
    <result column="auid" property="auid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="ownerid" property="ownerid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fgid" property="fgid" jdbcType="SMALLINT" />
    <result column="pcused" property="pcused" jdbcType="BIGINT" />
    <result column="pcdata" property="pcdata" jdbcType="BIGINT" />
    <result column="pcreserved" property="pcreserved" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysallocunitsWithBLOBs" extends="BaseResultMap" >
    <result column="pgfirst" property="pgfirst" jdbcType="BINARY" />
    <result column="pgroot" property="pgroot" jdbcType="BINARY" />
    <result column="pgfirstiam" property="pgfirstiam" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    pgfirst, pgroot, pgfirstiam
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysallocunitsWithBLOBs" >
    insert into sysallocunits (auid, type, ownerid, 
      status, fgid, pcused, 
      pcdata, pcreserved, pgfirst, 
      pgroot, pgfirstiam)
    values (#{auid,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{ownerid,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{fgid,jdbcType=SMALLINT}, #{pcused,jdbcType=BIGINT}, 
      #{pcdata,jdbcType=BIGINT}, #{pcreserved,jdbcType=BIGINT}, #{pgfirst,jdbcType=BINARY}, 
      #{pgroot,jdbcType=BINARY}, #{pgfirstiam,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysallocunitsWithBLOBs" >
    insert into sysallocunits
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auid != null" >
        auid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ownerid != null" >
        ownerid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="fgid != null" >
        fgid,
      </if>
      <if test="pcused != null" >
        pcused,
      </if>
      <if test="pcdata != null" >
        pcdata,
      </if>
      <if test="pcreserved != null" >
        pcreserved,
      </if>
      <if test="pgfirst != null" >
        pgfirst,
      </if>
      <if test="pgroot != null" >
        pgroot,
      </if>
      <if test="pgfirstiam != null" >
        pgfirstiam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auid != null" >
        #{auid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="fgid != null" >
        #{fgid,jdbcType=SMALLINT},
      </if>
      <if test="pcused != null" >
        #{pcused,jdbcType=BIGINT},
      </if>
      <if test="pcdata != null" >
        #{pcdata,jdbcType=BIGINT},
      </if>
      <if test="pcreserved != null" >
        #{pcreserved,jdbcType=BIGINT},
      </if>
      <if test="pgfirst != null" >
        #{pgfirst,jdbcType=BINARY},
      </if>
      <if test="pgroot != null" >
        #{pgroot,jdbcType=BINARY},
      </if>
      <if test="pgfirstiam != null" >
        #{pgfirstiam,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>