<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysasymkeysMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysasymkeys" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="bitlength" property="bitlength" jdbcType="INTEGER" />
    <result column="algorithm" property="algorithm" jdbcType="CHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="encrtype" property="encrtype" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysasymkeysWithBLOBs" extends="BaseResultMap" >
    <result column="thumbprint" property="thumbprint" jdbcType="VARBINARY" />
    <result column="pkey" property="pkey" jdbcType="VARBINARY" />
    <result column="pukey" property="pukey" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    thumbprint, pkey, pukey
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysasymkeysWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysasymkeys (id, name, bitlength, 
      algorithm, modified, encrtype, 
      thumbprint, pkey, pukey
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{bitlength,jdbcType=INTEGER}, 
      #{algorithm,jdbcType=CHAR}, #{modified,jdbcType=TIMESTAMP}, #{encrtype,jdbcType=CHAR}, 
      #{thumbprint,jdbcType=VARBINARY}, #{pkey,jdbcType=VARBINARY}, #{pukey,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysasymkeysWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysasymkeys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="bitlength != null" >
        bitlength,
      </if>
      <if test="algorithm != null" >
        algorithm,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="encrtype != null" >
        encrtype,
      </if>
      <if test="thumbprint != null" >
        thumbprint,
      </if>
      <if test="pkey != null" >
        pkey,
      </if>
      <if test="pukey != null" >
        pukey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="bitlength != null" >
        #{bitlength,jdbcType=INTEGER},
      </if>
      <if test="algorithm != null" >
        #{algorithm,jdbcType=CHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="encrtype != null" >
        #{encrtype,jdbcType=CHAR},
      </if>
      <if test="thumbprint != null" >
        #{thumbprint,jdbcType=VARBINARY},
      </if>
      <if test="pkey != null" >
        #{pkey,jdbcType=VARBINARY},
      </if>
      <if test="pukey != null" >
        #{pukey,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>