<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysbinsubobjsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysbinsubobjs" >
    <result column="class" property="class" jdbcType="TINYINT" />
    <result column="idmajor" property="idmajor" jdbcType="INTEGER" />
    <result column="subid" property="subid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="intprop" property="intprop" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysbinsubobjs" >
    insert into sysbinsubobjs (class, idmajor, subid, 
      name, status, intprop
      )
    values (#{class,jdbcType=TINYINT}, #{idmajor,jdbcType=INTEGER}, #{subid,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{status,jdbcType=INTEGER}, #{intprop,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysbinsubobjs" >
    insert into sysbinsubobjs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        class,
      </if>
      <if test="idmajor != null" >
        idmajor,
      </if>
      <if test="subid != null" >
        subid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="intprop != null" >
        intprop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        #{class,jdbcType=TINYINT},
      </if>
      <if test="idmajor != null" >
        #{idmajor,jdbcType=INTEGER},
      </if>
      <if test="subid != null" >
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intprop != null" >
        #{intprop,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>