<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscompfragmentsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscompfragments" >
    <result column="cprelid" property="cprelid" jdbcType="INTEGER" />
    <result column="fragid" property="fragid" jdbcType="INTEGER" />
    <result column="fragobjid" property="fragobjid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="datasize" property="datasize" jdbcType="BIGINT" />
    <result column="itemcnt" property="itemcnt" jdbcType="BIGINT" />
    <result column="rowcnt" property="rowcnt" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscompfragments" extends="BaseResultMap" >
    <result column="ts" property="ts" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    ts
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscompfragments" >
    insert into syscompfragments (cprelid, fragid, fragobjid, 
      status, datasize, itemcnt, 
      rowcnt, ts)
    values (#{cprelid,jdbcType=INTEGER}, #{fragid,jdbcType=INTEGER}, #{fragobjid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{datasize,jdbcType=BIGINT}, #{itemcnt,jdbcType=BIGINT}, 
      #{rowcnt,jdbcType=BIGINT}, #{ts,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscompfragments" >
    insert into syscompfragments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cprelid != null" >
        cprelid,
      </if>
      <if test="fragid != null" >
        fragid,
      </if>
      <if test="fragobjid != null" >
        fragobjid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="datasize != null" >
        datasize,
      </if>
      <if test="itemcnt != null" >
        itemcnt,
      </if>
      <if test="rowcnt != null" >
        rowcnt,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cprelid != null" >
        #{cprelid,jdbcType=INTEGER},
      </if>
      <if test="fragid != null" >
        #{fragid,jdbcType=INTEGER},
      </if>
      <if test="fragobjid != null" >
        #{fragobjid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="datasize != null" >
        #{datasize,jdbcType=BIGINT},
      </if>
      <if test="itemcnt != null" >
        #{itemcnt,jdbcType=BIGINT},
      </if>
      <if test="rowcnt != null" >
        #{rowcnt,jdbcType=BIGINT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>