<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscsdictionariesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscsdictionaries" >
    <result column="hobt_id" property="hobtId" jdbcType="BIGINT" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="dictionary_id" property="dictionaryId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="flags" property="flags" jdbcType="BIGINT" />
    <result column="last_id" property="lastId" jdbcType="INTEGER" />
    <result column="entry_count" property="entryCount" jdbcType="BIGINT" />
    <result column="on_disk_size" property="onDiskSize" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscsdictionaries" extends="BaseResultMap" >
    <result column="data_ptr" property="dataPtr" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    data_ptr
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscsdictionaries" >
    insert into syscsdictionaries (hobt_id, column_id, dictionary_id, 
      version, type, flags, 
      last_id, entry_count, on_disk_size, 
      data_ptr)
    values (#{hobtId,jdbcType=BIGINT}, #{columnId,jdbcType=INTEGER}, #{dictionaryId,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{flags,jdbcType=BIGINT}, 
      #{lastId,jdbcType=INTEGER}, #{entryCount,jdbcType=BIGINT}, #{onDiskSize,jdbcType=BIGINT}, 
      #{dataPtr,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscsdictionaries" >
    insert into syscsdictionaries
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hobtId != null" >
        hobt_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="dictionaryId != null" >
        dictionary_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="flags != null" >
        flags,
      </if>
      <if test="lastId != null" >
        last_id,
      </if>
      <if test="entryCount != null" >
        entry_count,
      </if>
      <if test="onDiskSize != null" >
        on_disk_size,
      </if>
      <if test="dataPtr != null" >
        data_ptr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hobtId != null" >
        #{hobtId,jdbcType=BIGINT},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="dictionaryId != null" >
        #{dictionaryId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="flags != null" >
        #{flags,jdbcType=BIGINT},
      </if>
      <if test="lastId != null" >
        #{lastId,jdbcType=INTEGER},
      </if>
      <if test="entryCount != null" >
        #{entryCount,jdbcType=BIGINT},
      </if>
      <if test="onDiskSize != null" >
        #{onDiskSize,jdbcType=BIGINT},
      </if>
      <if test="dataPtr != null" >
        #{dataPtr,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>