<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscursorcolumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscursorcolumns" >
    <result column="cursor_handle" property="cursorHandle" jdbcType="INTEGER" />
    <result column="column_name" property="columnName" jdbcType="NVARCHAR" />
    <result column="ordinal_position" property="ordinalPosition" jdbcType="INTEGER" />
    <result column="column_characteristics_flags" property="columnCharacteristicsFlags" jdbcType="INTEGER" />
    <result column="column_size" property="columnSize" jdbcType="INTEGER" />
    <result column="data_type_sql" property="dataTypeSql" jdbcType="INTEGER" />
    <result column="column_precision" property="columnPrecision" jdbcType="TINYINT" />
    <result column="column_scale" property="columnScale" jdbcType="TINYINT" />
    <result column="order_position" property="orderPosition" jdbcType="INTEGER" />
    <result column="order_direction" property="orderDirection" jdbcType="NVARCHAR" />
    <result column="hidden_column" property="hiddenColumn" jdbcType="SMALLINT" />
    <result column="columnid" property="columnid" jdbcType="INTEGER" />
    <result column="objectid" property="objectid" jdbcType="INTEGER" />
    <result column="dbid" property="dbid" jdbcType="INTEGER" />
    <result column="dbname" property="dbname" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscursorcolumns" >
    insert into syscursorcolumns (cursor_handle, column_name, ordinal_position, 
      column_characteristics_flags, column_size, 
      data_type_sql, column_precision, column_scale, 
      order_position, order_direction, hidden_column, 
      columnid, objectid, dbid, 
      dbname)
    values (#{cursorHandle,jdbcType=INTEGER}, #{columnName,jdbcType=NVARCHAR}, #{ordinalPosition,jdbcType=INTEGER}, 
      #{columnCharacteristicsFlags,jdbcType=INTEGER}, #{columnSize,jdbcType=INTEGER}, 
      #{dataTypeSql,jdbcType=INTEGER}, #{columnPrecision,jdbcType=TINYINT}, #{columnScale,jdbcType=TINYINT}, 
      #{orderPosition,jdbcType=INTEGER}, #{orderDirection,jdbcType=NVARCHAR}, #{hiddenColumn,jdbcType=SMALLINT}, 
      #{columnid,jdbcType=INTEGER}, #{objectid,jdbcType=INTEGER}, #{dbid,jdbcType=INTEGER}, 
      #{dbname,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscursorcolumns" >
    insert into syscursorcolumns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cursorHandle != null" >
        cursor_handle,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="ordinalPosition != null" >
        ordinal_position,
      </if>
      <if test="columnCharacteristicsFlags != null" >
        column_characteristics_flags,
      </if>
      <if test="columnSize != null" >
        column_size,
      </if>
      <if test="dataTypeSql != null" >
        data_type_sql,
      </if>
      <if test="columnPrecision != null" >
        column_precision,
      </if>
      <if test="columnScale != null" >
        column_scale,
      </if>
      <if test="orderPosition != null" >
        order_position,
      </if>
      <if test="orderDirection != null" >
        order_direction,
      </if>
      <if test="hiddenColumn != null" >
        hidden_column,
      </if>
      <if test="columnid != null" >
        columnid,
      </if>
      <if test="objectid != null" >
        objectid,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="dbname != null" >
        dbname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cursorHandle != null" >
        #{cursorHandle,jdbcType=INTEGER},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=NVARCHAR},
      </if>
      <if test="ordinalPosition != null" >
        #{ordinalPosition,jdbcType=INTEGER},
      </if>
      <if test="columnCharacteristicsFlags != null" >
        #{columnCharacteristicsFlags,jdbcType=INTEGER},
      </if>
      <if test="columnSize != null" >
        #{columnSize,jdbcType=INTEGER},
      </if>
      <if test="dataTypeSql != null" >
        #{dataTypeSql,jdbcType=INTEGER},
      </if>
      <if test="columnPrecision != null" >
        #{columnPrecision,jdbcType=TINYINT},
      </if>
      <if test="columnScale != null" >
        #{columnScale,jdbcType=TINYINT},
      </if>
      <if test="orderPosition != null" >
        #{orderPosition,jdbcType=INTEGER},
      </if>
      <if test="orderDirection != null" >
        #{orderDirection,jdbcType=NVARCHAR},
      </if>
      <if test="hiddenColumn != null" >
        #{hiddenColumn,jdbcType=SMALLINT},
      </if>
      <if test="columnid != null" >
        #{columnid,jdbcType=INTEGER},
      </if>
      <if test="objectid != null" >
        #{objectid,jdbcType=INTEGER},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=INTEGER},
      </if>
      <if test="dbname != null" >
        #{dbname,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>