<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscolparsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscolpars" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="SMALLINT" />
    <result column="colid" property="colid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="xtype" property="xtype" jdbcType="TINYINT" />
    <result column="utype" property="utype" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="prec" property="prec" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collationid" property="collationid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="maxinrow" property="maxinrow" jdbcType="SMALLINT" />
    <result column="xmlns" property="xmlns" jdbcType="INTEGER" />
    <result column="dflt" property="dflt" jdbcType="INTEGER" />
    <result column="chk" property="chk" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscolpars" extends="BaseResultMap" >
    <result column="idtval" property="idtval" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    idtval
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscolpars" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscolpars (id, number, colid, 
      name, xtype, utype, 
      length, prec, scale, 
      collationid, status, maxinrow, 
      xmlns, dflt, chk, idtval
      )
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=SMALLINT}, #{colid,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{xtype,jdbcType=TINYINT}, #{utype,jdbcType=INTEGER}, 
      #{length,jdbcType=SMALLINT}, #{prec,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, 
      #{collationid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{maxinrow,jdbcType=SMALLINT}, 
      #{xmlns,jdbcType=INTEGER}, #{dflt,jdbcType=INTEGER}, #{chk,jdbcType=INTEGER}, #{idtval,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscolpars" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscolpars
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="number != null" >
        number,
      </if>
      <if test="colid != null" >
        colid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="xtype != null" >
        xtype,
      </if>
      <if test="utype != null" >
        utype,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="prec != null" >
        prec,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationid != null" >
        collationid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="maxinrow != null" >
        maxinrow,
      </if>
      <if test="xmlns != null" >
        xmlns,
      </if>
      <if test="dflt != null" >
        dflt,
      </if>
      <if test="chk != null" >
        chk,
      </if>
      <if test="idtval != null" >
        idtval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="number != null" >
        #{number,jdbcType=SMALLINT},
      </if>
      <if test="colid != null" >
        #{colid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="xtype != null" >
        #{xtype,jdbcType=TINYINT},
      </if>
      <if test="utype != null" >
        #{utype,jdbcType=INTEGER},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="prec != null" >
        #{prec,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationid != null" >
        #{collationid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="maxinrow != null" >
        #{maxinrow,jdbcType=SMALLINT},
      </if>
      <if test="xmlns != null" >
        #{xmlns,jdbcType=INTEGER},
      </if>
      <if test="dflt != null" >
        #{dflt,jdbcType=INTEGER},
      </if>
      <if test="chk != null" >
        #{chk,jdbcType=INTEGER},
      </if>
      <if test="idtval != null" >
        #{idtval,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>