<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscolumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscolumns" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="xtype" property="xtype" jdbcType="TINYINT" />
    <result column="typestat" property="typestat" jdbcType="TINYINT" />
    <result column="xusertype" property="xusertype" jdbcType="SMALLINT" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="xprec" property="xprec" jdbcType="TINYINT" />
    <result column="xscale" property="xscale" jdbcType="TINYINT" />
    <result column="colid" property="colid" jdbcType="SMALLINT" />
    <result column="xoffset" property="xoffset" jdbcType="SMALLINT" />
    <result column="bitpos" property="bitpos" jdbcType="TINYINT" />
    <result column="reserved" property="reserved" jdbcType="TINYINT" />
    <result column="colstat" property="colstat" jdbcType="SMALLINT" />
    <result column="cdefault" property="cdefault" jdbcType="INTEGER" />
    <result column="domain" property="domain" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="SMALLINT" />
    <result column="colorder" property="colorder" jdbcType="SMALLINT" />
    <result column="offset" property="offset" jdbcType="SMALLINT" />
    <result column="collationid" property="collationid" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="usertype" property="usertype" jdbcType="SMALLINT" />
    <result column="printfmt" property="printfmt" jdbcType="VARCHAR" />
    <result column="prec" property="prec" jdbcType="SMALLINT" />
    <result column="scale" property="scale" jdbcType="INTEGER" />
    <result column="iscomputed" property="iscomputed" jdbcType="INTEGER" />
    <result column="isoutparam" property="isoutparam" jdbcType="INTEGER" />
    <result column="isnullable" property="isnullable" jdbcType="INTEGER" />
    <result column="collation" property="collation" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SyscolumnsWithBLOBs" extends="BaseResultMap" >
    <result column="autoval" property="autoval" jdbcType="VARBINARY" />
    <result column="tdscollation" property="tdscollation" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    autoval, tdscollation
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyscolumnsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscolumns (name, id, xtype, 
      typestat, xusertype, length, 
      xprec, xscale, colid, 
      xoffset, bitpos, reserved, 
      colstat, cdefault, domain, 
      number, colorder, offset, 
      collationid, language, status, 
      type, usertype, printfmt, 
      prec, scale, iscomputed, 
      isoutparam, isnullable, collation, 
      autoval, tdscollation)
    values (#{name,jdbcType=NVARCHAR}, #{id,jdbcType=INTEGER}, #{xtype,jdbcType=TINYINT}, 
      #{typestat,jdbcType=TINYINT}, #{xusertype,jdbcType=SMALLINT}, #{length,jdbcType=SMALLINT}, 
      #{xprec,jdbcType=TINYINT}, #{xscale,jdbcType=TINYINT}, #{colid,jdbcType=SMALLINT}, 
      #{xoffset,jdbcType=SMALLINT}, #{bitpos,jdbcType=TINYINT}, #{reserved,jdbcType=TINYINT}, 
      #{colstat,jdbcType=SMALLINT}, #{cdefault,jdbcType=INTEGER}, #{domain,jdbcType=INTEGER}, 
      #{number,jdbcType=SMALLINT}, #{colorder,jdbcType=SMALLINT}, #{offset,jdbcType=SMALLINT}, 
      #{collationid,jdbcType=INTEGER}, #{language,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{usertype,jdbcType=SMALLINT}, #{printfmt,jdbcType=VARCHAR}, 
      #{prec,jdbcType=SMALLINT}, #{scale,jdbcType=INTEGER}, #{iscomputed,jdbcType=INTEGER}, 
      #{isoutparam,jdbcType=INTEGER}, #{isnullable,jdbcType=INTEGER}, #{collation,jdbcType=NVARCHAR}, 
      #{autoval,jdbcType=VARBINARY}, #{tdscollation,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyscolumnsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscolumns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      id,
      <if test="xtype != null" >
        xtype,
      </if>
      <if test="typestat != null" >
        typestat,
      </if>
      <if test="xusertype != null" >
        xusertype,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="xprec != null" >
        xprec,
      </if>
      <if test="xscale != null" >
        xscale,
      </if>
      <if test="colid != null" >
        colid,
      </if>
      <if test="xoffset != null" >
        xoffset,
      </if>
      <if test="bitpos != null" >
        bitpos,
      </if>
      <if test="reserved != null" >
        reserved,
      </if>
      <if test="colstat != null" >
        colstat,
      </if>
      <if test="cdefault != null" >
        cdefault,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="colorder != null" >
        colorder,
      </if>
      <if test="offset != null" >
        offset,
      </if>
      <if test="collationid != null" >
        collationid,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="usertype != null" >
        usertype,
      </if>
      <if test="printfmt != null" >
        printfmt,
      </if>
      <if test="prec != null" >
        prec,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="iscomputed != null" >
        iscomputed,
      </if>
      <if test="isoutparam != null" >
        isoutparam,
      </if>
      <if test="isnullable != null" >
        isnullable,
      </if>
      <if test="collation != null" >
        collation,
      </if>
      <if test="autoval != null" >
        autoval,
      </if>
      <if test="tdscollation != null" >
        tdscollation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      #{id,jdbcType=INTEGER},
      <if test="xtype != null" >
        #{xtype,jdbcType=TINYINT},
      </if>
      <if test="typestat != null" >
        #{typestat,jdbcType=TINYINT},
      </if>
      <if test="xusertype != null" >
        #{xusertype,jdbcType=SMALLINT},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="xprec != null" >
        #{xprec,jdbcType=TINYINT},
      </if>
      <if test="xscale != null" >
        #{xscale,jdbcType=TINYINT},
      </if>
      <if test="colid != null" >
        #{colid,jdbcType=SMALLINT},
      </if>
      <if test="xoffset != null" >
        #{xoffset,jdbcType=SMALLINT},
      </if>
      <if test="bitpos != null" >
        #{bitpos,jdbcType=TINYINT},
      </if>
      <if test="reserved != null" >
        #{reserved,jdbcType=TINYINT},
      </if>
      <if test="colstat != null" >
        #{colstat,jdbcType=SMALLINT},
      </if>
      <if test="cdefault != null" >
        #{cdefault,jdbcType=INTEGER},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=SMALLINT},
      </if>
      <if test="colorder != null" >
        #{colorder,jdbcType=SMALLINT},
      </if>
      <if test="offset != null" >
        #{offset,jdbcType=SMALLINT},
      </if>
      <if test="collationid != null" >
        #{collationid,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=SMALLINT},
      </if>
      <if test="printfmt != null" >
        #{printfmt,jdbcType=VARCHAR},
      </if>
      <if test="prec != null" >
        #{prec,jdbcType=SMALLINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="iscomputed != null" >
        #{iscomputed,jdbcType=INTEGER},
      </if>
      <if test="isoutparam != null" >
        #{isoutparam,jdbcType=INTEGER},
      </if>
      <if test="isnullable != null" >
        #{isnullable,jdbcType=INTEGER},
      </if>
      <if test="collation != null" >
        #{collation,jdbcType=NVARCHAR},
      </if>
      <if test="autoval != null" >
        #{autoval,jdbcType=VARBINARY},
      </if>
      <if test="tdscollation != null" >
        #{tdscollation,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>