<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscharsetsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscharsets" >
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="id" property="id" jdbcType="TINYINT" />
    <result column="csid" property="csid" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SyscharsetsWithBLOBs" extends="BaseResultMap" >
    <result column="binarydefinition" property="binarydefinition" jdbcType="VARBINARY" />
    <result column="definition" property="definition" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    binarydefinition, definition
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyscharsetsWithBLOBs" >
    <selectKey resultType="java.lang.Byte" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscharsets (type, id, csid, 
      status, name, description, 
      binarydefinition, definition)
    values (#{type,jdbcType=SMALLINT}, #{id,jdbcType=TINYINT}, #{csid,jdbcType=TINYINT}, 
      #{status,jdbcType=SMALLINT}, #{name,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, 
      #{binarydefinition,jdbcType=VARBINARY}, #{definition,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyscharsetsWithBLOBs" >
    <selectKey resultType="java.lang.Byte" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syscharsets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      id,
      <if test="csid != null" >
        csid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="binarydefinition != null" >
        binarydefinition,
      </if>
      <if test="definition != null" >
        definition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      #{id,jdbcType=TINYINT},
      <if test="csid != null" >
        #{csid,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="binarydefinition != null" >
        #{binarydefinition,jdbcType=VARBINARY},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
</mapper>