<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyscacheobjectsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syscacheobjects" >
    <result column="bucketid" property="bucketid" jdbcType="INTEGER" />
    <result column="cacheobjtype" property="cacheobjtype" jdbcType="NVARCHAR" />
    <result column="objtype" property="objtype" jdbcType="NVARCHAR" />
    <result column="objid" property="objid" jdbcType="INTEGER" />
    <result column="dbid" property="dbid" jdbcType="SMALLINT" />
    <result column="dbidexec" property="dbidexec" jdbcType="SMALLINT" />
    <result column="uid" property="uid" jdbcType="SMALLINT" />
    <result column="refcounts" property="refcounts" jdbcType="INTEGER" />
    <result column="usecounts" property="usecounts" jdbcType="INTEGER" />
    <result column="pagesused" property="pagesused" jdbcType="INTEGER" />
    <result column="setopts" property="setopts" jdbcType="INTEGER" />
    <result column="langid" property="langid" jdbcType="SMALLINT" />
    <result column="dateformat" property="dateformat" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lasttime" property="lasttime" jdbcType="BIGINT" />
    <result column="maxexectime" property="maxexectime" jdbcType="BIGINT" />
    <result column="avgexectime" property="avgexectime" jdbcType="BIGINT" />
    <result column="lastreads" property="lastreads" jdbcType="BIGINT" />
    <result column="lastwrites" property="lastwrites" jdbcType="BIGINT" />
    <result column="sqlbytes" property="sqlbytes" jdbcType="INTEGER" />
    <result column="sql" property="sql" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscacheobjects" >
    insert into syscacheobjects (bucketid, cacheobjtype, objtype, 
      objid, dbid, dbidexec, 
      uid, refcounts, usecounts, 
      pagesused, setopts, langid, 
      dateformat, status, lasttime, 
      maxexectime, avgexectime, lastreads, 
      lastwrites, sqlbytes, sql
      )
    values (#{bucketid,jdbcType=INTEGER}, #{cacheobjtype,jdbcType=NVARCHAR}, #{objtype,jdbcType=NVARCHAR}, 
      #{objid,jdbcType=INTEGER}, #{dbid,jdbcType=SMALLINT}, #{dbidexec,jdbcType=SMALLINT}, 
      #{uid,jdbcType=SMALLINT}, #{refcounts,jdbcType=INTEGER}, #{usecounts,jdbcType=INTEGER}, 
      #{pagesused,jdbcType=INTEGER}, #{setopts,jdbcType=INTEGER}, #{langid,jdbcType=SMALLINT}, 
      #{dateformat,jdbcType=SMALLINT}, #{status,jdbcType=INTEGER}, #{lasttime,jdbcType=BIGINT}, 
      #{maxexectime,jdbcType=BIGINT}, #{avgexectime,jdbcType=BIGINT}, #{lastreads,jdbcType=BIGINT}, 
      #{lastwrites,jdbcType=BIGINT}, #{sqlbytes,jdbcType=INTEGER}, #{sql,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Syscacheobjects" >
    insert into syscacheobjects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bucketid != null" >
        bucketid,
      </if>
      <if test="cacheobjtype != null" >
        cacheobjtype,
      </if>
      <if test="objtype != null" >
        objtype,
      </if>
      <if test="objid != null" >
        objid,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="dbidexec != null" >
        dbidexec,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="refcounts != null" >
        refcounts,
      </if>
      <if test="usecounts != null" >
        usecounts,
      </if>
      <if test="pagesused != null" >
        pagesused,
      </if>
      <if test="setopts != null" >
        setopts,
      </if>
      <if test="langid != null" >
        langid,
      </if>
      <if test="dateformat != null" >
        dateformat,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="maxexectime != null" >
        maxexectime,
      </if>
      <if test="avgexectime != null" >
        avgexectime,
      </if>
      <if test="lastreads != null" >
        lastreads,
      </if>
      <if test="lastwrites != null" >
        lastwrites,
      </if>
      <if test="sqlbytes != null" >
        sqlbytes,
      </if>
      <if test="sql != null" >
        sql,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bucketid != null" >
        #{bucketid,jdbcType=INTEGER},
      </if>
      <if test="cacheobjtype != null" >
        #{cacheobjtype,jdbcType=NVARCHAR},
      </if>
      <if test="objtype != null" >
        #{objtype,jdbcType=NVARCHAR},
      </if>
      <if test="objid != null" >
        #{objid,jdbcType=INTEGER},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="dbidexec != null" >
        #{dbidexec,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=SMALLINT},
      </if>
      <if test="refcounts != null" >
        #{refcounts,jdbcType=INTEGER},
      </if>
      <if test="usecounts != null" >
        #{usecounts,jdbcType=INTEGER},
      </if>
      <if test="pagesused != null" >
        #{pagesused,jdbcType=INTEGER},
      </if>
      <if test="setopts != null" >
        #{setopts,jdbcType=INTEGER},
      </if>
      <if test="langid != null" >
        #{langid,jdbcType=SMALLINT},
      </if>
      <if test="dateformat != null" >
        #{dateformat,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=BIGINT},
      </if>
      <if test="maxexectime != null" >
        #{maxexectime,jdbcType=BIGINT},
      </if>
      <if test="avgexectime != null" >
        #{avgexectime,jdbcType=BIGINT},
      </if>
      <if test="lastreads != null" >
        #{lastreads,jdbcType=BIGINT},
      </if>
      <if test="lastwrites != null" >
        #{lastwrites,jdbcType=BIGINT},
      </if>
      <if test="sqlbytes != null" >
        #{sqlbytes,jdbcType=INTEGER},
      </if>
      <if test="sql != null" >
        #{sql,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>