<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysdercvMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdercv" >
    <result column="diagid" property="diagid" jdbcType="CHAR" />
    <result column="initiator" property="initiator" jdbcType="TINYINT" />
    <result column="handle" property="handle" jdbcType="CHAR" />
    <result column="rcvseq" property="rcvseq" jdbcType="BIGINT" />
    <result column="rcvfrag" property="rcvfrag" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="lifetime" property="lifetime" jdbcType="TIMESTAMP" />
    <result column="contract" property="contract" jdbcType="INTEGER" />
    <result column="svcid" property="svcid" jdbcType="INTEGER" />
    <result column="convgroup" property="convgroup" jdbcType="CHAR" />
    <result column="sysseq" property="sysseq" jdbcType="BIGINT" />
    <result column="enddlgseq" property="enddlgseq" jdbcType="BIGINT" />
    <result column="firstoorder" property="firstoorder" jdbcType="BIGINT" />
    <result column="lastoorder" property="lastoorder" jdbcType="BIGINT" />
    <result column="lastoorderfr" property="lastoorderfr" jdbcType="INTEGER" />
    <result column="dlgtimer" property="dlgtimer" jdbcType="TIMESTAMP" />
    <result column="dlgopened" property="dlgopened" jdbcType="TIMESTAMP" />
    <result column="princid" property="princid" jdbcType="INTEGER" />
    <result column="outseskeyid" property="outseskeyid" jdbcType="CHAR" />
    <result column="farprincid" property="farprincid" jdbcType="INTEGER" />
    <result column="inseskeyid" property="inseskeyid" jdbcType="CHAR" />
    <result column="farsvc" property="farsvc" jdbcType="NVARCHAR" />
    <result column="farbrkrinst" property="farbrkrinst" jdbcType="NVARCHAR" />
    <result column="priority" property="priority" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysdercvWithBLOBs" extends="BaseResultMap" >
    <result column="outseskey" property="outseskey" jdbcType="VARBINARY" />
    <result column="inseskey" property="inseskey" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    outseskey, inseskey
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysdercvWithBLOBs" >
    insert into sysdercv (diagid, initiator, handle, 
      rcvseq, rcvfrag, status, 
      state, lifetime, contract, 
      svcid, convgroup, sysseq, 
      enddlgseq, firstoorder, lastoorder, 
      lastoorderfr, dlgtimer, dlgopened, 
      princid, outseskeyid, farprincid, 
      inseskeyid, farsvc, farbrkrinst, 
      priority, outseskey, inseskey
      )
    values (#{diagid,jdbcType=CHAR}, #{initiator,jdbcType=TINYINT}, #{handle,jdbcType=CHAR}, 
      #{rcvseq,jdbcType=BIGINT}, #{rcvfrag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{state,jdbcType=CHAR}, #{lifetime,jdbcType=TIMESTAMP}, #{contract,jdbcType=INTEGER}, 
      #{svcid,jdbcType=INTEGER}, #{convgroup,jdbcType=CHAR}, #{sysseq,jdbcType=BIGINT}, 
      #{enddlgseq,jdbcType=BIGINT}, #{firstoorder,jdbcType=BIGINT}, #{lastoorder,jdbcType=BIGINT}, 
      #{lastoorderfr,jdbcType=INTEGER}, #{dlgtimer,jdbcType=TIMESTAMP}, #{dlgopened,jdbcType=TIMESTAMP}, 
      #{princid,jdbcType=INTEGER}, #{outseskeyid,jdbcType=CHAR}, #{farprincid,jdbcType=INTEGER}, 
      #{inseskeyid,jdbcType=CHAR}, #{farsvc,jdbcType=NVARCHAR}, #{farbrkrinst,jdbcType=NVARCHAR}, 
      #{priority,jdbcType=TINYINT}, #{outseskey,jdbcType=VARBINARY}, #{inseskey,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysdercvWithBLOBs" >
    insert into sysdercv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diagid != null" >
        diagid,
      </if>
      <if test="initiator != null" >
        initiator,
      </if>
      <if test="handle != null" >
        handle,
      </if>
      <if test="rcvseq != null" >
        rcvseq,
      </if>
      <if test="rcvfrag != null" >
        rcvfrag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="lifetime != null" >
        lifetime,
      </if>
      <if test="contract != null" >
        contract,
      </if>
      <if test="svcid != null" >
        svcid,
      </if>
      <if test="convgroup != null" >
        convgroup,
      </if>
      <if test="sysseq != null" >
        sysseq,
      </if>
      <if test="enddlgseq != null" >
        enddlgseq,
      </if>
      <if test="firstoorder != null" >
        firstoorder,
      </if>
      <if test="lastoorder != null" >
        lastoorder,
      </if>
      <if test="lastoorderfr != null" >
        lastoorderfr,
      </if>
      <if test="dlgtimer != null" >
        dlgtimer,
      </if>
      <if test="dlgopened != null" >
        dlgopened,
      </if>
      <if test="princid != null" >
        princid,
      </if>
      <if test="outseskeyid != null" >
        outseskeyid,
      </if>
      <if test="farprincid != null" >
        farprincid,
      </if>
      <if test="inseskeyid != null" >
        inseskeyid,
      </if>
      <if test="farsvc != null" >
        farsvc,
      </if>
      <if test="farbrkrinst != null" >
        farbrkrinst,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="outseskey != null" >
        outseskey,
      </if>
      <if test="inseskey != null" >
        inseskey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diagid != null" >
        #{diagid,jdbcType=CHAR},
      </if>
      <if test="initiator != null" >
        #{initiator,jdbcType=TINYINT},
      </if>
      <if test="handle != null" >
        #{handle,jdbcType=CHAR},
      </if>
      <if test="rcvseq != null" >
        #{rcvseq,jdbcType=BIGINT},
      </if>
      <if test="rcvfrag != null" >
        #{rcvfrag,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="lifetime != null" >
        #{lifetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contract != null" >
        #{contract,jdbcType=INTEGER},
      </if>
      <if test="svcid != null" >
        #{svcid,jdbcType=INTEGER},
      </if>
      <if test="convgroup != null" >
        #{convgroup,jdbcType=CHAR},
      </if>
      <if test="sysseq != null" >
        #{sysseq,jdbcType=BIGINT},
      </if>
      <if test="enddlgseq != null" >
        #{enddlgseq,jdbcType=BIGINT},
      </if>
      <if test="firstoorder != null" >
        #{firstoorder,jdbcType=BIGINT},
      </if>
      <if test="lastoorder != null" >
        #{lastoorder,jdbcType=BIGINT},
      </if>
      <if test="lastoorderfr != null" >
        #{lastoorderfr,jdbcType=INTEGER},
      </if>
      <if test="dlgtimer != null" >
        #{dlgtimer,jdbcType=TIMESTAMP},
      </if>
      <if test="dlgopened != null" >
        #{dlgopened,jdbcType=TIMESTAMP},
      </if>
      <if test="princid != null" >
        #{princid,jdbcType=INTEGER},
      </if>
      <if test="outseskeyid != null" >
        #{outseskeyid,jdbcType=CHAR},
      </if>
      <if test="farprincid != null" >
        #{farprincid,jdbcType=INTEGER},
      </if>
      <if test="inseskeyid != null" >
        #{inseskeyid,jdbcType=CHAR},
      </if>
      <if test="farsvc != null" >
        #{farsvc,jdbcType=NVARCHAR},
      </if>
      <if test="farbrkrinst != null" >
        #{farbrkrinst,jdbcType=NVARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=TINYINT},
      </if>
      <if test="outseskey != null" >
        #{outseskey,jdbcType=VARBINARY},
      </if>
      <if test="inseskey != null" >
        #{inseskey,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>