<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysdatabasesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdatabases" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="dbid" property="dbid" jdbcType="SMALLINT" />
    <result column="mode" property="mode" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status2" property="status2" jdbcType="INTEGER" />
    <result column="crdate" property="crdate" jdbcType="TIMESTAMP" />
    <result column="reserved" property="reserved" jdbcType="TIMESTAMP" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="cmptlevel" property="cmptlevel" jdbcType="TINYINT" />
    <result column="filename" property="filename" jdbcType="NVARCHAR" />
    <result column="version" property="version" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdatabases" extends="BaseResultMap" >
    <result column="sid" property="sid" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    sid
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdatabases" >
    insert into sysdatabases (name, dbid, mode, 
      status, status2, crdate, 
      reserved, category, cmptlevel, 
      filename, version, sid
      )
    values (#{name,jdbcType=NVARCHAR}, #{dbid,jdbcType=SMALLINT}, #{mode,jdbcType=SMALLINT}, 
      #{status,jdbcType=INTEGER}, #{status2,jdbcType=INTEGER}, #{crdate,jdbcType=TIMESTAMP}, 
      #{reserved,jdbcType=TIMESTAMP}, #{category,jdbcType=INTEGER}, #{cmptlevel,jdbcType=TINYINT}, 
      #{filename,jdbcType=NVARCHAR}, #{version,jdbcType=SMALLINT}, #{sid,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdatabases" >
    insert into sysdatabases
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="status2 != null" >
        status2,
      </if>
      <if test="crdate != null" >
        crdate,
      </if>
      <if test="reserved != null" >
        reserved,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="cmptlevel != null" >
        cmptlevel,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="status2 != null" >
        #{status2,jdbcType=INTEGER},
      </if>
      <if test="crdate != null" >
        #{crdate,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved != null" >
        #{reserved,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="cmptlevel != null" >
        #{cmptlevel,jdbcType=TINYINT},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=NVARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>