<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysdependsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdepends" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="depid" property="depid" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="SMALLINT" />
    <result column="depnumber" property="depnumber" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="deptype" property="deptype" jdbcType="TINYINT" />
    <result column="depdbid" property="depdbid" jdbcType="SMALLINT" />
    <result column="depsiteid" property="depsiteid" jdbcType="SMALLINT" />
    <result column="selall" property="selall" jdbcType="BIT" />
    <result column="resultobj" property="resultobj" jdbcType="BIT" />
    <result column="readobj" property="readobj" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdepends" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysdepends (id, depid, number, 
      depnumber, status, deptype, 
      depdbid, depsiteid, selall, 
      resultobj, readobj)
    values (#{id,jdbcType=INTEGER}, #{depid,jdbcType=INTEGER}, #{number,jdbcType=SMALLINT}, 
      #{depnumber,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{deptype,jdbcType=TINYINT}, 
      #{depdbid,jdbcType=SMALLINT}, #{depsiteid,jdbcType=SMALLINT}, #{selall,jdbcType=BIT}, 
      #{resultobj,jdbcType=BIT}, #{readobj,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdepends" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysdepends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="depid != null" >
        depid,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="depnumber != null" >
        depnumber,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deptype != null" >
        deptype,
      </if>
      <if test="depdbid != null" >
        depdbid,
      </if>
      <if test="depsiteid != null" >
        depsiteid,
      </if>
      <if test="selall != null" >
        selall,
      </if>
      <if test="resultobj != null" >
        resultobj,
      </if>
      <if test="readobj != null" >
        readobj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="depid != null" >
        #{depid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=SMALLINT},
      </if>
      <if test="depnumber != null" >
        #{depnumber,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="deptype != null" >
        #{deptype,jdbcType=TINYINT},
      </if>
      <if test="depdbid != null" >
        #{depdbid,jdbcType=SMALLINT},
      </if>
      <if test="depsiteid != null" >
        #{depsiteid,jdbcType=SMALLINT},
      </if>
      <if test="selall != null" >
        #{selall,jdbcType=BIT},
      </if>
      <if test="resultobj != null" >
        #{resultobj,jdbcType=BIT},
      </if>
      <if test="readobj != null" >
        #{readobj,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>