<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysdesendMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdesend" >
    <result column="handle" property="handle" jdbcType="CHAR" />
    <result column="diagid" property="diagid" jdbcType="CHAR" />
    <result column="initiator" property="initiator" jdbcType="TINYINT" />
    <result column="sendseq" property="sendseq" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysdesend" extends="BaseResultMap" >
    <result column="sendxact" property="sendxact" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    sendxact
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdesend" >
    insert into sysdesend (handle, diagid, initiator, 
      sendseq, sendxact)
    values (#{handle,jdbcType=CHAR}, #{diagid,jdbcType=CHAR}, #{initiator,jdbcType=TINYINT}, 
      #{sendseq,jdbcType=BIGINT}, #{sendxact,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysdesend" >
    insert into sysdesend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="handle != null" >
        handle,
      </if>
      <if test="diagid != null" >
        diagid,
      </if>
      <if test="initiator != null" >
        initiator,
      </if>
      <if test="sendseq != null" >
        sendseq,
      </if>
      <if test="sendxact != null" >
        sendxact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="handle != null" >
        #{handle,jdbcType=CHAR},
      </if>
      <if test="diagid != null" >
        #{diagid,jdbcType=CHAR},
      </if>
      <if test="initiator != null" >
        #{initiator,jdbcType=TINYINT},
      </if>
      <if test="sendseq != null" >
        #{sendseq,jdbcType=BIGINT},
      </if>
      <if test="sendxact != null" >
        #{sendxact,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>