<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysendptsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysendpts" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="protocol" property="protocol" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="bstat" property="bstat" jdbcType="SMALLINT" />
    <result column="affinity" property="affinity" jdbcType="BIGINT" />
    <result column="pstat" property="pstat" jdbcType="SMALLINT" />
    <result column="tstat" property="tstat" jdbcType="SMALLINT" />
    <result column="typeint" property="typeint" jdbcType="INTEGER" />
    <result column="port1" property="port1" jdbcType="INTEGER" />
    <result column="port2" property="port2" jdbcType="INTEGER" />
    <result column="site" property="site" jdbcType="NVARCHAR" />
    <result column="dfltns" property="dfltns" jdbcType="NVARCHAR" />
    <result column="wsdlproc" property="wsdlproc" jdbcType="NVARCHAR" />
    <result column="dfltdb" property="dfltdb" jdbcType="NVARCHAR" />
    <result column="authrealm" property="authrealm" jdbcType="NVARCHAR" />
    <result column="dfltdm" property="dfltdm" jdbcType="NVARCHAR" />
    <result column="maxconn" property="maxconn" jdbcType="INTEGER" />
    <result column="encalg" property="encalg" jdbcType="TINYINT" />
    <result column="authtype" property="authtype" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysendpts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysendpts (id, name, protocol, 
      type, bstat, affinity, 
      pstat, tstat, typeint, 
      port1, port2, site, 
      dfltns, wsdlproc, dfltdb, 
      authrealm, dfltdm, maxconn, 
      encalg, authtype)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{protocol,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{bstat,jdbcType=SMALLINT}, #{affinity,jdbcType=BIGINT}, 
      #{pstat,jdbcType=SMALLINT}, #{tstat,jdbcType=SMALLINT}, #{typeint,jdbcType=INTEGER}, 
      #{port1,jdbcType=INTEGER}, #{port2,jdbcType=INTEGER}, #{site,jdbcType=NVARCHAR}, 
      #{dfltns,jdbcType=NVARCHAR}, #{wsdlproc,jdbcType=NVARCHAR}, #{dfltdb,jdbcType=NVARCHAR}, 
      #{authrealm,jdbcType=NVARCHAR}, #{dfltdm,jdbcType=NVARCHAR}, #{maxconn,jdbcType=INTEGER}, 
      #{encalg,jdbcType=TINYINT}, #{authtype,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysendpts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysendpts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="protocol != null" >
        protocol,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="bstat != null" >
        bstat,
      </if>
      <if test="affinity != null" >
        affinity,
      </if>
      <if test="pstat != null" >
        pstat,
      </if>
      <if test="tstat != null" >
        tstat,
      </if>
      <if test="typeint != null" >
        typeint,
      </if>
      <if test="port1 != null" >
        port1,
      </if>
      <if test="port2 != null" >
        port2,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="dfltns != null" >
        dfltns,
      </if>
      <if test="wsdlproc != null" >
        wsdlproc,
      </if>
      <if test="dfltdb != null" >
        dfltdb,
      </if>
      <if test="authrealm != null" >
        authrealm,
      </if>
      <if test="dfltdm != null" >
        dfltdm,
      </if>
      <if test="maxconn != null" >
        maxconn,
      </if>
      <if test="encalg != null" >
        encalg,
      </if>
      <if test="authtype != null" >
        authtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="protocol != null" >
        #{protocol,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="bstat != null" >
        #{bstat,jdbcType=SMALLINT},
      </if>
      <if test="affinity != null" >
        #{affinity,jdbcType=BIGINT},
      </if>
      <if test="pstat != null" >
        #{pstat,jdbcType=SMALLINT},
      </if>
      <if test="tstat != null" >
        #{tstat,jdbcType=SMALLINT},
      </if>
      <if test="typeint != null" >
        #{typeint,jdbcType=INTEGER},
      </if>
      <if test="port1 != null" >
        #{port1,jdbcType=INTEGER},
      </if>
      <if test="port2 != null" >
        #{port2,jdbcType=INTEGER},
      </if>
      <if test="site != null" >
        #{site,jdbcType=NVARCHAR},
      </if>
      <if test="dfltns != null" >
        #{dfltns,jdbcType=NVARCHAR},
      </if>
      <if test="wsdlproc != null" >
        #{wsdlproc,jdbcType=NVARCHAR},
      </if>
      <if test="dfltdb != null" >
        #{dfltdb,jdbcType=NVARCHAR},
      </if>
      <if test="authrealm != null" >
        #{authrealm,jdbcType=NVARCHAR},
      </if>
      <if test="dfltdm != null" >
        #{dfltdm,jdbcType=NVARCHAR},
      </if>
      <if test="maxconn != null" >
        #{maxconn,jdbcType=INTEGER},
      </if>
      <if test="encalg != null" >
        #{encalg,jdbcType=TINYINT},
      </if>
      <if test="authtype != null" >
        #{authtype,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>