<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysfulltextcatalogsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysfulltextcatalogs" >
    <result column="ftcatid" property="ftcatid" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="path" property="path" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysfulltextcatalogs" >
    insert into sysfulltextcatalogs (ftcatid, name, status, 
      path)
    values (#{ftcatid,jdbcType=SMALLINT}, #{name,jdbcType=NVARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{path,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysfulltextcatalogs" >
    insert into sysfulltextcatalogs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ftcatid != null" >
        ftcatid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="path != null" >
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ftcatid != null" >
        #{ftcatid,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>