<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysfosMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysfos" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="tgid" property="tgid" jdbcType="INTEGER" />
    <result column="rowcnt" property="rowcnt" jdbcType="BIGINT" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="csn" property="csn" jdbcType="BIGINT" />
    <result column="epoch" property="epoch" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysfosWithBLOBs" extends="BaseResultMap" >
    <result column="low" property="low" jdbcType="VARBINARY" />
    <result column="high" property="high" jdbcType="VARBINARY" />
    <result column="history" property="history" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    low, high, history
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysfosWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysfos (id, tgid, rowcnt, 
      size, csn, epoch, status, 
      created, modified, low, 
      high, history)
    values (#{id,jdbcType=INTEGER}, #{tgid,jdbcType=INTEGER}, #{rowcnt,jdbcType=BIGINT}, 
      #{size,jdbcType=BIGINT}, #{csn,jdbcType=BIGINT}, #{epoch,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{low,jdbcType=VARBINARY}, 
      #{high,jdbcType=VARBINARY}, #{history,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysfosWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysfos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="tgid != null" >
        tgid,
      </if>
      <if test="rowcnt != null" >
        rowcnt,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="csn != null" >
        csn,
      </if>
      <if test="epoch != null" >
        epoch,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="low != null" >
        low,
      </if>
      <if test="high != null" >
        high,
      </if>
      <if test="history != null" >
        history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="tgid != null" >
        #{tgid,jdbcType=INTEGER},
      </if>
      <if test="rowcnt != null" >
        #{rowcnt,jdbcType=BIGINT},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="csn != null" >
        #{csn,jdbcType=BIGINT},
      </if>
      <if test="epoch != null" >
        #{epoch,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="low != null" >
        #{low,jdbcType=VARBINARY},
      </if>
      <if test="high != null" >
        #{high,jdbcType=VARBINARY},
      </if>
      <if test="history != null" >
        #{history,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>