<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysfoqueuesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysfoqueues" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="epoch" property="epoch" jdbcType="INTEGER" />
    <result column="csn" property="csn" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysfoqueues" extends="BaseResultMap" >
    <result column="lsn" property="lsn" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    lsn
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysfoqueues" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysfoqueues (id, epoch, csn, 
      created, lsn)
    values (#{id,jdbcType=INTEGER}, #{epoch,jdbcType=INTEGER}, #{csn,jdbcType=BIGINT}, 
      #{created,jdbcType=TIMESTAMP}, #{lsn,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysfoqueues" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysfoqueues
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="epoch != null" >
        epoch,
      </if>
      <if test="csn != null" >
        csn,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="lsn != null" >
        lsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="epoch != null" >
        #{epoch,jdbcType=INTEGER},
      </if>
      <if test="csn != null" >
        #{csn,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lsn != null" >
        #{lsn,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>