<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysftindsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysftinds" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="indid" property="indid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="crtype" property="crtype" jdbcType="CHAR" />
    <result column="crstart" property="crstart" jdbcType="TIMESTAMP" />
    <result column="crend" property="crend" jdbcType="TIMESTAMP" />
    <result column="crrows" property="crrows" jdbcType="BIGINT" />
    <result column="crerrors" property="crerrors" jdbcType="INTEGER" />
    <result column="sensitivity" property="sensitivity" jdbcType="TINYINT" />
    <result column="bXVTDocidUseBaseT" property="bxvtdocidusebaset" jdbcType="TINYINT" />
    <result column="batchsize" property="batchsize" jdbcType="INTEGER" />
    <result column="nextdocid" property="nextdocid" jdbcType="BIGINT" />
    <result column="fgid" property="fgid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysftindsWithBLOBs" extends="BaseResultMap" >
    <result column="crschver" property="crschver" jdbcType="BINARY" />
    <result column="crtsnext" property="crtsnext" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    crschver, crtsnext
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysftindsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysftinds (id, indid, status, 
      crtype, crstart, crend, 
      crrows, crerrors, sensitivity, 
      bXVTDocidUseBaseT, batchsize, nextdocid, 
      fgid, crschver, crtsnext
      )
    values (#{id,jdbcType=INTEGER}, #{indid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{crtype,jdbcType=CHAR}, #{crstart,jdbcType=TIMESTAMP}, #{crend,jdbcType=TIMESTAMP}, 
      #{crrows,jdbcType=BIGINT}, #{crerrors,jdbcType=INTEGER}, #{sensitivity,jdbcType=TINYINT}, 
      #{bxvtdocidusebaset,jdbcType=TINYINT}, #{batchsize,jdbcType=INTEGER}, #{nextdocid,jdbcType=BIGINT}, 
      #{fgid,jdbcType=INTEGER}, #{crschver,jdbcType=BINARY}, #{crtsnext,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysftindsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysftinds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="indid != null" >
        indid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="crtype != null" >
        crtype,
      </if>
      <if test="crstart != null" >
        crstart,
      </if>
      <if test="crend != null" >
        crend,
      </if>
      <if test="crrows != null" >
        crrows,
      </if>
      <if test="crerrors != null" >
        crerrors,
      </if>
      <if test="sensitivity != null" >
        sensitivity,
      </if>
      <if test="bxvtdocidusebaset != null" >
        bXVTDocidUseBaseT,
      </if>
      <if test="batchsize != null" >
        batchsize,
      </if>
      <if test="nextdocid != null" >
        nextdocid,
      </if>
      <if test="fgid != null" >
        fgid,
      </if>
      <if test="crschver != null" >
        crschver,
      </if>
      <if test="crtsnext != null" >
        crtsnext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="indid != null" >
        #{indid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="crtype != null" >
        #{crtype,jdbcType=CHAR},
      </if>
      <if test="crstart != null" >
        #{crstart,jdbcType=TIMESTAMP},
      </if>
      <if test="crend != null" >
        #{crend,jdbcType=TIMESTAMP},
      </if>
      <if test="crrows != null" >
        #{crrows,jdbcType=BIGINT},
      </if>
      <if test="crerrors != null" >
        #{crerrors,jdbcType=INTEGER},
      </if>
      <if test="sensitivity != null" >
        #{sensitivity,jdbcType=TINYINT},
      </if>
      <if test="bxvtdocidusebaset != null" >
        #{bxvtdocidusebaset,jdbcType=TINYINT},
      </if>
      <if test="batchsize != null" >
        #{batchsize,jdbcType=INTEGER},
      </if>
      <if test="nextdocid != null" >
        #{nextdocid,jdbcType=BIGINT},
      </if>
      <if test="fgid != null" >
        #{fgid,jdbcType=INTEGER},
      </if>
      <if test="crschver != null" >
        #{crschver,jdbcType=BINARY},
      </if>
      <if test="crtsnext != null" >
        #{crtsnext,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>