<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysiscolsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysiscols" >
    <result column="idmajor" property="idmajor" jdbcType="INTEGER" />
    <result column="idminor" property="idminor" jdbcType="INTEGER" />
    <result column="subid" property="subid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="intprop" property="intprop" jdbcType="INTEGER" />
    <result column="tinyprop1" property="tinyprop1" jdbcType="TINYINT" />
    <result column="tinyprop2" property="tinyprop2" jdbcType="TINYINT" />
    <result column="tinyprop3" property="tinyprop3" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysiscols" >
    insert into sysiscols (idmajor, idminor, subid, 
      status, intprop, tinyprop1, 
      tinyprop2, tinyprop3)
    values (#{idmajor,jdbcType=INTEGER}, #{idminor,jdbcType=INTEGER}, #{subid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{intprop,jdbcType=INTEGER}, #{tinyprop1,jdbcType=TINYINT}, 
      #{tinyprop2,jdbcType=TINYINT}, #{tinyprop3,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysiscols" >
    insert into sysiscols
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idmajor != null" >
        idmajor,
      </if>
      <if test="idminor != null" >
        idminor,
      </if>
      <if test="subid != null" >
        subid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="intprop != null" >
        intprop,
      </if>
      <if test="tinyprop1 != null" >
        tinyprop1,
      </if>
      <if test="tinyprop2 != null" >
        tinyprop2,
      </if>
      <if test="tinyprop3 != null" >
        tinyprop3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idmajor != null" >
        #{idmajor,jdbcType=INTEGER},
      </if>
      <if test="idminor != null" >
        #{idminor,jdbcType=INTEGER},
      </if>
      <if test="subid != null" >
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intprop != null" >
        #{intprop,jdbcType=INTEGER},
      </if>
      <if test="tinyprop1 != null" >
        #{tinyprop1,jdbcType=TINYINT},
      </if>
      <if test="tinyprop2 != null" >
        #{tinyprop2,jdbcType=TINYINT},
      </if>
      <if test="tinyprop3 != null" >
        #{tinyprop3,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>