<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysidxstatsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysidxstats" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="indid" property="indid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="intprop" property="intprop" jdbcType="INTEGER" />
    <result column="fillfact" property="fillfact" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="tinyprop" property="tinyprop" jdbcType="TINYINT" />
    <result column="dataspace" property="dataspace" jdbcType="INTEGER" />
    <result column="lobds" property="lobds" jdbcType="INTEGER" />
    <result column="rowset" property="rowset" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysidxstats" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysidxstats (id, indid, name, 
      status, intprop, fillfact, 
      type, tinyprop, dataspace, 
      lobds, rowset)
    values (#{id,jdbcType=INTEGER}, #{indid,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{status,jdbcType=INTEGER}, #{intprop,jdbcType=INTEGER}, #{fillfact,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{tinyprop,jdbcType=TINYINT}, #{dataspace,jdbcType=INTEGER}, 
      #{lobds,jdbcType=INTEGER}, #{rowset,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysidxstats" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysidxstats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="indid != null" >
        indid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="intprop != null" >
        intprop,
      </if>
      <if test="fillfact != null" >
        fillfact,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tinyprop != null" >
        tinyprop,
      </if>
      <if test="dataspace != null" >
        dataspace,
      </if>
      <if test="lobds != null" >
        lobds,
      </if>
      <if test="rowset != null" >
        rowset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="indid != null" >
        #{indid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intprop != null" >
        #{intprop,jdbcType=INTEGER},
      </if>
      <if test="fillfact != null" >
        #{fillfact,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="tinyprop != null" >
        #{tinyprop,jdbcType=TINYINT},
      </if>
      <if test="dataspace != null" >
        #{dataspace,jdbcType=INTEGER},
      </if>
      <if test="lobds != null" >
        #{lobds,jdbcType=INTEGER},
      </if>
      <if test="rowset != null" >
        #{rowset,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>