<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyslockinfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syslockinfo" >
    <result column="rsc_text" property="rscText" jdbcType="NCHAR" />
    <result column="rsc_dbid" property="rscDbid" jdbcType="SMALLINT" />
    <result column="rsc_indid" property="rscIndid" jdbcType="SMALLINT" />
    <result column="rsc_objid" property="rscObjid" jdbcType="INTEGER" />
    <result column="rsc_type" property="rscType" jdbcType="TINYINT" />
    <result column="rsc_flag" property="rscFlag" jdbcType="TINYINT" />
    <result column="req_mode" property="reqMode" jdbcType="TINYINT" />
    <result column="req_status" property="reqStatus" jdbcType="TINYINT" />
    <result column="req_refcnt" property="reqRefcnt" jdbcType="SMALLINT" />
    <result column="req_cryrefcnt" property="reqCryrefcnt" jdbcType="SMALLINT" />
    <result column="req_lifetime" property="reqLifetime" jdbcType="INTEGER" />
    <result column="req_spid" property="reqSpid" jdbcType="INTEGER" />
    <result column="req_ecid" property="reqEcid" jdbcType="INTEGER" />
    <result column="req_ownertype" property="reqOwnertype" jdbcType="SMALLINT" />
    <result column="req_transactionID" property="reqTransactionid" jdbcType="BIGINT" />
    <result column="req_transactionUOW" property="reqTransactionuow" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SyslockinfoWithBLOBs" extends="BaseResultMap" >
    <result column="rsc_bin" property="rscBin" jdbcType="BINARY" />
    <result column="rsc_valblk" property="rscValblk" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    rsc_bin, rsc_valblk
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyslockinfoWithBLOBs" >
    insert into syslockinfo (rsc_text, rsc_dbid, rsc_indid, 
      rsc_objid, rsc_type, rsc_flag, 
      req_mode, req_status, req_refcnt, 
      req_cryrefcnt, req_lifetime, req_spid, 
      req_ecid, req_ownertype, req_transactionID, 
      req_transactionUOW, rsc_bin, rsc_valblk
      )
    values (#{rscText,jdbcType=NCHAR}, #{rscDbid,jdbcType=SMALLINT}, #{rscIndid,jdbcType=SMALLINT}, 
      #{rscObjid,jdbcType=INTEGER}, #{rscType,jdbcType=TINYINT}, #{rscFlag,jdbcType=TINYINT}, 
      #{reqMode,jdbcType=TINYINT}, #{reqStatus,jdbcType=TINYINT}, #{reqRefcnt,jdbcType=SMALLINT}, 
      #{reqCryrefcnt,jdbcType=SMALLINT}, #{reqLifetime,jdbcType=INTEGER}, #{reqSpid,jdbcType=INTEGER}, 
      #{reqEcid,jdbcType=INTEGER}, #{reqOwnertype,jdbcType=SMALLINT}, #{reqTransactionid,jdbcType=BIGINT}, 
      #{reqTransactionuow,jdbcType=CHAR}, #{rscBin,jdbcType=BINARY}, #{rscValblk,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyslockinfoWithBLOBs" >
    insert into syslockinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rscText != null" >
        rsc_text,
      </if>
      <if test="rscDbid != null" >
        rsc_dbid,
      </if>
      <if test="rscIndid != null" >
        rsc_indid,
      </if>
      <if test="rscObjid != null" >
        rsc_objid,
      </if>
      <if test="rscType != null" >
        rsc_type,
      </if>
      <if test="rscFlag != null" >
        rsc_flag,
      </if>
      <if test="reqMode != null" >
        req_mode,
      </if>
      <if test="reqStatus != null" >
        req_status,
      </if>
      <if test="reqRefcnt != null" >
        req_refcnt,
      </if>
      <if test="reqCryrefcnt != null" >
        req_cryrefcnt,
      </if>
      <if test="reqLifetime != null" >
        req_lifetime,
      </if>
      <if test="reqSpid != null" >
        req_spid,
      </if>
      <if test="reqEcid != null" >
        req_ecid,
      </if>
      <if test="reqOwnertype != null" >
        req_ownertype,
      </if>
      <if test="reqTransactionid != null" >
        req_transactionID,
      </if>
      <if test="reqTransactionuow != null" >
        req_transactionUOW,
      </if>
      <if test="rscBin != null" >
        rsc_bin,
      </if>
      <if test="rscValblk != null" >
        rsc_valblk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rscText != null" >
        #{rscText,jdbcType=NCHAR},
      </if>
      <if test="rscDbid != null" >
        #{rscDbid,jdbcType=SMALLINT},
      </if>
      <if test="rscIndid != null" >
        #{rscIndid,jdbcType=SMALLINT},
      </if>
      <if test="rscObjid != null" >
        #{rscObjid,jdbcType=INTEGER},
      </if>
      <if test="rscType != null" >
        #{rscType,jdbcType=TINYINT},
      </if>
      <if test="rscFlag != null" >
        #{rscFlag,jdbcType=TINYINT},
      </if>
      <if test="reqMode != null" >
        #{reqMode,jdbcType=TINYINT},
      </if>
      <if test="reqStatus != null" >
        #{reqStatus,jdbcType=TINYINT},
      </if>
      <if test="reqRefcnt != null" >
        #{reqRefcnt,jdbcType=SMALLINT},
      </if>
      <if test="reqCryrefcnt != null" >
        #{reqCryrefcnt,jdbcType=SMALLINT},
      </if>
      <if test="reqLifetime != null" >
        #{reqLifetime,jdbcType=INTEGER},
      </if>
      <if test="reqSpid != null" >
        #{reqSpid,jdbcType=INTEGER},
      </if>
      <if test="reqEcid != null" >
        #{reqEcid,jdbcType=INTEGER},
      </if>
      <if test="reqOwnertype != null" >
        #{reqOwnertype,jdbcType=SMALLINT},
      </if>
      <if test="reqTransactionid != null" >
        #{reqTransactionid,jdbcType=BIGINT},
      </if>
      <if test="reqTransactionuow != null" >
        #{reqTransactionuow,jdbcType=CHAR},
      </if>
      <if test="rscBin != null" >
        #{rscBin,jdbcType=BINARY},
      </if>
      <if test="rscValblk != null" >
        #{rscValblk,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>