<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysmessagesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysmessages" >
    <result column="error" property="error" jdbcType="INTEGER" />
    <result column="severity" property="severity" jdbcType="TINYINT" />
    <result column="dlevel" property="dlevel" jdbcType="SMALLINT" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="msglangid" property="msglangid" jdbcType="SMALLINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysmessages" >
    insert into sysmessages (error, severity, dlevel, 
      description, msglangid)
    values (#{error,jdbcType=INTEGER}, #{severity,jdbcType=TINYINT}, #{dlevel,jdbcType=SMALLINT}, 
      #{description,jdbcType=NVARCHAR}, #{msglangid,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysmessages" >
    insert into sysmessages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="error != null" >
        error,
      </if>
      <if test="severity != null" >
        severity,
      </if>
      <if test="dlevel != null" >
        dlevel,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="msglangid != null" >
        msglangid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="error != null" >
        #{error,jdbcType=INTEGER},
      </if>
      <if test="severity != null" >
        #{severity,jdbcType=TINYINT},
      </if>
      <if test="dlevel != null" >
        #{dlevel,jdbcType=SMALLINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="msglangid != null" >
        #{msglangid,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>