<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysmembersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysmembers" >
    <result column="memberuid" property="memberuid" jdbcType="SMALLINT" />
    <result column="groupuid" property="groupuid" jdbcType="SMALLINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysmembers" >
    insert into sysmembers (memberuid, groupuid)
    values (#{memberuid,jdbcType=SMALLINT}, #{groupuid,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysmembers" >
    insert into sysmembers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberuid != null" >
        memberuid,
      </if>
      <if test="groupuid != null" >
        groupuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberuid != null" >
        #{memberuid,jdbcType=SMALLINT},
      </if>
      <if test="groupuid != null" >
        #{groupuid,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>