<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysobjectsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjects" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="xtype" property="xtype" jdbcType="CHAR" />
    <result column="uid" property="uid" jdbcType="SMALLINT" />
    <result column="info" property="info" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="base_schema_ver" property="baseSchemaVer" jdbcType="INTEGER" />
    <result column="replinfo" property="replinfo" jdbcType="INTEGER" />
    <result column="parent_obj" property="parentObj" jdbcType="INTEGER" />
    <result column="crdate" property="crdate" jdbcType="TIMESTAMP" />
    <result column="ftcatid" property="ftcatid" jdbcType="SMALLINT" />
    <result column="schema_ver" property="schemaVer" jdbcType="INTEGER" />
    <result column="stats_schema_ver" property="statsSchemaVer" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="userstat" property="userstat" jdbcType="SMALLINT" />
    <result column="sysstat" property="sysstat" jdbcType="SMALLINT" />
    <result column="indexdel" property="indexdel" jdbcType="SMALLINT" />
    <result column="refdate" property="refdate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="deltrig" property="deltrig" jdbcType="INTEGER" />
    <result column="instrig" property="instrig" jdbcType="INTEGER" />
    <result column="updtrig" property="updtrig" jdbcType="INTEGER" />
    <result column="seltrig" property="seltrig" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="cache" property="cache" jdbcType="SMALLINT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjects" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysobjects (name, id, xtype, 
      uid, info, status, 
      base_schema_ver, replinfo, parent_obj, 
      crdate, ftcatid, schema_ver, 
      stats_schema_ver, type, userstat, 
      sysstat, indexdel, refdate, 
      version, deltrig, instrig, 
      updtrig, seltrig, category, 
      cache)
    values (#{name,jdbcType=NVARCHAR}, #{id,jdbcType=INTEGER}, #{xtype,jdbcType=CHAR}, 
      #{uid,jdbcType=SMALLINT}, #{info,jdbcType=SMALLINT}, #{status,jdbcType=INTEGER}, 
      #{baseSchemaVer,jdbcType=INTEGER}, #{replinfo,jdbcType=INTEGER}, #{parentObj,jdbcType=INTEGER}, 
      #{crdate,jdbcType=TIMESTAMP}, #{ftcatid,jdbcType=SMALLINT}, #{schemaVer,jdbcType=INTEGER}, 
      #{statsSchemaVer,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{userstat,jdbcType=SMALLINT}, 
      #{sysstat,jdbcType=SMALLINT}, #{indexdel,jdbcType=SMALLINT}, #{refdate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{deltrig,jdbcType=INTEGER}, #{instrig,jdbcType=INTEGER}, 
      #{updtrig,jdbcType=INTEGER}, #{seltrig,jdbcType=INTEGER}, #{category,jdbcType=INTEGER}, 
      #{cache,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjects" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysobjects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      id,
      <if test="xtype != null" >
        xtype,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="baseSchemaVer != null" >
        base_schema_ver,
      </if>
      <if test="replinfo != null" >
        replinfo,
      </if>
      <if test="parentObj != null" >
        parent_obj,
      </if>
      <if test="crdate != null" >
        crdate,
      </if>
      <if test="ftcatid != null" >
        ftcatid,
      </if>
      <if test="schemaVer != null" >
        schema_ver,
      </if>
      <if test="statsSchemaVer != null" >
        stats_schema_ver,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="userstat != null" >
        userstat,
      </if>
      <if test="sysstat != null" >
        sysstat,
      </if>
      <if test="indexdel != null" >
        indexdel,
      </if>
      <if test="refdate != null" >
        refdate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="deltrig != null" >
        deltrig,
      </if>
      <if test="instrig != null" >
        instrig,
      </if>
      <if test="updtrig != null" >
        updtrig,
      </if>
      <if test="seltrig != null" >
        seltrig,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="cache != null" >
        cache,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      #{id,jdbcType=INTEGER},
      <if test="xtype != null" >
        #{xtype,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=SMALLINT},
      </if>
      <if test="info != null" >
        #{info,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="baseSchemaVer != null" >
        #{baseSchemaVer,jdbcType=INTEGER},
      </if>
      <if test="replinfo != null" >
        #{replinfo,jdbcType=INTEGER},
      </if>
      <if test="parentObj != null" >
        #{parentObj,jdbcType=INTEGER},
      </if>
      <if test="crdate != null" >
        #{crdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ftcatid != null" >
        #{ftcatid,jdbcType=SMALLINT},
      </if>
      <if test="schemaVer != null" >
        #{schemaVer,jdbcType=INTEGER},
      </if>
      <if test="statsSchemaVer != null" >
        #{statsSchemaVer,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="userstat != null" >
        #{userstat,jdbcType=SMALLINT},
      </if>
      <if test="sysstat != null" >
        #{sysstat,jdbcType=SMALLINT},
      </if>
      <if test="indexdel != null" >
        #{indexdel,jdbcType=SMALLINT},
      </if>
      <if test="refdate != null" >
        #{refdate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="deltrig != null" >
        #{deltrig,jdbcType=INTEGER},
      </if>
      <if test="instrig != null" >
        #{instrig,jdbcType=INTEGER},
      </if>
      <if test="updtrig != null" >
        #{updtrig,jdbcType=INTEGER},
      </if>
      <if test="seltrig != null" >
        #{seltrig,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="cache != null" >
        #{cache,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>