<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysopentapesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysopentapes" >
    <result column="openTape" property="opentape" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysopentapes" >
    insert into sysopentapes (openTape)
    values (#{opentape,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysopentapes" >
    insert into sysopentapes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="opentape != null" >
        openTape,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="opentape != null" >
        #{opentape,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>