<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysobjvaluesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjvalues" >
    <result column="valclass" property="valclass" jdbcType="TINYINT" />
    <result column="objid" property="objid" jdbcType="INTEGER" />
    <result column="subobjid" property="subobjid" jdbcType="INTEGER" />
    <result column="valnum" property="valnum" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="OTHER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjvalues" extends="BaseResultMap" >
    <result column="imageval" property="imageval" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    imageval
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjvalues" >
    insert into sysobjvalues (valclass, objid, subobjid, 
      valnum, value, imageval
      )
    values (#{valclass,jdbcType=TINYINT}, #{objid,jdbcType=INTEGER}, #{subobjid,jdbcType=INTEGER}, 
      #{valnum,jdbcType=INTEGER}, #{value,jdbcType=OTHER}, #{imageval,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysobjvalues" >
    insert into sysobjvalues
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="valclass != null" >
        valclass,
      </if>
      <if test="objid != null" >
        objid,
      </if>
      <if test="subobjid != null" >
        subobjid,
      </if>
      <if test="valnum != null" >
        valnum,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="imageval != null" >
        imageval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="valclass != null" >
        #{valclass,jdbcType=TINYINT},
      </if>
      <if test="objid != null" >
        #{objid,jdbcType=INTEGER},
      </if>
      <if test="subobjid != null" >
        #{subobjid,jdbcType=INTEGER},
      </if>
      <if test="valnum != null" >
        #{valnum,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
      <if test="imageval != null" >
        #{imageval,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>