<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysoledbusersMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysoledbusers" >
    <result column="rmtsrvid" property="rmtsrvid" jdbcType="SMALLINT" />
    <result column="rmtloginame" property="rmtloginame" jdbcType="NVARCHAR" />
    <result column="rmtpassword" property="rmtpassword" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="changedate" property="changedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysoledbusers" extends="BaseResultMap" >
    <result column="loginsid" property="loginsid" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    loginsid
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysoledbusers" >
    insert into sysoledbusers (rmtsrvid, rmtloginame, rmtpassword, 
      status, changedate, loginsid
      )
    values (#{rmtsrvid,jdbcType=SMALLINT}, #{rmtloginame,jdbcType=NVARCHAR}, #{rmtpassword,jdbcType=NVARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{changedate,jdbcType=TIMESTAMP}, #{loginsid,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysoledbusers" >
    insert into sysoledbusers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rmtsrvid != null" >
        rmtsrvid,
      </if>
      <if test="rmtloginame != null" >
        rmtloginame,
      </if>
      <if test="rmtpassword != null" >
        rmtpassword,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="changedate != null" >
        changedate,
      </if>
      <if test="loginsid != null" >
        loginsid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rmtsrvid != null" >
        #{rmtsrvid,jdbcType=SMALLINT},
      </if>
      <if test="rmtloginame != null" >
        #{rmtloginame,jdbcType=NVARCHAR},
      </if>
      <if test="rmtpassword != null" >
        #{rmtpassword,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="changedate != null" >
        #{changedate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginsid != null" >
        #{loginsid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>