<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SyspermissionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Syspermissions" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="grantee" property="grantee" jdbcType="SMALLINT" />
    <result column="grantor" property="grantor" jdbcType="SMALLINT" />
    <result column="actadd" property="actadd" jdbcType="SMALLINT" />
    <result column="actmod" property="actmod" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SyspermissionsWithBLOBs" extends="BaseResultMap" >
    <result column="seladd" property="seladd" jdbcType="VARBINARY" />
    <result column="selmod" property="selmod" jdbcType="VARBINARY" />
    <result column="updadd" property="updadd" jdbcType="VARBINARY" />
    <result column="updmod" property="updmod" jdbcType="VARBINARY" />
    <result column="refadd" property="refadd" jdbcType="VARBINARY" />
    <result column="refmod" property="refmod" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    seladd, selmod, updadd, updmod, refadd, refmod
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyspermissionsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syspermissions (id, grantee, grantor, 
      actadd, actmod, seladd, 
      selmod, updadd, updmod, 
      refadd, refmod)
    values (#{id,jdbcType=INTEGER}, #{grantee,jdbcType=SMALLINT}, #{grantor,jdbcType=SMALLINT}, 
      #{actadd,jdbcType=SMALLINT}, #{actmod,jdbcType=SMALLINT}, #{seladd,jdbcType=VARBINARY}, 
      #{selmod,jdbcType=VARBINARY}, #{updadd,jdbcType=VARBINARY}, #{updmod,jdbcType=VARBINARY}, 
      #{refadd,jdbcType=VARBINARY}, #{refmod,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SyspermissionsWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into syspermissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="grantee != null" >
        grantee,
      </if>
      <if test="grantor != null" >
        grantor,
      </if>
      <if test="actadd != null" >
        actadd,
      </if>
      <if test="actmod != null" >
        actmod,
      </if>
      <if test="seladd != null" >
        seladd,
      </if>
      <if test="selmod != null" >
        selmod,
      </if>
      <if test="updadd != null" >
        updadd,
      </if>
      <if test="updmod != null" >
        updmod,
      </if>
      <if test="refadd != null" >
        refadd,
      </if>
      <if test="refmod != null" >
        refmod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="grantee != null" >
        #{grantee,jdbcType=SMALLINT},
      </if>
      <if test="grantor != null" >
        #{grantor,jdbcType=SMALLINT},
      </if>
      <if test="actadd != null" >
        #{actadd,jdbcType=SMALLINT},
      </if>
      <if test="actmod != null" >
        #{actmod,jdbcType=SMALLINT},
      </if>
      <if test="seladd != null" >
        #{seladd,jdbcType=VARBINARY},
      </if>
      <if test="selmod != null" >
        #{selmod,jdbcType=VARBINARY},
      </if>
      <if test="updadd != null" >
        #{updadd,jdbcType=VARBINARY},
      </if>
      <if test="updmod != null" >
        #{updmod,jdbcType=VARBINARY},
      </if>
      <if test="refadd != null" >
        #{refadd,jdbcType=VARBINARY},
      </if>
      <if test="refmod != null" >
        #{refmod,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>