<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysprocessesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysprocesses" >
    <result column="spid" property="spid" jdbcType="SMALLINT" />
    <result column="kpid" property="kpid" jdbcType="SMALLINT" />
    <result column="blocked" property="blocked" jdbcType="SMALLINT" />
    <result column="waittime" property="waittime" jdbcType="BIGINT" />
    <result column="lastwaittype" property="lastwaittype" jdbcType="NCHAR" />
    <result column="waitresource" property="waitresource" jdbcType="NCHAR" />
    <result column="dbid" property="dbid" jdbcType="SMALLINT" />
    <result column="uid" property="uid" jdbcType="SMALLINT" />
    <result column="cpu" property="cpu" jdbcType="INTEGER" />
    <result column="physical_io" property="physicalIo" jdbcType="BIGINT" />
    <result column="memusage" property="memusage" jdbcType="INTEGER" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="last_batch" property="lastBatch" jdbcType="TIMESTAMP" />
    <result column="ecid" property="ecid" jdbcType="SMALLINT" />
    <result column="open_tran" property="openTran" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="NCHAR" />
    <result column="hostname" property="hostname" jdbcType="NCHAR" />
    <result column="program_name" property="programName" jdbcType="NCHAR" />
    <result column="hostprocess" property="hostprocess" jdbcType="NCHAR" />
    <result column="cmd" property="cmd" jdbcType="NCHAR" />
    <result column="nt_domain" property="ntDomain" jdbcType="NCHAR" />
    <result column="nt_username" property="ntUsername" jdbcType="NCHAR" />
    <result column="net_address" property="netAddress" jdbcType="NCHAR" />
    <result column="net_library" property="netLibrary" jdbcType="NCHAR" />
    <result column="loginame" property="loginame" jdbcType="NCHAR" />
    <result column="stmt_start" property="stmtStart" jdbcType="INTEGER" />
    <result column="stmt_end" property="stmtEnd" jdbcType="INTEGER" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysprocessesWithBLOBs" extends="BaseResultMap" >
    <result column="waittype" property="waittype" jdbcType="BINARY" />
    <result column="sid" property="sid" jdbcType="BINARY" />
    <result column="context_info" property="contextInfo" jdbcType="BINARY" />
    <result column="sql_handle" property="sqlHandle" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    waittype, sid, context_info, sql_handle
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysprocessesWithBLOBs" >
    insert into sysprocesses (spid, kpid, blocked, 
      waittime, lastwaittype, waitresource, 
      dbid, uid, cpu, physical_io, 
      memusage, login_time, last_batch, 
      ecid, open_tran, status, 
      hostname, program_name, hostprocess, 
      cmd, nt_domain, nt_username, 
      net_address, net_library, loginame, 
      stmt_start, stmt_end, request_id, 
      waittype, sid, context_info, 
      sql_handle)
    values (#{spid,jdbcType=SMALLINT}, #{kpid,jdbcType=SMALLINT}, #{blocked,jdbcType=SMALLINT}, 
      #{waittime,jdbcType=BIGINT}, #{lastwaittype,jdbcType=NCHAR}, #{waitresource,jdbcType=NCHAR}, 
      #{dbid,jdbcType=SMALLINT}, #{uid,jdbcType=SMALLINT}, #{cpu,jdbcType=INTEGER}, #{physicalIo,jdbcType=BIGINT}, 
      #{memusage,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{lastBatch,jdbcType=TIMESTAMP}, 
      #{ecid,jdbcType=SMALLINT}, #{openTran,jdbcType=SMALLINT}, #{status,jdbcType=NCHAR}, 
      #{hostname,jdbcType=NCHAR}, #{programName,jdbcType=NCHAR}, #{hostprocess,jdbcType=NCHAR}, 
      #{cmd,jdbcType=NCHAR}, #{ntDomain,jdbcType=NCHAR}, #{ntUsername,jdbcType=NCHAR}, 
      #{netAddress,jdbcType=NCHAR}, #{netLibrary,jdbcType=NCHAR}, #{loginame,jdbcType=NCHAR}, 
      #{stmtStart,jdbcType=INTEGER}, #{stmtEnd,jdbcType=INTEGER}, #{requestId,jdbcType=INTEGER}, 
      #{waittype,jdbcType=BINARY}, #{sid,jdbcType=BINARY}, #{contextInfo,jdbcType=BINARY}, 
      #{sqlHandle,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysprocessesWithBLOBs" >
    insert into sysprocesses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        spid,
      </if>
      <if test="kpid != null" >
        kpid,
      </if>
      <if test="blocked != null" >
        blocked,
      </if>
      <if test="waittime != null" >
        waittime,
      </if>
      <if test="lastwaittype != null" >
        lastwaittype,
      </if>
      <if test="waitresource != null" >
        waitresource,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="physicalIo != null" >
        physical_io,
      </if>
      <if test="memusage != null" >
        memusage,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="lastBatch != null" >
        last_batch,
      </if>
      <if test="ecid != null" >
        ecid,
      </if>
      <if test="openTran != null" >
        open_tran,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="hostname != null" >
        hostname,
      </if>
      <if test="programName != null" >
        program_name,
      </if>
      <if test="hostprocess != null" >
        hostprocess,
      </if>
      <if test="cmd != null" >
        cmd,
      </if>
      <if test="ntDomain != null" >
        nt_domain,
      </if>
      <if test="ntUsername != null" >
        nt_username,
      </if>
      <if test="netAddress != null" >
        net_address,
      </if>
      <if test="netLibrary != null" >
        net_library,
      </if>
      <if test="loginame != null" >
        loginame,
      </if>
      <if test="stmtStart != null" >
        stmt_start,
      </if>
      <if test="stmtEnd != null" >
        stmt_end,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="waittype != null" >
        waittype,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="contextInfo != null" >
        context_info,
      </if>
      <if test="sqlHandle != null" >
        sql_handle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        #{spid,jdbcType=SMALLINT},
      </if>
      <if test="kpid != null" >
        #{kpid,jdbcType=SMALLINT},
      </if>
      <if test="blocked != null" >
        #{blocked,jdbcType=SMALLINT},
      </if>
      <if test="waittime != null" >
        #{waittime,jdbcType=BIGINT},
      </if>
      <if test="lastwaittype != null" >
        #{lastwaittype,jdbcType=NCHAR},
      </if>
      <if test="waitresource != null" >
        #{waitresource,jdbcType=NCHAR},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=SMALLINT},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=INTEGER},
      </if>
      <if test="physicalIo != null" >
        #{physicalIo,jdbcType=BIGINT},
      </if>
      <if test="memusage != null" >
        #{memusage,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastBatch != null" >
        #{lastBatch,jdbcType=TIMESTAMP},
      </if>
      <if test="ecid != null" >
        #{ecid,jdbcType=SMALLINT},
      </if>
      <if test="openTran != null" >
        #{openTran,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=NCHAR},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=NCHAR},
      </if>
      <if test="programName != null" >
        #{programName,jdbcType=NCHAR},
      </if>
      <if test="hostprocess != null" >
        #{hostprocess,jdbcType=NCHAR},
      </if>
      <if test="cmd != null" >
        #{cmd,jdbcType=NCHAR},
      </if>
      <if test="ntDomain != null" >
        #{ntDomain,jdbcType=NCHAR},
      </if>
      <if test="ntUsername != null" >
        #{ntUsername,jdbcType=NCHAR},
      </if>
      <if test="netAddress != null" >
        #{netAddress,jdbcType=NCHAR},
      </if>
      <if test="netLibrary != null" >
        #{netLibrary,jdbcType=NCHAR},
      </if>
      <if test="loginame != null" >
        #{loginame,jdbcType=NCHAR},
      </if>
      <if test="stmtStart != null" >
        #{stmtStart,jdbcType=INTEGER},
      </if>
      <if test="stmtEnd != null" >
        #{stmtEnd,jdbcType=INTEGER},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="waittype != null" >
        #{waittype,jdbcType=BINARY},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=BINARY},
      </if>
      <if test="contextInfo != null" >
        #{contextInfo,jdbcType=BINARY},
      </if>
      <if test="sqlHandle != null" >
        #{sqlHandle,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>