<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysrtsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysrts" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="remsvc" property="remsvc" jdbcType="NVARCHAR" />
    <result column="brkrinst" property="brkrinst" jdbcType="NVARCHAR" />
    <result column="addr" property="addr" jdbcType="NVARCHAR" />
    <result column="miraddr" property="miraddr" jdbcType="NVARCHAR" />
    <result column="lifetime" property="lifetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysrts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysrts (id, name, remsvc, 
      brkrinst, addr, miraddr, 
      lifetime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{remsvc,jdbcType=NVARCHAR}, 
      #{brkrinst,jdbcType=NVARCHAR}, #{addr,jdbcType=NVARCHAR}, #{miraddr,jdbcType=NVARCHAR}, 
      #{lifetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysrts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysrts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="remsvc != null" >
        remsvc,
      </if>
      <if test="brkrinst != null" >
        brkrinst,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="miraddr != null" >
        miraddr,
      </if>
      <if test="lifetime != null" >
        lifetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="remsvc != null" >
        #{remsvc,jdbcType=NVARCHAR},
      </if>
      <if test="brkrinst != null" >
        #{brkrinst,jdbcType=NVARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=NVARCHAR},
      </if>
      <if test="miraddr != null" >
        #{miraddr,jdbcType=NVARCHAR},
      </if>
      <if test="lifetime != null" >
        #{lifetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>