<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysrowsetsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysrowsets" >
    <result column="rowsetid" property="rowsetid" jdbcType="BIGINT" />
    <result column="ownertype" property="ownertype" jdbcType="TINYINT" />
    <result column="idmajor" property="idmajor" jdbcType="INTEGER" />
    <result column="idminor" property="idminor" jdbcType="INTEGER" />
    <result column="numpart" property="numpart" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fgidfs" property="fgidfs" jdbcType="SMALLINT" />
    <result column="rcrows" property="rcrows" jdbcType="BIGINT" />
    <result column="cmprlevel" property="cmprlevel" jdbcType="TINYINT" />
    <result column="fillfact" property="fillfact" jdbcType="TINYINT" />
    <result column="maxnullbit" property="maxnullbit" jdbcType="SMALLINT" />
    <result column="maxleaf" property="maxleaf" jdbcType="INTEGER" />
    <result column="maxint" property="maxint" jdbcType="SMALLINT" />
    <result column="minleaf" property="minleaf" jdbcType="SMALLINT" />
    <result column="minint" property="minint" jdbcType="SMALLINT" />
    <result column="scope_id" property="scopeId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.SysrowsetsWithBLOBs" extends="BaseResultMap" >
    <result column="rsguid" property="rsguid" jdbcType="VARBINARY" />
    <result column="lockres" property="lockres" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    rsguid, lockres
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysrowsetsWithBLOBs" >
    insert into sysrowsets (rowsetid, ownertype, idmajor, 
      idminor, numpart, status, 
      fgidfs, rcrows, cmprlevel, 
      fillfact, maxnullbit, maxleaf, 
      maxint, minleaf, minint, 
      scope_id, rsguid, lockres
      )
    values (#{rowsetid,jdbcType=BIGINT}, #{ownertype,jdbcType=TINYINT}, #{idmajor,jdbcType=INTEGER}, 
      #{idminor,jdbcType=INTEGER}, #{numpart,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{fgidfs,jdbcType=SMALLINT}, #{rcrows,jdbcType=BIGINT}, #{cmprlevel,jdbcType=TINYINT}, 
      #{fillfact,jdbcType=TINYINT}, #{maxnullbit,jdbcType=SMALLINT}, #{maxleaf,jdbcType=INTEGER}, 
      #{maxint,jdbcType=SMALLINT}, #{minleaf,jdbcType=SMALLINT}, #{minint,jdbcType=SMALLINT}, 
      #{scopeId,jdbcType=INTEGER}, #{rsguid,jdbcType=VARBINARY}, #{lockres,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SysrowsetsWithBLOBs" >
    insert into sysrowsets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowsetid != null" >
        rowsetid,
      </if>
      <if test="ownertype != null" >
        ownertype,
      </if>
      <if test="idmajor != null" >
        idmajor,
      </if>
      <if test="idminor != null" >
        idminor,
      </if>
      <if test="numpart != null" >
        numpart,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="fgidfs != null" >
        fgidfs,
      </if>
      <if test="rcrows != null" >
        rcrows,
      </if>
      <if test="cmprlevel != null" >
        cmprlevel,
      </if>
      <if test="fillfact != null" >
        fillfact,
      </if>
      <if test="maxnullbit != null" >
        maxnullbit,
      </if>
      <if test="maxleaf != null" >
        maxleaf,
      </if>
      <if test="maxint != null" >
        maxint,
      </if>
      <if test="minleaf != null" >
        minleaf,
      </if>
      <if test="minint != null" >
        minint,
      </if>
      <if test="scopeId != null" >
        scope_id,
      </if>
      <if test="rsguid != null" >
        rsguid,
      </if>
      <if test="lockres != null" >
        lockres,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowsetid != null" >
        #{rowsetid,jdbcType=BIGINT},
      </if>
      <if test="ownertype != null" >
        #{ownertype,jdbcType=TINYINT},
      </if>
      <if test="idmajor != null" >
        #{idmajor,jdbcType=INTEGER},
      </if>
      <if test="idminor != null" >
        #{idminor,jdbcType=INTEGER},
      </if>
      <if test="numpart != null" >
        #{numpart,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="fgidfs != null" >
        #{fgidfs,jdbcType=SMALLINT},
      </if>
      <if test="rcrows != null" >
        #{rcrows,jdbcType=BIGINT},
      </if>
      <if test="cmprlevel != null" >
        #{cmprlevel,jdbcType=TINYINT},
      </if>
      <if test="fillfact != null" >
        #{fillfact,jdbcType=TINYINT},
      </if>
      <if test="maxnullbit != null" >
        #{maxnullbit,jdbcType=SMALLINT},
      </if>
      <if test="maxleaf != null" >
        #{maxleaf,jdbcType=INTEGER},
      </if>
      <if test="maxint != null" >
        #{maxint,jdbcType=SMALLINT},
      </if>
      <if test="minleaf != null" >
        #{minleaf,jdbcType=SMALLINT},
      </if>
      <if test="minint != null" >
        #{minint,jdbcType=SMALLINT},
      </if>
      <if test="scopeId != null" >
        #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="rsguid != null" >
        #{rsguid,jdbcType=VARBINARY},
      </if>
      <if test="lockres != null" >
        #{lockres,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>