<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysschobjsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysschobjs" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="nsid" property="nsid" jdbcType="INTEGER" />
    <result column="nsclass" property="nsclass" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pclass" property="pclass" jdbcType="TINYINT" />
    <result column="intprop" property="intprop" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="status2" property="status2" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysschobjs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysschobjs (id, name, nsid, 
      nsclass, status, type, 
      pid, pclass, intprop, 
      created, modified, status2
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{nsid,jdbcType=INTEGER}, 
      #{nsclass,jdbcType=TINYINT}, #{status,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{pid,jdbcType=INTEGER}, #{pclass,jdbcType=TINYINT}, #{intprop,jdbcType=INTEGER}, 
      #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{status2,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysschobjs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysschobjs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="nsid != null" >
        nsid,
      </if>
      <if test="nsclass != null" >
        nsclass,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="pclass != null" >
        pclass,
      </if>
      <if test="intprop != null" >
        intprop,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="status2 != null" >
        status2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nsid != null" >
        #{nsid,jdbcType=INTEGER},
      </if>
      <if test="nsclass != null" >
        #{nsclass,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pclass != null" >
        #{pclass,jdbcType=TINYINT},
      </if>
      <if test="intprop != null" >
        #{intprop,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="status2 != null" >
        #{status2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>