<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysserversMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysservers" >
    <result column="srvid" property="srvid" jdbcType="SMALLINT" />
    <result column="srvstatus" property="srvstatus" jdbcType="SMALLINT" />
    <result column="srvname" property="srvname" jdbcType="NVARCHAR" />
    <result column="srvproduct" property="srvproduct" jdbcType="NVARCHAR" />
    <result column="providername" property="providername" jdbcType="NVARCHAR" />
    <result column="datasource" property="datasource" jdbcType="NVARCHAR" />
    <result column="location" property="location" jdbcType="NVARCHAR" />
    <result column="providerstring" property="providerstring" jdbcType="NVARCHAR" />
    <result column="schemadate" property="schemadate" jdbcType="TIMESTAMP" />
    <result column="topologyx" property="topologyx" jdbcType="INTEGER" />
    <result column="topologyy" property="topologyy" jdbcType="INTEGER" />
    <result column="catalog" property="catalog" jdbcType="NVARCHAR" />
    <result column="srvcollation" property="srvcollation" jdbcType="NVARCHAR" />
    <result column="connecttimeout" property="connecttimeout" jdbcType="INTEGER" />
    <result column="querytimeout" property="querytimeout" jdbcType="INTEGER" />
    <result column="srvnetname" property="srvnetname" jdbcType="CHAR" />
    <result column="isremote" property="isremote" jdbcType="BIT" />
    <result column="rpc" property="rpc" jdbcType="BIT" />
    <result column="pub" property="pub" jdbcType="BIT" />
    <result column="sub" property="sub" jdbcType="BIT" />
    <result column="dist" property="dist" jdbcType="BIT" />
    <result column="dpub" property="dpub" jdbcType="BIT" />
    <result column="rpcout" property="rpcout" jdbcType="BIT" />
    <result column="dataaccess" property="dataaccess" jdbcType="BIT" />
    <result column="collationcompatible" property="collationcompatible" jdbcType="BIT" />
    <result column="system" property="system" jdbcType="BIT" />
    <result column="useremotecollation" property="useremotecollation" jdbcType="BIT" />
    <result column="lazyschemavalidation" property="lazyschemavalidation" jdbcType="BIT" />
    <result column="collation" property="collation" jdbcType="NVARCHAR" />
    <result column="nonsqlsub" property="nonsqlsub" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysservers" >
    insert into sysservers (srvid, srvstatus, srvname, 
      srvproduct, providername, datasource, 
      location, providerstring, schemadate, 
      topologyx, topologyy, catalog, 
      srvcollation, connecttimeout, querytimeout, 
      srvnetname, isremote, rpc, pub, 
      sub, dist, dpub, rpcout, 
      dataaccess, collationcompatible, system, 
      useremotecollation, lazyschemavalidation, collation, 
      nonsqlsub)
    values (#{srvid,jdbcType=SMALLINT}, #{srvstatus,jdbcType=SMALLINT}, #{srvname,jdbcType=NVARCHAR}, 
      #{srvproduct,jdbcType=NVARCHAR}, #{providername,jdbcType=NVARCHAR}, #{datasource,jdbcType=NVARCHAR}, 
      #{location,jdbcType=NVARCHAR}, #{providerstring,jdbcType=NVARCHAR}, #{schemadate,jdbcType=TIMESTAMP}, 
      #{topologyx,jdbcType=INTEGER}, #{topologyy,jdbcType=INTEGER}, #{catalog,jdbcType=NVARCHAR}, 
      #{srvcollation,jdbcType=NVARCHAR}, #{connecttimeout,jdbcType=INTEGER}, #{querytimeout,jdbcType=INTEGER}, 
      #{srvnetname,jdbcType=CHAR}, #{isremote,jdbcType=BIT}, #{rpc,jdbcType=BIT}, #{pub,jdbcType=BIT}, 
      #{sub,jdbcType=BIT}, #{dist,jdbcType=BIT}, #{dpub,jdbcType=BIT}, #{rpcout,jdbcType=BIT}, 
      #{dataaccess,jdbcType=BIT}, #{collationcompatible,jdbcType=BIT}, #{system,jdbcType=BIT}, 
      #{useremotecollation,jdbcType=BIT}, #{lazyschemavalidation,jdbcType=BIT}, #{collation,jdbcType=NVARCHAR}, 
      #{nonsqlsub,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysservers" >
    insert into sysservers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srvid != null" >
        srvid,
      </if>
      <if test="srvstatus != null" >
        srvstatus,
      </if>
      <if test="srvname != null" >
        srvname,
      </if>
      <if test="srvproduct != null" >
        srvproduct,
      </if>
      <if test="providername != null" >
        providername,
      </if>
      <if test="datasource != null" >
        datasource,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="providerstring != null" >
        providerstring,
      </if>
      <if test="schemadate != null" >
        schemadate,
      </if>
      <if test="topologyx != null" >
        topologyx,
      </if>
      <if test="topologyy != null" >
        topologyy,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="srvcollation != null" >
        srvcollation,
      </if>
      <if test="connecttimeout != null" >
        connecttimeout,
      </if>
      <if test="querytimeout != null" >
        querytimeout,
      </if>
      <if test="srvnetname != null" >
        srvnetname,
      </if>
      <if test="isremote != null" >
        isremote,
      </if>
      <if test="rpc != null" >
        rpc,
      </if>
      <if test="pub != null" >
        pub,
      </if>
      <if test="sub != null" >
        sub,
      </if>
      <if test="dist != null" >
        dist,
      </if>
      <if test="dpub != null" >
        dpub,
      </if>
      <if test="rpcout != null" >
        rpcout,
      </if>
      <if test="dataaccess != null" >
        dataaccess,
      </if>
      <if test="collationcompatible != null" >
        collationcompatible,
      </if>
      <if test="system != null" >
        system,
      </if>
      <if test="useremotecollation != null" >
        useremotecollation,
      </if>
      <if test="lazyschemavalidation != null" >
        lazyschemavalidation,
      </if>
      <if test="collation != null" >
        collation,
      </if>
      <if test="nonsqlsub != null" >
        nonsqlsub,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srvid != null" >
        #{srvid,jdbcType=SMALLINT},
      </if>
      <if test="srvstatus != null" >
        #{srvstatus,jdbcType=SMALLINT},
      </if>
      <if test="srvname != null" >
        #{srvname,jdbcType=NVARCHAR},
      </if>
      <if test="srvproduct != null" >
        #{srvproduct,jdbcType=NVARCHAR},
      </if>
      <if test="providername != null" >
        #{providername,jdbcType=NVARCHAR},
      </if>
      <if test="datasource != null" >
        #{datasource,jdbcType=NVARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=NVARCHAR},
      </if>
      <if test="providerstring != null" >
        #{providerstring,jdbcType=NVARCHAR},
      </if>
      <if test="schemadate != null" >
        #{schemadate,jdbcType=TIMESTAMP},
      </if>
      <if test="topologyx != null" >
        #{topologyx,jdbcType=INTEGER},
      </if>
      <if test="topologyy != null" >
        #{topologyy,jdbcType=INTEGER},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=NVARCHAR},
      </if>
      <if test="srvcollation != null" >
        #{srvcollation,jdbcType=NVARCHAR},
      </if>
      <if test="connecttimeout != null" >
        #{connecttimeout,jdbcType=INTEGER},
      </if>
      <if test="querytimeout != null" >
        #{querytimeout,jdbcType=INTEGER},
      </if>
      <if test="srvnetname != null" >
        #{srvnetname,jdbcType=CHAR},
      </if>
      <if test="isremote != null" >
        #{isremote,jdbcType=BIT},
      </if>
      <if test="rpc != null" >
        #{rpc,jdbcType=BIT},
      </if>
      <if test="pub != null" >
        #{pub,jdbcType=BIT},
      </if>
      <if test="sub != null" >
        #{sub,jdbcType=BIT},
      </if>
      <if test="dist != null" >
        #{dist,jdbcType=BIT},
      </if>
      <if test="dpub != null" >
        #{dpub,jdbcType=BIT},
      </if>
      <if test="rpcout != null" >
        #{rpcout,jdbcType=BIT},
      </if>
      <if test="dataaccess != null" >
        #{dataaccess,jdbcType=BIT},
      </if>
      <if test="collationcompatible != null" >
        #{collationcompatible,jdbcType=BIT},
      </if>
      <if test="system != null" >
        #{system,jdbcType=BIT},
      </if>
      <if test="useremotecollation != null" >
        #{useremotecollation,jdbcType=BIT},
      </if>
      <if test="lazyschemavalidation != null" >
        #{lazyschemavalidation,jdbcType=BIT},
      </if>
      <if test="collation != null" >
        #{collation,jdbcType=NVARCHAR},
      </if>
      <if test="nonsqlsub != null" >
        #{nonsqlsub,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>