<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysseobjvaluesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysseobjvalues" >
    <result column="valclass" property="valclass" jdbcType="TINYINT" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="subid" property="subid" jdbcType="BIGINT" />
    <result column="valnum" property="valnum" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="OTHER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysseobjvalues" extends="BaseResultMap" >
    <result column="imageval" property="imageval" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    imageval
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysseobjvalues" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysseobjvalues (valclass, id, subid, 
      valnum, value, imageval
      )
    values (#{valclass,jdbcType=TINYINT}, #{id,jdbcType=BIGINT}, #{subid,jdbcType=BIGINT}, 
      #{valnum,jdbcType=INTEGER}, #{value,jdbcType=OTHER}, #{imageval,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysseobjvalues" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysseobjvalues
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="valclass != null" >
        valclass,
      </if>
      id,
      <if test="subid != null" >
        subid,
      </if>
      <if test="valnum != null" >
        valnum,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="imageval != null" >
        imageval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="valclass != null" >
        #{valclass,jdbcType=TINYINT},
      </if>
      #{id,jdbcType=BIGINT},
      <if test="subid != null" >
        #{subid,jdbcType=BIGINT},
      </if>
      <if test="valnum != null" >
        #{valnum,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
      <if test="imageval != null" >
        #{imageval,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>