<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystemInternalsPartitionColumnsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitionColumns" >
    <result column="partition_id" property="partitionId" jdbcType="BIGINT" />
    <result column="partition_column_id" property="partitionColumnId" jdbcType="INTEGER" />
    <result column="modified_count" property="modifiedCount" jdbcType="BIGINT" />
    <result column="max_inrow_length" property="maxInrowLength" jdbcType="SMALLINT" />
    <result column="is_replicated" property="isReplicated" jdbcType="BIT" />
    <result column="is_logged_for_replication" property="isLoggedForReplication" jdbcType="BIT" />
    <result column="is_dropped" property="isDropped" jdbcType="BIT" />
    <result column="system_type_id" property="systemTypeId" jdbcType="TINYINT" />
    <result column="max_length" property="maxLength" jdbcType="SMALLINT" />
    <result column="precision" property="precision" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collation_name" property="collationName" jdbcType="NVARCHAR" />
    <result column="is_filestream" property="isFilestream" jdbcType="BIT" />
    <result column="key_ordinal" property="keyOrdinal" jdbcType="SMALLINT" />
    <result column="is_nullable" property="isNullable" jdbcType="BIT" />
    <result column="is_descending_key" property="isDescendingKey" jdbcType="BIT" />
    <result column="is_uniqueifier" property="isUniqueifier" jdbcType="BIT" />
    <result column="leaf_offset" property="leafOffset" jdbcType="SMALLINT" />
    <result column="internal_offset" property="internalOffset" jdbcType="SMALLINT" />
    <result column="leaf_bit_position" property="leafBitPosition" jdbcType="TINYINT" />
    <result column="internal_bit_position" property="internalBitPosition" jdbcType="TINYINT" />
    <result column="leaf_null_bit" property="leafNullBit" jdbcType="SMALLINT" />
    <result column="internal_null_bit" property="internalNullBit" jdbcType="SMALLINT" />
    <result column="is_anti_matter" property="isAntiMatter" jdbcType="BIT" />
    <result column="partition_column_guid" property="partitionColumnGuid" jdbcType="CHAR" />
    <result column="is_sparse" property="isSparse" jdbcType="BIT" />
    <result column="has_default" property="hasDefault" jdbcType="BIT" />
    <result column="default_value" property="defaultValue" jdbcType="OTHER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitionColumns" >
    insert into system_internals_partition_columns (partition_id, partition_column_id, modified_count, 
      max_inrow_length, is_replicated, is_logged_for_replication, 
      is_dropped, system_type_id, max_length, 
      precision, scale, collation_name, 
      is_filestream, key_ordinal, is_nullable, 
      is_descending_key, is_uniqueifier, leaf_offset, 
      internal_offset, leaf_bit_position, internal_bit_position, 
      leaf_null_bit, internal_null_bit, is_anti_matter, 
      partition_column_guid, is_sparse, has_default, 
      default_value)
    values (#{partitionId,jdbcType=BIGINT}, #{partitionColumnId,jdbcType=INTEGER}, #{modifiedCount,jdbcType=BIGINT}, 
      #{maxInrowLength,jdbcType=SMALLINT}, #{isReplicated,jdbcType=BIT}, #{isLoggedForReplication,jdbcType=BIT}, 
      #{isDropped,jdbcType=BIT}, #{systemTypeId,jdbcType=TINYINT}, #{maxLength,jdbcType=SMALLINT}, 
      #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, #{collationName,jdbcType=NVARCHAR}, 
      #{isFilestream,jdbcType=BIT}, #{keyOrdinal,jdbcType=SMALLINT}, #{isNullable,jdbcType=BIT}, 
      #{isDescendingKey,jdbcType=BIT}, #{isUniqueifier,jdbcType=BIT}, #{leafOffset,jdbcType=SMALLINT}, 
      #{internalOffset,jdbcType=SMALLINT}, #{leafBitPosition,jdbcType=TINYINT}, #{internalBitPosition,jdbcType=TINYINT}, 
      #{leafNullBit,jdbcType=SMALLINT}, #{internalNullBit,jdbcType=SMALLINT}, #{isAntiMatter,jdbcType=BIT}, 
      #{partitionColumnGuid,jdbcType=CHAR}, #{isSparse,jdbcType=BIT}, #{hasDefault,jdbcType=BIT}, 
      #{defaultValue,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitionColumns" >
    insert into system_internals_partition_columns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        partition_id,
      </if>
      <if test="partitionColumnId != null" >
        partition_column_id,
      </if>
      <if test="modifiedCount != null" >
        modified_count,
      </if>
      <if test="maxInrowLength != null" >
        max_inrow_length,
      </if>
      <if test="isReplicated != null" >
        is_replicated,
      </if>
      <if test="isLoggedForReplication != null" >
        is_logged_for_replication,
      </if>
      <if test="isDropped != null" >
        is_dropped,
      </if>
      <if test="systemTypeId != null" >
        system_type_id,
      </if>
      <if test="maxLength != null" >
        max_length,
      </if>
      <if test="precision != null" >
        precision,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationName != null" >
        collation_name,
      </if>
      <if test="isFilestream != null" >
        is_filestream,
      </if>
      <if test="keyOrdinal != null" >
        key_ordinal,
      </if>
      <if test="isNullable != null" >
        is_nullable,
      </if>
      <if test="isDescendingKey != null" >
        is_descending_key,
      </if>
      <if test="isUniqueifier != null" >
        is_uniqueifier,
      </if>
      <if test="leafOffset != null" >
        leaf_offset,
      </if>
      <if test="internalOffset != null" >
        internal_offset,
      </if>
      <if test="leafBitPosition != null" >
        leaf_bit_position,
      </if>
      <if test="internalBitPosition != null" >
        internal_bit_position,
      </if>
      <if test="leafNullBit != null" >
        leaf_null_bit,
      </if>
      <if test="internalNullBit != null" >
        internal_null_bit,
      </if>
      <if test="isAntiMatter != null" >
        is_anti_matter,
      </if>
      <if test="partitionColumnGuid != null" >
        partition_column_guid,
      </if>
      <if test="isSparse != null" >
        is_sparse,
      </if>
      <if test="hasDefault != null" >
        has_default,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        #{partitionId,jdbcType=BIGINT},
      </if>
      <if test="partitionColumnId != null" >
        #{partitionColumnId,jdbcType=INTEGER},
      </if>
      <if test="modifiedCount != null" >
        #{modifiedCount,jdbcType=BIGINT},
      </if>
      <if test="maxInrowLength != null" >
        #{maxInrowLength,jdbcType=SMALLINT},
      </if>
      <if test="isReplicated != null" >
        #{isReplicated,jdbcType=BIT},
      </if>
      <if test="isLoggedForReplication != null" >
        #{isLoggedForReplication,jdbcType=BIT},
      </if>
      <if test="isDropped != null" >
        #{isDropped,jdbcType=BIT},
      </if>
      <if test="systemTypeId != null" >
        #{systemTypeId,jdbcType=TINYINT},
      </if>
      <if test="maxLength != null" >
        #{maxLength,jdbcType=SMALLINT},
      </if>
      <if test="precision != null" >
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationName != null" >
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="isFilestream != null" >
        #{isFilestream,jdbcType=BIT},
      </if>
      <if test="keyOrdinal != null" >
        #{keyOrdinal,jdbcType=SMALLINT},
      </if>
      <if test="isNullable != null" >
        #{isNullable,jdbcType=BIT},
      </if>
      <if test="isDescendingKey != null" >
        #{isDescendingKey,jdbcType=BIT},
      </if>
      <if test="isUniqueifier != null" >
        #{isUniqueifier,jdbcType=BIT},
      </if>
      <if test="leafOffset != null" >
        #{leafOffset,jdbcType=SMALLINT},
      </if>
      <if test="internalOffset != null" >
        #{internalOffset,jdbcType=SMALLINT},
      </if>
      <if test="leafBitPosition != null" >
        #{leafBitPosition,jdbcType=TINYINT},
      </if>
      <if test="internalBitPosition != null" >
        #{internalBitPosition,jdbcType=TINYINT},
      </if>
      <if test="leafNullBit != null" >
        #{leafNullBit,jdbcType=SMALLINT},
      </if>
      <if test="internalNullBit != null" >
        #{internalNullBit,jdbcType=SMALLINT},
      </if>
      <if test="isAntiMatter != null" >
        #{isAntiMatter,jdbcType=BIT},
      </if>
      <if test="partitionColumnGuid != null" >
        #{partitionColumnGuid,jdbcType=CHAR},
      </if>
      <if test="isSparse != null" >
        #{isSparse,jdbcType=BIT},
      </if>
      <if test="hasDefault != null" >
        #{hasDefault,jdbcType=BIT},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
</mapper>