<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystemComponentsSurfaceAreaConfigurationMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SystemComponentsSurfaceAreaConfiguration" >
    <result column="component_name" property="componentName" jdbcType="NVARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="NVARCHAR" />
    <result column="schema_name" property="schemaName" jdbcType="NVARCHAR" />
    <result column="object_name" property="objectName" jdbcType="NVARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemComponentsSurfaceAreaConfiguration" >
    insert into system_components_surface_area_configuration (component_name, database_name, schema_name, 
      object_name, state, type, 
      type_desc)
    values (#{componentName,jdbcType=NVARCHAR}, #{databaseName,jdbcType=NVARCHAR}, #{schemaName,jdbcType=NVARCHAR}, 
      #{objectName,jdbcType=NVARCHAR}, #{state,jdbcType=TINYINT}, #{type,jdbcType=CHAR}, 
      #{typeDesc,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemComponentsSurfaceAreaConfiguration" >
    insert into system_components_surface_area_configuration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="componentName != null" >
        component_name,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="schemaName != null" >
        schema_name,
      </if>
      <if test="objectName != null" >
        object_name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="componentName != null" >
        #{componentName,jdbcType=NVARCHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=NVARCHAR},
      </if>
      <if test="schemaName != null" >
        #{schemaName,jdbcType=NVARCHAR},
      </if>
      <if test="objectName != null" >
        #{objectName,jdbcType=NVARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>