<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystemSqlModulesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SystemSqlModules" >
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="definition" property="definition" jdbcType="NVARCHAR" />
    <result column="uses_ansi_nulls" property="usesAnsiNulls" jdbcType="BIT" />
    <result column="uses_quoted_identifier" property="usesQuotedIdentifier" jdbcType="BIT" />
    <result column="is_schema_bound" property="isSchemaBound" jdbcType="BIT" />
    <result column="uses_database_collation" property="usesDatabaseCollation" jdbcType="BIT" />
    <result column="is_recompiled" property="isRecompiled" jdbcType="BIT" />
    <result column="null_on_null_input" property="nullOnNullInput" jdbcType="BIT" />
    <result column="execute_as_principal_id" property="executeAsPrincipalId" jdbcType="INTEGER" />
    <result column="uses_native_compilation" property="usesNativeCompilation" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemSqlModules" >
    insert into system_sql_modules (object_id, definition, uses_ansi_nulls, 
      uses_quoted_identifier, is_schema_bound, uses_database_collation, 
      is_recompiled, null_on_null_input, execute_as_principal_id, 
      uses_native_compilation)
    values (#{objectId,jdbcType=INTEGER}, #{definition,jdbcType=NVARCHAR}, #{usesAnsiNulls,jdbcType=BIT}, 
      #{usesQuotedIdentifier,jdbcType=BIT}, #{isSchemaBound,jdbcType=BIT}, #{usesDatabaseCollation,jdbcType=BIT}, 
      #{isRecompiled,jdbcType=BIT}, #{nullOnNullInput,jdbcType=BIT}, #{executeAsPrincipalId,jdbcType=INTEGER}, 
      #{usesNativeCompilation,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemSqlModules" >
    insert into system_sql_modules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="definition != null" >
        definition,
      </if>
      <if test="usesAnsiNulls != null" >
        uses_ansi_nulls,
      </if>
      <if test="usesQuotedIdentifier != null" >
        uses_quoted_identifier,
      </if>
      <if test="isSchemaBound != null" >
        is_schema_bound,
      </if>
      <if test="usesDatabaseCollation != null" >
        uses_database_collation,
      </if>
      <if test="isRecompiled != null" >
        is_recompiled,
      </if>
      <if test="nullOnNullInput != null" >
        null_on_null_input,
      </if>
      <if test="executeAsPrincipalId != null" >
        execute_as_principal_id,
      </if>
      <if test="usesNativeCompilation != null" >
        uses_native_compilation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=NVARCHAR},
      </if>
      <if test="usesAnsiNulls != null" >
        #{usesAnsiNulls,jdbcType=BIT},
      </if>
      <if test="usesQuotedIdentifier != null" >
        #{usesQuotedIdentifier,jdbcType=BIT},
      </if>
      <if test="isSchemaBound != null" >
        #{isSchemaBound,jdbcType=BIT},
      </if>
      <if test="usesDatabaseCollation != null" >
        #{usesDatabaseCollation,jdbcType=BIT},
      </if>
      <if test="isRecompiled != null" >
        #{isRecompiled,jdbcType=BIT},
      </if>
      <if test="nullOnNullInput != null" >
        #{nullOnNullInput,jdbcType=BIT},
      </if>
      <if test="executeAsPrincipalId != null" >
        #{executeAsPrincipalId,jdbcType=INTEGER},
      </if>
      <if test="usesNativeCompilation != null" >
        #{usesNativeCompilation,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>