<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystemOptionMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SystemOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="option_code" property="optionCode" jdbcType="VARCHAR" />
    <result column="option_value" property="optionValue" jdbcType="VARCHAR" />
    <result column="option_type" property="optionType" jdbcType="VARCHAR" />
    <result column="option_type_name" property="optionTypeName" jdbcType="VARCHAR" />
    <result column="show_order" property="showOrder" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, option_code, option_value, option_type, option_type_name, show_order, created_by, 
    created_on, modified_by, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_option
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_option
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemOption" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_option (id, option_code, option_value, 
      option_type, option_type_name, show_order, 
      created_by, created_on, modified_by, 
      modified_on)
    values (#{id,jdbcType=INTEGER}, #{optionCode,jdbcType=VARCHAR}, #{optionValue,jdbcType=VARCHAR}, 
      #{optionType,jdbcType=VARCHAR}, #{optionTypeName,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=INTEGER}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemOption" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="optionCode != null" >
        option_code,
      </if>
      <if test="optionValue != null" >
        option_value,
      </if>
      <if test="optionType != null" >
        option_type,
      </if>
      <if test="optionTypeName != null" >
        option_type_name,
      </if>
      <if test="showOrder != null" >
        show_order,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="optionCode != null" >
        #{optionCode,jdbcType=VARCHAR},
      </if>
      <if test="optionValue != null" >
        #{optionValue,jdbcType=VARCHAR},
      </if>
      <if test="optionType != null" >
        #{optionType,jdbcType=VARCHAR},
      </if>
      <if test="optionTypeName != null" >
        #{optionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemOption" >
    update system_option
    <set >
      <if test="optionCode != null" >
        option_code = #{optionCode,jdbcType=VARCHAR},
      </if>
      <if test="optionValue != null" >
        option_value = #{optionValue,jdbcType=VARCHAR},
      </if>
      <if test="optionType != null" >
        option_type = #{optionType,jdbcType=VARCHAR},
      </if>
      <if test="optionTypeName != null" >
        option_type_name = #{optionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        show_order = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemOption" >
    update system_option
    set option_code = #{optionCode,jdbcType=VARCHAR},
      option_value = #{optionValue,jdbcType=VARCHAR},
      option_type = #{optionType,jdbcType=VARCHAR},
      option_type_name = #{optionTypeName,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>