<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystypedsubobjsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Systypedsubobjs" >
    <result column="class" property="class" jdbcType="TINYINT" />
    <result column="idmajor" property="idmajor" jdbcType="INTEGER" />
    <result column="subid" property="subid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="xtype" property="xtype" jdbcType="TINYINT" />
    <result column="utype" property="utype" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="prec" property="prec" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collationid" property="collationid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="intprop" property="intprop" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Systypedsubobjs" >
    insert into systypedsubobjs (class, idmajor, subid, 
      name, xtype, utype, 
      length, prec, scale, 
      collationid, status, intprop
      )
    values (#{class,jdbcType=TINYINT}, #{idmajor,jdbcType=INTEGER}, #{subid,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{xtype,jdbcType=TINYINT}, #{utype,jdbcType=INTEGER}, 
      #{length,jdbcType=SMALLINT}, #{prec,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, 
      #{collationid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{intprop,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Systypedsubobjs" >
    insert into systypedsubobjs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        class,
      </if>
      <if test="idmajor != null" >
        idmajor,
      </if>
      <if test="subid != null" >
        subid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="xtype != null" >
        xtype,
      </if>
      <if test="utype != null" >
        utype,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="prec != null" >
        prec,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationid != null" >
        collationid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="intprop != null" >
        intprop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="class != null" >
        #{class,jdbcType=TINYINT},
      </if>
      <if test="idmajor != null" >
        #{idmajor,jdbcType=INTEGER},
      </if>
      <if test="subid != null" >
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="xtype != null" >
        #{xtype,jdbcType=TINYINT},
      </if>
      <if test="utype != null" >
        #{utype,jdbcType=INTEGER},
      </if>
      <if test="length != null" >
        #{length,jdbcType=SMALLINT},
      </if>
      <if test="prec != null" >
        #{prec,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationid != null" >
        #{collationid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="intprop != null" >
        #{intprop,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>