<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SystemInternalsPartitionsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitions" >
    <result column="partition_id" property="partitionId" jdbcType="BIGINT" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="partition_number" property="partitionNumber" jdbcType="INTEGER" />
    <result column="rows" property="rows" jdbcType="BIGINT" />
    <result column="filestream_filegroup_id" property="filestreamFilegroupId" jdbcType="SMALLINT" />
    <result column="is_orphaned" property="isOrphaned" jdbcType="BIT" />
    <result column="dropped_lob_column_state" property="droppedLobColumnState" jdbcType="TINYINT" />
    <result column="is_unique" property="isUnique" jdbcType="BIT" />
    <result column="is_replicated" property="isReplicated" jdbcType="BIT" />
    <result column="is_logged_for_replication" property="isLoggedForReplication" jdbcType="BIT" />
    <result column="is_sereplicated" property="isSereplicated" jdbcType="BIT" />
    <result column="max_null_bit_used" property="maxNullBitUsed" jdbcType="SMALLINT" />
    <result column="max_leaf_length" property="maxLeafLength" jdbcType="INTEGER" />
    <result column="min_leaf_length" property="minLeafLength" jdbcType="SMALLINT" />
    <result column="max_internal_length" property="maxInternalLength" jdbcType="SMALLINT" />
    <result column="min_internal_length" property="minInternalLength" jdbcType="SMALLINT" />
    <result column="allows_nullable_keys" property="allowsNullableKeys" jdbcType="BIT" />
    <result column="allow_row_locks" property="allowRowLocks" jdbcType="BIT" />
    <result column="allow_page_locks" property="allowPageLocks" jdbcType="BIT" />
    <result column="is_data_row_format" property="isDataRowFormat" jdbcType="BIT" />
    <result column="is_not_versioned" property="isNotVersioned" jdbcType="BIT" />
    <result column="filestream_guid" property="filestreamGuid" jdbcType="CHAR" />
    <result column="ownertype" property="ownertype" jdbcType="TINYINT" />
    <result column="is_columnstore" property="isColumnstore" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitions" >
    insert into system_internals_partitions (partition_id, object_id, index_id, 
      partition_number, rows, filestream_filegroup_id, 
      is_orphaned, dropped_lob_column_state, is_unique, 
      is_replicated, is_logged_for_replication, is_sereplicated, 
      max_null_bit_used, max_leaf_length, min_leaf_length, 
      max_internal_length, min_internal_length, 
      allows_nullable_keys, allow_row_locks, allow_page_locks, 
      is_data_row_format, is_not_versioned, filestream_guid, 
      ownertype, is_columnstore)
    values (#{partitionId,jdbcType=BIGINT}, #{objectId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, 
      #{partitionNumber,jdbcType=INTEGER}, #{rows,jdbcType=BIGINT}, #{filestreamFilegroupId,jdbcType=SMALLINT}, 
      #{isOrphaned,jdbcType=BIT}, #{droppedLobColumnState,jdbcType=TINYINT}, #{isUnique,jdbcType=BIT}, 
      #{isReplicated,jdbcType=BIT}, #{isLoggedForReplication,jdbcType=BIT}, #{isSereplicated,jdbcType=BIT}, 
      #{maxNullBitUsed,jdbcType=SMALLINT}, #{maxLeafLength,jdbcType=INTEGER}, #{minLeafLength,jdbcType=SMALLINT}, 
      #{maxInternalLength,jdbcType=SMALLINT}, #{minInternalLength,jdbcType=SMALLINT}, 
      #{allowsNullableKeys,jdbcType=BIT}, #{allowRowLocks,jdbcType=BIT}, #{allowPageLocks,jdbcType=BIT}, 
      #{isDataRowFormat,jdbcType=BIT}, #{isNotVersioned,jdbcType=BIT}, #{filestreamGuid,jdbcType=CHAR}, 
      #{ownertype,jdbcType=TINYINT}, #{isColumnstore,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.SystemInternalsPartitions" >
    insert into system_internals_partitions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        partition_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="partitionNumber != null" >
        partition_number,
      </if>
      <if test="rows != null" >
        rows,
      </if>
      <if test="filestreamFilegroupId != null" >
        filestream_filegroup_id,
      </if>
      <if test="isOrphaned != null" >
        is_orphaned,
      </if>
      <if test="droppedLobColumnState != null" >
        dropped_lob_column_state,
      </if>
      <if test="isUnique != null" >
        is_unique,
      </if>
      <if test="isReplicated != null" >
        is_replicated,
      </if>
      <if test="isLoggedForReplication != null" >
        is_logged_for_replication,
      </if>
      <if test="isSereplicated != null" >
        is_sereplicated,
      </if>
      <if test="maxNullBitUsed != null" >
        max_null_bit_used,
      </if>
      <if test="maxLeafLength != null" >
        max_leaf_length,
      </if>
      <if test="minLeafLength != null" >
        min_leaf_length,
      </if>
      <if test="maxInternalLength != null" >
        max_internal_length,
      </if>
      <if test="minInternalLength != null" >
        min_internal_length,
      </if>
      <if test="allowsNullableKeys != null" >
        allows_nullable_keys,
      </if>
      <if test="allowRowLocks != null" >
        allow_row_locks,
      </if>
      <if test="allowPageLocks != null" >
        allow_page_locks,
      </if>
      <if test="isDataRowFormat != null" >
        is_data_row_format,
      </if>
      <if test="isNotVersioned != null" >
        is_not_versioned,
      </if>
      <if test="filestreamGuid != null" >
        filestream_guid,
      </if>
      <if test="ownertype != null" >
        ownertype,
      </if>
      <if test="isColumnstore != null" >
        is_columnstore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partitionId != null" >
        #{partitionId,jdbcType=BIGINT},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="partitionNumber != null" >
        #{partitionNumber,jdbcType=INTEGER},
      </if>
      <if test="rows != null" >
        #{rows,jdbcType=BIGINT},
      </if>
      <if test="filestreamFilegroupId != null" >
        #{filestreamFilegroupId,jdbcType=SMALLINT},
      </if>
      <if test="isOrphaned != null" >
        #{isOrphaned,jdbcType=BIT},
      </if>
      <if test="droppedLobColumnState != null" >
        #{droppedLobColumnState,jdbcType=TINYINT},
      </if>
      <if test="isUnique != null" >
        #{isUnique,jdbcType=BIT},
      </if>
      <if test="isReplicated != null" >
        #{isReplicated,jdbcType=BIT},
      </if>
      <if test="isLoggedForReplication != null" >
        #{isLoggedForReplication,jdbcType=BIT},
      </if>
      <if test="isSereplicated != null" >
        #{isSereplicated,jdbcType=BIT},
      </if>
      <if test="maxNullBitUsed != null" >
        #{maxNullBitUsed,jdbcType=SMALLINT},
      </if>
      <if test="maxLeafLength != null" >
        #{maxLeafLength,jdbcType=INTEGER},
      </if>
      <if test="minLeafLength != null" >
        #{minLeafLength,jdbcType=SMALLINT},
      </if>
      <if test="maxInternalLength != null" >
        #{maxInternalLength,jdbcType=SMALLINT},
      </if>
      <if test="minInternalLength != null" >
        #{minInternalLength,jdbcType=SMALLINT},
      </if>
      <if test="allowsNullableKeys != null" >
        #{allowsNullableKeys,jdbcType=BIT},
      </if>
      <if test="allowRowLocks != null" >
        #{allowRowLocks,jdbcType=BIT},
      </if>
      <if test="allowPageLocks != null" >
        #{allowPageLocks,jdbcType=BIT},
      </if>
      <if test="isDataRowFormat != null" >
        #{isDataRowFormat,jdbcType=BIT},
      </if>
      <if test="isNotVersioned != null" >
        #{isNotVersioned,jdbcType=BIT},
      </if>
      <if test="filestreamGuid != null" >
        #{filestreamGuid,jdbcType=CHAR},
      </if>
      <if test="ownertype != null" >
        #{ownertype,jdbcType=TINYINT},
      </if>
      <if test="isColumnstore != null" >
        #{isColumnstore,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>