<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysusermsgsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysusermsgs" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="msglangid" property="msglangid" jdbcType="SMALLINT" />
    <result column="severity" property="severity" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="text" property="text" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysusermsgs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysusermsgs (id, msglangid, severity, 
      status, text)
    values (#{id,jdbcType=INTEGER}, #{msglangid,jdbcType=SMALLINT}, #{severity,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{text,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysusermsgs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysusermsgs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="msglangid != null" >
        msglangid,
      </if>
      <if test="severity != null" >
        severity,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="text != null" >
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="msglangid != null" >
        #{msglangid,jdbcType=SMALLINT},
      </if>
      <if test="severity != null" >
        #{severity,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="text != null" >
        #{text,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>