<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysxmlplacementMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlplacement" >
    <result column="placingid" property="placingid" jdbcType="INTEGER" />
    <result column="ordinal" property="ordinal" jdbcType="INTEGER" />
    <result column="placedid" property="placedid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="minoccur" property="minoccur" jdbcType="INTEGER" />
    <result column="maxoccur" property="maxoccur" jdbcType="INTEGER" />
    <result column="defval" property="defval" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlplacement" >
    insert into sysxmlplacement (placingid, ordinal, placedid, 
      status, minoccur, maxoccur, 
      defval)
    values (#{placingid,jdbcType=INTEGER}, #{ordinal,jdbcType=INTEGER}, #{placedid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{minoccur,jdbcType=INTEGER}, #{maxoccur,jdbcType=INTEGER}, 
      #{defval,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlplacement" >
    insert into sysxmlplacement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="placingid != null" >
        placingid,
      </if>
      <if test="ordinal != null" >
        ordinal,
      </if>
      <if test="placedid != null" >
        placedid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="minoccur != null" >
        minoccur,
      </if>
      <if test="maxoccur != null" >
        maxoccur,
      </if>
      <if test="defval != null" >
        defval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="placingid != null" >
        #{placingid,jdbcType=INTEGER},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="placedid != null" >
        #{placedid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="minoccur != null" >
        #{minoccur,jdbcType=INTEGER},
      </if>
      <if test="maxoccur != null" >
        #{maxoccur,jdbcType=INTEGER},
      </if>
      <if test="defval != null" >
        #{defval,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>