<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysxmlfacetMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlfacet" >
    <result column="compid" property="compid" jdbcType="INTEGER" />
    <result column="ord" property="ord" jdbcType="INTEGER" />
    <result column="kind" property="kind" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="dflt" property="dflt" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlfacet" >
    insert into sysxmlfacet (compid, ord, kind, 
      status, dflt)
    values (#{compid,jdbcType=INTEGER}, #{ord,jdbcType=INTEGER}, #{kind,jdbcType=CHAR}, 
      #{status,jdbcType=SMALLINT}, #{dflt,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxmlfacet" >
    insert into sysxmlfacet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compid != null" >
        compid,
      </if>
      <if test="ord != null" >
        ord,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dflt != null" >
        dflt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compid != null" >
        #{compid,jdbcType=INTEGER},
      </if>
      <if test="ord != null" >
        #{ord,jdbcType=INTEGER},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="dflt != null" >
        #{dflt,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>