<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.SysxsrvsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Sysxsrvs" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="product" property="product" jdbcType="NVARCHAR" />
    <result column="provider" property="provider" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modate" property="modate" jdbcType="TIMESTAMP" />
    <result column="catalog" property="catalog" jdbcType="NVARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="connecttimeout" property="connecttimeout" jdbcType="INTEGER" />
    <result column="querytimeout" property="querytimeout" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxsrvs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysxsrvs (id, name, product, 
      provider, status, modate, 
      catalog, cid, connecttimeout, 
      querytimeout)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{product,jdbcType=NVARCHAR}, 
      #{provider,jdbcType=NVARCHAR}, #{status,jdbcType=INTEGER}, #{modate,jdbcType=TIMESTAMP}, 
      #{catalog,jdbcType=NVARCHAR}, #{cid,jdbcType=INTEGER}, #{connecttimeout,jdbcType=INTEGER}, 
      #{querytimeout,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Sysxsrvs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into sysxsrvs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="name != null" >
        name,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modate != null" >
        modate,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="connecttimeout != null" >
        connecttimeout,
      </if>
      <if test="querytimeout != null" >
        querytimeout,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="product != null" >
        #{product,jdbcType=NVARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modate != null" >
        #{modate,jdbcType=TIMESTAMP},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=NVARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="connecttimeout != null" >
        #{connecttimeout,jdbcType=INTEGER},
      </if>
      <if test="querytimeout != null" >
        #{querytimeout,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>