<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.TableTypesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.TableTypes" >
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="system_type_id" property="systemTypeId" jdbcType="TINYINT" />
    <result column="user_type_id" property="userTypeId" jdbcType="INTEGER" />
    <result column="schema_id" property="schemaId" jdbcType="INTEGER" />
    <result column="principal_id" property="principalId" jdbcType="INTEGER" />
    <result column="max_length" property="maxLength" jdbcType="SMALLINT" />
    <result column="precision" property="precision" jdbcType="TINYINT" />
    <result column="scale" property="scale" jdbcType="TINYINT" />
    <result column="collation_name" property="collationName" jdbcType="NVARCHAR" />
    <result column="is_nullable" property="isNullable" jdbcType="BIT" />
    <result column="is_user_defined" property="isUserDefined" jdbcType="BIT" />
    <result column="is_assembly_type" property="isAssemblyType" jdbcType="BIT" />
    <result column="default_object_id" property="defaultObjectId" jdbcType="INTEGER" />
    <result column="rule_object_id" property="ruleObjectId" jdbcType="INTEGER" />
    <result column="is_table_type" property="isTableType" jdbcType="BIT" />
    <result column="type_table_object_id" property="typeTableObjectId" jdbcType="INTEGER" />
    <result column="is_memory_optimized" property="isMemoryOptimized" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.TableTypes" >
    insert into table_types (name, system_type_id, user_type_id, 
      schema_id, principal_id, max_length, 
      precision, scale, collation_name, 
      is_nullable, is_user_defined, is_assembly_type, 
      default_object_id, rule_object_id, is_table_type, 
      type_table_object_id, is_memory_optimized)
    values (#{name,jdbcType=NVARCHAR}, #{systemTypeId,jdbcType=TINYINT}, #{userTypeId,jdbcType=INTEGER}, 
      #{schemaId,jdbcType=INTEGER}, #{principalId,jdbcType=INTEGER}, #{maxLength,jdbcType=SMALLINT}, 
      #{precision,jdbcType=TINYINT}, #{scale,jdbcType=TINYINT}, #{collationName,jdbcType=NVARCHAR}, 
      #{isNullable,jdbcType=BIT}, #{isUserDefined,jdbcType=BIT}, #{isAssemblyType,jdbcType=BIT}, 
      #{defaultObjectId,jdbcType=INTEGER}, #{ruleObjectId,jdbcType=INTEGER}, #{isTableType,jdbcType=BIT}, 
      #{typeTableObjectId,jdbcType=INTEGER}, #{isMemoryOptimized,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.TableTypes" >
    insert into table_types
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="systemTypeId != null" >
        system_type_id,
      </if>
      <if test="userTypeId != null" >
        user_type_id,
      </if>
      <if test="schemaId != null" >
        schema_id,
      </if>
      <if test="principalId != null" >
        principal_id,
      </if>
      <if test="maxLength != null" >
        max_length,
      </if>
      <if test="precision != null" >
        precision,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="collationName != null" >
        collation_name,
      </if>
      <if test="isNullable != null" >
        is_nullable,
      </if>
      <if test="isUserDefined != null" >
        is_user_defined,
      </if>
      <if test="isAssemblyType != null" >
        is_assembly_type,
      </if>
      <if test="defaultObjectId != null" >
        default_object_id,
      </if>
      <if test="ruleObjectId != null" >
        rule_object_id,
      </if>
      <if test="isTableType != null" >
        is_table_type,
      </if>
      <if test="typeTableObjectId != null" >
        type_table_object_id,
      </if>
      <if test="isMemoryOptimized != null" >
        is_memory_optimized,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="systemTypeId != null" >
        #{systemTypeId,jdbcType=TINYINT},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="schemaId != null" >
        #{schemaId,jdbcType=INTEGER},
      </if>
      <if test="principalId != null" >
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null" >
        #{maxLength,jdbcType=SMALLINT},
      </if>
      <if test="precision != null" >
        #{precision,jdbcType=TINYINT},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=TINYINT},
      </if>
      <if test="collationName != null" >
        #{collationName,jdbcType=NVARCHAR},
      </if>
      <if test="isNullable != null" >
        #{isNullable,jdbcType=BIT},
      </if>
      <if test="isUserDefined != null" >
        #{isUserDefined,jdbcType=BIT},
      </if>
      <if test="isAssemblyType != null" >
        #{isAssemblyType,jdbcType=BIT},
      </if>
      <if test="defaultObjectId != null" >
        #{defaultObjectId,jdbcType=INTEGER},
      </if>
      <if test="ruleObjectId != null" >
        #{ruleObjectId,jdbcType=INTEGER},
      </if>
      <if test="isTableType != null" >
        #{isTableType,jdbcType=BIT},
      </if>
      <if test="typeTableObjectId != null" >
        #{typeTableObjectId,jdbcType=INTEGER},
      </if>
      <if test="isMemoryOptimized != null" >
        #{isMemoryOptimized,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>