<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.TracesMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Traces" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="NVARCHAR" />
    <result column="max_size" property="maxSize" jdbcType="BIGINT" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="max_files" property="maxFiles" jdbcType="INTEGER" />
    <result column="is_rowset" property="isRowset" jdbcType="BIT" />
    <result column="is_rollover" property="isRollover" jdbcType="BIT" />
    <result column="is_shutdown" property="isShutdown" jdbcType="BIT" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="buffer_count" property="bufferCount" jdbcType="INTEGER" />
    <result column="buffer_size" property="bufferSize" jdbcType="INTEGER" />
    <result column="file_position" property="filePosition" jdbcType="BIGINT" />
    <result column="reader_spid" property="readerSpid" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="last_event_time" property="lastEventTime" jdbcType="TIMESTAMP" />
    <result column="event_count" property="eventCount" jdbcType="BIGINT" />
    <result column="dropped_event_count" property="droppedEventCount" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Traces" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into traces (id, status, path, 
      max_size, stop_time, max_files, 
      is_rowset, is_rollover, is_shutdown, 
      is_default, buffer_count, buffer_size, 
      file_position, reader_spid, start_time, 
      last_event_time, event_count, dropped_event_count
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{path,jdbcType=NVARCHAR}, 
      #{maxSize,jdbcType=BIGINT}, #{stopTime,jdbcType=TIMESTAMP}, #{maxFiles,jdbcType=INTEGER}, 
      #{isRowset,jdbcType=BIT}, #{isRollover,jdbcType=BIT}, #{isShutdown,jdbcType=BIT}, 
      #{isDefault,jdbcType=BIT}, #{bufferCount,jdbcType=INTEGER}, #{bufferSize,jdbcType=INTEGER}, 
      #{filePosition,jdbcType=BIGINT}, #{readerSpid,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{lastEventTime,jdbcType=TIMESTAMP}, #{eventCount,jdbcType=BIGINT}, #{droppedEventCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Traces" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into traces
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="status != null" >
        status,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="maxSize != null" >
        max_size,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="maxFiles != null" >
        max_files,
      </if>
      <if test="isRowset != null" >
        is_rowset,
      </if>
      <if test="isRollover != null" >
        is_rollover,
      </if>
      <if test="isShutdown != null" >
        is_shutdown,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="bufferCount != null" >
        buffer_count,
      </if>
      <if test="bufferSize != null" >
        buffer_size,
      </if>
      <if test="filePosition != null" >
        file_position,
      </if>
      <if test="readerSpid != null" >
        reader_spid,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="lastEventTime != null" >
        last_event_time,
      </if>
      <if test="eventCount != null" >
        event_count,
      </if>
      <if test="droppedEventCount != null" >
        dropped_event_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=NVARCHAR},
      </if>
      <if test="maxSize != null" >
        #{maxSize,jdbcType=BIGINT},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxFiles != null" >
        #{maxFiles,jdbcType=INTEGER},
      </if>
      <if test="isRowset != null" >
        #{isRowset,jdbcType=BIT},
      </if>
      <if test="isRollover != null" >
        #{isRollover,jdbcType=BIT},
      </if>
      <if test="isShutdown != null" >
        #{isShutdown,jdbcType=BIT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="bufferCount != null" >
        #{bufferCount,jdbcType=INTEGER},
      </if>
      <if test="bufferSize != null" >
        #{bufferSize,jdbcType=INTEGER},
      </if>
      <if test="filePosition != null" >
        #{filePosition,jdbcType=BIGINT},
      </if>
      <if test="readerSpid != null" >
        #{readerSpid,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEventTime != null" >
        #{lastEventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventCount != null" >
        #{eventCount,jdbcType=BIGINT},
      </if>
      <if test="droppedEventCount != null" >
        #{droppedEventCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>