<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.TraceXeEventMapMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.TraceXeEventMap" >
    <result column="trace_event_id" property="traceEventId" jdbcType="SMALLINT" />
    <result column="package_name" property="packageName" jdbcType="NVARCHAR" />
    <result column="xe_event_name" property="xeEventName" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.TraceXeEventMap" >
    insert into trace_xe_event_map (trace_event_id, package_name, xe_event_name
      )
    values (#{traceEventId,jdbcType=SMALLINT}, #{packageName,jdbcType=NVARCHAR}, #{xeEventName,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.TraceXeEventMap" >
    insert into trace_xe_event_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="traceEventId != null" >
        trace_event_id,
      </if>
      <if test="packageName != null" >
        package_name,
      </if>
      <if test="xeEventName != null" >
        xe_event_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="traceEventId != null" >
        #{traceEventId,jdbcType=SMALLINT},
      </if>
      <if test="packageName != null" >
        #{packageName,jdbcType=NVARCHAR},
      </if>
      <if test="xeEventName != null" >
        #{xeEventName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>