<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="login_account" property="loginAccount" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="token_deadline" property="tokenDeadline" jdbcType="TIMESTAMP" />
    <result column="m_token" property="mToken" jdbcType="VARCHAR" />
    <result column="m_token_deadline" property="mTokenDeadline" jdbcType="TIMESTAMP" />
    <result column="is_customer_service" property="isCustomerService" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, password, status, username, login_account, last_login_time, token, token_deadline, 
    m_token, m_token_deadline, is_customer_service, is_deleted, company_id, branch_id, 
    mobile, remark, created_by, created_on, modified_by, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (id, password, status, 
      username, login_account, last_login_time, 
      token, token_deadline, m_token, 
      m_token_deadline, is_customer_service, is_deleted, 
      company_id, branch_id, mobile, 
      remark, created_by, created_on, 
      modified_by, modified_on)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{token,jdbcType=VARCHAR}, #{tokenDeadline,jdbcType=TIMESTAMP}, #{mToken,jdbcType=VARCHAR}, 
      #{mTokenDeadline,jdbcType=TIMESTAMP}, #{isCustomerService,jdbcType=BIT}, #{isDeleted,jdbcType=BIT}, 
      #{companyId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createdBy,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=INTEGER}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="loginAccount != null" >
        login_account,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="tokenDeadline != null" >
        token_deadline,
      </if>
      <if test="mToken != null" >
        m_token,
      </if>
      <if test="mTokenDeadline != null" >
        m_token_deadline,
      </if>
      <if test="isCustomerService != null" >
        is_customer_service,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="branchId != null" >
        branch_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginAccount != null" >
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenDeadline != null" >
        #{tokenDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="mToken != null" >
        #{mToken,jdbcType=VARCHAR},
      </if>
      <if test="mTokenDeadline != null" >
        #{mTokenDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="isCustomerService != null" >
        #{isCustomerService,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.User" >
    update user
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginAccount != null" >
        login_account = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenDeadline != null" >
        token_deadline = #{tokenDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="mToken != null" >
        m_token = #{mToken,jdbcType=VARCHAR},
      </if>
      <if test="mTokenDeadline != null" >
        m_token_deadline = #{mTokenDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="isCustomerService != null" >
        is_customer_service = #{isCustomerService,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.User" >
    update user
    set password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      login_account = #{loginAccount,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      token = #{token,jdbcType=VARCHAR},
      token_deadline = #{tokenDeadline,jdbcType=TIMESTAMP},
      m_token = #{mToken,jdbcType=VARCHAR},
      m_token_deadline = #{mTokenDeadline,jdbcType=TIMESTAMP},
      is_customer_service = #{isCustomerService,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      company_id = #{companyId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>