<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VClassroomavgscoreMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VClassroomavgscore">
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="AvgScore" jdbcType="DECIMAL" property="avgscore" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VClassroomavgscore">
    insert into V_ClassRoomAvgScore (ClassRoomId, AvgScore, ClassRoomName, 
      StudentId)
    values (#{classroomid,jdbcType=INTEGER}, #{avgscore,jdbcType=DECIMAL}, #{classroomname,jdbcType=NVARCHAR}, 
      #{studentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VClassroomavgscore">
    insert into V_ClassRoomAvgScore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=DECIMAL},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.VClassroomavgscore">
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="AvgScore" jdbcType="DECIMAL" property="avgscore" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VClassroomavgscore">
    insert into V_ClassRoomAvgScore (ClassRoomId, AvgScore, ClassRoomName, 
      StudentId)
    values (#{classroomid,jdbcType=INTEGER}, #{avgscore,jdbcType=DECIMAL}, #{classroomname,jdbcType=NVARCHAR}, 
      #{studentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VClassroomavgscore">
    insert into V_ClassRoomAvgScore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=DECIMAL},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>