<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VCompleteworkMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VCompletework" >
    <result column="CourseId" property="courseid" jdbcType="INTEGER" />
    <result column="ClassRoomId" property="classroomid" jdbcType="INTEGER" />
    <result column="ChapterId" property="chapterid" jdbcType="INTEGER" />
    <result column="ChapterName" property="chaptername" jdbcType="NVARCHAR" />
    <result column="StudentId" property="studentid" jdbcType="INTEGER" />
    <result column="CompleteCount" property="completecount" jdbcType="INTEGER" />
    <result column="StudentWorkId" property="studentworkid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCompletework" >
    insert into V_CompleteWork (CourseId, ClassRoomId, ChapterId, 
      ChapterName, StudentId, CompleteCount, 
      StudentWorkId)
    values (#{courseid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{chapterid,jdbcType=INTEGER}, 
      #{chaptername,jdbcType=NVARCHAR}, #{studentid,jdbcType=INTEGER}, #{completecount,jdbcType=INTEGER}, 
      #{studentworkid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCompletework" >
    insert into V_CompleteWork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        CourseId,
      </if>
      <if test="classroomid != null" >
        ClassRoomId,
      </if>
      <if test="chapterid != null" >
        ChapterId,
      </if>
      <if test="chaptername != null" >
        ChapterName,
      </if>
      <if test="studentid != null" >
        StudentId,
      </if>
      <if test="completecount != null" >
        CompleteCount,
      </if>
      <if test="studentworkid != null" >
        StudentWorkId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null" >
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null" >
        #{chaptername,jdbcType=NVARCHAR},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="completecount != null" >
        #{completecount,jdbcType=INTEGER},
      </if>
      <if test="studentworkid != null" >
        #{studentworkid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>