<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VCourseworkrateMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VCourseworkrate" >
    <result column="CourseId" property="courseid" jdbcType="INTEGER" />
    <result column="WorkRate" property="workrate" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCourseworkrate" >
    insert into V_CourseWorkRate (CourseId, WorkRate)
    values (#{courseid,jdbcType=INTEGER}, #{workrate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCourseworkrate" >
    insert into V_CourseWorkRate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        CourseId,
      </if>
      <if test="workrate != null" >
        WorkRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="workrate != null" >
        #{workrate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>