<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VCourseStudentCountMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VCourseStudentCount" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="created_by_name" property="createdByName" jdbcType="VARCHAR" />
    <result column="yes_count" property="yesCount" jdbcType="DECIMAL" />
    <result column="no_count" property="noCount" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCourseStudentCount" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_course_student_count (id, Code, name, 
      description, created_by_name, yes_count, 
      no_count)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdByName,jdbcType=VARCHAR}, #{yesCount,jdbcType=DECIMAL}, 
      #{noCount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCourseStudentCount" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_course_student_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createdByName != null" >
        created_by_name,
      </if>
      <if test="yesCount != null" >
        yes_count,
      </if>
      <if test="noCount != null" >
        no_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdByName != null" >
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="yesCount != null" >
        #{yesCount,jdbcType=DECIMAL},
      </if>
      <if test="noCount != null" >
        #{noCount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>