<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VCoursetotalinfoMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo">
    <result column="Id" jdbcType="INTEGER" property="id" />
    <result column="Code" jdbcType="NVARCHAR" property="code" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Describe" jdbcType="NVARCHAR" property="describe" />
    <result column="CreatedByName" jdbcType="NVARCHAR" property="createdbyname" />
    <result column="YesCount" jdbcType="INTEGER" property="yescount" />
    <result column="NoCount" jdbcType="INTEGER" property="nocount" />
    <result column="WorkRate" jdbcType="VARCHAR" property="workrate" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo (Code, Name, Describe, 
      CreatedByName, YesCount, NoCount, 
      WorkRate)
    values (#{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{describe,jdbcType=NVARCHAR}, 
      #{createdbyname,jdbcType=NVARCHAR}, #{yescount,jdbcType=INTEGER}, #{nocount,jdbcType=INTEGER}, 
      #{workrate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        Code,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="describe != null">
        Describe,
      </if>
      <if test="createdbyname != null">
        CreatedByName,
      </if>
      <if test="yescount != null">
        YesCount,
      </if>
      <if test="nocount != null">
        NoCount,
      </if>
      <if test="workrate != null">
        WorkRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="createdbyname != null">
        #{createdbyname,jdbcType=NVARCHAR},
      </if>
      <if test="yescount != null">
        #{yescount,jdbcType=INTEGER},
      </if>
      <if test="nocount != null">
        #{nocount,jdbcType=INTEGER},
      </if>
      <if test="workrate != null">
        #{workrate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.VCoursetotalinfo">
    <result column="Id" jdbcType="INTEGER" property="id" />
    <result column="Code" jdbcType="NVARCHAR" property="code" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Describe" jdbcType="NVARCHAR" property="describe" />
    <result column="CreatedByName" jdbcType="NVARCHAR" property="createdbyname" />
    <result column="YesCount" jdbcType="INTEGER" property="yescount" />
    <result column="NoCount" jdbcType="INTEGER" property="nocount" />
    <result column="WorkRate" jdbcType="VARCHAR" property="workrate" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VCoursetotalinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo (Code, Name, Describe, 
      CreatedByName, YesCount, NoCount, 
      WorkRate)
    values (#{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{describe,jdbcType=NVARCHAR}, 
      #{createdbyname,jdbcType=NVARCHAR}, #{yescount,jdbcType=INTEGER}, #{nocount,jdbcType=INTEGER}, 
      #{workrate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VCoursetotalinfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        Code,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="describe != null">
        Describe,
      </if>
      <if test="createdbyname != null">
        CreatedByName,
      </if>
      <if test="yescount != null">
        YesCount,
      </if>
      <if test="nocount != null">
        NoCount,
      </if>
      <if test="workrate != null">
        WorkRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="createdbyname != null">
        #{createdbyname,jdbcType=NVARCHAR},
      </if>
      <if test="yescount != null">
        #{yescount,jdbcType=INTEGER},
      </if>
      <if test="nocount != null">
        #{nocount,jdbcType=INTEGER},
      </if>
      <if test="workrate != null">
        #{workrate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>