<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VCoursetotalinfoMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="NVARCHAR" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Describe" property="describe" jdbcType="NVARCHAR" />
    <result column="CreatedByName" property="createdbyname" jdbcType="NVARCHAR" />
    <result column="YesCount" property="yescount" jdbcType="INTEGER" />
    <result column="NoCount" property="nocount" jdbcType="INTEGER" />
    <result column="WorkRate" property="workrate" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo (Id, Code, Name, 
      Describe, CreatedByName, YesCount, 
      NoCount, WorkRate)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, 
      #{describe,jdbcType=NVARCHAR}, #{createdbyname,jdbcType=NVARCHAR}, #{yescount,jdbcType=INTEGER}, 
      #{nocount,jdbcType=INTEGER}, #{workrate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VCoursetotalinfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_CourseTotalInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Id,
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="describe != null" >
        Describe,
      </if>
      <if test="createdbyname != null" >
        CreatedByName,
      </if>
      <if test="yescount != null" >
        YesCount,
      </if>
      <if test="nocount != null" >
        NoCount,
      </if>
      <if test="workrate != null" >
        WorkRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="code != null" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="createdbyname != null" >
        #{createdbyname,jdbcType=NVARCHAR},
      </if>
      <if test="yescount != null" >
        #{yescount,jdbcType=INTEGER},
      </if>
      <if test="nocount != null" >
        #{nocount,jdbcType=INTEGER},
      </if>
      <if test="workrate != null" >
        #{workrate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>