<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ViewTableUsageMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage">
    <result column="VIEW_CATALOG" jdbcType="NVARCHAR" property="viewCatalog" />
    <result column="VIEW_SCHEMA" jdbcType="NVARCHAR" property="viewSchema" />
    <result column="VIEW_NAME" jdbcType="NVARCHAR" property="viewName" />
    <result column="TABLE_CATALOG" jdbcType="NVARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="NVARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="NVARCHAR" property="tableName" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage">
    insert into VIEW_TABLE_USAGE (VIEW_CATALOG, VIEW_SCHEMA, VIEW_NAME, 
      TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME
      )
    values (#{viewCatalog,jdbcType=NVARCHAR}, #{viewSchema,jdbcType=NVARCHAR}, #{viewName,jdbcType=NVARCHAR}, 
      #{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage">
    insert into VIEW_TABLE_USAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="viewCatalog != null">
        VIEW_CATALOG,
      </if>
      <if test="viewSchema != null">
        VIEW_SCHEMA,
      </if>
      <if test="viewName != null">
        VIEW_NAME,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="viewCatalog != null">
        #{viewCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="viewSchema != null">
        #{viewSchema,jdbcType=NVARCHAR},
      </if>
      <if test="viewName != null">
        #{viewName,jdbcType=NVARCHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.ViewTableUsage">
    <result column="VIEW_CATALOG" jdbcType="NVARCHAR" property="viewCatalog" />
    <result column="VIEW_SCHEMA" jdbcType="NVARCHAR" property="viewSchema" />
    <result column="VIEW_NAME" jdbcType="NVARCHAR" property="viewName" />
    <result column="TABLE_CATALOG" jdbcType="NVARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="NVARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="NVARCHAR" property="tableName" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.ViewTableUsage">
    insert into VIEW_TABLE_USAGE (VIEW_CATALOG, VIEW_SCHEMA, VIEW_NAME, 
      TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME
      )
    values (#{viewCatalog,jdbcType=NVARCHAR}, #{viewSchema,jdbcType=NVARCHAR}, #{viewName,jdbcType=NVARCHAR}, 
      #{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.ViewTableUsage">
    insert into VIEW_TABLE_USAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="viewCatalog != null">
        VIEW_CATALOG,
      </if>
      <if test="viewSchema != null">
        VIEW_SCHEMA,
      </if>
      <if test="viewName != null">
        VIEW_NAME,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="viewCatalog != null">
        #{viewCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="viewSchema != null">
        #{viewSchema,jdbcType=NVARCHAR},
      </if>
      <if test="viewName != null">
        #{viewName,jdbcType=NVARCHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>