<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ViewTableUsageMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage" >
    <result column="VIEW_CATALOG" property="viewCatalog" jdbcType="NVARCHAR" />
    <result column="VIEW_SCHEMA" property="viewSchema" jdbcType="NVARCHAR" />
    <result column="VIEW_NAME" property="viewName" jdbcType="NVARCHAR" />
    <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="NVARCHAR" />
    <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="NVARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage" >
    insert into VIEW_TABLE_USAGE (VIEW_CATALOG, VIEW_SCHEMA, VIEW_NAME, 
      TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME
      )
    values (#{viewCatalog,jdbcType=NVARCHAR}, #{viewSchema,jdbcType=NVARCHAR}, #{viewName,jdbcType=NVARCHAR}, 
      #{tableCatalog,jdbcType=NVARCHAR}, #{tableSchema,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.ViewTableUsage" >
    insert into VIEW_TABLE_USAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="viewCatalog != null" >
        VIEW_CATALOG,
      </if>
      <if test="viewSchema != null" >
        VIEW_SCHEMA,
      </if>
      <if test="viewName != null" >
        VIEW_NAME,
      </if>
      <if test="tableCatalog != null" >
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null" >
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="viewCatalog != null" >
        #{viewCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="viewSchema != null" >
        #{viewSchema,jdbcType=NVARCHAR},
      </if>
      <if test="viewName != null" >
        #{viewName,jdbcType=NVARCHAR},
      </if>
      <if test="tableCatalog != null" >
        #{tableCatalog,jdbcType=NVARCHAR},
      </if>
      <if test="tableSchema != null" >
        #{tableSchema,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>