<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.ViewallsubjectstudenttestpaperknoewledgeMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.Viewallsubjectstudenttestpaperknoewledge">
    <result column="SubjectId" jdbcType="INTEGER" property="subjectid" />
    <result column="CourseName" jdbcType="NVARCHAR" property="coursename" />
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="TestPerformaceWeight" jdbcType="DECIMAL" property="testperformaceweight" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="StudentName" jdbcType="NVARCHAR" property="studentname" />
    <result column="StudentNumber" jdbcType="NVARCHAR" property="studentnumber" />
    <result column="Score" jdbcType="INTEGER" property="score" />
    <result column="TestPaperDetailId" jdbcType="INTEGER" property="testpaperdetailid" />
    <result column="DetailNumber" jdbcType="INTEGER" property="detailnumber" />
    <result column="DetailType" jdbcType="INTEGER" property="detailtype" />
    <result column="TestPaperDetailScore" jdbcType="INTEGER" property="testpaperdetailscore" />
    <result column="KnowledgeId" jdbcType="INTEGER" property="knowledgeid" />
    <result column="Weight" jdbcType="DECIMAL" property="weight" />
    <result column="TestTileScore" jdbcType="DECIMAL" property="testtilescore" />
    <result column="TestTileScoreSum" jdbcType="DECIMAL" property="testtilescoresum" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="sId" jdbcType="INTEGER" property="sid" />
    <result column="KnowledgeName" jdbcType="NVARCHAR" property="knowledgename" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Viewallsubjectstudenttestpaperknoewledge">
    insert into ViewAllSubjectStudentTestPaperKnoewledge (SubjectId, CourseName, CourseId, 
      ClassRoomName, TestPerformaceWeight, StudentId, 
      StudentName, StudentNumber, Score, 
      TestPaperDetailId, DetailNumber, DetailType, 
      TestPaperDetailScore, KnowledgeId, Weight, 
      TestTileScore, TestTileScoreSum, ClassRoomId, 
      sId, KnowledgeName)
    values (#{subjectid,jdbcType=INTEGER}, #{coursename,jdbcType=NVARCHAR}, #{courseid,jdbcType=INTEGER}, 
      #{classroomname,jdbcType=NVARCHAR}, #{testperformaceweight,jdbcType=DECIMAL}, #{studentid,jdbcType=INTEGER}, 
      #{studentname,jdbcType=NVARCHAR}, #{studentnumber,jdbcType=NVARCHAR}, #{score,jdbcType=INTEGER}, 
      #{testpaperdetailid,jdbcType=INTEGER}, #{detailnumber,jdbcType=INTEGER}, #{detailtype,jdbcType=INTEGER}, 
      #{testpaperdetailscore,jdbcType=INTEGER}, #{knowledgeid,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, 
      #{testtilescore,jdbcType=DECIMAL}, #{testtilescoresum,jdbcType=DECIMAL}, #{classroomid,jdbcType=INTEGER}, 
      #{sid,jdbcType=INTEGER}, #{knowledgename,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.Viewallsubjectstudenttestpaperknoewledge">
    insert into ViewAllSubjectStudentTestPaperKnoewledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        SubjectId,
      </if>
      <if test="coursename != null">
        CourseName,
      </if>
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="testperformaceweight != null">
        TestPerformaceWeight,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="studentname != null">
        StudentName,
      </if>
      <if test="studentnumber != null">
        StudentNumber,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="testpaperdetailid != null">
        TestPaperDetailId,
      </if>
      <if test="detailnumber != null">
        DetailNumber,
      </if>
      <if test="detailtype != null">
        DetailType,
      </if>
      <if test="testpaperdetailscore != null">
        TestPaperDetailScore,
      </if>
      <if test="knowledgeid != null">
        KnowledgeId,
      </if>
      <if test="weight != null">
        Weight,
      </if>
      <if test="testtilescore != null">
        TestTileScore,
      </if>
      <if test="testtilescoresum != null">
        TestTileScoreSum,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="sid != null">
        sId,
      </if>
      <if test="knowledgename != null">
        KnowledgeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="testperformaceweight != null">
        #{testperformaceweight,jdbcType=DECIMAL},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=NVARCHAR},
      </if>
      <if test="studentnumber != null">
        #{studentnumber,jdbcType=NVARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="testpaperdetailid != null">
        #{testpaperdetailid,jdbcType=INTEGER},
      </if>
      <if test="detailnumber != null">
        #{detailnumber,jdbcType=INTEGER},
      </if>
      <if test="detailtype != null">
        #{detailtype,jdbcType=INTEGER},
      </if>
      <if test="testpaperdetailscore != null">
        #{testpaperdetailscore,jdbcType=INTEGER},
      </if>
      <if test="knowledgeid != null">
        #{knowledgeid,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="testtilescore != null">
        #{testtilescore,jdbcType=DECIMAL},
      </if>
      <if test="testtilescoresum != null">
        #{testtilescoresum,jdbcType=DECIMAL},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="knowledgename != null">
        #{knowledgename,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.Viewallsubjectstudenttestpaperknoewledge">
    <result column="SubjectId" jdbcType="INTEGER" property="subjectid" />
    <result column="CourseName" jdbcType="NVARCHAR" property="coursename" />
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="TestPerformaceWeight" jdbcType="DECIMAL" property="testperformaceweight" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="StudentName" jdbcType="NVARCHAR" property="studentname" />
    <result column="StudentNumber" jdbcType="NVARCHAR" property="studentnumber" />
    <result column="Score" jdbcType="INTEGER" property="score" />
    <result column="TestPaperDetailId" jdbcType="INTEGER" property="testpaperdetailid" />
    <result column="DetailNumber" jdbcType="INTEGER" property="detailnumber" />
    <result column="DetailType" jdbcType="INTEGER" property="detailtype" />
    <result column="TestPaperDetailScore" jdbcType="INTEGER" property="testpaperdetailscore" />
    <result column="KnowledgeId" jdbcType="INTEGER" property="knowledgeid" />
    <result column="Weight" jdbcType="DECIMAL" property="weight" />
    <result column="TestTileScore" jdbcType="DECIMAL" property="testtilescore" />
    <result column="TestTileScoreSum" jdbcType="DECIMAL" property="testtilescoresum" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="sId" jdbcType="INTEGER" property="sid" />
    <result column="KnowledgeName" jdbcType="NVARCHAR" property="knowledgename" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.Viewallsubjectstudenttestpaperknoewledge">
    insert into ViewAllSubjectStudentTestPaperKnoewledge (SubjectId, CourseName, CourseId, 
      ClassRoomName, TestPerformaceWeight, StudentId, 
      StudentName, StudentNumber, Score, 
      TestPaperDetailId, DetailNumber, DetailType, 
      TestPaperDetailScore, KnowledgeId, Weight, 
      TestTileScore, TestTileScoreSum, ClassRoomId, 
      sId, KnowledgeName)
    values (#{subjectid,jdbcType=INTEGER}, #{coursename,jdbcType=NVARCHAR}, #{courseid,jdbcType=INTEGER}, 
      #{classroomname,jdbcType=NVARCHAR}, #{testperformaceweight,jdbcType=DECIMAL}, #{studentid,jdbcType=INTEGER}, 
      #{studentname,jdbcType=NVARCHAR}, #{studentnumber,jdbcType=NVARCHAR}, #{score,jdbcType=INTEGER}, 
      #{testpaperdetailid,jdbcType=INTEGER}, #{detailnumber,jdbcType=INTEGER}, #{detailtype,jdbcType=INTEGER}, 
      #{testpaperdetailscore,jdbcType=INTEGER}, #{knowledgeid,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, 
      #{testtilescore,jdbcType=DECIMAL}, #{testtilescoresum,jdbcType=DECIMAL}, #{classroomid,jdbcType=INTEGER}, 
      #{sid,jdbcType=INTEGER}, #{knowledgename,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.Viewallsubjectstudenttestpaperknoewledge">
    insert into ViewAllSubjectStudentTestPaperKnoewledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        SubjectId,
      </if>
      <if test="coursename != null">
        CourseName,
      </if>
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="testperformaceweight != null">
        TestPerformaceWeight,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="studentname != null">
        StudentName,
      </if>
      <if test="studentnumber != null">
        StudentNumber,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="testpaperdetailid != null">
        TestPaperDetailId,
      </if>
      <if test="detailnumber != null">
        DetailNumber,
      </if>
      <if test="detailtype != null">
        DetailType,
      </if>
      <if test="testpaperdetailscore != null">
        TestPaperDetailScore,
      </if>
      <if test="knowledgeid != null">
        KnowledgeId,
      </if>
      <if test="weight != null">
        Weight,
      </if>
      <if test="testtilescore != null">
        TestTileScore,
      </if>
      <if test="testtilescoresum != null">
        TestTileScoreSum,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="sid != null">
        sId,
      </if>
      <if test="knowledgename != null">
        KnowledgeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="testperformaceweight != null">
        #{testperformaceweight,jdbcType=DECIMAL},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=NVARCHAR},
      </if>
      <if test="studentnumber != null">
        #{studentnumber,jdbcType=NVARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="testpaperdetailid != null">
        #{testpaperdetailid,jdbcType=INTEGER},
      </if>
      <if test="detailnumber != null">
        #{detailnumber,jdbcType=INTEGER},
      </if>
      <if test="detailtype != null">
        #{detailtype,jdbcType=INTEGER},
      </if>
      <if test="testpaperdetailscore != null">
        #{testpaperdetailscore,jdbcType=INTEGER},
      </if>
      <if test="knowledgeid != null">
        #{knowledgeid,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="testtilescore != null">
        #{testtilescore,jdbcType=DECIMAL},
      </if>
      <if test="testtilescoresum != null">
        #{testtilescoresum,jdbcType=DECIMAL},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="knowledgename != null">
        #{knowledgename,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>