<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VKnowledgescoreMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VKnowledgescore">
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="KnowledgeId" jdbcType="INTEGER" property="knowledgeid" />
    <result column="WorkKnowledgeId" jdbcType="INTEGER" property="workknowledgeid" />
    <result column="KnowledgeName" jdbcType="NVARCHAR" property="knowledgename" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="Score" jdbcType="INTEGER" property="score" />
    <result column="AvgScore" jdbcType="INTEGER" property="avgscore" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VKnowledgescore">
    insert into V_KnowledgeScore (CourseId, ClassRoomId, KnowledgeId, 
      WorkKnowledgeId, KnowledgeName, StudentId, 
      Score, AvgScore)
    values (#{courseid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{knowledgeid,jdbcType=INTEGER}, 
      #{workknowledgeid,jdbcType=INTEGER}, #{knowledgename,jdbcType=NVARCHAR}, #{studentid,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{avgscore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VKnowledgescore">
    insert into V_KnowledgeScore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="knowledgeid != null">
        KnowledgeId,
      </if>
      <if test="workknowledgeid != null">
        WorkKnowledgeId,
      </if>
      <if test="knowledgename != null">
        KnowledgeName,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="knowledgeid != null">
        #{knowledgeid,jdbcType=INTEGER},
      </if>
      <if test="workknowledgeid != null">
        #{workknowledgeid,jdbcType=INTEGER},
      </if>
      <if test="knowledgename != null">
        #{knowledgename,jdbcType=NVARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.VKnowledgescore">
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="KnowledgeId" jdbcType="INTEGER" property="knowledgeid" />
    <result column="WorkKnowledgeId" jdbcType="INTEGER" property="workknowledgeid" />
    <result column="KnowledgeName" jdbcType="NVARCHAR" property="knowledgename" />
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="Score" jdbcType="INTEGER" property="score" />
    <result column="AvgScore" jdbcType="INTEGER" property="avgscore" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VKnowledgescore">
    insert into V_KnowledgeScore (CourseId, ClassRoomId, KnowledgeId, 
      WorkKnowledgeId, KnowledgeName, StudentId, 
      Score, AvgScore)
    values (#{courseid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{knowledgeid,jdbcType=INTEGER}, 
      #{workknowledgeid,jdbcType=INTEGER}, #{knowledgename,jdbcType=NVARCHAR}, #{studentid,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{avgscore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VKnowledgescore">
    insert into V_KnowledgeScore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="knowledgeid != null">
        KnowledgeId,
      </if>
      <if test="workknowledgeid != null">
        WorkKnowledgeId,
      </if>
      <if test="knowledgename != null">
        KnowledgeName,
      </if>
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="knowledgeid != null">
        #{knowledgeid,jdbcType=INTEGER},
      </if>
      <if test="workknowledgeid != null">
        #{workknowledgeid,jdbcType=INTEGER},
      </if>
      <if test="knowledgename != null">
        #{knowledgename,jdbcType=NVARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>