<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VStudentworkMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VStudentwork" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="ClassRoomStudentId" property="classroomstudentid" jdbcType="INTEGER" />
    <result column="Score" property="score" jdbcType="INTEGER" />
    <result column="WorkMessage" property="workmessage" jdbcType="NVARCHAR" />
    <result column="ClassRoomWorkId" property="classroomworkid" jdbcType="INTEGER" />
    <result column="StudentNumber" property="studentnumber" jdbcType="NVARCHAR" />
    <result column="StudentName" property="studentname" jdbcType="NVARCHAR" />
    <result column="SubmitTime" property="submittime" jdbcType="TIMESTAMP" />
    <result column="UseTime" property="usetime" jdbcType="INTEGER" />
    <result column="SubmitCount" property="submitcount" jdbcType="INTEGER" />
    <result column="IsSubmit" property="issubmit" jdbcType="INTEGER" />
    <result column="WorkPath" property="workpath" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.VStudentwork" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VStudentwork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_StudentWork (Id, ClassRoomStudentId, Score, 
      WorkMessage, ClassRoomWorkId, StudentNumber, 
      StudentName, SubmitTime, UseTime, 
      SubmitCount, IsSubmit, WorkPath, 
      VersionNumber)
    values (#{id,jdbcType=INTEGER}, #{classroomstudentid,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{workmessage,jdbcType=NVARCHAR}, #{classroomworkid,jdbcType=INTEGER}, #{studentnumber,jdbcType=NVARCHAR}, 
      #{studentname,jdbcType=NVARCHAR}, #{submittime,jdbcType=TIMESTAMP}, #{usetime,jdbcType=INTEGER}, 
      #{submitcount,jdbcType=INTEGER}, #{issubmit,jdbcType=INTEGER}, #{workpath,jdbcType=NVARCHAR}, 
      #{versionnumber,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VStudentwork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_StudentWork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Id,
      <if test="classroomstudentid != null" >
        ClassRoomStudentId,
      </if>
      <if test="score != null" >
        Score,
      </if>
      <if test="workmessage != null" >
        WorkMessage,
      </if>
      <if test="classroomworkid != null" >
        ClassRoomWorkId,
      </if>
      <if test="studentnumber != null" >
        StudentNumber,
      </if>
      <if test="studentname != null" >
        StudentName,
      </if>
      <if test="submittime != null" >
        SubmitTime,
      </if>
      <if test="usetime != null" >
        UseTime,
      </if>
      <if test="submitcount != null" >
        SubmitCount,
      </if>
      <if test="issubmit != null" >
        IsSubmit,
      </if>
      <if test="workpath != null" >
        WorkPath,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="classroomstudentid != null" >
        #{classroomstudentid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="workmessage != null" >
        #{workmessage,jdbcType=NVARCHAR},
      </if>
      <if test="classroomworkid != null" >
        #{classroomworkid,jdbcType=INTEGER},
      </if>
      <if test="studentnumber != null" >
        #{studentnumber,jdbcType=NVARCHAR},
      </if>
      <if test="studentname != null" >
        #{studentname,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null" >
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=INTEGER},
      </if>
      <if test="submitcount != null" >
        #{submitcount,jdbcType=INTEGER},
      </if>
      <if test="issubmit != null" >
        #{issubmit,jdbcType=INTEGER},
      </if>
      <if test="workpath != null" >
        #{workpath,jdbcType=NVARCHAR},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>