<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VSysoperatorMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VSysoperator" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="NVARCHAR" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VSysoperator" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_SysOperator (Id, Code, Name, 
      CreatedBy, CreatedOn, ModifiedBy, 
      ModifiedOn)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, 
      #{createdby,jdbcType=INTEGER}, #{createdon,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=INTEGER}, 
      #{modifiedon,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VSysoperator" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_SysOperator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Id,
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="code != null" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>