<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VTestMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VTest">
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="AvgScore" jdbcType="DECIMAL" property="avgscore" />
    <result column="RANK" jdbcType="BIGINT" property="rank" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VTest">
    insert into V_Test (StudentId, ClassRoomId, ClassRoomName, 
      AvgScore, RANK)
    values (#{studentid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{classroomname,jdbcType=NVARCHAR}, 
      #{avgscore,jdbcType=DECIMAL}, #{rank,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VTest">
    insert into V_Test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
      <if test="rank != null">
        RANK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=DECIMAL},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.VTest">
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="AvgScore" jdbcType="DECIMAL" property="avgscore" />
    <result column="RANK" jdbcType="BIGINT" property="rank" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VTest">
    insert into V_Test (StudentId, ClassRoomId, ClassRoomName, 
      AvgScore, RANK)
    values (#{studentid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{classroomname,jdbcType=NVARCHAR}, 
      #{avgscore,jdbcType=DECIMAL}, #{rank,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VTest">
    insert into V_Test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="avgscore != null">
        AvgScore,
      </if>
      <if test="rank != null">
        RANK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="avgscore != null">
        #{avgscore,jdbcType=DECIMAL},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>