<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VWorkMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Describe" property="describe" jdbcType="NVARCHAR" />
    <result column="ChapterId" property="chapterid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="CreatedBy" property="createdby" jdbcType="INTEGER" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="ModifiedBy" property="modifiedby" jdbcType="INTEGER" />
    <result column="ModifiedOn" property="modifiedon" jdbcType="TIMESTAMP" />
    <result column="CreatedByName" property="createdbyname" jdbcType="NVARCHAR" />
    <result column="ModifiedByName" property="modifiedbyname" jdbcType="NVARCHAR" />
    <result column="Knowledges" property="knowledges" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.dlut.ssdut.abilityfosterplatform.model.VWork" extends="BaseResultMap" >
    <result column="VersionNumber" property="versionnumber" jdbcType="BINARY" />
  </resultMap>
  <sql id="Blob_Column_List" >
    VersionNumber
  </sql>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_Work (Id, Describe, ChapterId, 
      Name, CreatedBy, CreatedOn, 
      ModifiedBy, ModifiedOn, CreatedByName, 
      ModifiedByName, Knowledges, VersionNumber
      )
    values (#{id,jdbcType=INTEGER}, #{describe,jdbcType=NVARCHAR}, #{chapterid,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{createdby,jdbcType=INTEGER}, #{createdon,jdbcType=TIMESTAMP}, 
      #{modifiedby,jdbcType=INTEGER}, #{modifiedon,jdbcType=TIMESTAMP}, #{createdbyname,jdbcType=NVARCHAR}, 
      #{modifiedbyname,jdbcType=NVARCHAR}, #{knowledges,jdbcType=NVARCHAR}, #{versionnumber,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into V_Work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Id,
      <if test="describe != null" >
        Describe,
      </if>
      <if test="chapterid != null" >
        ChapterId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="createdby != null" >
        CreatedBy,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="modifiedby != null" >
        ModifiedBy,
      </if>
      <if test="modifiedon != null" >
        ModifiedOn,
      </if>
      <if test="createdbyname != null" >
        CreatedByName,
      </if>
      <if test="modifiedbyname != null" >
        ModifiedByName,
      </if>
      <if test="knowledges != null" >
        Knowledges,
      </if>
      <if test="versionnumber != null" >
        VersionNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="describe != null" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedon != null" >
        #{modifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="createdbyname != null" >
        #{createdbyname,jdbcType=NVARCHAR},
      </if>
      <if test="modifiedbyname != null" >
        #{modifiedbyname,jdbcType=NVARCHAR},
      </if>
      <if test="knowledges != null" >
        #{knowledges,jdbcType=NVARCHAR},
      </if>
      <if test="versionnumber != null" >
        #{versionnumber,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>