<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VWorkMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="chapter_id" property="chapterId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="INTEGER" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="created_by_name" property="createdByName" jdbcType="VARCHAR" />
    <result column="modified_by_name" property="modifiedByName" jdbcType="VARCHAR" />
    <result column="name_exp_12" property="nameExp12" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_work (id, description, chapter_id, 
      name, created_by, created_on, 
      modified_by, modified_on, created_by_name, 
      modified_by_name, name_exp_12)
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{chapterId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{createdBy,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=INTEGER}, #{modifiedOn,jdbcType=TIMESTAMP}, #{createdByName,jdbcType=VARCHAR}, 
      #{modifiedByName,jdbcType=VARCHAR}, #{nameExp12,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VWork" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into v_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="description != null" >
        description,
      </if>
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="createdByName != null" >
        created_by_name,
      </if>
      <if test="modifiedByName != null" >
        modified_by_name,
      </if>
      <if test="nameExp12 != null" >
        name_exp_12,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createdByName != null" >
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="modifiedByName != null" >
        #{modifiedByName,jdbcType=VARCHAR},
      </if>
      <if test="nameExp12 != null" >
        #{nameExp12,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>