<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.VZjkchapterworkMapper">
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.VZjkchapterwork">
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="CourseName" jdbcType="NVARCHAR" property="coursename" />
    <result column="ChapterId" jdbcType="INTEGER" property="chapterid" />
    <result column="ChapterName" jdbcType="NVARCHAR" property="chaptername" />
    <result column="WorkCount" jdbcType="INTEGER" property="workcount" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="CompleteCount" jdbcType="INTEGER" property="completecount" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VZjkchapterwork">
    insert into V_ZjkChapterWork (StudentId, ClassRoomId, CourseId, 
      CourseName, ChapterId, ChapterName, 
      WorkCount, ClassRoomName, CompleteCount
      )
    values (#{studentid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, 
      #{coursename,jdbcType=NVARCHAR}, #{chapterid,jdbcType=INTEGER}, #{chaptername,jdbcType=NVARCHAR}, 
      #{workcount,jdbcType=INTEGER}, #{classroomname,jdbcType=NVARCHAR}, #{completecount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.VZjkchapterwork">
    insert into V_ZjkChapterWork
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="coursename != null">
        CourseName,
      </if>
      <if test="chapterid != null">
        ChapterId,
      </if>
      <if test="chaptername != null">
        ChapterName,
      </if>
      <if test="workcount != null">
        WorkCount,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="completecount != null">
        CompleteCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="chapterid != null">
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null">
        #{chaptername,jdbcType=NVARCHAR},
      </if>
      <if test="workcount != null">
        #{workcount,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="completecount != null">
        #{completecount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.view.VZjkchapterwork">
    <result column="StudentId" jdbcType="INTEGER" property="studentid" />
    <result column="ClassRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="CourseId" jdbcType="INTEGER" property="courseid" />
    <result column="CourseName" jdbcType="NVARCHAR" property="coursename" />
    <result column="ChapterId" jdbcType="INTEGER" property="chapterid" />
    <result column="ChapterName" jdbcType="NVARCHAR" property="chaptername" />
    <result column="WorkCount" jdbcType="INTEGER" property="workcount" />
    <result column="ClassRoomName" jdbcType="NVARCHAR" property="classroomname" />
    <result column="CompleteCount" jdbcType="INTEGER" property="completecount" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VZjkchapterwork">
    insert into V_ZjkChapterWork (StudentId, ClassRoomId, CourseId, 
      CourseName, ChapterId, ChapterName, 
      WorkCount, ClassRoomName, CompleteCount
      )
    values (#{studentid,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, 
      #{coursename,jdbcType=NVARCHAR}, #{chapterid,jdbcType=INTEGER}, #{chaptername,jdbcType=NVARCHAR}, 
      #{workcount,jdbcType=INTEGER}, #{classroomname,jdbcType=NVARCHAR}, #{completecount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.view.VZjkchapterwork">
    insert into V_ZjkChapterWork
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        StudentId,
      </if>
      <if test="classroomid != null">
        ClassRoomId,
      </if>
      <if test="courseid != null">
        CourseId,
      </if>
      <if test="coursename != null">
        CourseName,
      </if>
      <if test="chapterid != null">
        ChapterId,
      </if>
      <if test="chaptername != null">
        ChapterName,
      </if>
      <if test="workcount != null">
        WorkCount,
      </if>
      <if test="classroomname != null">
        ClassRoomName,
      </if>
      <if test="completecount != null">
        CompleteCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=NVARCHAR},
      </if>
      <if test="chapterid != null">
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="chaptername != null">
        #{chaptername,jdbcType=NVARCHAR},
      </if>
      <if test="workcount != null">
        #{workcount,jdbcType=INTEGER},
      </if>
      <if test="classroomname != null">
        #{classroomname,jdbcType=NVARCHAR},
      </if>
      <if test="completecount != null">
        #{completecount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>