<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dlut.ssdut.abilityfosterplatform.mapper.XmlSchemaFacetsMapper" >
  <resultMap id="BaseResultMap" type="edu.dlut.ssdut.abilityfosterplatform.model.XmlSchemaFacets" >
    <result column="xml_component_id" property="xmlComponentId" jdbcType="INTEGER" />
    <result column="facet_id" property="facetId" jdbcType="INTEGER" />
    <result column="kind" property="kind" jdbcType="CHAR" />
    <result column="kind_desc" property="kindDesc" jdbcType="NVARCHAR" />
    <result column="is_fixed" property="isFixed" jdbcType="BIT" />
    <result column="value" property="value" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.XmlSchemaFacets" >
    insert into xml_schema_facets (xml_component_id, facet_id, kind, 
      kind_desc, is_fixed, value
      )
    values (#{xmlComponentId,jdbcType=INTEGER}, #{facetId,jdbcType=INTEGER}, #{kind,jdbcType=CHAR}, 
      #{kindDesc,jdbcType=NVARCHAR}, #{isFixed,jdbcType=BIT}, #{value,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.dlut.ssdut.abilityfosterplatform.model.XmlSchemaFacets" >
    insert into xml_schema_facets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xmlComponentId != null" >
        xml_component_id,
      </if>
      <if test="facetId != null" >
        facet_id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="kindDesc != null" >
        kind_desc,
      </if>
      <if test="isFixed != null" >
        is_fixed,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xmlComponentId != null" >
        #{xmlComponentId,jdbcType=INTEGER},
      </if>
      <if test="facetId != null" >
        #{facetId,jdbcType=INTEGER},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=CHAR},
      </if>
      <if test="kindDesc != null" >
        #{kindDesc,jdbcType=NVARCHAR},
      </if>
      <if test="isFixed != null" >
        #{isFixed,jdbcType=BIT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>